Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#22698) battery-embed: add recipe
  recipes/battery-embed/all/conandata.yml
  recipes/battery-embed/all/conanfile.py
  recipes/battery-embed/all/embed.cmake
  recipes/battery-embed/all/test_package/CMakeLists.txt
  recipes/battery-embed/all/test_package/conanfile.py
  recipes/battery-embed/all/test_package/test_package.cpp
  recipes/battery-embed/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

1.3 onwards actually needs C++14 as per https://github.com/reo7sp/tgbot-cpp/blob/v1.3/CMakeLists.txt#L10
  recipes/tgbot/all/conanfile.py
Due: lint-recipes, lint-test_package

More validate
  recipes/tgbot/all/conanfile.py
Due: lint-recipes, lint-test_package

Let conan decide the cppstd, properly model min_cppstd
  recipes/benchmark/all/conanfile.py
Due: lint-recipes, lint-test_package

Add version 1.9.0
  recipes/benchmark/all/conandata.yml
  recipes/benchmark/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24611) directx-headers: Add version 1.614.0
  recipes/directx-headers/all/conandata.yml
  recipes/directx-headers/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24989) [openapi-generator] Add 0.7.8
  recipes/openapi-generator/all/conandata.yml
  recipes/openapi-generator/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add missing m system lib
  recipes/tgbot/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/tgbot/all/test_package/CMakeLists.txt
  recipes/tgbot/all/test_package/CMakeLists.txt
Due: none

shared option should also be removed in config_options
  recipes/qcbor/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24971) Fix Mac installation
  recipes/qt/6.x.x/conanfile.py
  recipes/qt/6.x.x/test_package/CMakeLists.txt
  recipes/qt/6.x.x/test_package/conanfile.py
  recipes/qt/6.x.x/test_package/test_macos_bundle.cpp
Due: lint-recipes, lint-test_package

Fix crossbuildings, fix invalid macos invalidation, and dependant files copy
  recipes/aws-sdk-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Reorder requirements to match upstream dependency declarations
  recipes/aws-sdk-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

opencv: fix building for iOS
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

Link Pulseaudio for Android
  recipes/aws-sdk-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Add missing requires
  recipes/aws-sdk-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

cpp-dump: add version 0.7.0
  recipes/cpp-dump/all/conandata.yml
  recipes/cpp-dump/all/conanfile.py
  recipes/cpp-dump/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

itk: macOS armv8 is not supported for v5.1
  recipes/itk/all/conanfile.py
Due: lint-recipes, lint-test_package

stringzilla: add version 3.9.2
  recipes/stringzilla/all/conandata.yml
  recipes/stringzilla/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

s2n: add version 1.5.1
  recipes/s2n/all/conandata.yml
  recipes/s2n/all/conanfile.py
  recipes/s2n/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add v9.5.2
  recipes/rocksdb/all/conandata.yml
  recipes/rocksdb/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Remove battery::embed linkage in test package
  recipes/battery-embed/all/test_package/CMakeLists.txt
Due: none

simdutf: add version 5.3.11
  recipes/simdutf/all/conandata.yml
  recipes/simdutf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#25009) battery-embed: Remove link to battery::embed in test package
  recipes/battery-embed/all/test_package/CMakeLists.txt
Due: none

(#24976) tgbot: add version 1.8
  recipes/tgbot/all/conandata.yml
  recipes/tgbot/all/conanfile.py
  recipes/tgbot/all/test_package/CMakeLists.txt
  recipes/tgbot/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

xz-utils: support armv8 and clang-cl on Windows
  recipes/xz_utils/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21109) folly: migrate to Conan v2
  recipes/folly/all/CMakeLists.txt
  recipes/folly/all/conan_deps.cmake
  recipes/folly/all/conandata.yml
  recipes/folly/all/conanfile.py
  recipes/folly/all/patches/0001-find-packages.patch
  recipes/folly/all/patches/0002-compiler-flags.patch
  recipes/folly/all/patches/0003-boost-shared-ptr.patch
  recipes/folly/all/patches/0004-disable-posix-names.patch
  recipes/folly/all/patches/0005-include-atomic.patch
  recipes/folly/all/patches/0006-duplicate-hash.patch
  recipes/folly/all/patches/0007-allow-builtins.patch
  recipes/folly/all/patches/0008-find-packages.patch
  recipes/folly/all/patches/0009-ill-formed-atomic-copy.patch
  recipes/folly/all/patches/0010-duplicate-hash.patch
  recipes/folly/all/patches/0011-disable-logger-example.patch
  recipes/folly/all/patches/0012-compiler-flags.patch
  recipes/folly/all/patches/0013-include-bit.patch
  recipes/folly/all/patches/0014-find-librt.patch
  recipes/folly/all/patches/0015-benchmark-format-macros.patch
  recipes/folly/all/patches/0016-find-packages.patch
  recipes/folly/all/patches/0017-compiler-flags.patch
  recipes/folly/all/patches/0018-find-glog.patch
  recipes/folly/all/patches/0019-exclude-example.patch
  recipes/folly/all/patches/0020-include-ssizet.patch
  recipes/folly/all/patches/0021-typedef-clockid.patch
  recipes/folly/all/patches/0022-fix-windows-minmax.patch
  recipes/folly/all/test_package/CMakeLists.txt
  recipes/folly/all/test_package/conanfile.py
  recipes/folly/all/test_package/test_package.cpp
  recipes/folly/all/test_v1_package/CMakeLists.txt
  recipes/folly/all/test_v1_package/conanfile.py
  recipes/folly/all/test_v1_package/test_package.cpp
  recipes/folly/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

xz-utils: guard replacement with conditional
  recipes/xz_utils/all/conanfile.py
Due: lint-recipes, lint-test_package

Drop version 1.80.1
  recipes/gobject-introspection/all/conandata.yml
  recipes/gobject-introspection/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Simplify test package
  recipes/gobject-introspection/all/test_package/conanfile.py
  recipes/gobject-introspection/all/test_package/test_basic.c
  recipes/gobject-introspection/all/test_package/test_girepository.c
  recipes/gobject-introspection/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Use version range for pkgconf
  recipes/gobject-introspection/all/test_package/conanfile.py
  recipes/gobject-introspection/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Do not enforce PKG_CONFIG_PATH
  recipes/gobject-introspection/all/conanfile.py
Due: lint-recipes, lint-test_package

(#25004) opencv/4.x: fix building for iOS
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
