Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

Update recipes/dlib/all/conanfile.py
  recipes/dlib/all/conanfile.py
Due: lint-recipes, lint-test_package

fix: remove v0.16.0 from conandata.yml
  recipes/tree-sitter-cpp/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix
  recipes/gdal/post_3.5.0/CMakeLists.txt
  recipes/gdal/post_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

chore: add test_type in test_package
  recipes/tree-sitter-cpp/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

mdns: simplify test_package.c
  recipes/mdns/all/test_package/test_package.c
  recipes/mdns/all/test_v1_package/test_package.c
Due: none

podofo/all: bump deps
  recipes/podofo/all/conanfile.py
Due: lint-recipes, lint-test_package

cotila: disable MSVC builds due to an internal compiler error
  recipes/cotila/all/conanfile.py
Due: lint-recipes, lint-test_package

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

immer: fix removed version
  recipes/immer/all/conanfile.py
  recipes/immer/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fpgen: fix package()
  recipes/fpgen/all/conanfile.py
Due: lint-recipes, lint-test_package

st_tree: fix package()
  recipes/st_tree/all/conanfile.py
Due: lint-recipes, lint-test_package

rangeless: add compilers_minimum_version check
  recipes/rangeless/all/conanfile.py
Due: lint-recipes, lint-test_package

yas: fix license packaging
  recipes/yas/all/conanfile.py
Due: lint-recipes, lint-test_package

chore: remove test_v1_pacakge
  recipes/tree-sitter-cpp/all/test_v1_package/CMakeLists.txt
  recipes/tree-sitter-cpp/all/test_v1_package/conanfile.py
  recipes/tree-sitter-cpp/all/test_v1_package/test_package.c
Due: lint-recipes, lint-test_package

procxx-boost-ext-simd: bump boost dependency
  recipes/procxx-boost-ext-simd/all/conanfile.py
Due: lint-recipes, lint-test_package

rangesnext: update min compiler versions
  recipes/rangesnext/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18589) [config] Add config inputs for validate infrastructure job
  .c3i/config_v1.yml
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

frugally-deep: migrate to Conan v2
  recipes/frugally-deep/all/conanfile.py
  recipes/frugally-deep/all/test_package/CMakeLists.txt
  recipes/frugally-deep/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

frugally-deep: restore test_v1_package
  recipes/frugally-deep/all/test_v1_package/CMakeLists.txt
  recipes/frugally-deep/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#18582) [bot] Update list of references (prod-v2/ListPackages)
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

Workaround install rpath
  recipes/protobuf-c/all/conanfile.py
Due: lint-recipes, lint-test_package

platform.equality: fix missing includes
  recipes/platform.equality/all/test_package/test_package.cpp
Due: none

ctpg: drop older versions
  recipes/ctpg/all/conandata.yml
  recipes/ctpg/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18575) concurrentcpp: add version 0.1.7
  recipes/concurrencpp/all/conandata.yml
  recipes/concurrencpp/all/conanfile.py
  recipes/concurrencpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#18574) cli11: make bindirs and libdirs empty
  recipes/cli11/all/conanfile.py
  recipes/cli11/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

mdns: remove old versions, add v1.4.3
  recipes/mdns/all/conandata.yml
  recipes/mdns/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fpgen: drop older version with broken clang and msvc support
  recipes/fpgen/all/conandata.yml
  recipes/fpgen/all/conanfile.py
  recipes/fpgen/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

xnnpack: add version cci.20230715
  recipes/xnnpack/all/conandata.yml
  recipes/xnnpack/all/conanfile.py
  recipes/xnnpack/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#18571) libgpiod: Update to conan v2
  recipes/libgpiod/all/conanfile.py
  recipes/libgpiod/all/test_package/CMakeLists.txt
  recipes/libgpiod/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

fix windows build
  recipes/dlib/all/conanfile.py
Due: lint-recipes, lint-test_package

functionalplus: add package_type
  recipes/functionalplus/all/conanfile.py
Due: lint-recipes, lint-test_package

platform.equality: require libstdc++
  recipes/platform.equality/all/conanfile.py
Due: lint-recipes, lint-test_package

ctpg: set correct min compiler versions
  recipes/ctpg/all/conanfile.py
Due: lint-recipes, lint-test_package
