Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

Update recipes/opencolorio/all/conandata.yml
  recipes/opencolorio/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21087) harfbuzz: add version 8.3.0
  recipes/harfbuzz/all/conandata.yml
  recipes/harfbuzz/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

cpython: fix openssl support
  recipes/cpython/all/conanfile.py
  recipes/cpython/all/test_package/conanfile.py
  recipes/cpython/all/test_package/test_package.py
Due: lint-recipes, lint-test_package

(#18793) libcheck: migrate to Conan v2
  recipes/libcheck/all/CMakeLists.txt
  recipes/libcheck/all/conandata.yml
  recipes/libcheck/all/conanfile.py
  recipes/libcheck/all/patches/0003-don-t-check-subunit-dependency.patch
  recipes/libcheck/all/test_package/CMakeLists.txt
  recipes/libcheck/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

- Added -fsanitize=address to test_package of v1
  recipes/open62541/all/test_package/CMakeLists.txt
  recipes/open62541/all/test_v1_package/CMakeLists.txt
Due: none

Do not use conf.get to check if conf item exits
  recipes/hdf5/all/conanfile.py
Due: lint-recipes, lint-test_package

bump ffmpeg dependencies
  recipes/ffmpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18729) libusb-compat: migrate to Conan v2
  recipes/libusb-compat/all/CMakeLists.txt.in
  recipes/libusb-compat/all/conandata.yml
  recipes/libusb-compat/all/conanfile.py
  recipes/libusb-compat/all/test_package/CMakeLists.txt
  recipes/libusb-compat/all/test_package/conanfile.py
  recipes/libusb-compat/all/test_package/test_package.c
  recipes/libusb-compat/all/test_v1_package/CMakeLists.txt
  recipes/libusb-compat/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20920) duckdb: do not remove import lib during packaging if mingw shared
  recipes/duckdb/all/conandata.yml
  recipes/duckdb/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

msys2: bump
  recipes/msys2/all/conandata.yml
  recipes/msys2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update conandata.yml
  recipes/msys2/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

re-add QuickTest module in package_info
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

tsil: use rm_safe
  recipes/tsil/all/conandata.yml
  recipes/tsil/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#18749) open-simulation-interface: migrate to Conan v2
  recipes/open-simulation-interface/all/CMakeLists.txt
  recipes/open-simulation-interface/all/conandata.yml
  recipes/open-simulation-interface/all/conanfile.py
  recipes/open-simulation-interface/all/test_package/CMakeLists.txt
  recipes/open-simulation-interface/all/test_package/conanfile.py
  recipes/open-simulation-interface/all/test_package/test_package.cpp
  recipes/open-simulation-interface/all/test_v1_package/CMakeLists.txt
  recipes/open-simulation-interface/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#19979) spirv-tools: add new versions, remove old ones
  recipes/spirv-tools/all/conandata.yml
  recipes/spirv-tools/all/conanfile.py
  recipes/spirv-tools/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20923) libarchive: fix mingw shared
  recipes/libarchive/all/conanfile.py
  recipes/libarchive/all/patches/0003-3.7.1-cmake.patch
Due: lint-recipes, lint-test_package

disable clang
  recipes/imake/all/conanfile.py
Due: lint-recipes, lint-test_package

imake 1.0.9
  recipes/imake/all/conandata.yml
  recipes/imake/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18833) hexl: migrate to Conan v2
  recipes/hexl/all/CMakeLists.txt
  recipes/hexl/all/conandata.yml
  recipes/hexl/all/conanfile.py
  recipes/hexl/all/patches/fix-cmake.patch
  recipes/hexl/all/test_package/CMakeLists.txt
  recipes/hexl/all/test_package/conanfile.py
  recipes/hexl/all/test_v1_package/CMakeLists.txt
  recipes/hexl/all/test_v1_package/conanfile.py
  recipes/hexl/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20932) qt: fix minor issues in 6.x
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Default GLES as the upstream project does
  recipes/freeglut/all/conanfile.py
Due: lint-recipes, lint-test_package

feat: DFP: Initial version of the DFP recipe.
  recipes/dfp/all/conandata.yml
  recipes/dfp/all/conanfile.py
  recipes/dfp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20703) Opencolorio 2.3.0, bump requirements
  recipes/opencolorio/all/conandata.yml
  recipes/opencolorio/all/conanfile.py
  recipes/opencolorio/all/patches/2.3.0-0001-fix-cmake-source-dir-and-targets.patch
  recipes/opencolorio/all/patches/2.3.0-0002-fix-pystring.patch
  recipes/opencolorio/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add missing package_type
  recipes/oatpp-postgresql/all/conanfile.py
Due: lint-recipes, lint-test_package

feat: DFP: Add patch with auto-generated headers.
  recipes/dfp/all/conandata.yml
  recipes/dfp/all/patches/1.0.2-0001-Add-Cxx-Headers.patch
Due: lint-yaml-scheme, check-yaml-scheme

Add package_type, set correct min conan version
  recipes/tsil/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17246) cyclonedds: add idlc code generator support
  recipes/cyclonedds/all/cmake/CycloneDDS_idlc.cmake
  recipes/cyclonedds/all/conanfile.py
  recipes/cyclonedds/all/test_package/CMakeLists.txt
  recipes/cyclonedds/all/test_package/conanfile.py
  recipes/cyclonedds/all/test_package/test_idl.c
  recipes/cyclonedds/all/test_package/test_message.idl
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
