Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

Skip test when hving glibc trouble
  recipes/doxygen/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

recastnavigation: add v1.6.0, simplify patching
  recipes/recastnavigation/all/conandata.yml
  recipes/recastnavigation/all/conanfile.py
  recipes/recastnavigation/all/patches/001_fix_shared_option.patch
  recipes/recastnavigation/all/test_package/test_package.cpp
  recipes/recastnavigation/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

yandex-ozo: migrate to Conan v2
  recipes/yandex-ozo/all/conanfile.py
  recipes/yandex-ozo/all/test_package/CMakeLists.txt
  recipes/yandex-ozo/all/test_package/conanfile.py
  recipes/yandex-ozo/all/test_v1_package/CMakeLists.txt
  recipes/yandex-ozo/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

yandex-ozo: add v0.1.0
  recipes/yandex-ozo/all/conandata.yml
  recipes/yandex-ozo/all/conanfile.py
  recipes/yandex-ozo/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20294) [config] Remove old profile configurations
  .c3i/config_v1.yml
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

Final fixes
  recipes/stdgpu/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix library attribution
  recipes/easylzma/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19998) Move prince-chrismc back to a community reviewer
  .c3i/reviewers.yml
  .github/workflows/alert-community.yml
Due: lint-yaml-scheme, check-yaml-scheme

s2n: add version 1.3.52
  recipes/s2n/all/conandata.yml
  recipes/s2n/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

cryptopp-pem: transitive_libs=True
  recipes/cryptopp-pem/all/conanfile.py
Due: lint-recipes, lint-test_package

immer: add version 0.8.1, rename example
  recipes/immer/all/conandata.yml
  recipes/immer/all/conanfile.py
  recipes/immer/all/test_package/CMakeLists.txt
  recipes/immer/all/test_package/conanfile.py
  recipes/immer/all/test_package/test_package.cpp
  recipes/immer/all/test_v1_package/conanfile.py
  recipes/immer/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

cryptopp-pem: fix_apple_shared_install_name()
  recipes/cryptopp-pem/all/conanfile.py
Due: lint-recipes, lint-test_package

stdgpu: bump version to the latest commit
  recipes/stdgpu/all/conandata.yml
  recipes/stdgpu/all/conanfile.py
  recipes/stdgpu/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#19981) nas: Fix license
  recipes/nas/all/conanfile.py
Due: lint-recipes, lint-test_package

recastnavigation: restore patches for DLL install on Windows
  recipes/recastnavigation/all/conandata.yml
  recipes/recastnavigation/all/conanfile.py
  recipes/recastnavigation/all/patches/001_fix_shared_option.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libliftoff: Add recipe
  recipes/libliftoff/all/conandata.yml
  recipes/libliftoff/all/conanfile.py
  recipes/libliftoff/all/test_package/conanfile.py
  recipes/libliftoff/all/test_package/meson.build
  recipes/libliftoff/all/test_package/test_package.c
  recipes/libliftoff/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/mtdev/all/conanfile.py
  recipes/mtdev/all/conanfile.py
Due: lint-recipes, lint-test_package

Don't set PATH
  recipes/libevdev/all/conanfile.py
Due: lint-recipes, lint-test_package

Build static library properly
  recipes/cpptrace/all/conanfile.py
Due: lint-recipes, lint-test_package

oops
  recipes/cpptrace/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18638) libxshmfence: migrate to Conan v2
  recipes/libxshmfence/all/conanfile.py
  recipes/libxshmfence/all/test_package/CMakeLists.txt
  recipes/libxshmfence/all/test_package/conanfile.py
  recipes/libxshmfence/all/test_package/test_package.c
  recipes/libxshmfence/all/test_v1_package/CMakeLists.txt
  recipes/libxshmfence/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

libxshmfence/all: bump deps
  recipes/libxshmfence/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18755) playrho: migrate to Conan v2
  recipes/playrho/all/CMakeLists.txt
  recipes/playrho/all/conandata.yml
  recipes/playrho/all/conanfile.py
  recipes/playrho/all/test_package/CMakeLists.txt
  recipes/playrho/all/test_package/conanfile.py
  recipes/playrho/all/test_v1_package/CMakeLists.txt
  recipes/playrho/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#18890) libdrm: migrate to Conan v2
  recipes/libdrm/all/conanfile.py
  recipes/libdrm/all/test_package/CMakeLists.txt
  recipes/libdrm/all/test_package/conanfile.py
  recipes/libdrm/all/test_v1_package/CMakeLists.txt
  recipes/libdrm/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

cleanup recipe
  recipes/playrho/all/conandata.yml
  recipes/playrho/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Fix libdispatch for conan v2
  recipes/libdispatch/all/CMakeLists.txt
  recipes/libdispatch/all/conandata.yml
  recipes/libdispatch/all/conanfile.py
  recipes/libdispatch/all/test_package/CMakeLists.txt
  recipes/libdispatch/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#19231) libselinux: add v3.5, fix license info
  recipes/libselinux/all/conandata.yml
  recipes/libselinux/all/conanfile.py
  recipes/libselinux/all/test_package/CMakeLists.txt
  recipes/libselinux/all/test_v1_package/CMakeLists.txt
  recipes/libselinux/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#19709) wasmtime-cpp: update wasmtime/12.0.1
  recipes/wasmtime-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

dbus/1.x.x: bump deps
  recipes/dbus/1.x.x/conanfile.py
Due: lint-recipes, lint-test_package

eudev: Add recipe
  recipes/eudev/all/conandata.yml
  recipes/eudev/all/conanfile.py
  recipes/eudev/all/test_package/CMakeLists.txt
  recipes/eudev/all/test_package/conanfile.py
  recipes/eudev/all/test_package/test_package.c
  recipes/eudev/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
