Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

maven: add recipe
  recipes/maven/all/conandata.yml
  recipes/maven/all/conanfile.py
  recipes/maven/all/test_package/conanfile.py
  recipes/maven/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

update topics
  recipes/maven/all/conanfile.py
Due: lint-recipes, lint-test_package

remove collect_libs
  recipes/pixman/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17864) [bot] Update list of references (prod-v2/ListPackages)
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

remove CGAL CMake Config files
  recipes/cgal/all/conandata.yml
  recipes/cgal/all/conanfile.py
  recipes/cgal/all/patches/0001-5.3.2-fix-for-conan.patch
  recipes/cgal/all/patches/0001-fix-for-conan.patch
  recipes/cgal/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Fix the licenses/ directory
  recipes/cgal/all/conanfile.py
Due: lint-recipes, lint-test_package

remove with statement from _build_context
  recipes/usockets/all/conanfile.py
Due: lint-recipes, lint-test_package

fix linter error
  recipes/cgal/all/conandata.yml
  recipes/cgal/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#17104) aws-c-io: fix interface definition for shared lib on windows + bump s2n + add package_type
  recipes/aws-c-io/all/conanfile.py
Due: lint-recipes, lint-test_package

reuse patches with versions, for Conan 1.x
  recipes/cgal/all/conandata.yml
  recipes/cgal/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix a final linter warning
  recipes/cgal/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

add mbits-diags/0.9.6
  recipes/mbits-diags/all/conandata.yml
  recipes/mbits-diags/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#17870) add mbits-diags/0.9.6
  recipes/mbits-diags/all/conandata.yml
  recipes/mbits-diags/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix: take forced tag compilable with clang/libc++
  recipes/mbits-lngs/all/conandata.yml
  recipes/mbits-lngs/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

build: yes to M1, not to cross-compilation
  recipes/mbits-lngs/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17871) tuplet: add version 2.1.1
  recipes/tuplet/all/conandata.yml
  recipes/tuplet/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

sqlpp11: add version 0.62, support conan v2
  recipes/sqlpp11/all/conandata.yml
  recipes/sqlpp11/all/conanfile.py
  recipes/sqlpp11/all/test_package/CMakeLists.txt
  recipes/sqlpp11/all/test_package/conanfile.py
  recipes/sqlpp11/all/test_package/test_package.cpp
  recipes/sqlpp11/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add resdirs
  recipes/maven/all/conanfile.py
Due: lint-recipes, lint-test_package

revert resdirs
  recipes/maven/all/conanfile.py
Due: lint-recipes, lint-test_package

opentelemetry-cpp: add version 1.9.1
  recipes/opentelemetry-cpp/all/conandata.yml
  recipes/opentelemetry-cpp/all/conanfile.py
  recipes/opentelemetry-cpp/all/patches/1.9.1-0001-fix-cmake.patch
  recipes/opentelemetry-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#17860) libnghttp2: add version 1.54.0
  recipes/libnghttp2/all/conandata.yml
  recipes/libnghttp2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

opencl-icd-loader: added versions from 2023 year
  recipes/opencl-icd-loader/all/conandata.yml
  recipes/opencl-icd-loader/all/conanfile.py
  recipes/opencl-icd-loader/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

replace \ to /
  recipes/opentelemetry-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Bugfix for shared/static dependency detection
  recipes/vtk/all/conanfile.py
Due: lint-recipes, lint-test_package

Attempt to resolve openssl version conflicts with my dependencies
  recipes/vtk/all/conanfile.py
Due: lint-recipes, lint-test_package

fix: allow cross-compile for M1
  recipes/mbits-lngs/all/conandata.yml
  recipes/mbits-lngs/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

use prefix for windows
  recipes/pixman/all/conandata.yml
  recipes/pixman/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

handle that CGAL requires C++14
  recipes/cgal/all/conanfile.py
Due: lint-recipes, lint-test_package

fix: build test on M1 and support VirtualRunEnv
  recipes/mbits-lngs/all/conanfile.py
  recipes/mbits-lngs/all/test_package/CMakeLists.txt
  recipes/mbits-lngs/all/test_package/conanfile.py
  recipes/mbits-lngs/all/test_package/cross_translations.cpp
  recipes/mbits-lngs/all/test_package/cross_translations.hpp
Due: lint-recipes, lint-test_package

revert conandata.yml
  recipes/pixman/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Try a different 'requires' for openssl
  recipes/vtk/all/conanfile.py
Due: lint-recipes, lint-test_package

Disable OpenVR dependency until its recipe is ready for conan v2
  recipes/vtk/all/conanfile.py
Due: lint-recipes, lint-test_package

Extra work to avoid requiring OpenVR
  recipes/vtk/all/conanfile.py
Due: lint-recipes, lint-test_package

Used the suggested version number
  recipes/dr_libs/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
