Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

ruy: Add cci.20231129
  recipes/ruy/all/conandata.yml
  recipes/ruy/all/conanfile.py
  recipes/ruy/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

xnnpack: Add cci.20231026
  recipes/xnnpack/all/conandata.yml
  recipes/xnnpack/all/conanfile.py
  recipes/xnnpack/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

update 2.8.1
  recipes/sdl_image/all/conandata.yml
  recipes/sdl_image/all/patches/2.8.1-0001-fix-cmake.patch
  recipes/sdl_image/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

s2n: add version 1.4.0
  recipes/s2n/all/conandata.yml
  recipes/s2n/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update conanfile.py
  recipes/opentdf-client/all/conanfile.py
Due: lint-recipes, lint-test_package

update dependencies
  recipes/mongo-c-driver/all/conanfile.py
Due: lint-recipes, lint-test_package

update 1.25.2
  recipes/mongo-c-driver/all/conandata.yml
  recipes/mongo-c-driver/all/patches/1.25.2-0001-disable-shared-when-static.patch
  recipes/mongo-c-driver/all/patches/1.25.2-0003-disable-warning-errors.patch
  recipes/mongo-c-driver/all/patches/1.25.2-0004-disable-check-symbol-on-msvc.patch
  recipes/mongo-c-driver/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update 1.25.3
  recipes/mongo-c-driver/all/conandata.yml
  recipes/mongo-c-driver/all/patches/1.25.3-0001-disable-shared-when-static.patch
  recipes/mongo-c-driver/all/patches/1.25.3-0003-disable-warning-errors.patch
  recipes/mongo-c-driver/all/patches/1.25.3-0004-disable-check-symbol-on-msvc.patch
  recipes/mongo-c-driver/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libcoro: add version 0.10, update c-ares
  recipes/libcoro/all/conandata.yml
  recipes/libcoro/all/conanfile.py
  recipes/libcoro/all/patches/0.10-0001-allow-shared-lib.patch
  recipes/libcoro/all/patches/0.10-0002-disable-git-config.patch
  recipes/libcoro/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libsrtp 2.5.0
  recipes/libsrtp/all/conandata.yml
  recipes/libsrtp/all/conanfile.py
  recipes/libsrtp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openmpi: drop libltdl dependency
  recipes/openmpi/all/conanfile.py
Due: lint-recipes, lint-test_package

libva/2.20.0
  recipes/libva/all/conandata.yml
  recipes/libva/all/conanfile.py
  recipes/libva/all/test_package/CMakeLists.txt
  recipes/libva/all/test_package/conanfile.py
  recipes/libva/all/test_package/test_package.c
  recipes/libva/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openmpi: external libevent does not really work
  recipes/openmpi/all/conanfile.py
Due: lint-recipes, lint-test_package

libfabric: add libatomic system dependency
  recipes/libfabric/all/conanfile.py
Due: lint-recipes, lint-test_package

fast_float: add version 6.0.0
  recipes/fast_float/all/conandata.yml
  recipes/fast_float/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update 1.9.7
  recipes/glaze/all/conandata.yml
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

valijson: add version 1.0.2
  recipes/valijson/all/conandata.yml
  recipes/valijson/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

jsoncons: add version 0.173.0
  recipes/jsoncons/all/conandata.yml
  recipes/jsoncons/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Fix PYTHONHOME on Linux, always set PYTHONHOME for test
  recipes/cpython/all/conanfile.py
  recipes/cpython/all/test_package/conanfile.py
  recipes/cpython/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Update conanfile.py
  recipes/hazelcast-cpp-client/all/conanfile.py
Due: lint-recipes, lint-test_package

hazelcast-cpp-client/all: bump deps
  recipes/hazelcast-cpp-client/all/conanfile.py
Due: lint-recipes, lint-test_package

nodejs: skip test on old libc versions (i.e. CI)
  recipes/nodejs/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Try to fix linter error
  recipes/gtlab-logging/all/conanfile.py
Due: lint-recipes, lint-test_package

CR
  recipes/poco/all/conanfile.py
Due: lint-recipes, lint-test_package

update dependencies
  recipes/samurai/all/conanfile.py
Due: lint-recipes, lint-test_package

opencascade: fix compilation when with_tbb=True
  recipes/opencascade/all/conandata.yml
  recipes/opencascade/all/patches/7.5.0-0004-fix-compile-errors-onetbb-2021.patch
  recipes/opencascade/all/patches/7.5.0-0005-fix-link-errors-onetbb-2021.patch
Due: lint-yaml-scheme, check-yaml-scheme

limit diff after resolving conflicts
  recipes/jwt-cpp/all/test_v1_package/CMakeLists.txt
Due: none

sdl_mixer: add v2.6.3 as a new subdir
  recipes/sdl_mixer/cmake/conandata.yml
  recipes/sdl_mixer/cmake/conanfile.py
  recipes/sdl_mixer/cmake/test_package/CMakeLists.txt
  recipes/sdl_mixer/cmake/test_package/conanfile.py
  recipes/sdl_mixer/cmake/test_package/test_package.c
  recipes/sdl_mixer/cmake/test_v1_package/CMakeLists.txt
  recipes/sdl_mixer/cmake/test_v1_package/conanfile.py
  recipes/sdl_mixer/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

don't use release tarball
  recipes/libva/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix windows libname
  recipes/libva/all/conanfile.py
Due: lint-recipes, lint-test_package

openmpi: model components correctly
  recipes/openmpi/all/conanfile.py
Due: lint-recipes, lint-test_package

gdal: disable libiconv on macOS
  recipes/gdal/post_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

gdal: drop ineffective libjpeg-turbo propagation
  recipes/gdal/post_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

gdal: bump deps
  recipes/gdal/post_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

gdal: add parquet support
  recipes/gdal/post_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

gdal: avoid the use of cache_variables
  recipes/gdal/post_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
