Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

ittapi: add v3.24.4
  recipes/ittapi/all/conandata.yml
  recipes/ittapi/all/conanfile.py
  recipes/ittapi/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

ls-qpack: add v2.5.4, simplify patching
  recipes/ls-qpack/all/CMakeLists.txt
  recipes/ls-qpack/all/conandata.yml
  recipes/ls-qpack/all/conanfile.py
  recipes/ls-qpack/all/patches/2.5.1-0001-use-cci-package.patch
  recipes/ls-qpack/all/patches/2.5.1-0002-add-installer.patch
  recipes/ls-qpack/all/patches/2.5.3-0002-add-installer.patch
  recipes/ls-qpack/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libraw: add v0.21.2
  recipes/libraw/all/conandata.yml
  recipes/libraw/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21844) bdwgc/all: bump deps
  recipes/bdwgc/all/conanfile.py
Due: lint-recipes, lint-test_package

libheif: add v1.17.6, simplify patching
  recipes/libheif/all/conandata.yml
  recipes/libheif/all/conanfile.py
  recipes/libheif/all/patches/0001-cmake-1.9.1.patch
  recipes/libheif/all/patches/0001-cmake_1.11.0.patch
  recipes/libheif/all/patches/0001-cmake_1.12.0.patch
  recipes/libheif/all/patches/0001-cmake_1.13.0.patch
  recipes/libheif/all/patches/0001-cmake_1.16.2.patch
  recipes/libheif/all/patches/0002-plugins_cmake_1.16.2.patch
  recipes/libheif/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libheif: add several new optional deps
  recipes/libheif/all/conanfile.py
Due: lint-recipes, lint-test_package

qxlsx: add v1.4.7
  recipes/qxlsx/all/conandata.yml
  recipes/qxlsx/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

outcome: add v2.2.8, drop old versions
  recipes/outcome/all/conandata.yml
  recipes/outcome/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

zfp: add version 1.0.1
  recipes/zfp/all/conandata.yml
  recipes/zfp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

whisper-cpp: add v1.5.2, fix blas support
  recipes/whisper-cpp/all/conandata.yml
  recipes/whisper-cpp/all/conanfile.py
  recipes/whisper-cpp/all/patches/1.2.1-0001-find_package_openblas.patch
  recipes/whisper-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

vcglib: add v2023.12
  recipes/vcglib/all/CMakeLists.txt
  recipes/vcglib/all/conandata.yml
  recipes/vcglib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

tinygltf: add version 2.8.19
  recipes/tinygltf/all/conandata.yml
  recipes/tinygltf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21785) opencv/3.x add version 3.4.20
  recipes/opencv/3.x/conandata.yml
  recipes/opencv/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libe57format: add v3.1.1, drop old version
  recipes/libe57format/all/conandata.yml
  recipes/libe57format/all/conanfile.py
  recipes/libe57format/all/patches/0001-fix-pic.patch
  recipes/libe57format/all/patches/0002-missing-include.patch
  recipes/libe57format/all/patches/2.3.0-0001-fix-pic.patch
  recipes/libe57format/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libwebsockets: add version 4.3.3
  recipes/libwebsockets/all/conandata.yml
  recipes/libwebsockets/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libheif: add dl system lib
  recipes/libheif/all/conanfile.py
Due: lint-recipes, lint-test_package

libnl: add v3.9.0
  recipes/libnl/all/conandata.yml
  recipes/libnl/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21661) openblas: add v0.3.25
  recipes/openblas/all/conandata.yml
  recipes/openblas/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21663) raylib: add v5.0
  recipes/raylib/all/conandata.yml
  recipes/raylib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21847) md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21864) libnl: add v3.9.0
  recipes/libnl/all/conandata.yml
  recipes/libnl/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21849) 7bitdi: add v2.0.0
  recipes/7bitdi/all/conandata.yml
  recipes/7bitdi/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21851) libde265: add v1.0.15
  recipes/libde265/all/conandata.yml
  recipes/libde265/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21850) lightgbm: add v4.2.0
  recipes/lightgbm/all/conandata.yml
  recipes/lightgbm/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21854) libraw: add v0.21.2
  recipes/libraw/all/conandata.yml
  recipes/libraw/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21859) zfp: add version 1.0.1
  recipes/zfp/all/conandata.yml
  recipes/zfp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21866) libwebsockets: add version 4.3.3
  recipes/libwebsockets/all/conandata.yml
  recipes/libwebsockets/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
