Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

Fix missing colon
  recipes/mailio/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16057) pdfgen: add recipe
  recipes/pdfgen/all/CMakeLists.txt
  recipes/pdfgen/all/conandata.yml
  recipes/pdfgen/all/conanfile.py
  recipes/pdfgen/all/test_package/CMakeLists.txt
  recipes/pdfgen/all/test_package/conanfile.py
  recipes/pdfgen/all/test_package/test_package.c
  recipes/pdfgen/all/test_v1_package/CMakeLists.txt
  recipes/pdfgen/all/test_v1_package/conanfile.py
  recipes/pdfgen/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16144) re2: modernize more for conan v2
  recipes/re2/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16294) glad: modernize for Conan 2.0
  recipes/glad/all/CMakeLists.txt
  recipes/glad/all/conandata.yml
  recipes/glad/all/conanfile.py
  recipes/glad/all/test_package/CMakeLists.txt
  recipes/glad/all/test_package/conanfile.py
  recipes/glad/all/test_v1_package/CMakeLists.txt
  recipes/glad/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openldap: improve compatibility with different build environments
  recipes/openldap/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15967) ftxui: add version 4.0.0, support conan v2
  recipes/ftxui/all/CMakeLists.txt
  recipes/ftxui/all/conandata.yml
  recipes/ftxui/all/conanfile.py
  recipes/ftxui/all/patches/2.0.0-0001-lib-prefix.patch
  recipes/ftxui/all/patches/2.0.0-0002-install-dll.patch
  recipes/ftxui/all/patches/4.0.0-0002-install-dll.patch
  recipes/ftxui/all/test_package/CMakeLists.txt
  recipes/ftxui/all/test_package/conanfile.py
  recipes/ftxui/all/test_v1_package/CMakeLists.txt
  recipes/ftxui/all/test_v1_package/conanfile.py
  recipes/ftxui/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15930) date: modernize more for conan v2
  recipes/date/all/conandata.yml
  recipes/date/all/conanfile.py
  recipes/date/all/test_package/CMakeLists.txt
  recipes/date/all/test_package/conanfile.py
  recipes/date/all/test_package/test_package.cpp
  recipes/date/all/test_v1_package/conanfile.py
  recipes/date/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

cpp-peglib: add version 1.8.3
  recipes/cpp-peglib/0.x.x/conanfile.py
  recipes/cpp-peglib/1.x.x/conandata.yml
  recipes/cpp-peglib/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

docs: Editable is not currently supported
  docs/faqs.md
Due: none

(#15464) mdspan: add version 0.5.0, support conan v2
  recipes/mdspan/all/conandata.yml
  recipes/mdspan/all/conanfile.py
  recipes/mdspan/all/test_package/CMakeLists.txt
  recipes/mdspan/all/test_package/conanfile.py
  recipes/mdspan/all/test_package/test_package.cpp
  recipes/mdspan/all/test_v1_package/CMakeLists.txt
  recipes/mdspan/all/test_v1_package/conanfile.py
  recipes/mdspan/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

docs: clarify what's support with Conan 2.0
  docs/developing_recipes_locally.md
Due: none

link c++fs
  recipes/numcpp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#14792) xapian-core: conan v2 support
  recipes/xapian-core/all/conandata.yml
  recipes/xapian-core/all/conanfile.py
  recipes/xapian-core/all/patches/0003-missing-limits-include.patch
  recipes/xapian-core/all/test_package/CMakeLists.txt
  recipes/xapian-core/all/test_package/conanfile.py
  recipes/xapian-core/all/test_v1_package/CMakeLists.txt
  recipes/xapian-core/all/test_v1_package/conanfile.py
  recipes/xapian-core/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix CMakeLists.txt
  recipes/ragel/all/CMakeLists.txt
  recipes/ragel/all/conanfile.py
Due: lint-recipes, lint-test_package

Update conanfile.py
  recipes/cppcheck/all/conanfile.py
Due: lint-recipes, lint-test_package

Added new version to config.yml
  recipes/vsg/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Updated openssl dependency to 1.1.1t
  recipes/websocketpp/all/conanfile.py
Due: lint-recipes, lint-test_package

add more v2 ready references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update conanfile.py
  recipes/z3/all/conanfile.py
Due: lint-recipes, lint-test_package

fakeit: modernize for Conan 2.0
  recipes/fakeit/all/conanfile.py
  recipes/fakeit/all/test_package/CMakeLists.txt
  recipes/fakeit/all/test_package/conanfile.py
  recipes/fakeit/all/test_v1_package/CMakeLists.txt
  recipes/fakeit/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

namedtype: modernize for Conan 2.0
  recipes/namedtype/all/conanfile.py
  recipes/namedtype/all/test_package/CMakeLists.txt
  recipes/namedtype/all/test_package/conanfile.py
  recipes/namedtype/all/test_v1_package/CMakeLists.txt
  recipes/namedtype/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

[lightgbm] Update version to 3.3.5 (conan-io#16409)
  recipes/lightgbm/all/conandata.yml
  recipes/lightgbm/all/patches/0003-fix-openmp-clang.patch
  recipes/lightgbm/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

[shield] add version 0.4
  recipes/shield/all/conandata.yml
  recipes/shield/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

pthreads4w: make compatible with Conan 2.0
  recipes/pthreads4w/all/conanfile.py
  recipes/pthreads4w/all/test_package/CMakeLists.txt
  recipes/pthreads4w/all/test_package/conanfile.py
  recipes/pthreads4w/all/test_v1_package/CMakeLists.txt
  recipes/pthreads4w/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

remove 2.7
  recipes/cppcheck/all/conanfile.py
  recipes/cppcheck/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update conandata.yml
  recipes/cppcheck/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

[shield] make conan v2 compliant
  recipes/shield/all/conanfile.py
  recipes/shield/all/test_package/CMakeLists.txt
  recipes/shield/all/test_package/conanfile.py
  recipes/shield/all/test_v1_package/CMakeLists.txt
  recipes/shield/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

trantor: add version 1.5.11
  recipes/trantor/all/conandata.yml
  recipes/trantor/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16581) B2 4.9.6
  recipes/b2/config.yml
  recipes/b2/portable/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16604) pthreads4w: make compatible with Conan 2.0
  recipes/pthreads4w/all/conanfile.py
  recipes/pthreads4w/all/test_package/CMakeLists.txt
  recipes/pthreads4w/all/test_package/conanfile.py
  recipes/pthreads4w/all/test_v1_package/CMakeLists.txt
  recipes/pthreads4w/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package
