Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#21789) uwebsockets: add version 20.49.0
  recipes/uwebsockets/all/conandata.yml
  recipes/uwebsockets/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21769) s2n: add version 1.4.0
  recipes/s2n/all/conandata.yml
  recipes/s2n/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

add variables to use cci packages
  recipes/fltk/all/conanfile.py
Due: lint-recipes, lint-test_package

link ntdll on msvc
  recipes/wasm-micro-runtime/all/conanfile.py
Due: lint-recipes, lint-test_package

add minor version check for Visual Studio
  recipes/glaze/all/conanfile.py
Due: lint-recipes, lint-test_package

xkbcommon: partial bump
  recipes/xkbcommon/all/conanfile.py
Due: lint-recipes, lint-test_package

coz: migrate to Conan v2
  recipes/coz/all/CMakeLists.txt
  recipes/coz/all/conanfile.py
  recipes/coz/all/test_package/CMakeLists.txt
  recipes/coz/all/test_package/conanfile.py
  recipes/coz/all/test_v1_package/CMakeLists.txt
  recipes/coz/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

coz: use is_apple_os()
  recipes/coz/all/conanfile.py
Due: lint-recipes, lint-test_package

coz: update
  recipes/coz/all/conanfile.py
  recipes/coz/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#21821) xkbcommon: partial bump
  recipes/xkbcommon/all/conanfile.py
Due: lint-recipes, lint-test_package

coz: fix test_package
  recipes/coz/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

xkbcommon: bump deps
  recipes/xkbcommon/all/conanfile.py
Due: lint-recipes, lint-test_package

md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

xkeyboard-config: define package_type
  recipes/xkeyboard-config/all/conanfile.py
Due: lint-recipes, lint-test_package

[config] Change configurations to amrv8 arch for Macos build profiles
  .c3i/config_v1.yml
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

unordered_dense: add version 4.3.1
  recipes/unordered_dense/all/conandata.yml
  recipes/unordered_dense/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

mpir: fix apple arch detection
  recipes/mpir/all/conanfile.py
Due: lint-recipes, lint-test_package

mpir: remove unused import
  recipes/mpir/all/conanfile.py
Due: lint-recipes, lint-test_package

libxml2: add version 2.11.6
  recipes/libxml2/all/conandata.yml
  recipes/libxml2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

json-schema-validator: be less choosy regarding nlohmann/json
  recipes/json-schema-validator/all/conanfile.py
Due: lint-recipes, lint-test_package

[config] Change configurations to amrv8 arch for Macos build profiles (#21826)
  .c3i/config_v1.yml
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add topc
  recipes/spdlog/all/conanfile.py
Due: lint-recipes, lint-test_package

gdal: bump to v3.8.2
  recipes/gdal/config.yml
  recipes/gdal/post_3.5.0/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

gdal: bump arrow
  recipes/gdal/post_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

commata: add version 0.2.7
  recipes/commata/all/conandata.yml
  recipes/commata/all/conanfile.py
  recipes/commata/all/test_package/CMakeLists.txt
  recipes/commata/all/test_package/test_package.cpp
  recipes/commata/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

gdal: further mark proprietary deps as such
  recipes/gdal/post_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

gdal: add libaec support
  recipes/gdal/post_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

(#21749) [bot] Update authorized users list (2023-12-14)
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21683) arduinojson: add version 6.21.4
  recipes/arduinojson/all/conandata.yml
  recipes/arduinojson/all/conanfile.py
  recipes/arduinojson/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21824) xkbcommon: bump deps
  recipes/xkbcommon/all/conanfile.py
Due: lint-recipes, lint-test_package

bump deps
  recipes/gstreamer/all/conanfile.py
Due: lint-recipes, lint-test_package

add pkgconf to build requirements of test package
  recipes/gstreamer/all/conanfile.py
  recipes/gstreamer/all/test_package/conanfile.py
  recipes/gstreamer/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

pkgconf not needed in test v1 package
  recipes/gstreamer/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
