Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

libxslt: add version 1.1.39
  recipes/libxslt/all/conandata.yml
  recipes/libxslt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

[mocknetworkaccessmanager] add recipe for 0.12.0
  recipes/mocknetworkaccessmanager/all/conandata.yml
  recipes/mocknetworkaccessmanager/all/conanfile.py
  recipes/mocknetworkaccessmanager/all/test_package/CMakeLists.txt
  recipes/mocknetworkaccessmanager/all/test_package/conanfile.py
  recipes/mocknetworkaccessmanager/all/test_package/test_package.cpp
  recipes/mocknetworkaccessmanager/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21891) libxslt: add version 1.1.39
  recipes/libxslt/all/conandata.yml
  recipes/libxslt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

util-linux-libuuid: bump libgettext
  recipes/util-linux-libuuid/all/conanfile.py
Due: lint-recipes, lint-test_package

coz: drop test_v1_package
  recipes/coz/all/conanfile.py
  recipes/coz/all/test_v1_package/CMakeLists.txt
  recipes/coz/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

libvips: bump to v8.15.1
  recipes/libvips/all/conandata.yml
  recipes/libvips/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libvips: add v8.15.0
  recipes/libvips/all/conandata.yml
  recipes/libvips/all/conanfile.py
  recipes/libvips/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libvips: disable deprecated option on MSVC
  recipes/libvips/all/conanfile.py
Due: lint-recipes, lint-test_package

ls-qpack: make linter happy
  recipes/ls-qpack/all/CMakeLists.txt
Due: none

libfabric: macOS does not support `sm2`
  recipes/libfabric/all/conanfile.py
Due: lint-recipes, lint-test_package

shapelib: add version 1.6.0
  recipes/shapelib/all/conandata.yml
  recipes/shapelib/all/conanfile.py
  recipes/shapelib/all/patches/1.5.0-0001-cmake-minimum-required.patch
  recipes/shapelib/all/patches/1.5.0-0002-build-testing.patch
  recipes/shapelib/all/patches/1.5.0-0003-relocatable-shared-macos.patch
  recipes/shapelib/all/patches/1.6.0-0003-relocatable-shared-macos.patch
  recipes/shapelib/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

flatcc: add macOS workaround
  recipes/flatcc/all/test_package/conanfile.py
  recipes/flatcc/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

uwebsockets: add version 20.53.0
  recipes/uwebsockets/all/conandata.yml
  recipes/uwebsockets/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21895) uwebsockets: add version 20.53.0
  recipes/uwebsockets/all/conandata.yml
  recipes/uwebsockets/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libe57format: upgrade cmake
  recipes/libe57format/all/conanfile.py
Due: lint-recipes, lint-test_package

libxslt: bump libxml
  recipes/libxslt/all/conanfile.py
Due: lint-recipes, lint-test_package

flatcc: skip macOS shared test on Conan v1
  recipes/flatcc/all/test_package/CMakeLists.txt
  recipes/flatcc/all/test_package/conanfile.py
  recipes/flatcc/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

libfabric: fix libatomic system dep
  recipes/libfabric/all/conanfile.py
Due: lint-recipes, lint-test_package

aravis: bump deps
  recipes/aravis/all/conanfile.py
Due: lint-recipes, lint-test_package

libgphoto2: bump deps
  recipes/libgphoto2/all/conanfile.py
Due: lint-recipes, lint-test_package

orc: add new recipe
  recipes/orc/all/conandata.yml
  recipes/orc/all/conanfile.py
  recipes/orc/all/test_package/CMakeLists.txt
  recipes/orc/all/test_package/conanfile.py
  recipes/orc/all/test_package/test_package.cpp
  recipes/orc/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

orc: allow shared builds
  recipes/orc/all/conanfile.py
Due: lint-recipes, lint-test_package

orc: fix protoc path on v1
  recipes/orc/all/conanfile.py
Due: lint-recipes, lint-test_package

orc: fix protobuf not being able to run when cross-compiling
  recipes/orc/all/conanfile.py
Due: lint-recipes, lint-test_package

orc: add missing test.orc
  recipes/orc/all/test_package/test.orc
Due: none

orc: transitive_libs=True
  recipes/orc/all/conanfile.py
  recipes/orc/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

orc: disable AVX512 for apple-clang
  recipes/orc/all/conanfile.py
Due: lint-recipes, lint-test_package

libnghttp2: bump deps
  recipes/libnghttp2/all/conanfile.py
Due: lint-recipes, lint-test_package

orc: always add VirtualRunEnv
  recipes/orc/all/conanfile.py
Due: lint-recipes, lint-test_package

hwloc: bump deps
  recipes/hwloc/all/conanfile.py
Due: lint-recipes, lint-test_package

libmetalink: bump deps
  recipes/libmetalink/all/conanfile.py
Due: lint-recipes, lint-test_package

norm: bump deps
  recipes/norm/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21863) tinygltf: add v2.8.19
  recipes/tinygltf/all/conandata.yml
  recipes/tinygltf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Lower required VS to 15
  recipes/restinio/v0.7/conanfile.py
Due: lint-recipes, lint-test_package

gn: try to fix apple-clang test_package
  recipes/gn/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

sdl_mixer: fix license install
  recipes/sdl_mixer/cmake/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
