Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#17479) nss/all/: bump deps
  recipes/nss/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17041) libuvc: add version 0.0.7
  recipes/libuvc/all/conandata.yml
  recipes/libuvc/all/conanfile.py
  recipes/libuvc/all/patches/0.0.7-0001-fix-cci-packagename.patch
  recipes/libuvc/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#17481) xkbcommon/all/: bump deps
  recipes/xkbcommon/all/conanfile.py
Due: lint-recipes, lint-test_package

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16960) readline: update for conan v2
  recipes/readline/all/conanfile.py
  recipes/readline/all/test_package/CMakeLists.txt
  recipes/readline/all/test_package/conanfile.py
  recipes/readline/all/test_v1_package/CMakeLists.txt
  recipes/readline/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16654) seadex-essentials - Conan 2.0 ready
  recipes/seadex-essentials/all/conandata.yml
  recipes/seadex-essentials/all/conanfile.py
  recipes/seadex-essentials/all/test_package/CMakeLists.txt
  recipes/seadex-essentials/all/test_package/conanfile.py
  recipes/seadex-essentials/all/test_package/test_package.cpp
  recipes/seadex-essentials/all/test_v1_package/CMakeLists.txt
  recipes/seadex-essentials/all/test_v1_package/conanfile.py
  recipes/seadex-essentials/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

bump dependencies
  recipes/librdkafka/all/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/librdkafka/all/conanfile.py
Due: lint-recipes, lint-test_package

remove several workaround for issues in conan client
  recipes/librdkafka/all/conanfile.py
Due: lint-recipes, lint-test_package

daw_json_link: add version 3.16.0
  recipes/daw_json_link/all/conandata.yml
  recipes/daw_json_link/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16397) add flatbuffers version 23.3.3
  recipes/flatbuffers/all/conandata.yml
  recipes/flatbuffers/all/conanfile.py
  recipes/flatbuffers/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#17488) daw_json_link: add version 3.16.0
  recipes/daw_json_link/all/conandata.yml
  recipes/daw_json_link/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Version 1.0.0 has been superceded by 1.1.0
  recipes/log4cxx/all/conandata.yml
  recipes/log4cxx/all/conanfile.py
  recipes/log4cxx/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Remove unsed patch files
  recipes/log4cxx/all/patches/0001-pre-cxx17-compilers.patch
  recipes/log4cxx/all/patches/0001-visual-studio-15.patch
  recipes/log4cxx/all/patches/0002-make-odbc-and-esmtp-optional.patch
  recipes/log4cxx/all/patches/0002-visual-studio-15.patch
  recipes/log4cxx/all/patches/0003-find-apr.patch
  recipes/log4cxx/all/patches/0003-visual-studio-15.patch
  recipes/log4cxx/all/patches/0004-gcc5-compiler-error.patch
Due: none

(#17475) Bump eigen in opencv
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

(#16769) libzippp: fix all shared build on Linux for conan v2 + add package_type
  recipes/libzippp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17468) screen_capture_lite: use version range for cmake + few minor improvements
  recipes/screen_capture_lite/all/conanfile.py
  recipes/screen_capture_lite/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#17439) bitserializer: fix conan v2 regression introduced by previous PR & new logic in 0.50
  recipes/bitserializer/all/conanfile.py
  recipes/bitserializer/all/test_package/conanfile.py
  recipes/bitserializer/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

cpr: add version 1.10.2, update libcurl
  recipes/cpr/all/conandata.yml
  recipes/cpr/all/conanfile.py
  recipes/cpr/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

ccache: add version 4.8
  recipes/ccache/all/conandata.yml
  recipes/ccache/all/patches/4.8-cmake-msvc-runtime.patch
  recipes/ccache/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

ccache: simplify conanfile
  recipes/ccache/all/conanfile.py
Due: lint-recipes, lint-test_package

ccache: work around glibc incompatibilities
  recipes/ccache/all/conanfile.py
Due: lint-recipes, lint-test_package

ccache: exclude CCI runner with Clang 11 and libstdc++ from GCC 7
  recipes/ccache/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16583) Conan v2 support for physx
  recipes/physx/4.x.x/CMakeLists.txt
  recipes/physx/4.x.x/conandata.yml
  recipes/physx/4.x.x/conanfile.py
  recipes/physx/4.x.x/test_package/conanfile.py
  recipes/physx/4.x.x/test_v1_package/CMakeLists.txt
  recipes/physx/4.x.x/test_v1_package/conanfile.py
  recipes/physx/4.x.x/test_v1_package/test_library.cpp
  recipes/physx/4.x.x/test_v1_package/test_package.cpp
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix(llvm): liblldb.so xml2 dependency missing
  recipes/llvm/all/conandata.yml
  recipes/llvm/all/conanfile.py
  recipes/llvm/all/patches/13/fix_xml2_library_name.patch
  recipes/llvm/all/patches/14/fix_xml2_library_name.patch
  recipes/llvm/all/patches/15/fix_xml2_library_name.patch
  recipes/llvm/all/patches/16/fix_xml2_library_name.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fast-cdr: Bump version
  recipes/fast-cdr/all/conandata.yml
  recipes/fast-cdr/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

atk: deprecate in favor of at-spi2-core
  recipes/atk/all/conanfile.py
Due: lint-recipes, lint-test_package

at-spi2-atk: deprecate in favor of at-spi2-core
  recipes/at-spi2-atk/all/conanfile.py
Due: lint-recipes, lint-test_package

openblas: Improve recipe plus conan v2
  recipes/openblas/all/CMakeLists.txt
  recipes/openblas/all/conandata.yml
  recipes/openblas/all/conanfile.py
  recipes/openblas/all/patches/0.3.10-0001-Fix-libm-linking-and-fortran-detection.patch
  recipes/openblas/all/patches/0.3.12-0001-Fix-libm-linking-and-fortran-detection.patch
  recipes/openblas/all/patches/0.3.13-0001-Fix-libm-linking-and-fortran-detection.patch
  recipes/openblas/all/patches/0.3.15-0001-Fix-libm-linking-and-fortran-detection.patch
  recipes/openblas/all/patches/0.3.17-0001-Fix-libm-linking-and-fortran-detection.patch
  recipes/openblas/all/patches/0.3.20-0001-Fix-libm-linking-and-fortran-detection.patch
  recipes/openblas/all/patches/0.3.23-0001-Fix-Intel-Fortran-detection-and-flag-change-to-fopen.patch
  recipes/openblas/all/test_package/CMakeLists.txt
  recipes/openblas/all/test_package/conanfile.py
  recipes/openblas/all/test_v1_package/CMakeLists.txt
  recipes/openblas/all/test_v1_package/conanfile.py
  recipes/openblas/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
