Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#14787) lcms: conan v2 support & move to meson build + drop old versions
  recipes/lcms/all/conandata.yml
  recipes/lcms/all/conanfile.py
  recipes/lcms/all/patches/2.13.1-0001-fix-msvc-import-lib.patch
  recipes/lcms/all/test_package/CMakeLists.txt
  recipes/lcms/all/test_package/conanfile.py
  recipes/lcms/all/test_v1_package/CMakeLists.txt
  recipes/lcms/all/test_v1_package/conanfile.py
  recipes/lcms/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#14893) b2: do not allow cross-build & cleanup a little bit
  recipes/b2/portable/conanfile.py
Due: lint-recipes, lint-test_package

(#15010) glu: add empty layout, fix required_conan_version, cleanup bindirs
  recipes/glu/all/conanfile.py
  recipes/glu/all/test_package/CMakeLists.txt
  recipes/glu/all/test_v1_package/CMakeLists.txt
  recipes/glu/all/test_v1_package/conanfile.py
  recipes/glu/all/test_v1_package/test_package.c
Due: lint-recipes, lint-test_package

(#15026) libraw: add version 0.21.1, support conan v2
  recipes/libraw/all/CMakeLists.txt
  recipes/libraw/all/conandata.yml
  recipes/libraw/all/conanfile.py
  recipes/libraw/all/test_package/CMakeLists.txt
  recipes/libraw/all/test_package/conanfile.py
  recipes/libraw/all/test_v1_package/CMakeLists.txt
  recipes/libraw/all/test_v1_package/conanfile.py
  recipes/libraw/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15117) luau: add version 0.558
  recipes/luau/all/conandata.yml
  recipes/luau/all/conanfile.py
  recipes/luau/all/test_v1_package/CMakeLists.txt
  recipes/luau/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15059) hidapi: conan v2 support
  recipes/hidapi/all/conanfile.py
  recipes/hidapi/all/test_package/CMakeLists.txt
  recipes/hidapi/all/test_package/conanfile.py
  recipes/hidapi/all/test_v1_package/CMakeLists.txt
  recipes/hidapi/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#15138) czmq: add version 4.2.1, support conan v2, add options
  recipes/czmq/all/CMakeLists.txt
  recipes/czmq/all/conandata.yml
  recipes/czmq/all/conanfile.py
  recipes/czmq/all/patches/0001-allow-cmake-subproject.patch
  recipes/czmq/all/patches/0002-dont-build-zmakecert.patch
  recipes/czmq/all/patches/0003-fix-cmake-find-package.patch
  recipes/czmq/all/patches/0004-make-czmq-link-using-cxx-compiler.patch
  recipes/czmq/all/patches/4.2.0-0001-fix-cmake.patch
  recipes/czmq/all/patches/4.2.1-0001-fix-cmake.patch
  recipes/czmq/all/patches/4.2.1-0002-fix-zsys_thread-issue.patch
  recipes/czmq/all/test_package/CMakeLists.txt
  recipes/czmq/all/test_package/conanfile.py
  recipes/czmq/all/test_v1_package/CMakeLists.txt
  recipes/czmq/all/test_v1_package/conanfile.py
  recipes/czmq/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15150) opusfile: conan v2 support
  recipes/opusfile/all/conandata.yml
  recipes/opusfile/all/conanfile.py
  recipes/opusfile/all/patches/001-disable-cert-store-integration.patch
  recipes/opusfile/all/test_package/CMakeLists.txt
  recipes/opusfile/all/test_package/conanfile.py
  recipes/opusfile/all/test_v1_package/CMakeLists.txt
  recipes/opusfile/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15184) protobuf: fix shared when cross-building for macos
  recipes/protobuf/all/conanfile.py
  recipes/protobuf/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#15185) [libavif] Bump libyuv version
  recipes/libavif/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15188) zxing-cpp: add version 2.0.0, support conan v2
  recipes/zxing-cpp/all/CMakeLists.txt
  recipes/zxing-cpp/all/conandata.yml
  recipes/zxing-cpp/all/conanfile.py
  recipes/zxing-cpp/all/test_package/CMakeLists.txt
  recipes/zxing-cpp/all/test_package/conanfile.py
  recipes/zxing-cpp/all/test_v1_package/CMakeLists.txt
  recipes/zxing-cpp/all/test_v1_package/conanfile.py
  recipes/zxing-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15225) cpp-httplib: add version 0.11.4, remove older versions
  recipes/cpp-httplib/all/conandata.yml
  recipes/cpp-httplib/all/conanfile.py
  recipes/cpp-httplib/all/test_v1_package/CMakeLists.txt
  recipes/cpp-httplib/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

improve deprecated contrib option handling
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

(#15252) avahi: Make glib a tool_requires for glib-mkenums
  recipes/avahi/all/conanfile.py
Due: lint-recipes, lint-test_package

fix test_v1_package
  recipes/wt/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

libdeflate: add version 1.16
  recipes/libdeflate/all/conandata.yml
  recipes/libdeflate/all/test_package/CMakeLists.txt
  recipes/libdeflate/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

factorize modules in options & default_options
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

Lowercase Windows system library names
  recipes/archicad-apidevkit/all/conanfile.py
Due: lint-recipes, lint-test_package

Clean up the validation logic
  recipes/archicad-apidevkit/all/conanfile.py
Due: lint-recipes, lint-test_package

declare frameworks & system_libs in _opencv_modules
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

typo
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

fix link to qt in cvv module
  recipes/opencv/4.x/patches/4.1.2-0008-link-qt-targets.patch
  recipes/opencv/4.x/patches/4.5.3-0002-link-qt-targets.patch
  recipes/opencv/4.x/patches/4.5.5-0004-link-qt-targets.patch
Due: none

(#13739) CMake Conan 2.0 compatibility
  recipes/cmake/3.x.x/conanfile.py
  recipes/cmake/3.x.x/test_package/conanfile.py
  recipes/cmake/3.x.x/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

add output on jsonschema installation
  recipes/mbedtls/all/conanfile.py
Due: lint-recipes, lint-test_package

add a test of calib3d module
  recipes/opencv/4.x/test_package/CMakeLists.txt
  recipes/opencv/4.x/test_package/conanfile.py
  recipes/opencv/4.x/test_package/test_calib3d.cpp
  recipes/opencv/4.x/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

kplot: add recipe
  recipes/kplot/all/CMakeLists.txt
  recipes/kplot/all/conandata.yml
  recipes/kplot/all/conanfile.py
  recipes/kplot/all/test_package/CMakeLists.txt
  recipes/kplot/all/test_package/conanfile.py
  recipes/kplot/all/test_package/test_package.c
  recipes/kplot/all/test_v1_package/CMakeLists.txt
  recipes/kplot/all/test_v1_package/conanfile.py
  recipes/kplot/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme
