Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

remove support for Qt versions < 6.5.0
  recipes/qt/6.x.x/conanfile.py
  recipes/qt/6.x.x/qtmodules6.3.2.conf
  recipes/qt/6.x.x/qtmodules6.4.2.conf
Due: lint-recipes, lint-test_package

update to 1.10.1 and apply suggestions from code review
  recipes/audiowaveform/all/conandata.yml
  recipes/audiowaveform/all/conanfile.py
  recipes/audiowaveform/all/patches/0001-1.10.1_find_packages.patch
  recipes/audiowaveform/all/patches/0002-1.10.1_remove_flags.patch
  recipes/audiowaveform/all/patches/0003-1.10.1_remove_documentation.patch
  recipes/audiowaveform/all/test_v1_package/conanfile.py
  recipes/audiowaveform/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

luau: add version 0.640
  recipes/luau/all/conandata.yml
  recipes/luau/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

pybind11: add version 2.13.5
  recipes/pybind11/all/conandata.yml
  recipes/pybind11/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

sqlite_orm: add version 1.9
  recipes/sqlite_orm/all/conandata.yml
  recipes/sqlite_orm/all/conanfile.py
  recipes/sqlite_orm/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

nghttp3: add version 1.5.0
  recipes/nghttp3/all/conandata.yml
  recipes/nghttp3/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix typo
  recipes/sqlite_orm/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

lunasvg: add version 2.4.1
  recipes/lunasvg/all/conandata.yml
  recipes/lunasvg/all/patches/2.4.1-0001-fix-cmake.patch
  recipes/lunasvg/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libsvtav1: add version 2.2.1
  recipes/libsvtav1/all/conandata.yml
  recipes/libsvtav1/all/conanfile.py
  recipes/libsvtav1/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

onnxruntime: add version 1.19.0
  recipes/onnxruntime/all/conandata.yml
  recipes/onnxruntime/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

eigen: add version cci. 20240315 (pre 3.4.1)
  recipes/eigen/all/conandata.yml
  recipes/eigen/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

add iphreeqc/3.8.1
  recipes/iphreeqc/all/conandata.yml
  recipes/iphreeqc/all/conanfile.py
  recipes/iphreeqc/all/patches/3.8.1-0001-dont-build-examples-doc-database.patch
  recipes/iphreeqc/all/test_package/CMakeLists.txt
  recipes/iphreeqc/all/test_package/conanfile.py
  recipes/iphreeqc/all/test_package/test_package.c
  recipes/iphreeqc/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add cmake to build requirements
  recipes/iphreeqc/all/conanfile.py
Due: lint-recipes, lint-test_package

add libm to system libs
  recipes/iphreeqc/all/conanfile.py
Due: lint-recipes, lint-test_package

fix libname if not Release build_type
  recipes/iphreeqc/all/conanfile.py
Due: lint-recipes, lint-test_package

drop support gcc 5 on 1.9
  recipes/sqlite_orm/all/conanfile.py
Due: lint-recipes, lint-test_package

daw_header_libraries: add version 2.109.0
  recipes/daw_header_libraries/all/conandata.yml
  recipes/daw_header_libraries/all/test_package/CMakeLists.txt
  recipes/daw_header_libraries/all/test_package/test_package_old.cpp
  recipes/daw_header_libraries/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

ada: add version 2.9.1
  recipes/ada/all/conandata.yml
  recipes/ada/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

mgclient: add version 1.4.3
  recipes/mgclient/all/conandata.yml
  recipes/mgclient/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

remove src dir in install tree for windows
  recipes/iphreeqc/all/conanfile.py
Due: lint-recipes, lint-test_package

update 5.4.15
  recipes/simdutf/all/conandata.yml
  recipes/simdutf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

openmpi: add VirtualRunEnv to fix ./configure
  recipes/openmpi/all/conanfile.py
Due: lint-recipes, lint-test_package

move onnx version lookup back into conanfile.py
  recipes/onnxruntime/all/conandata.yml
  recipes/onnxruntime/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

tracy: add version 0.11.1
  recipes/tracy/all/conandata.yml
  recipes/tracy/all/conanfile.py
  recipes/tracy/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

use daw::array in test_package
  recipes/daw_header_libraries/all/test_package/test_package.cpp
Due: none

make libunwind transitive_lib for shared build
  recipes/tracy/all/conanfile.py
Due: lint-recipes, lint-test_package

apply patch to 1.4.3
  recipes/mgclient/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

drop support gcc 6 and 7 on 1.9
  recipes/sqlite_orm/all/conanfile.py
Due: lint-recipes, lint-test_package

update 2.110.0
  recipes/daw_header_libraries/all/conandata.yml
  recipes/daw_header_libraries/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix wxwidget build error with build_type=RelWithDebInfo in Windows
  recipes/wxwidgets/all/conanfile.py
Due: lint-recipes, lint-test_package

openmesh: add v11.0
  recipes/openmesh/all/conandata.yml
  recipes/openmesh/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update naming scheme for cci version
  recipes/eigen/all/conandata.yml
  recipes/eigen/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update config.yml
  recipes/eigen/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Manage boost_stacktrace_from_exception
  recipes/boost/all/conanfile.py
Due: lint-recipes, lint-test_package

boost_stacktrace_from_exception does not require backtrace
  recipes/boost/all/conanfile.py
  recipes/boost/all/dependencies/dependencies-1.86.0.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

stacktrace_from_exception requires stacktrace
  recipes/boost/all/dependencies/dependencies-1.86.0.yml
Due: lint-yaml-scheme, check-yaml-scheme

remove check_min_cppstd from imports
  recipes/boost/all/conanfile.py
Due: lint-recipes, lint-test_package

stacktrace_from_exception_available depends on stacktrace option
  recipes/boost/all/conanfile.py
Due: lint-recipes, lint-test_package

[cgal] add cgal/6.0-beta1
  recipes/cgal/all/conandata.yml
  recipes/cgal/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
