Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#15478) mgs: add version 0.2.1, support conan v2
  recipes/mgs/all/conandata.yml
  recipes/mgs/all/conanfile.py
  recipes/mgs/all/test_package/CMakeLists.txt
  recipes/mgs/all/test_package/conanfile.py
  recipes/mgs/all/test_package/test_package.cpp
  recipes/mgs/all/test_v1_package/CMakeLists.txt
  recipes/mgs/all/test_v1_package/conanfile.py
  recipes/mgs/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15500) linter workflow: fix linter change test on test_package
  .github/workflows/linter-conan-v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#15506) poco: add transitive_headers trait on OpenSSL dependency
  recipes/poco/all/conanfile.py
Due: lint-recipes, lint-test_package

fpic management
  recipes/linuxdeploy/all/conanfile.py
Due: lint-recipes, lint-test_package

libvpx: add support for msvc17 193
  recipes/libvpx/all/conanfile.py
Due: lint-recipes, lint-test_package

action: pr_changed_files: exclude removed files
  .github/actions/pr_changed_files/action.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#15508) glaze: add version 0.3.5
  recipes/glaze/all/conandata.yml
  recipes/glaze/all/conanfile.py
  recipes/glaze/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15510) c-client: conan v2 support
  recipes/c-client/all/conandata.yml
  recipes/c-client/all/conanfile.py
  recipes/c-client/all/test_package/CMakeLists.txt
  recipes/c-client/all/test_package/conanfile.py
  recipes/c-client/all/test_v1_package/CMakeLists.txt
  recipes/c-client/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15511) ixwebsocket: conan v2 support
  recipes/ixwebsocket/all/CMakeLists.txt
  recipes/ixwebsocket/all/conandata.yml
  recipes/ixwebsocket/all/conanfile.py
  recipes/ixwebsocket/all/test_package/CMakeLists.txt
  recipes/ixwebsocket/all/test_package/conanfile.py
  recipes/ixwebsocket/all/test_package/test_package.cpp
  recipes/ixwebsocket/all/test_v1_package/CMakeLists.txt
  recipes/ixwebsocket/all/test_v1_package/conanfile.py
  recipes/ixwebsocket/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15517) breakpad: conan v2 support
  recipes/breakpad/all/conandata.yml
  recipes/breakpad/all/conanfile.py
  recipes/breakpad/all/test_package/CMakeLists.txt
  recipes/breakpad/all/test_package/conanfile.py
  recipes/breakpad/all/test_v1_package/CMakeLists.txt
  recipes/breakpad/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15519) calceph: conan v2 support
  recipes/calceph/all/conanfile.py
  recipes/calceph/all/test_package/CMakeLists.txt
  recipes/calceph/all/test_package/conanfile.py
  recipes/calceph/all/test_v1_package/CMakeLists.txt
  recipes/calceph/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/grpc-proto/all/conanfile.py
  recipes/grpc-proto/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15520) freexl: conan v2 support
  recipes/freexl/all/conandata.yml
  recipes/freexl/all/conanfile.py
  recipes/freexl/all/test_package/CMakeLists.txt
  recipes/freexl/all/test_package/conanfile.py
  recipes/freexl/all/test_v1_package/CMakeLists.txt
  recipes/freexl/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

no self.info in validate()
  recipes/gdcm/all/conanfile.py
Due: lint-recipes, lint-test_package

use official tarballs
  recipes/gdcm/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

djinni-support-lib: fix yml format
  recipes/djinni-support-lib/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

easylzma: fix yml format
  recipes/easylzma/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

ginkgo: fix yml format
  recipes/ginkgo/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

gst-libav: fix yml format
  recipes/gst-libav/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

gst-plugins-bad: fix yml format
  recipes/gst-plugins-bad/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

gst-plugins-good: fix yml format
  recipes/gst-plugins-good/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

gst-plugins-ugly: fix yml format
  recipes/gst-plugins-ugly/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

chaiscript: fix yml format
  recipes/chaiscript/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

folly: fix yml format
  recipes/folly/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

flatc: fix yml format
  recipes/flatc/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update config.yml
  recipes/flatc/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

date: fix yml format
  recipes/date/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

cubicinterpolation: fix yml format
  recipes/cubicinterpolation/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

cose-c: fix yml format
  recipes/cose-c/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

cn-cbor: fix yml format
  recipes/cn-cbor/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

indicators: fix yml format
  recipes/indicators/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme
