Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

net-snmp: add automake
  recipes/net-snmp/all/conanfile.py
Due: lint-recipes, lint-test_package

net-snmp: add build-scope VirtualRunEnv
  recipes/net-snmp/all/conanfile.py
Due: lint-recipes, lint-test_package

net-snmp: remove missing self.should_configure
  recipes/net-snmp/all/conanfile.py
Due: lint-recipes, lint-test_package

net-snmp: migrate to Conan v2
  recipes/net-snmp/all/conanfile.py
  recipes/net-snmp/all/test_package/CMakeLists.txt
  recipes/net-snmp/all/test_package/test_package.c
  recipes/net-snmp/all/test_v1_package/CMakeLists.txt
  recipes/net-snmp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

net-snmp: fix a patch bug
  recipes/net-snmp/all/patches/0003-fix-perl-scripts-msvc.patch
Due: none

net-snmp: fix test_v1_package
  recipes/net-snmp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

net-snmp: merge changes from #19001
  recipes/net-snmp/all/conanfile.py
Due: lint-recipes, lint-test_package

net-snmp: bump version, use gnu-config
  recipes/net-snmp/all/conandata.yml
  recipes/net-snmp/all/conanfile.py
  recipes/net-snmp/all/patches/0003-fix-perl-scripts-msvc.patch
  recipes/net-snmp/all/patches/0004-fix-apple-arm64-build.patch
  recipes/net-snmp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

net-snmp: add a workaround for "unresolved external symbol"
  recipes/net-snmp/all/conanfile.py
Due: lint-recipes, lint-test_package

openmpi: run autoreconf
  recipes/openmpi/all/conanfile.py
Due: lint-recipes, lint-test_package

openmpi: drop v4.1.0
  recipes/openmpi/all/conandata.yml
  recipes/openmpi/all/conanfile.py
  recipes/openmpi/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

simplify test package
  recipes/grpc/all/test_package/conanfile.py
  recipes/grpc/all/test_package/helloworld.proto
  recipes/grpc/all/test_package/macos_make_override.cmake
  recipes/grpc/all/test_package/test_package.cpp
  recipes/grpc/all/test_v1_package/CMakeLists.txt
  recipes/grpc/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

grpc add new versions
  recipes/grpc/all/conandata.yml
  recipes/grpc/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

wayland: Add version 1.23.0
  recipes/wayland/all/conandata.yml
  recipes/wayland/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Bump pkgconf
  recipes/wayland/all/conanfile.py
Due: lint-recipes, lint-test_package

WIP
  recipes/grpc/all/conanfile.py
  recipes/grpc/all/test_package/CMakeLists.txt
  recipes/grpc/all/test_package/test_package.cpp
  recipes/grpc/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

version ranges
  recipes/grpc/all/conandata.yml
  recipes/grpc/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

grpc: attempt to fix shared build on macOS
  recipes/grpc/all/conanfile.py
Due: lint-recipes, lint-test_package

Use a version range for Meson
  recipes/wayland/all/conanfile.py
Due: lint-recipes, lint-test_package

folly: drop v2022.10.31.00
  recipes/folly/all/conandata.yml
  recipes/folly/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

support msvc
  recipes/glaze/all/conanfile.py
Due: lint-recipes, lint-test_package

folly: update min compiler versions
  recipes/folly/all/conanfile.py
Due: lint-recipes, lint-test_package

nss: downgrade sqlite3
  recipes/nss/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24587) libx264: Fix Android build
  recipes/libx264/all/conandata.yml
  recipes/libx264/all/conanfile.py
  recipes/libx264/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

wip
  recipes/grpc/all/conandata.yml
  recipes/grpc/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

ios-cmake: drop a linter workaround
  recipes/ios-cmake/all/conanfile.py
Due: lint-recipes, lint-test_package

Add comment for old xfixes workaround on CCI
  recipes/pipewire/all/conanfile.py
Due: lint-recipes, lint-test_package

apply patch for older msvc
  recipes/reflect-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Working version for 0.1.2
  recipes/mtfmt/all/conandata.yml
  recipes/mtfmt/all/conanfile.py
  recipes/mtfmt/all/test_package/CMakeLists.txt
  recipes/mtfmt/all/test_package/conanfile.py
  recipes/mtfmt/all/test_package/test_package.c
  recipes/mtfmt/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/pipewire/all/conanfile.py
  recipes/pipewire/all/conanfile.py
Due: lint-recipes, lint-test_package

folly: workaround for CMAKE_PROJECT_folly_INCLUDE
  recipes/folly/all/conanfile.py
Due: lint-recipes, lint-test_package

Format with longer line length
  recipes/pipewire/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24583) libfdk_acc: Do not support building for Android when using NDK
  recipes/libfdk_aac/all/conanfile.py
Due: lint-recipes, lint-test_package

several fixes
  recipes/gst-plugins-base/all/conanfile.py
Due: lint-recipes, lint-test_package

disable -Werror
  recipes/clipper2/all/conandata.yml
  recipes/clipper2/all/patches/1.4.0-0001-disable-warnings.patch
Due: lint-yaml-scheme, check-yaml-scheme

Add missing patch
  recipes/mtfmt/all/conanfile.py
  recipes/mtfmt/all/patches/0.1.2-0001-remove-hardcoded-stds.patch
Due: lint-recipes, lint-test_package

OpenImageIO: Add version 2.5.13.1
  recipes/openimageio/all/conandata.yml
  recipes/openimageio/all/patches/2.5.6.0-cmake-targets.patch
  recipes/openimageio/all/patches/2.5.9.0-cmake-targets.patch
  recipes/openimageio/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

openmpi: Revert "run autoreconf"
  recipes/openmpi/all/conanfile.py
Due: lint-recipes, lint-test_package
