Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

liblzf: fix conandata.yml indentation
  recipes/liblzf/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

liblzf: fix unused imports
  recipes/liblzf/all/conanfile.py
Due: lint-recipes, lint-test_package

Tweak components
  recipes/cyclonedds/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17251) [qt/6.x.x] Fix qt6 formatting issue
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

ada: add version 2.3.2, remove _cmake_new_enough
  recipes/ada/all/conandata.yml
  recipes/ada/all/conanfile.py
  recipes/ada/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Apply suggestions from code review
  recipes/libtommath/cmake/conanfile.py
  recipes/libtommath/cmake/test_package/CMakeLists.txt
  recipes/libtommath/cmake/test_package/conanfile.py
  recipes/libtommath/cmake/test_v1_package/CMakeLists.txt
  recipes/libtommath/cmake/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

update compiler versions
  recipes/samurai/all/conanfile.py
Due: lint-recipes, lint-test_package

several improvements
  recipes/grpc/all/conanfile.py
  recipes/grpc/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#17229) cppbenchmark: add package_type + use version range for cmake
  recipes/cppbenchmark/all/conanfile.py
Due: lint-recipes, lint-test_package

expose abseil libs
  recipes/grpc/all/conanfile.py
Due: lint-recipes, lint-test_package

use version range for openssl
  recipes/duckdb/all/conanfile.py
Due: lint-recipes, lint-test_package

use version range for openssl & bump asio
  recipes/restbed/all/conanfile.py
Due: lint-recipes, lint-test_package

modernize more
  recipes/restbed/all/conanfile.py
  recipes/restbed/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

fix C++17
  recipes/samurai/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17256) trantor: use version range for openssl
  recipes/trantor/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16378) libtiff: add 4.5.0
  recipes/libtiff/all/conandata.yml
  recipes/libtiff/all/conanfile.py
  recipes/libtiff/all/patches/4.5.0-0001-cmake-dependencies.patch
  recipes/libtiff/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#17283) ada: add version 2.3.2, remove _cmake_new_enough
  recipes/ada/all/conandata.yml
  recipes/ada/all/conanfile.py
  recipes/ada/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#17261) libsamplerate: use version range for cmake
  recipes/libsamplerate/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17260) brynet: add package_type + use version range for openssl
  recipes/brynet/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix test for Conan 2.x
  recipes/bgfx/all/conanfile.py
  recipes/bgfx/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#17257) rabbitmq-c: add package_type + use version range for openssl
  recipes/rabbitmq-c/all/conanfile.py
  recipes/rabbitmq-c/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#17235) quazip: fix recipe for conan v2
  recipes/quazip/all/conanfile.py
Due: lint-recipes, lint-test_package

bump dependencies
  recipes/libtiff/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17230) foonathan-lexy: add package_type + use version range for cmake
  recipes/foonathan-lexy/all/conanfile.py
  recipes/foonathan-lexy/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

[parallel-hashmap] Update version to 1.3.11 and conan v2 support
  recipes/parallel-hashmap/all/conandata.yml
  recipes/parallel-hashmap/all/conanfile.py
  recipes/parallel-hashmap/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add GTL Package
  recipes/gtl/all/conandata.yml
  recipes/gtl/all/conanfile.py
  recipes/gtl/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Revert "Add GTL Package"
  recipes/gtl/all/conandata.yml
  recipes/gtl/all/conanfile.py
  recipes/gtl/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

[gtl] add new package.
  recipes/gtl/all/conandata.yml
  recipes/gtl/all/conanfile.py
  recipes/gtl/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#17222) boost: bump deps
  recipes/boost/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
