Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#21094) imake/all: bump deps
  recipes/imake/all/conandata.yml
  recipes/imake/all/conanfile.py
  recipes/imake/all/test_package/conanfile.py
  recipes/imake/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20899) vulkan-loader: add 1.3.250.0 and 1.3.268.0 + remove old versions + don't allow to build static for Apple anymore
  recipes/vulkan-loader/all/conandata.yml
  recipes/vulkan-loader/all/conanfile.py
  recipes/vulkan-loader/all/patches/1.3.236.0-0001-cmake-minimum-required-3.10.patch
  recipes/vulkan-loader/all/patches/1.3.268.0-0001-fix-apple-arm.patch
  recipes/vulkan-loader/all/test_package/CMakeLists.txt
  recipes/vulkan-loader/all/test_v1_package/CMakeLists.txt
  recipes/vulkan-loader/all/test_v1_package/conanfile.py
  recipes/vulkan-loader/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21096) very-simple-smtps/all: bump deps
  recipes/very-simple-smtps/all/conanfile.py
  recipes/very-simple-smtps/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#21060) libavif >= 0.11.0: add libwebp to requirements in order to get sharpyuv and therefore ensure reproducible build
  recipes/libavif/all/conanfile.py
Due: lint-recipes, lint-test_package

fast-dds: add version 2.12.0
  recipes/fast-dds/all/conandata.yml
  recipes/fast-dds/all/conanfile.py
  recipes/fast-dds/all/patches/2.12.0-0001-fix-find-asio-and-tinyxml2.patch
  recipes/fast-dds/all/test_package/CMakeLists.txt
  recipes/fast-dds/all/test_package/msg/v1/HelloWorld.cxx
  recipes/fast-dds/all/test_package/msg/v1/HelloWorld.h
  recipes/fast-dds/all/test_package/msg/v1/HelloWorldPubSubTypes.cxx
  recipes/fast-dds/all/test_package/msg/v1/HelloWorldPubSubTypes.h
  recipes/fast-dds/all/test_package/msg/v2/HelloWorld.cxx
  recipes/fast-dds/all/test_package/msg/v2/HelloWorld.h
  recipes/fast-dds/all/test_package/msg/v2/HelloWorldCdrAux.hpp
  recipes/fast-dds/all/test_package/msg/v2/HelloWorldCdrAux.ipp
  recipes/fast-dds/all/test_package/msg/v2/HelloWorldPubSubTypes.cxx
  recipes/fast-dds/all/test_package/msg/v2/HelloWorldPubSubTypes.h
  recipes/fast-dds/all/test_package/test_package.cpp
  recipes/fast-dds/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Raise minimum gcc version to 10 (according to doc it is 11, but it nevertheless builds with 10)
  recipes/fast-dds/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19238) ftjam: migrate to Conan v2
  recipes/ftjam/all/conandata.yml
  recipes/ftjam/all/conanfile.py
  recipes/ftjam/all/test_package/conanfile.py
  recipes/ftjam/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix: dfp: Move sources from the 'native' sub-folder to the top level.
  recipes/dfp/all/conandata.yml
  recipes/dfp/all/conanfile.py
  recipes/dfp/all/patches/1.0.2-0001-Add-Cxx-Headers.patch
  recipes/dfp/all/test_package/CMakeLists.txt
  recipes/dfp/all/test_package/conanfile.py
  recipes/dfp/all/test_package/src/demo.cpp
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

coin-osi: bump deps
  recipes/coin-osi/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

sdbus-cpp: bump deps
  recipes/sdbus-cpp/all/test_v1_pkgconf/conanfile.py
Due: lint-recipes, lint-test_package

(#21099) elfutils: bump deps
  recipes/elfutils/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21101) cpr: update libcurl/8.4.0
  recipes/cpr/all/conanfile.py
Due: lint-recipes, lint-test_package

xorg-cf-files/all: bump deps
  recipes/xorg-cf-files/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#18792) tgbot: migrate to Conan v2
  recipes/tgbot/all/CMakeLists.txt
  recipes/tgbot/all/conandata.yml
  recipes/tgbot/all/conanfile.py
  recipes/tgbot/all/test_package/CMakeLists.txt
  recipes/tgbot/all/test_package/conanfile.py
  recipes/tgbot/all/test_v1_package/CMakeLists.txt
  recipes/tgbot/all/test_v1_package/conanfile.py
  recipes/tgbot/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21104) minizip-ng: add version 4.0.3
  recipes/minizip-ng/all/conandata.yml
  recipes/minizip-ng/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Incorporate review suggestions
  recipes/liburing/all/conanfile.py
Due: lint-recipes, lint-test_package

Revert "Remove tinyalsa 1.1.1"
  recipes/tinyalsa/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Revert "Set src_folder"
  recipes/tinyalsa/all/conanfile.py
Due: lint-recipes, lint-test_package

Revert "Remove 1.1.1, use CMake to build"
  recipes/tinyalsa/all/conandata.yml
  recipes/tinyalsa/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/fftw/all/conanfile.py
  recipes/fftw/all/conanfile.py
Due: lint-recipes, lint-test_package

fix: dfp: Add Conan 1.6 test_v1_package
  recipes/dfp/all/conanfile.py
  recipes/dfp/all/test_package/CMakeLists.txt
  recipes/dfp/all/test_package/conanfile.py
  recipes/dfp/all/test_v1_package/CMakeLists.txt
  recipes/dfp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#21105) md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Use transitive headers
  recipes/cyclonedds-cxx/all/conanfile.py
  recipes/cyclonedds-cxx/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

Update src folder
  recipes/cyclonedds-cxx/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21108) fast_float: add version 5.3.0
  recipes/fast_float/all/conandata.yml
  recipes/fast_float/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix: dfp: Switch from ZIP to TAR.GZ
  recipes/dfp/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Set minimum conan version to >=1.61.0
  recipes/cyclonedds-cxx/all/conanfile.py
Due: lint-recipes, lint-test_package

pdfium: migrate to Conan v2
  recipes/pdfium/all/CMakeLists.txt
  recipes/pdfium/all/conandata.yml
  recipes/pdfium/all/conanfile.py
  recipes/pdfium/all/test_package/CMakeLists.txt
  recipes/pdfium/all/test_package/conanfile.py
  recipes/pdfium/all/test_v1_package/CMakeLists.txt
  recipes/pdfium/all/test_v1_package/conanfile.py
  recipes/pdfium/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

- Added debug_sanitizer option to recipe - Removed linker option -fsanitize=address from test_packes
  recipes/open62541/all/conanfile.py
  recipes/open62541/all/test_package/CMakeLists.txt
  recipes/open62541/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package
