Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

Remove unnecessary comment
  recipes/mesa/all/conanfile.py
Due: lint-recipes, lint-test_package

Add provides for gl header packages and fix Windows gl headers deps
  recipes/mesa/all/conanfile.py
Due: lint-recipes, lint-test_package

Test OpenGL and enable EGL test on Windows
  recipes/mesa/all/test_package/conanfile.py
  recipes/mesa/all/test_package/meson.build
  recipes/mesa/all/test_package/meson_options.txt
  recipes/mesa/all/test_package/test_package.c
Due: lint-recipes, lint-test_package

libjxl: bump to v0.10.2
  recipes/libjxl/all/conandata.yml
  recipes/libjxl/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update recipes/openssh/all/conanfile.py
  recipes/openssh/all/conanfile.py
Due: lint-recipes, lint-test_package

libjxl: bump deps
  recipes/libjxl/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove GL test case
  recipes/mesa/all/test_package/conanfile.py
  recipes/mesa/all/test_package/meson.build
  recipes/mesa/all/test_package/meson_options.txt
  recipes/mesa/all/test_package/test_package.c
Due: lint-recipes, lint-test_package

Disable pulling in opengl/system from libva when not using libglvnd
  recipes/mesa/all/conanfile.py
Due: lint-recipes, lint-test_package

Review comments
  recipes/libassert/all/conandata.yml
  recipes/libassert/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Fix Windows test package
  recipes/mesa/all/test_package/conanfile.py
  recipes/mesa/all/test_package/meson.build
Due: lint-recipes, lint-test_package

Remove egl-headers as a direct dependency
  recipes/mesa/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22920) dbus: Bump expat and glib dependencies to minimize conflicts
  recipes/dbus/1.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Fix using cpython in Conan V1
  recipes/mesa/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22926) liblzf: avoid WINDOWS_EXPORT_ALL_SYMBOLS
  recipes/liblzf/all/CMakeLists.txt
  recipes/liblzf/all/conanfile.py
  recipes/liblzf/all/liblzf.def
Due: lint-recipes, lint-test_package

octomap: add version 1.10.0
  recipes/octomap/all/conandata.yml
  recipes/octomap/all/patches/1.10.0-0001-separate-static-shared-build.patch
  recipes/octomap/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#23175) nvcloth: migrate to Conan v2
  recipes/nvcloth/1.1.6/CMakeLists.txt
  recipes/nvcloth/1.1.6/conandata.yml
  recipes/nvcloth/1.1.6/conanfile.py
  recipes/nvcloth/1.1.6/test_package/CMakeLists.txt
  recipes/nvcloth/1.1.6/test_package/conanfile.py
  recipes/nvcloth/1.1.6/test_v1_package/CMakeLists.txt
  recipes/nvcloth/1.1.6/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21971) jom: add v1.1.4
  recipes/jom/all/conandata.yml
  recipes/jom/all/conanfile.py
  recipes/jom/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#23211) glaze: add version 2.3.2
  recipes/glaze/all/conandata.yml
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libcvd: new recipe
  recipes/libcvd/all/conandata.yml
  recipes/libcvd/all/conanfile.py
  recipes/libcvd/all/patches/001-fix-missing-header-install.patch
  recipes/libcvd/all/test_package/CMakeLists.txt
  recipes/libcvd/all/test_package/conanfile.py
  recipes/libcvd/all/test_package/test_package.cpp
  recipes/libcvd/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#23212) wasmer: add version 4.2.7
  recipes/wasmer/all/conandata.yml
  recipes/wasmer/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libjxl: disable MSVC shared build for v0.6.1
  recipes/libjxl/all/conanfile.py
Due: lint-recipes, lint-test_package

Set missing TARGET variable
  recipes/openblas/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20999) fix(openssl): remove renaming of debug files within the recipe
  recipes/openssl/1.x.x/conanfile.py
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

bump libtiff dependencies
  recipes/libtiff/all/conanfile.py
Due: lint-recipes, lint-test_package

bump sdl_image dependencies
  recipes/sdl_image/all/conanfile.py
Due: lint-recipes, lint-test_package

getdns: set CMAKE_TRY_COMPILE_CONFIGURATION
  recipes/getdns/all/CMakeLists.txt
  recipes/getdns/all/conanfile.py
Due: lint-recipes, lint-test_package

getdns: check that OpenSSL configuration has not failed
  recipes/getdns/all/CMakeLists.txt
Due: none

getdns: temporarily disable libidn2
  recipes/getdns/all/conanfile.py
Due: lint-recipes, lint-test_package

getdns: fix Windows build
  recipes/getdns/all/conanfile.py
Due: lint-recipes, lint-test_package

getdns: disable libidn2 for now
  recipes/getdns/all/conanfile.py
Due: lint-recipes, lint-test_package

getdns: bump deps
  recipes/getdns/all/conanfile.py
Due: lint-recipes, lint-test_package

getdns: migrate to Conan v2
  recipes/getdns/all/CMakeLists.txt
  recipes/getdns/all/conandata.yml
  recipes/getdns/all/conanfile.py
  recipes/getdns/all/test_package/CMakeLists.txt
  recipes/getdns/all/test_package/conanfile.py
  recipes/getdns/all/test_v1_package/CMakeLists.txt
  recipes/getdns/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

getdns: bump to 1.7.3, finish migration
  recipes/getdns/all/CMakeLists.txt
  recipes/getdns/all/conandata.yml
  recipes/getdns/all/conanfile.py
  recipes/getdns/all/patches/1.6.0-0001-install-runtimes.patch
  recipes/getdns/all/patches/1.6.0-0003-let-find-modules-use-pkgconfig.patch
  recipes/getdns/all/patches/1.6.0-0004-dont-install-symlinked-license.patch
  recipes/getdns/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme
