Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#15885) inih: modernize more for conan v2
  recipes/inih/all/conanfile.py
  recipes/inih/all/test_package/conanfile.py
  recipes/inih/all/test_v1_package/CMakeLists.txt
  recipes/inih/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#15887) libccd: modernize more for conan v2
  recipes/libccd/all/conanfile.py
  recipes/libccd/all/test_package/conanfile.py
  recipes/libccd/all/test_v1_package/CMakeLists.txt
  recipes/libccd/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

gettext: cleanup
  recipes/gettext/all/conandata.yml
  recipes/gettext/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

gettext: add relocatability patch
  recipes/gettext/all/patches/0004-autopoint-relocatable.patch
Due: none

im95able-rea: add recipe
  recipes/im95able-rea/all/conandata.yml
  recipes/im95able-rea/all/conanfile.py
  recipes/im95able-rea/all/patches/0001-include-limits.patch
  recipes/im95able-rea/all/test_package/CMakeLists.txt
  recipes/im95able-rea/all/test_package/conanfile.py
  recipes/im95able-rea/all/test_package/test_package.cpp
  recipes/im95able-rea/all/test_v1_package/CMakeLists.txt
  recipes/im95able-rea/all/test_v1_package/conanfile.py
  recipes/im95able-rea/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15901) minitrace: modernize more for conan v2
  recipes/minitrace/all/conanfile.py
  recipes/minitrace/all/test_package/conanfile.py
  recipes/minitrace/all/test_v1_package/CMakeLists.txt
  recipes/minitrace/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

gettext: 0.20.1 still doesn't build with msvc
  recipes/gettext/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15908) freetype: add 2.13.0 + modernize more for conan v2
  recipes/freetype/all/conandata.yml
  recipes/freetype/all/conanfile.py
  recipes/freetype/all/patches/2.13.0-0001-fix-fallthrough.patch
  recipes/freetype/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15947) graphene: relocatable shared lib on macOS + modernize more for conan v2
  recipes/graphene/all/conandata.yml
  recipes/graphene/all/conanfile.py
  recipes/graphene/all/test_v1_package/CMakeLists.txt
  recipes/graphene/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

modernize more
  recipes/libselinux/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15980) [bot] Update authorized users list (2023-02-13)
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add minisat library
  recipes/minisat/all/conandata.yml
  recipes/minisat/all/conanfile.py
  recipes/minisat/all/test_package/CMakeLists.txt
  recipes/minisat/all/test_package/conanfile.py
  recipes/minisat/all/test_package/main.cpp
  recipes/minisat/all/test_v1_package/CMakeLists.txt
  recipes/minisat/all/test_v1_package/conanfile.py
  recipes/minisat/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

modernize more
  recipes/wayland/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15982) ade: modernize more for conan v2
  recipes/ade/all/conanfile.py
  recipes/ade/all/test_package/conanfile.py
  recipes/ade/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

fix indentation
  recipes/wayland/all/conanfile.py
Due: lint-recipes, lint-test_package

modernize more
  recipes/kmod/all/conanfile.py
Due: lint-recipes, lint-test_package

use official tarballs
  recipes/kmod/all/conandata.yml
  recipes/kmod/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

apply @jcar87 suggestions
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

modernize more
  recipes/g3log/all/conandata.yml
  recipes/g3log/all/conanfile.py
  recipes/g3log/all/patches/0001-remove-explicit-stdlib-setting.patch
  recipes/g3log/all/patches/1.3.2-0001-remove-explicit-stdlib-setting.patch
  recipes/g3log/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15376) [rtmidi] conan v2 migration
  recipes/rtmidi/all/CMakeLists.txt
  recipes/rtmidi/all/conandata.yml
  recipes/rtmidi/all/conanfile.py
  recipes/rtmidi/all/test_package/CMakeLists.txt
  recipes/rtmidi/all/test_package/conanfile.py
  recipes/rtmidi/all/test_v1_package/CMakeLists.txt
  recipes/rtmidi/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

modernize more
  recipes/rtmidi/all/conanfile.py
Due: lint-recipes, lint-test_package

Migrate RapidFuzz to conan 2.0 and add 1.10.4 version
  recipes/rapidfuzz/all/conandata.yml
  recipes/rapidfuzz/all/conanfile.py
  recipes/rapidfuzz/all/test_package/CMakeLists.txt
  recipes/rapidfuzz/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15984) asmjit: modernize more for conan v2
  recipes/asmjit/all/conanfile.py
  recipes/asmjit/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

fix link to libalsa
  recipes/rtmidi/all/conanfile.py
Due: lint-recipes, lint-test_package

fix frameworks for other Apple OS
  recipes/rtmidi/all/conanfile.py
Due: lint-recipes, lint-test_package

bump libalsa
  recipes/rtmidi/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15987) pulseaudio: Fix double delete and modernize test_package
  recipes/pulseaudio/all/conanfile.py
  recipes/pulseaudio/all/test_package/conanfile.py
  recipes/pulseaudio/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

Fix PR errors
  recipes/rapidfuzz/all/conandata.yml
  recipes/rapidfuzz/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15993) glib 2.75.3
  recipes/glib/all/conandata.yml
  recipes/glib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
