Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

Mordenize OpenColorIO for Conan v2
  recipes/opencolorio/all/CMakeLists.txt
  recipes/opencolorio/all/conandata.yml
  recipes/opencolorio/all/conanfile.py
  recipes/opencolorio/all/test_package/conanfile.py
  recipes/opencolorio/all/test_v1_package/CMakeLists.txt
  recipes/opencolorio/all/test_v1_package/conanfile.py
  recipes/opencolorio/all/test_v1_package/test_package.cpp
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#xxxxx) protobuf: Bump to 3.22.0
  recipes/protobuf/all/conandata.yml
  recipes/protobuf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

protobuf: abseil dependency is a must from 3.22
  recipes/protobuf/all/conanfile.py
Due: lint-recipes, lint-test_package

protobuf: Fix packaging
  recipes/protobuf/all/conanfile.py
Due: lint-recipes, lint-test_package

spdlog: add version 1.9.1
  recipes/spdlog/all/conandata.yml
  recipes/spdlog/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix(llvm): test_package v1 lib not found
  recipes/llvm/all/conanfile.py
  recipes/llvm/all/test_v1_package/CMakeLists.txt
  recipes/llvm/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

clean(llvm): unused import / format
  recipes/llvm/all/conanfile.py
Due: lint-recipes, lint-test_package

fix(llvm): v1 conan source ... not working
  recipes/llvm/all/conanfile.py
Due: lint-recipes, lint-test_package

protobuf: Link against utf8_validity if present
  recipes/protobuf/all/conanfile.py
  recipes/protobuf/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

protobuf: Fix test package cxx standard
  recipes/protobuf/all/test_package/CMakeLists.txt
Due: none

protobuf: Bump to 3.23.1
  recipes/protobuf/all/conandata.yml
  recipes/protobuf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Removed unused properties
  recipes/openimageio/all/CMakeLists.txt
  recipes/openimageio/all/conanfile.py
Due: lint-recipes, lint-test_package

build abseil shared only on msvc
  recipes/protobuf/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17621) valijson: bump version 1.0.1
  recipes/valijson/all/conandata.yml
  recipes/valijson/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update chaiscript to Conan v2
  recipes/chaiscript/all/CMakeLists.txt
  recipes/chaiscript/all/conanfile.py
  recipes/chaiscript/all/test_package/CMakeLists.txt
  recipes/chaiscript/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

libcurl: add version 8.1.1, update dependencies
  recipes/libcurl/all/conandata.yml
  recipes/libcurl/all/conanfile.py
  recipes/libcurl/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

remove safe fPIC
  recipes/chaiscript/all/conanfile.py
Due: lint-recipes, lint-test_package

get safe options
  recipes/chaiscript/all/conanfile.py
Due: lint-recipes, lint-test_package

clean(llvm): libxml2 patches not needed
  recipes/llvm/all/conandata.yml
  recipes/llvm/all/patches/13/fix_xml2_library_name.patch
  recipes/llvm/all/patches/14/fix_xml2_library_name.patch
  recipes/llvm/all/patches/15/fix_xml2_library_name.patch
  recipes/llvm/all/patches/16/fix_xml2_library_name.patch
Due: lint-yaml-scheme, check-yaml-scheme

fix license copying
  recipes/chaiscript/all/conanfile.py
Due: lint-recipes, lint-test_package

safe remove settings
  recipes/tz/all/conanfile.py
Due: lint-recipes, lint-test_package

magic_enum: add version 0.9.0, minor improvements
  recipes/magic_enum/all/conandata.yml
  recipes/magic_enum/all/conanfile.py
  recipes/magic_enum/all/test_v1_package/CMakeLists.txt
  recipes/magic_enum/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

skip old compiler
  recipes/chaiscript/all/conanfile.py
Due: lint-recipes, lint-test_package

protobuf: Bump >22.0 from v3. to v4.
  recipes/protobuf/all/conandata.yml
  recipes/protobuf/all/conanfile.py
  recipes/protobuf/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

try to support conan v1
  recipes/opentelemetry-proto/all/conanfile.py
  recipes/opentelemetry-proto/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Fix fmt test_package for C++20
  recipes/fmt/all/test_package/test_package.cpp
Due: none

Fix mixed arch validation step
  recipes/arm-gnu-toolchain/all/conanfile.py
Due: lint-recipes, lint-test_package

Fixed configuration and files copy
  recipes/openimageio/all/conanfile.py
Due: lint-recipes, lint-test_package

protobuf: Respect C++ standard and compiler versions
  recipes/protobuf/all/conanfile.py
Due: lint-recipes, lint-test_package

fix import
  recipes/chaiscript/all/conanfile.py
Due: lint-recipes, lint-test_package

fix settings deletion
  recipes/tz/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16696) naive-tsearch: support conan v2
  recipes/naive-tsearch/all/CMakeLists.txt
  recipes/naive-tsearch/all/conandata.yml
  recipes/naive-tsearch/all/conanfile.py
  recipes/naive-tsearch/all/test_package/CMakeLists.txt
  recipes/naive-tsearch/all/test_package/conanfile.py
  recipes/naive-tsearch/all/test_v1_package/CMakeLists.txt
  recipes/naive-tsearch/all/test_v1_package/conanfile.py
  recipes/naive-tsearch/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Remove exception for testing
  recipes/arm-gnu-toolchain/all/conanfile.py
Due: lint-recipes, lint-test_package

add pthread to header-only
  recipes/chaiscript/all/conanfile.py
Due: lint-recipes, lint-test_package

Conan v2 fixes for Linux
  recipes/jemalloc/all/conanfile.py
  recipes/jemalloc/all/test_package/CMakeLists.txt
  recipes/jemalloc/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Remove attribute check from validate
  recipes/arm-gnu-toolchain/all/conanfile.py
Due: lint-recipes, lint-test_package

ci: v2 test_package is also used with v1
  recipes/llvm/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package
