Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

link math lib
  recipes/mmeter/all/conanfile.py
Due: lint-recipes, lint-test_package

update 1.11.0
  recipes/reduct-cpp/all/conandata.yml
  recipes/reduct-cpp/all/conanfile.py
  recipes/reduct-cpp/all/patches/1.11.0-0001-use-cci.patch
  recipes/reduct-cpp/all/patches/1.11.0-0002-disable-fpic.patch
  recipes/reduct-cpp/all/patches/1.11.0-0003-remove-fmt-headeronly.patch
  recipes/reduct-cpp/all/patches/1.11.0-0004-include-compare.patch
  recipes/reduct-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Apply suggestions from code review
  recipes/libmeshb/all/conandata.yml
  recipes/libmeshb/all/conanfile.py
  recipes/libmeshb/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Apply suggestions from code review
  recipes/libmeshb/all/conanfile.py
Due: lint-recipes, lint-test_package

Typo
  recipes/llvm-core/all/conanfile.py
Due: lint-recipes, lint-test_package

Add support for fmt-11
  recipes/folly/all/conandata.yml
  recipes/folly/all/conanfile.py
  recipes/folly/all/patches/0001-support-fmt11.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Try to fix gflags check in msvc
  recipes/folly/all/conanfile.py
Due: lint-recipes, lint-test_package

improve test
  recipes/mysql-connector-cpp/all/test_package/test_package.cpp
Due: none

Update recipes/libmeshb/all/conanfile.py
  recipes/libmeshb/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24987) meson: use version range for ninja
  recipes/meson/all/conanfile.py
Due: lint-recipes, lint-test_package

[openapi-generator] Add 0.7.8
  recipes/openapi-generator/all/conandata.yml
  recipes/openapi-generator/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24986) ninja: prevent locating and using re2c executable during build
  recipes/ninja/all/conanfile.py
Due: lint-recipes, lint-test_package

libalsa: add version 1.2.12
  recipes/libalsa/all/conandata.yml
  recipes/libalsa/all/conanfile.py
  recipes/libalsa/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Drop libaio dependency
  recipes/folly/all/conan_deps.cmake
  recipes/folly/all/conanfile.py
Due: lint-recipes, lint-test_package

Simplify cpp flag for windows
  recipes/folly/all/conanfile.py
Due: lint-recipes, lint-test_package

Avoid generating .pc file
  recipes/folly/all/conanfile.py
Due: lint-recipes, lint-test_package

Avoid using fmt-11 patch
  recipes/folly/all/conandata.yml
  recipes/folly/all/conanfile.py
  recipes/folly/all/patches/0001-support-fmt11.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#24990) libalsa: add version 1.2.12
  recipes/libalsa/all/conandata.yml
  recipes/libalsa/all/conanfile.py
  recipes/libalsa/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Added minimum check in test_package. Removed useless copy and f-string
  recipes/qt/6.x.x/conanfile.py
  recipes/qt/6.x.x/test_package/CMakeLists.txt
  recipes/qt/6.x.x/test_package/conanfile.py
  recipes/qt/6.x.x/test_package/test_macos_bundle.cpp
Due: lint-recipes, lint-test_package

try openssl transitive_libs false
  recipes/mysql-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Revert "Avoid using fmt-11 patch"
  recipes/folly/all/conandata.yml
  recipes/folly/all/conanfile.py
  recipes/folly/all/patches/0001-support-fmt11.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

remove variables that match the default
  recipes/onnxruntime/all/conanfile.py
Due: lint-recipes, lint-test_package

update 2.1.2
  recipes/wasm-micro-runtime/all/conandata.yml
  recipes/wasm-micro-runtime/all/patches/2.1.2-0001-fix-cmake.patch
  recipes/wasm-micro-runtime/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Re-add needed explicit static-shared flags
  recipes/mysql-concpp/all/conanfile.py
Due: lint-recipes, lint-test_package

sqlcipher: add version 4.6.1
  recipes/sqlcipher/all/conandata.yml
  recipes/sqlcipher/all/patches/Makefile.in-v4.6.1.patch
  recipes/sqlcipher/all/patches/Makefile.msc-v4.6.1.patch
  recipes/sqlcipher/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

revert 4.6.0
  recipes/sqlcipher/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

set C++ STD by self._min_cppstd
  recipes/mmeter/all/CMakeLists.txt
  recipes/mmeter/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24525) [aws-sdk-cpp] Fix compil with option s3-crt=True
  recipes/aws-sdk-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

[openvino] enable debug build
  recipes/openvino/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18842) azure-storage-cpp: migrate to Conan v2
  recipes/azure-storage-cpp/all/CMakeLists.txt
  recipes/azure-storage-cpp/all/conandata.yml
  recipes/azure-storage-cpp/all/conanfile.py
  recipes/azure-storage-cpp/all/patches/0001-cmake-fixes.patch
  recipes/azure-storage-cpp/all/patches/fix-cpp17-incompatibility.patch
  recipes/azure-storage-cpp/all/test_package/CMakeLists.txt
  recipes/azure-storage-cpp/all/test_package/conanfile.py
  recipes/azure-storage-cpp/all/test_v1_package/CMakeLists.txt
  recipes/azure-storage-cpp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add patches for new version
  recipes/aws-sdk-cpp/all/conandata.yml
  recipes/aws-sdk-cpp/all/patches/1.11.352-0001-pulseaudio.patch
  recipes/aws-sdk-cpp/all/patches/1.11.352-0002-disable-sort-links.patch
Due: lint-yaml-scheme, check-yaml-scheme

Fix missing patch
  recipes/aws-sdk-cpp/all/patches/1.11.352-0002-disable-sort-links.patch
Due: none

libfabric: fix a minor recipe bug
  recipes/libfabric/all/conanfile.py
Due: lint-recipes, lint-test_package

newline at eol
  recipes/aws-crt-cpp/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
