Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

Find acl
  recipes/iceoryx/all/CMakeLists.txt
Due: none

Avoid modifying cmakelists
  recipes/iceoryx/all/CMakeLists.txt
  recipes/iceoryx/all/conanfile.py
Due: lint-recipes, lint-test_package

Only use latest major releases
  recipes/iceoryx/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

openssl: use "res" folder for ssldirs config files
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

openssl: add support for `install_ssldirs` and/or `install_fips`
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

add patch description
  recipes/gdal/post_3.5.0/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

lexbor: add version 2.3.0
  recipes/lexbor/all/conandata.yml
  recipes/lexbor/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

simdutf: add version 3.2.17
  recipes/simdutf/all/conandata.yml
  recipes/simdutf/all/patches/3.2.17-0001-fix-cmake.patch
  recipes/simdutf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Remove unused import from test package
  recipes/rsync/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

don't bump libgettext
  recipes/glib/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19376) lexbor: add version 2.3.0
  recipes/lexbor/all/conandata.yml
  recipes/lexbor/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19351) boost: make sure libdirs is empty with header-only=True and used via `boost::boost` target
  recipes/boost/all/conanfile.py
Due: lint-recipes, lint-test_package

fix nasm include folders
  recipes/intel-ipsec-mb/all/conanfile.py
Due: lint-recipes, lint-test_package

add package info
  recipes/ethash/all/conanfile.py
Due: lint-recipes, lint-test_package

[fix] Arrow: Make it conan v2 comaptible, refactor auto options and add 12.0.1
  recipes/arrow/all/conanfile.py
Due: lint-recipes, lint-test_package

remove prints
  recipes/arrow/all/conanfile.py
Due: lint-recipes, lint-test_package

fix
  recipes/ethash/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19375) [bot] Update list of references (prod-v2/ListPackages)
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

Fix nasm path
  recipes/intel-ipsec-mb/all/conanfile.py
Due: lint-recipes, lint-test_package

remove unused import
  recipes/intel-ipsec-mb/all/conanfile.py
Due: lint-recipes, lint-test_package

call patch sources
  recipes/intel-ipsec-mb/all/conanfile.py
Due: lint-recipes, lint-test_package

md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

print meson log in case of failure
  recipes/glib/all/conanfile.py
Due: lint-recipes, lint-test_package

glib/all: bump deps
  recipes/glib/all/conanfile.py
Due: lint-recipes, lint-test_package

glib/all: bump deps
  recipes/glib/all/conanfile.py
  recipes/glib/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

fix libintl discovery
  recipes/glib/all/conandata.yml
  recipes/glib/all/patches/libintl-discovery.patch
Due: lint-yaml-scheme, check-yaml-scheme

remove outdated versions
  recipes/glib/all/conandata.yml
  recipes/glib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix 2.75.3 patch
  recipes/glib/all/conandata.yml
  recipes/glib/all/patches/libintl-discovery-2.75.3.patch
Due: lint-yaml-scheme, check-yaml-scheme

remove more outdated versions
  recipes/glib/all/conandata.yml
  recipes/glib/all/conanfile.py
  recipes/glib/all/patches/0001-2.73.3-clang-static-assert.patch
  recipes/glib/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fixup conandata.yml
  recipes/glib/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

opencl-clhpp-headers: align versions with opencl-headers
  recipes/opencl-clhpp-headers/all/conandata.yml
  recipes/opencl-clhpp-headers/all/test_package/CMakeLists.txt
  recipes/opencl-clhpp-headers/all/test_package/test_package.cpp
  recipes/opencl-clhpp-headers/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

export nasm variables
  recipes/nasm/all/conanfile.py
Due: lint-recipes, lint-test_package
