Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

Port conan specific patch and fix abseil linkage
  recipes/grpc/all/conandata.yml
  recipes/grpc/all/conanfile.py
  recipes/grpc/all/patches/v1.54.x/001-consume-protos-from-requirements.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#17525) Enabled source copy on PhysX library to fix local patch application
  recipes/physx/4.x.x/conanfile.py
Due: lint-recipes, lint-test_package

[grpc-proto] relax dependency on googleapis
  recipes/grpc-proto/all/conanfile.py
Due: lint-recipes, lint-test_package

fixes
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix qt pkg-config generation for meson
  recipes/qt/5.x.x/conanfile.py
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

gstreamer: fix removal of pdb files on Windows/msvc
  recipes/gstreamer/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/gstreamer/all/conanfile.py
  recipes/gstreamer/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/mdnsresponder/all/conanfile.py
  recipes/mdnsresponder/all/conanfile.py
Due: lint-recipes, lint-test_package

Add MSBuildToolchain and VCVars, fix msbuild missing error
  recipes/mdnsresponder/all/conanfile.py
Due: lint-recipes, lint-test_package

simplify
  recipes/tz/all/conandata.yml
  recipes/tz/all/conanfile.py
  recipes/tz/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16782) apr: allow recipes which support cross_building to consume exising apr binaries
  recipes/apr/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/mysql-connector-cpp/all/conanfile.py
  recipes/mysql-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

apply suggestions
  recipes/mysql-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

apply suggestions
  recipes/mysql-connector-cpp/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

update sqlite3 to version 3.42.0
  recipes/sqlite3/all/conandata.yml
  recipes/sqlite3/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update version in config.yml
  recipes/tz/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#17323) [APR] Upgrade to 1.7.4
  recipes/apr/all/conandata.yml
  recipes/apr/all/patches/0401-cmake-build-only-shared-static.patch
  recipes/apr/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update recipes/vsg/all/conanfile.py
  recipes/vsg/all/conanfile.py
Due: lint-recipes, lint-test_package

added package_type and minor clean-up
  recipes/vsg/all/conanfile.py
Due: lint-recipes, lint-test_package

ignition-tools: correct sha for 1.4.0 archive
  recipes/ignition-tools/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

duckdb: add version 0.8.0
  recipes/duckdb/all/conandata.yml
  recipes/duckdb/all/patches/0.8.0-0001-fix-cmake.patch
  recipes/duckdb/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

add transitive_headers
  recipes/mailio/all/conanfile.py
Due: lint-recipes, lint-test_package

remove run-debug from 2.11.0
  recipes/libxml2/all/conanfile.py
Due: lint-recipes, lint-test_package

add mawk recipe
  recipes/mawk/all/conandata.yml
  recipes/mawk/all/conanfile.py
  recipes/mawk/all/test_package/conanfile.py
  recipes/mawk/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

glib: regenerate binaries
  recipes/glib/all/conanfile.py
Due: lint-recipes, lint-test_package

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

[APR] Support for cross-building using cache file
  recipes/apr/all/conanfile.py
  recipes/apr/all/cross_build/arm-linux-gnueabihf.cache
  recipes/apr/all/cross_build/x86_64-pc-mingw64.cache
Due: lint-recipes, lint-test_package

remove share folder
  recipes/glib/all/conanfile.py
Due: lint-recipes, lint-test_package

update 5.4.6
  recipes/lua/all/conandata.yml
  recipes/lua/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Build mawk on Windows
  recipes/mawk/all/conanfile.py
Due: lint-recipes, lint-test_package

glib: revert shared option to be False by default
  recipes/glib/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove unused import
  recipes/mawk/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17608) [bot] Update list of references (prod-v2/ListPackages)
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme
