Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

update version to 0.6.1
  recipes/emio/all/conandata.yml
  recipes/emio/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20989) emio: add version 0.6.1
  recipes/emio/all/conandata.yml
  recipes/emio/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

apply patch for windows build
  recipes/libvncserver/all/conandata.yml
  recipes/libvncserver/all/conanfile.py
  recipes/libvncserver/all/patches/0.9.14/0001-fix-windows-check_c_source_runs-script.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

correct patch
  recipes/libvncserver/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Address reviewer suggestions
  recipes/fmilib/all/conandata.yml
  recipes/fmilib/all/conanfile.py
  recipes/fmilib/all/patches/2.4.1-001-static-c99snprintf.patch
  recipes/fmilib/all/patches/2.4.1-002-add-minizip-tools-as-functions.patch
  recipes/fmilib/all/patches/2.4.1-003-use-expat-from-conan.patch
  recipes/fmilib/all/patches/2.4.1-004-use-minizip-and-zlib-from-conan.patch
  recipes/fmilib/all/patches/2.4.1-005-ensure-conan-friendly-cmakelists.patch
  recipes/fmilib/all/patches/2.4.1-006-link-external-targets.patch
  recipes/fmilib/all/patches/2.4.1-007-add-missing-stdlib.h-include.patch
  recipes/fmilib/all/patches/2.4.1-008-link-zlib-in-fmilib.patch
  recipes/fmilib/all/test_package/CMakeLists.txt
  recipes/fmilib/all/test_package/conanfile.py
  recipes/fmilib/all/test_package/test_package.c
  recipes/fmilib/config.yml
  recipes/fmilibrary/all/patches/2.4.1-007-enable-testing.patch
  recipes/fmilibrary/all/patches/2.4.1-010-install-runtime-to-bin.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20972) fakeit/all: bump deps
  recipes/fakeit/all/conanfile.py
Due: lint-recipes, lint-test_package

rust: convert into a pre-built package
  recipes/rust/all/conandata.yml
  recipes/rust/all/conanfile.py
  recipes/rust/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

remove empty line
  recipes/libvncserver/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20978) aws-c-io: update dependencies
  recipes/aws-c-io/all/conanfile.py
Due: lint-recipes, lint-test_package

aws-c-common: re-add 0.8.2
  recipes/aws-c-common/all/conandata.yml
  recipes/aws-c-common/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update aws-c-common version
  recipes/aws-c-http/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20916) easyloggingpp: add -fPIC option
  recipes/easyloggingpp/all/conanfile.py
Due: lint-recipes, lint-test_package

rust: tar.gz can be used for all platforms
  recipes/rust/all/conandata.yml
  recipes/rust/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

rust: remove *.pdb
  recipes/rust/all/conanfile.py
Due: lint-recipes, lint-test_package

rust: add a small Rust test project
  recipes/rust/all/test_package/Cargo.lock
  recipes/rust/all/test_package/Cargo.toml
  recipes/rust/all/test_package/conanfile.py
  recipes/rust/all/test_package/src/main.rs
Due: lint-recipes, lint-test_package

(#20919) zstd: do not remove import lib for mingw if shared & build_programs
  recipes/zstd/all/conanfile.py
Due: lint-recipes, lint-test_package

libdicom: fix lib name
  recipes/libdicom/all/conanfile.py
Due: lint-recipes, lint-test_package

libdicom: add new recipe
  recipes/libdicom/all/conandata.yml
  recipes/libdicom/all/conanfile.py
  recipes/libdicom/all/test_package/conanfile.py
  recipes/libdicom/all/test_package/meson.build
  recipes/libdicom/all/test_package/test_package.c
  recipes/libdicom/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libest: use version range for openssl
  recipes/libest/all/conanfile.py
Due: lint-recipes, lint-test_package

libest: openssl v3 is not supported
  recipes/libest/all/conanfile.py
Due: lint-recipes, lint-test_package

enforce that fmilib is pure C
  recipes/fmilib/all/conandata.yml
  recipes/fmilib/all/conanfile.py
  recipes/fmilib/all/patches/2.4.1-003-use-expat-from-conan.patch
  recipes/fmilib/all/patches/2.4.1-009-make-project-pure-c.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

[config v2] Add longer timeout to build gstreamer
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20915) vorbis: fix MinGW shared + modernize more for conan v2
  recipes/vorbis/all/conandata.yml
  recipes/vorbis/all/conanfile.py
  recipes/vorbis/all/patches/1.3.6-0001-link-libm-find-package-ogg.patch
  recipes/vorbis/all/patches/1.3.7-0001-mingw-shared-def.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libest: revert openssl dep version
  recipes/libest/all/conanfile.py
Due: lint-recipes, lint-test_package

simplify validate()
  recipes/stx/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18905) iceoryx: migrate to Conan v2
  recipes/iceoryx/all/CMakeLists.txt
  recipes/iceoryx/all/conandata.yml
  recipes/iceoryx/all/conanfile.py
  recipes/iceoryx/all/patches/1.0.0-0001-fix-find-toml.patch
  recipes/iceoryx/all/patches/2.0.X-0001-fix-find-toml.patch
  recipes/iceoryx/all/test_package/CMakeLists.txt
  recipes/iceoryx/all/test_package/conanfile.py
  recipes/iceoryx/all/test_v1_package/CMakeLists.txt
  recipes/iceoryx/all/test_v1_package/conanfile.py
  recipes/iceoryx/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

robust to unknow compilers in validate()
  recipes/tcsbank-uconfig/all/conanfile.py
Due: lint-recipes, lint-test_package

cyclonedds/all: bump deps
  recipes/cyclonedds/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20918) libpq: fix 15.x for mingw by adding missing patch
  recipes/libpq/all/conandata.yml
  recipes/libpq/all/patches/15/001-mingw-build-static-libraries.patch
Due: lint-yaml-scheme, check-yaml-scheme

move checks to validate() instead of configure()
  recipes/libcoap/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix typo
  recipes/mesa-glu/all/conanfile.py
  recipes/mesa-glu/all/patches/9.0.3-0001-Only-add-the-GL-dependency-as-a-requires-when-it-is.patch
Due: lint-recipes, lint-test_package

pango: add v1.51.0
  recipes/pango/all/conandata.yml
  recipes/pango/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
