Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

[llvm-core] propagate DYLD_LIBRARY_PATH to tblgen during build
  recipes/llvm-core/all/conandata.yml
  recipes/llvm-core/all/conanfile.py
  recipes/llvm-core/all/patches/11x/0004-tblgen-dyld-lib-path.patch
  recipes/llvm-core/all/patches/12x/0004-tblgen-dyld-lib-path.patch
  recipes/llvm-core/all/patches/13x/0004-tblgen-dyld-lib-path.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

revert iconv name
  recipes/sdl/all/conanfile.py
Due: lint-recipes, lint-test_package

[llvm-core] propagate DYLD_LIBRARY_PATH to tblgen during build
  recipes/llvm-core/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

First take on a conan-recipe for logfault
  recipes/logfault/all/conandata.yml
  recipes/logfault/all/conanfile.py
  recipes/logfault/all/test_package/CMakeLists.txt
  recipes/logfault/all/test_package/conanfile.py
  recipes/logfault/all/test_package/test_package.cpp
  recipes/logfault/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Corrected yaml indention
  recipes/logfault/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Changed requirements. self.test_requires() failed with object has no attribute 'test_requires'
  recipes/logfault/all/conanfile.py
Due: lint-recipes, lint-test_package

dbus: bump expat version to 2.6.0
  recipes/dbus/1.x.x/conanfile.py
Due: lint-recipes, lint-test_package

pdf-writer: use libpng version range
  recipes/pdf-writer/all/conanfile.py
Due: lint-recipes, lint-test_package

pcl: use libpng version range
  recipes/pcl/all/conanfile.py
Due: lint-recipes, lint-test_package

openmvg: use libpng version range, bump deps
  recipes/openmvg/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix Conan v1 test package
  recipes/libassert/all/test_package/CMakeLists.txt
  recipes/libassert/all/test_v1_package/CMakeLists.txt
Due: none

libvips: use libpng version range, bump deps
  recipes/libvips/all/conanfile.py
Due: lint-recipes, lint-test_package

libsixel: use libpng version range, bump deps
  recipes/libsixel/all/conanfile.py
Due: lint-recipes, lint-test_package

libharu: use libpng version range
  recipes/libharu/all/conanfile.py
Due: lint-recipes, lint-test_package

libgd: use libpng version range
  recipes/libgd/all/conanfile.py
Due: lint-recipes, lint-test_package

leptonica: use libpng version range, bump deps
  recipes/leptonica/all/conanfile.py
Due: lint-recipes, lint-test_package

itk: use libpng version range, bump deps
  recipes/itk/all/conanfile.py
Due: lint-recipes, lint-test_package

cpp-channel: add recipe
  recipes/cpp-channel/all/conandata.yml
  recipes/cpp-channel/all/conanfile.py
  recipes/cpp-channel/all/test_package/CMakeLists.txt
  recipes/cpp-channel/all/test_package/conanfile.py
  recipes/cpp-channel/all/test_package/test_package.cpp
  recipes/cpp-channel/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

support C++17
  recipes/miniscript/all/conandata.yml
  recipes/miniscript/all/conanfile.py
  recipes/miniscript/all/patches/1.6.2-0002-remove-bit.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

drop support gcc < 7
  recipes/cpp-channel/all/conanfile.py
Due: lint-recipes, lint-test_package

freeimage: use libpng version range, bump deps
  recipes/freeimage/all/conanfile.py
Due: lint-recipes, lint-test_package

fltk: use libpng version range
  recipes/fltk/all/conanfile.py
Due: lint-recipes, lint-test_package

dlib: use libpng version range
  recipes/dlib/all/conanfile.py
Due: lint-recipes, lint-test_package

imagl: use libpng version range
  recipes/imagl/all/conanfile.py
Due: lint-recipes, lint-test_package

guetzli: use libpng version range
  recipes/guetzli/all/conanfile.py
Due: lint-recipes, lint-test_package

gdk-pixbuf: use libpng version range, bump deps
  recipes/gdk-pixbuf/all/conanfile.py
Due: lint-recipes, lint-test_package

cimg: use libpng version range
  recipes/cimg/all/conanfile.py
Due: lint-recipes, lint-test_package

msdfgen: use libpng version range, bump deps
  recipes/msdfgen/all/conanfile.py
Due: lint-recipes, lint-test_package

butteraugli: use libpng version range
  recipes/butteraugli/all/conanfile.py
Due: lint-recipes, lint-test_package

opencv/2.x: use libpng version range, bump deps
  recipes/opencv/2.x/conanfile.py
Due: lint-recipes, lint-test_package

opencv/3.x: use libpng version range, bump deps
  recipes/opencv/3.x/conanfile.py
Due: lint-recipes, lint-test_package

Updates libsndfile to use a conan-provided libsndio
  recipes/libsndfile/all/conanfile.py
Due: lint-recipes, lint-test_package

Fixes dependency name copy-paste error in recipe
  recipes/libsndfile/all/conanfile.py
Due: lint-recipes, lint-test_package

Bandaid fix for test package overflowing Windows max path length
  recipes/cpython/all/test_package/conanfile.py
  recipes/cpython/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Fix some lints
  recipes/cpython/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix versions checks
  recipes/libassert/all/conanfile.py
  recipes/libassert/all/test_package/CMakeLists.txt
  recipes/libassert/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Add release version 1.2.0 to config.yml
  recipes/log4cxx/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Fix release version 1.2.0 path
  recipes/log4cxx/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#23121) sfl: add version 1.3.0
  recipes/sfl/all/conandata.yml
  recipes/sfl/config.yml
Due: lint-yaml-scheme, check-yaml-scheme
