Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

rollback changes
  recipes/json-c/all/conanfile.py
  recipes/json-c/all/test_package/CMakeLists.txt
  recipes/json-c/all/test_package/conanfile.py
  recipes/json-c/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

(#16540) msgpack-cxx: add version 6.0.0
  recipes/msgpack-cxx/all/conandata.yml
  recipes/msgpack-cxx/all/conanfile.py
  recipes/msgpack-cxx/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

typo
  recipes/gamma/all/conanfile.py
Due: lint-recipes, lint-test_package

expose glib executables in build context
  recipes/gdk-pixbuf/all/conanfile.py
Due: lint-recipes, lint-test_package

add mozjpeg to possible jpeg backend
  recipes/gdk-pixbuf/all/conanfile.py
Due: lint-recipes, lint-test_package

rollback more
  recipes/json-c/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Update license attribute
  recipes/gli/all/conanfile.py
Due: lint-recipes, lint-test_package

imgui: add version 1.89.4
  recipes/imgui/all/conandata.yml
  recipes/imgui/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

[openssl 3.x.x] changed recipes to be conan v2 compatible
  recipes/openssl/3.x.x/conanfile.py
  recipes/openssl/3.x.x/test_package/conanfile.py
Due: lint-recipes, lint-test_package

fix test package for conan v2
  recipes/flatbuffers/all/test_package/CMakeLists.txt
  recipes/flatbuffers/all/test_package/conanfile.py
  recipes/flatbuffers/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

service: automatically fix PRS titles
  .github/workflows/fix-pr-title.yml
Due: lint-yaml-scheme, check-yaml-scheme

grpc: bump openssl deps
  recipes/grpc/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16535) msgpack-c: add version 6.0.0
  recipes/msgpack-c/all/conandata.yml
  recipes/msgpack-c/all/conanfile.py
  recipes/msgpack-c/all/test_package/CMakeLists.txt
  recipes/msgpack-c/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

glib is a public dependency of gdk-pixbuf
  recipes/gdk-pixbuf/all/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/giflib/5.2.x/conanfile.py
Due: lint-recipes, lint-test_package

fix test package for conan v2
  recipes/giflib/5.2.x/test_package/conanfile.py
Due: lint-recipes, lint-test_package

fixed syntax errors and linter reportings
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Started all over with an example package
  recipes/libtommath/all/conandata.yml
  recipes/libtommath/all/conanfile.py
  recipes/libtommath/all/patches/0001-enable-building-dll-s-using-makefile-msvc.patch
  recipes/libtommath/all/patches/0002-enable-building-dlls.patch
  recipes/libtommath/all/test_package/CMakeLists.txt
  recipes/libtommath/all/test_package/conanfile.py
  recipes/libtommath/all/test_package/test_package.c
  recipes/libtommath/all/test_v1_package/CMakeLists.txt
  recipes/libtommath/all/test_v1_package/conanfile.py
  recipes/libtommath/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Revert "Started all over with an example package"
  recipes/libtommath/all/conandata.yml
  recipes/libtommath/all/conanfile.py
  recipes/libtommath/all/patches/0001-enable-building-dll-s-using-makefile-msvc.patch
  recipes/libtommath/all/patches/0002-enable-building-dlls.patch
  recipes/libtommath/all/test_package/CMakeLists.txt
  recipes/libtommath/all/test_package/conanfile.py
  recipes/libtommath/all/test_package/test_package.c
  recipes/libtommath/all/test_v1_package/CMakeLists.txt
  recipes/libtommath/all/test_v1_package/conanfile.py
  recipes/libtommath/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Revert "Create a new package for libtommath that supports conan v2"
  recipes/libtommath/all/conandata.yml
  recipes/libtommath/all/conanfile.py
  recipes/libtommath/all/patches/0001-enable-building-dll-s-using-makefile-msvc.patch
  recipes/libtommath/all/test_package/CMakeLists.txt
  recipes/libtommath/all/test_package/conanfile.py
  recipes/libtommath/all/test_package/test_package.c
  recipes/libtommath/config.yml
  recipes/libtommath/development/conanfile.py
  recipes/libtommath/development/test_package/CMakeLists.txt
  recipes/libtommath/development/test_package/CMakeUserPresets.json
  recipes/libtommath/development/test_package/conanfile.py
  recipes/libtommath/development/test_package/src/test_package.c
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Use the upstream CMakeLists.txt to create a new package
  recipes/libtommath/cmake/conandata.yml
  recipes/libtommath/cmake/conanfile.py
  recipes/libtommath/cmake/patches/0002-enable-building-dlls.patch
  recipes/libtommath/cmake/test_package/CMakeLists.txt
  recipes/libtommath/cmake/test_package/conanfile.py
  recipes/libtommath/cmake/test_package/test_package.c
  recipes/libtommath/cmake/test_v1_package/CMakeLists.txt
  recipes/libtommath/cmake/test_v1_package/conanfile.py
  recipes/libtommath/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Included suggestions from the GitHub actions linter
  recipes/libtommath/cmake/conandata.yml
  recipes/libtommath/cmake/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add package_type
  recipes/opencl-headers/all/conanfile.py
Due: lint-recipes, lint-test_package

openssl 3.x.x v1 test package: check for LICENSE (not LICENSE.txt)
  recipes/openssl/3.x.x/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16519) fxdiv: modernize more for conan v2 and generate v2 packages
  recipes/fxdiv/all/conanfile.py
  recipes/fxdiv/all/test_package/conanfile.py
  recipes/fxdiv/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

Implement review comments
  recipes/glad/all/conanfile.py
  recipes/glad/all/test_package/conanfile.py
  recipes/glad/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/flatbuffers/all/conanfile.py
  recipes/flatbuffers/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16513) docs: make sure package type is set
  docs/package_templates/cmake_package/all/conanfile.py
  docs/package_templates/header_only/all/conanfile.py
  docs/package_templates/meson_package/all/conanfile.py
  docs/package_templates/msbuild_package/all/conanfile.py
  docs/package_templates/prebuilt_tool_package/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16425) config: add ceres-solver to large pod
  .c3i/config_v1.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16394) catch2 2.x: fix package_type
  recipes/catch2/2.x.x/conanfile.py
Due: lint-recipes, lint-test_package

(#16371) [docs] Document label c3i-conan2-ready
  docs/labels.md
Due: none

[docs] Regenerate tables of contents
  docs/faqs.md
  docs/labels.md
Due: none

(#16562) nss 3.89
  recipes/nss/all/conandata.yml
  recipes/nss/config.yml
Due: lint-yaml-scheme, check-yaml-scheme
