Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#24362) Fix with_xnnpack=False
  recipes/tensorflow-lite/all/conanfile.py
  recipes/tensorflow-lite/all/patches/2.12.0-0001-remove_simple_memory_arena_debug_dump.patch
  recipes/tensorflow-lite/all/patches/2.12.0-0002-disable-fetch-content.patch
  recipes/tensorflow-lite/all/patches/2.12.0-0003-use-cci-dependencies.patch
Due: lint-recipes, lint-test_package

Use default options for dbus
  recipes/dbus/1.x.x/conanfile.py
Due: lint-recipes, lint-test_package

(#24364) [beauty] Fix Openssl dependency management
  recipes/beauty/all/conandata.yml
  recipes/beauty/all/conanfile.py
  recipes/beauty/all/patches/0002-remove-openssl-target.patch
  recipes/beauty/all/test_package/CMakeLists.txt
  recipes/beauty/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

gtlab-logging: Allow qt version range
  recipes/gtlab-logging/all/conanfile.py
Due: lint-recipes, lint-test_package

Added new validate_build check
  recipes/apr/all/conanfile.py
Due: lint-recipes, lint-test_package

glaze: add version 2.9.1
  recipes/glaze/all/conandata.yml
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

octo-logger-cpp: update checksum for 1.12.0
  recipes/octo-logger-cpp/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24335) nghttp3: add version 1.4.0
  recipes/nghttp3/all/conandata.yml
  recipes/nghttp3/all/conanfile.py
  recipes/nghttp3/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#24329) [POC][APR] Support for cross-building using configuration variables
  recipes/apr/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18743) qxmpp: migrate to Conan v2
  recipes/qxmpp/all/CMakeLists.txt
  recipes/qxmpp/all/conandata.yml
  recipes/qxmpp/all/conanfile.py
  recipes/qxmpp/all/patches/001-skip-module-path.patch
  recipes/qxmpp/all/patches/002-use-conan-gstreamer.patch
  recipes/qxmpp/all/test_package/CMakeLists.txt
  recipes/qxmpp/all/test_package/conanfile.py
  recipes/qxmpp/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

update 2.9.2
  recipes/glaze/all/conandata.yml
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Remove pdb files
  recipes/tesseract/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24375) Pixman: Supply cpu-features-path meson option. Required to build for Android-armv7
  recipes/pixman/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24405) Add cppcheck 2.14.2
  recipes/cppcheck/all/conandata.yml
  recipes/cppcheck/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24408) pcre2: Add support for PCRE2_LINK_SIZE
  recipes/pcre2/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24412) zoe: add version 3.1
  recipes/zoe/all/conandata.yml
  recipes/zoe/all/conanfile.py
  recipes/zoe/all/patches/3.1-0002-support-macosx.patch
  recipes/zoe/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update config.yml
  recipes/open62541/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24428) glaze: add version 2.9.2
  recipes/glaze/all/conandata.yml
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libdispatch: Add 5.10.0
  recipes/libdispatch/all/conandata.yml
  recipes/libdispatch/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Remove unneeded if
  recipes/c-ares/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24357) toml11: add version 4.0.1
  recipes/toml11/all/conandata.yml
  recipes/toml11/all/conanfile.py
  recipes/toml11/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Try to add better check for compatible target OS/SDK version
  recipes/metal-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24432) [bot] Update list of references (prod-v2/ListPackages)
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

Disable warn as error for boost portability
  recipes/libavrocpp/all/conandata.yml
  recipes/libavrocpp/all/patches/0006-disable-warn-as-error-1-11-3.patch
Due: lint-yaml-scheme, check-yaml-scheme

nsync: add version 1.29.1
  recipes/nsync/all/conandata.yml
  recipes/nsync/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24433) nsync: add version 1.29.1
  recipes/nsync/all/conandata.yml
  recipes/nsync/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update recipes/gtlab-logging/all/conanfile.py
  recipes/gtlab-logging/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
