Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#20620) cppfront: bump
  recipes/cppfront/all/conandata.yml
  recipes/cppfront/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

#20760 dat_package_file option fixed.
  recipes/icu/all/conanfile.py
Due: lint-recipes, lint-test_package

Add configuration for job relauncher
  .c3i/config_v1.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update .c3i/config_v1.yml
  .c3i/config_v1.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20751) [wt] Unblock Linux and Mac for 4.10.1 + cppstd=17
  recipes/wt/all/conanfile.py
Due: lint-recipes, lint-test_package

Update minimum version for fortran-free compilation as suggested
  recipes/openblas/all/conanfile.py
Due: lint-recipes, lint-test_package

Add missing include and reviewer suggestion
  recipes/fmilibrary/all/conandata.yml
  recipes/fmilibrary/all/conanfile.py
  recipes/fmilibrary/all/patches/2.4.1-008-add-missing-stdlib.h-include.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

subunit: add /FS to CFLAGS
  recipes/subunit/all/conanfile.py
Due: lint-recipes, lint-test_package

libmikmod: bump libalsa
  recipes/libmikmod/all/conanfile.py
Due: lint-recipes, lint-test_package

cairo: drop the pre-1.17.4 autotools versions
  recipes/cairo/all/conandata.yml
  recipes/cairo/all/conanfile.py
  recipes/cairo/all/patches/0001-msvc-update-build-scripts-to-compile-with-more-featu.patch
  recipes/cairo/all/patches/binutils-2.34-libbfd-fix.patch
  recipes/cairo/all/test_package/CMakeLists.txt
  recipes/cairo/all/test_package/conanfile.py
  recipes/cairo/all/test_package/test_package.c
  recipes/cairo/all/test_v1_package/CMakeLists.txt
  recipes/cairo/all/test_v1_package/conanfile.py
  recipes/cairo/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

glib: add version 2.78.1
  recipes/glib/all/conandata.yml
  recipes/glib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fast-dds: add version 2.11.2
  recipes/fast-dds/all/conandata.yml
  recipes/fast-dds/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

linux-headers-generic: add version 6.5.9, 5.19.5
  recipes/linux-headers-generic/all/conandata.yml
  recipes/linux-headers-generic/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

dd-opentracing-cpp: migrate to Conan v2
  recipes/dd-opentracing-cpp/all/CMakeLists.txt
  recipes/dd-opentracing-cpp/all/conandata.yml
  recipes/dd-opentracing-cpp/all/conanfile.py
  recipes/dd-opentracing-cpp/all/patches/0001-Find-packages-setup.patch
  recipes/dd-opentracing-cpp/all/test_package/CMakeLists.txt
  recipes/dd-opentracing-cpp/all/test_package/conanfile.py
  recipes/dd-opentracing-cpp/all/test_v1_package/CMakeLists.txt
  recipes/dd-opentracing-cpp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

dd-opentracing-cpp: fix msgpack dependency
  recipes/dd-opentracing-cpp/all/patches/0001-Find-packages-setup.patch
Due: none

dd-opentracing-cpp: bump deps
  recipes/dd-opentracing-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

dd-opentracing-cpp: transitive_libs=True
  recipes/dd-opentracing-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

dd-opentracing-cpp: drop the invalid target names
  recipes/dd-opentracing-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

dd-opentracing-cpp: add v1.3.7
  recipes/dd-opentracing-cpp/all/conandata.yml
  recipes/dd-opentracing-cpp/all/patches/1.3.0/0001-Find-packages-setup.patch
  recipes/dd-opentracing-cpp/all/patches/1.3.7/0001-Find-packages-setup.patch
  recipes/dd-opentracing-cpp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18757) detours: migrate to Conan v2
  recipes/detours/all/CMakeLists.txt
  recipes/detours/all/conanfile.py
  recipes/detours/all/test_package/CMakeLists.txt
  recipes/detours/all/test_package/conanfile.py
  recipes/detours/all/test_v1_package/CMakeLists.txt
  recipes/detours/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#20744) vulkan-validationlayers/all: bump deps
  recipes/vulkan-validationlayers/all/conandata.yml
  recipes/vulkan-validationlayers/all/conanfile.py
  recipes/vulkan-validationlayers/all/dependencies/dependencies-1.2.182.yml
  recipes/vulkan-validationlayers/all/dependencies/dependencies-1.2.189.2.yml
  recipes/vulkan-validationlayers/all/dependencies/dependencies-1.2.198.0.yml
  recipes/vulkan-validationlayers/all/dependencies/dependencies-1.3.204.1.yml
  recipes/vulkan-validationlayers/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

hayai: fix project() and cmake_minimum_required() order
  recipes/hayai/all/conandata.yml
  recipes/hayai/all/conanfile.py
  recipes/hayai/all/patches/fix-cmake-project.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

hayai: add a new recipe
  recipes/hayai/all/conandata.yml
  recipes/hayai/all/conanfile.py
  recipes/hayai/all/test_package/CMakeLists.txt
  recipes/hayai/all/test_package/conanfile.py
  recipes/hayai/all/test_package/test_package.cpp
  recipes/hayai/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

hayai: disable tests and samples, fix shared build on Windows
  recipes/hayai/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20199) [ixwebsocket] Bump ixwebsocket's zlib requirement to [>=1.2.11 <2] range
  recipes/ixwebsocket/all/conanfile.py
Due: lint-recipes, lint-test_package

hayai: make test_package faster
  recipes/hayai/all/test_package/test_package.cpp
Due: none

(#17542) stdgpu: add recipe
  recipes/stdgpu/all/cmake/stdgpu-dependencies-cuda.cmake
  recipes/stdgpu/all/cmake/stdgpu-dependencies-hip.cmake
  recipes/stdgpu/all/conandata.yml
  recipes/stdgpu/all/conanfile.py
  recipes/stdgpu/all/test_package/CMakeLists.txt
  recipes/stdgpu/all/test_package/conanfile.py
  recipes/stdgpu/all/test_package/test_package_basic.cpp
  recipes/stdgpu/all/test_package/test_package_cuda.cu
  recipes/stdgpu/all/test_package/test_package_hip.hip
  recipes/stdgpu/all/test_package/test_package_openmp.cpp
  recipes/stdgpu/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#18728) zyre: migrate to Conan v2, drop older version
  recipes/zyre/all/CMakeLists.txt
  recipes/zyre/all/conandata.yml
  recipes/zyre/all/conanfile.py
  recipes/zyre/all/patches/2.0.0-0001-cmake-use-conan-disable-executables.patch
  recipes/zyre/all/patches/2.0.0-0002-zyre-disable-git-escape-CMAKE_BUILD_TYPE.patch
  recipes/zyre/all/patches/2.0.0-0003-fix-zyre-self-test-on-windows.patch
  recipes/zyre/all/patches/2.0.1-0001-cmake-use-conan-disable-executables.patch
  recipes/zyre/all/test_package/CMakeLists.txt
  recipes/zyre/all/test_package/conanfile.py
  recipes/zyre/all/test_package/test_package.cpp
  recipes/zyre/all/test_v1_package/CMakeLists.txt
  recipes/zyre/all/test_v1_package/conanfile.py
  recipes/zyre/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20650) zstd: do not package both static & shared on windows
  recipes/zstd/all/conanfile.py
Due: lint-recipes, lint-test_package

openvino: ported patch to work with dynamic protobuf
  recipes/openvino/all/conandata.yml
  recipes/openvino/all/conanfile.py
  recipes/openvino/all/dependencies/dependencies-2023.1.0.yml
  recipes/openvino/all/patches/2023.1.0/0005-dynamic-protobuf.patch
  recipes/openvino/all/patches/2023.1.0/0006-macos-14.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20748) octomap: add a missing patch to the latest version
  recipes/octomap/all/conandata.yml
  recipes/octomap/all/patches/1.9.8-0001-cpp17-compat.patch
Due: lint-yaml-scheme, check-yaml-scheme

(#20752) libxmlpp: relocatable shared lib for macos + revert to default cmake target name
  recipes/libxmlpp/all/conandata.yml
  recipes/libxmlpp/all/conanfile.py
  recipes/libxmlpp/all/patches/2.42.1-0001-enable_static_builds_on_msvc.patch
  recipes/libxmlpp/all/patches/5.0.1-0001-enable_static_builds_on_msvc.patch
  recipes/libxmlpp/all/test_package/CMakeLists.txt
  recipes/libxmlpp/all/test_package/conanfile.py
  recipes/libxmlpp/all/test_package/example.xml
  recipes/libxmlpp/all/test_package/test_package.cpp
  recipes/libxmlpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme
