Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

add package_type
  recipes/fast-cpp-csv-parser/all/conanfile.py
  recipes/fast-cpp-csv-parser/all/test_package/conanfile.py
  recipes/fast-cpp-csv-parser/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

(#21441) zlib-ng: add version 2.1.5
  recipes/zlib-ng/all/conandata.yml
  recipes/zlib-ng/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21446) md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21452) foxglove-websocket: Add version 1.2.0
  recipes/foxglove-websocket/all/conandata.yml
  recipes/foxglove-websocket/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

remove BUILD_SHARED_LIBS, update conan version
  recipes/trantor/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21447) quill: add version 3.5.0
  recipes/quill/all/conandata.yml
  recipes/quill/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

c-blosc2: update zlib-ng/2.1.5
  recipes/c-blosc2/all/conanfile.py
Due: lint-recipes, lint-test_package

libbigwig: update dependencies
  recipes/libbigwig/all/conanfile.py
Due: lint-recipes, lint-test_package

nlohmann_json: add version 3.11.3
  recipes/nlohmann_json/all/conandata.yml
  recipes/nlohmann_json/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21437) cppcodec: add package_type
  recipes/cppcodec/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21451) clipper2: add version 1.3.0
  recipes/clipper2/all/conandata.yml
  recipes/clipper2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21461) nlohmann_json: add version 3.11.3
  recipes/nlohmann_json/all/conandata.yml
  recipes/nlohmann_json/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

opentdf-client/all: bump deps
  recipes/opentdf-client/all/conanfile.py
Due: lint-recipes, lint-test_package

proj/all: bump deps
  recipes/proj/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21058) [ginkgo] add version 1.7.0
  recipes/ginkgo/all/conandata.yml
  recipes/ginkgo/all/conanfile.py
  recipes/ginkgo/all/patches/libc++-chrono.patch
  recipes/ginkgo/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21459) c-blosc2: update zlib-ng/2.1.5
  recipes/c-blosc2/all/conanfile.py
Due: lint-recipes, lint-test_package

Seperate public and private headers, move headers into xmlrpc-epi dir
  recipes/xmlrpc-epi/all/CMakeLists.txt
  recipes/xmlrpc-epi/all/patches/0002-msvc.patch
  recipes/xmlrpc-epi/all/test_package/test_package.c
Due: none

add package_type
  recipes/fast_double_parser/all/conanfile.py
Due: lint-recipes, lint-test_package

layout cci convention
  recipes/fast_double_parser/all/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/fastprng/all/conanfile.py
  recipes/fastprng/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/gcem/all/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/ghc-filesystem/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21431) cpp-lazy: add package_type & explicit cmake names
  recipes/cpp-lazy/all/conanfile.py
Due: lint-recipes, lint-test_package

add package_type & fix target name
  recipes/gli/all/conanfile.py
  recipes/gli/all/test_package/CMakeLists.txt
  recipes/gli/all/test_v1_package/CMakeLists.txt
  recipes/gli/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/gnu-config/all/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/godot_headers/all/conanfile.py
  recipes/godot_headers/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

modernize more for conan v2
  recipes/gsl-lite/all/conanfile.py
  recipes/gsl-lite/all/test_package/CMakeLists.txt
  recipes/gsl-lite/all/test_v1_package/CMakeLists.txt
  recipes/gsl-lite/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/gzip-hpp/all/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/half/all/conanfile.py
  recipes/half/all/test_package/conanfile.py
  recipes/half/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

fix installation of headers
  recipes/gsl-lite/all/conanfile.py
Due: lint-recipes, lint-test_package
