Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

modernize more
  recipes/openddl-parser/all/conanfile.py
  recipes/openddl-parser/all/test_package/conanfile.py
  recipes/openddl-parser/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

modernize more
  recipes/openjpeg/all/conanfile.py
  recipes/openjpeg/all/test_package/conanfile.py
  recipes/openjpeg/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

modernize more
  recipes/pcre/all/conanfile.py
  recipes/pcre/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/libverto/all/test_package/CMakeLists.txt
  recipes/libverto/all/test_package/CMakeLists.txt
Due: none

modernize more
  recipes/polylineencoder/all/conanfile.py
  recipes/polylineencoder/all/test_package/conanfile.py
  recipes/polylineencoder/all/test_v1_package/CMakeLists.txt
  recipes/polylineencoder/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

modernize more
  recipes/cjson/all/conanfile.py
Due: lint-recipes, lint-test_package

modernize more
  recipes/gamma/all/conanfile.py
  recipes/gamma/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

modernize more
  recipes/sqlite3/all/conanfile.py
Due: lint-recipes, lint-test_package

PR feedback
  recipes/opentelemetry-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

ftxui: add version 4.0.0
  recipes/ftxui/all/CMakeLists.txt
  recipes/ftxui/all/conandata.yml
  recipes/ftxui/all/conanfile.py
  recipes/ftxui/all/patches/2.0.0-0001-lib-prefix.patch
  recipes/ftxui/all/patches/2.0.0-0002-install-dll.patch
  recipes/ftxui/all/patches/4.0.0-0002-install-dll.patch
  recipes/ftxui/all/test_package/CMakeLists.txt
  recipes/ftxui/all/test_package/conanfile.py
  recipes/ftxui/all/test_v1_package/CMakeLists.txt
  recipes/ftxui/all/test_v1_package/conanfile.py
  recipes/ftxui/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

numcpp: add version 2.9.0
  recipes/numcpp/all/conandata.yml
  recipes/numcpp/all/conanfile.py
  recipes/numcpp/all/test_package/CMakeLists.txt
  recipes/numcpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

update 0.563
  recipes/luau/all/conandata.yml
  recipes/luau/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

cpp-lazy: add version 7.0.2
  recipes/cpp-lazy/all/conandata.yml
  recipes/cpp-lazy/all/conanfile.py
  recipes/cpp-lazy/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

stc: add version 4.1
  recipes/stc/all/conandata.yml
  recipes/stc/all/conanfile.py
  recipes/stc/all/test_v1_package/CMakeLists.txt
  recipes/stc/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15890) libnoise: modernize more for conan v2
  recipes/libnoise/all/conanfile.py
  recipes/libnoise/all/test_package/conanfile.py
  recipes/libnoise/all/test_v1_package/CMakeLists.txt
  recipes/libnoise/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

g3log: add version 2.2
  recipes/g3log/all/conandata.yml
  recipes/g3log/all/conanfile.py
  recipes/g3log/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

roaring: add version 0.9.6, remove older versions
  recipes/roaring/all/conandata.yml
  recipes/roaring/all/conanfile.py
  recipes/roaring/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

watcher: add version 0.6.0, fix wrong source of 0.5.5
  recipes/watcher/all/conandata.yml
  recipes/watcher/all/conanfile.py
  recipes/watcher/all/test_package/CMakeLists.txt
  recipes/watcher/all/test_package/test_package.cpp
  recipes/watcher/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

log4cplus: add version 2.1.0
  recipes/log4cplus/all/conandata.yml
  recipes/log4cplus/all/conanfile.py
  recipes/log4cplus/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15913) crunch: modernize more for conan v2
  recipes/crunch/all/conanfile.py
  recipes/crunch/all/test_package/conanfile.py
  recipes/crunch/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

remove unused import
  recipes/paho-mqtt-c/all/conanfile.py
Due: lint-recipes, lint-test_package

disable samples build
  recipes/paho-mqtt-c/all/conanfile.py
Due: lint-recipes, lint-test_package

remove destination arg in `self.get()`
  recipes/paho-mqtt-c/all/conanfile.py
Due: lint-recipes, lint-test_package

removed unused import
  recipes/paho-mqtt-c/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

remove unused import
  recipes/paho-mqtt-c/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#15921) c-ares: modernize more for conan v2
  recipes/c-ares/all/conanfile.py
  recipes/c-ares/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

fix max macro issue on msvc
  recipes/watcher/all/conandata.yml
  recipes/watcher/all/patches/0.5.5-fix-limits_max.patch
Due: lint-yaml-scheme, check-yaml-scheme

link math lib
  recipes/ftxui/all/conanfile.py
Due: lint-recipes, lint-test_package

improve minimum version
  recipes/abseil/all/conanfile.py
Due: lint-recipes, lint-test_package

use self.options instead of self.info.options
  recipes/abseil/all/conanfile.py
Due: lint-recipes, lint-test_package

use add_subdirectory in test_v1_package
  recipes/abseil/all/test_package/CMakeLists.txt
  recipes/abseil/all/test_v1_package/CMakeLists.txt
Due: none

(#15837) uni-algo: add version 0.7.0
  recipes/uni-algo/all/conandata.yml
  recipes/uni-algo/all/test_package/CMakeLists.txt
  recipes/uni-algo/all/test_package/test_package.cpp
  recipes/uni-algo/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

protobuf is public
  recipes/onnx/all/conanfile.py
Due: lint-recipes, lint-test_package
