Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#15170) [bot] Update authorized users list (2023-01-09)
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

include LICENSE file and remove pkgconfig and .la files
  recipes/lely-core/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15173) wayland/*: Bump Meson version to 1.0.0
  recipes/wayland/all/conanfile.py
Due: lint-recipes, lint-test_package

Update conanfile.py
  recipes/isl/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15174) wayland-protocols: Bump Meson version to 1.0.0
  recipes/wayland-protocols/all/conanfile.py
  recipes/wayland-protocols/all/test_package/conanfile.py
  recipes/wayland-protocols/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

switch to explicit typing to satisfy C++11 construction
  recipes/lely-core/all/test_package/test_package.cpp
Due: none

Delete recipes/jsonformoderncpp directory
  recipes/jsonformoderncpp/all/conandata.yml
  recipes/jsonformoderncpp/all/conanfile.py
  recipes/jsonformoderncpp/all/test_package/CMakeLists.txt
  recipes/jsonformoderncpp/all/test_package/conanfile.py
  recipes/jsonformoderncpp/all/test_package/test_package.cpp
  recipes/jsonformoderncpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix conanfile.py for conan v1 and fix test
  recipes/lely-core/all/test_package/test_package.cpp
  recipes/lely-core/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#15175) dbus: Bump Meson, libsystemd, and glib versions
  recipes/dbus/1.x.x/conanfile.py
Due: lint-recipes, lint-test_package

specify C++ version when compiling test
  recipes/lely-core/all/test_package/CMakeLists.txt
  recipes/lely-core/all/test_v1_package/CMakeLists.txt
Due: none

fix conanfile.py for test package conan v1
  recipes/lely-core/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#15176) xkbcommon: Bump Meson to version 1.0.0
  recipes/xkbcommon/all/conanfile.py
Due: lint-recipes, lint-test_package

update 0.2.6
  recipes/glaze/all/conandata.yml
  recipes/glaze/all/patches/0.2.4-0001-include-climits.patch
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

allow to build opencv_objdetect without dnn in 4.5.5
  recipes/opencv/4.x/conandata.yml
  recipes/opencv/4.x/conanfile.py
  recipes/opencv/4.x/patches/4.5.5-0002-objdetect-without-dnn.patch
  recipes/opencv/4.x/patches/4.5.5-0003-find-quirc.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add missing contrib components when dnn is True
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

fix photo & stitching components when cuda is enabled
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

correct path of executable
  recipes/lely-core/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

add quality component in contrib only if version >= 4.1.0
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

update 20.36.0
  recipes/uwebsockets/all/conandata.yml
  recipes/uwebsockets/all/conanfile.py
  recipes/uwebsockets/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add dnn as an option dependency of video since 4.5.1
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

update compiler version
  recipes/zxing-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

dnn is an optional dependency of tracking
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

text is an optional dependency of datasets
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

move cuda components under contrib
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

capnproto: add version 0.10.3
  recipes/capnproto/all/conandata.yml
  recipes/capnproto/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

revert 0.10.1
  recipes/capnproto/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix static build issue on 1.0.8
  recipes/zxing-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

fix requires of several contrib components
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

remove fPIC when building shared library
  recipes/lely-core/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15154) boost: handle spaces in path to C++ compiler
  recipes/boost/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15178) libffi: Use rm_safe to delete options in the configure method
  recipes/libffi/all/conanfile.py
Due: lint-recipes, lint-test_package

- [libcurl] enable Unicode
  recipes/libcurl/all/conanfile.py
Due: lint-recipes, lint-test_package

- update sha for cacert
  recipes/libcurl/all/conanfile.py
Due: lint-recipes, lint-test_package

- use a versioned cacert URL to avoid sudden SHA changes in future
  recipes/libcurl/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
