Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

add string header
  recipes/semimap/all/test_package/test_package.cpp
Due: none

(#15934) enet: modernize more for conan v2
  recipes/enet/all/conandata.yml
  recipes/enet/all/conanfile.py
  recipes/enet/all/test_package/conanfile.py
  recipes/enet/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15942) fribidi: modernize more for conan v2
  recipes/fribidi/all/conanfile.py
  recipes/fribidi/all/test_package/conanfile.py
  recipes/fribidi/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

(#15954) libaom-av1: modernize more for conan v2
  recipes/libaom-av1/all/conanfile.py
  recipes/libaom-av1/all/test_package/conanfile.py
  recipes/libaom-av1/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

Apply templates
  recipes/rapidfuzz/all/conanfile.py
  recipes/rapidfuzz/all/test_package/CMakeLists.txt
  recipes/rapidfuzz/all/test_package/conanfile.py
  recipes/rapidfuzz/all/test_v1_package/CMakeLists.txt
  recipes/rapidfuzz/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Fix lint
  recipes/rapidfuzz/all/conanfile.py
  recipes/rapidfuzz/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

Update recipes/ffmpeg/all/conanfile.py
  recipes/ffmpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15956) lzfse: modernize more for conan v2
  recipes/lzfse/all/conanfile.py
  recipes/lzfse/all/test_package/conanfile.py
  recipes/lzfse/all/test_v1_package/CMakeLists.txt
  recipes/lzfse/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Fix license copy
  recipes/xorg-proto/all/conanfile.py
Due: lint-recipes, lint-test_package

qt5: reorder dbus component generation
  recipes/qt/5.x.x/conanfile.py
Due: lint-recipes, lint-test_package

service: set python version for alert-community action
  .github/workflows/alert-community.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#15958) oatpp: modernize more for conan v2
  recipes/oatpp/all/conanfile.py
  recipes/oatpp/all/test_package/conanfile.py
  recipes/oatpp/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

Fix test_v1_package
  recipes/xorg-proto/all/test_v1_package/CMakeLists.txt
Due: none

libpq: fix dependency access on Windows with Conan 2.0
  recipes/libpq/all/conanfile.py
Due: lint-recipes, lint-test_package

libffi: fix msvc logic in Conan 2.0
  recipes/libffi/all/conanfile.py
Due: lint-recipes, lint-test_package

Update docs/faqs.md
  docs/faqs.md
Due: none

openh264: fix check for visual studio on Windows (conan 2.0)
  recipes/openh264/all/conanfile.py
Due: lint-recipes, lint-test_package

modernize more
  recipes/glib/all/conanfile.py
Due: lint-recipes, lint-test_package

remove PKG_CONFIG_PATH workaround in test package
  recipes/glib/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#15959) onnx: modernize more for conan v2
  recipes/onnx/all/conanfile.py
  recipes/onnx/all/test_package/conanfile.py
  recipes/onnx/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

xorg-proto: restore CMakeLists for v1 test_package
  recipes/xorg-proto/all/test_v1_package/CMakeLists.txt
Due: none

Fix test_v1_package
  recipes/imake/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#15960) openddl-parser: modernize more for conan v2
  recipes/openddl-parser/all/conanfile.py
  recipes/openddl-parser/all/test_package/conanfile.py
  recipes/openddl-parser/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

(#15963) polylineencoder: modernize more for conan v2
  recipes/polylineencoder/all/conanfile.py
  recipes/polylineencoder/all/test_package/conanfile.py
  recipes/polylineencoder/all/test_v1_package/CMakeLists.txt
  recipes/polylineencoder/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#15991) sdl: Honor tools.gnu:pkg_config conf
  recipes/sdl/all/conanfile.py
Due: lint-recipes, lint-test_package

modernize more
  recipes/gmp/all/conanfile.py
Due: lint-recipes, lint-test_package

modernize more
  recipes/gsl/all/conanfile.py
Due: lint-recipes, lint-test_package

Modernize cunit recipe
  recipes/cunit/all/conandata.yml
  recipes/cunit/all/conanfile.py
  recipes/cunit/all/patches/0001-configure-in-msvc-shortcuts.patch
  recipes/cunit/all/patches/0003-fix-copy-docs.patch
  recipes/cunit/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix linter issues
  recipes/cunit/all/conanfile.py
  recipes/cunit/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

modernize more
  recipes/libconfuse/all/conanfile.py
  recipes/libconfuse/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
