Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

readline: apply feedback for conan 2
  recipes/readline/all/conanfile.py
  recipes/readline/all/test_package/conanfile.py
  recipes/readline/all/test_v1_package/CMakeLists.txt
  recipes/readline/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

vaapi: conan V2 compatibility
  recipes/vaapi/all/conanfile.py
Due: lint-recipes, lint-test_package

more robust definition of custom CMake variables
  recipes/libxml2/all/conanfile.py
Due: lint-recipes, lint-test_package

robust definition of FREETYPE_VERSION_STRING
  recipes/freetype/all/conanfile.py
Due: lint-recipes, lint-test_package

improve LIBXML2_VERSION_STRING
  recipes/libxml2/all/conanfile.py
Due: lint-recipes, lint-test_package

improve JASPER_VERSION_STRING
  recipes/jasper/all/conanfile.py
Due: lint-recipes, lint-test_package

improve BZIP2_VERSION_STRING
  recipes/bzip2/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16039) add async_simple
  recipes/async_simple/all/conandata.yml
  recipes/async_simple/all/conanfile.py
  recipes/async_simple/all/test_package/CMakeLists.txt
  recipes/async_simple/all/test_package/conanfile.py
  recipes/async_simple/all/test_package/test_package.cpp
  recipes/async_simple/all/test_v1_package/CMakeLists.txt
  recipes/async_simple/all/test_v1_package/conanfile.py
  recipes/async_simple/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add new references to Required References
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

libnl: conan v2 conversion
  recipes/libnl/all/conanfile.py
  recipes/libnl/all/test_package/conanfile.py
  recipes/libnl/all/test_v1_package/CMakeLists.txt
  recipes/libnl/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

fast_float: add version 3.10.1
  recipes/fast_float/all/conandata.yml
  recipes/fast_float/all/conanfile.py
  recipes/fast_float/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update conanfile.py
  recipes/vaapi/all/conanfile.py
Due: lint-recipes, lint-test_package

daw_header_libraries: add version 2.88.0
  recipes/daw_header_libraries/all/conandata.yml
  recipes/daw_header_libraries/all/conanfile.py
  recipes/daw_header_libraries/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

update doctest recipe to conan 2
  recipes/doctest/2.x.x/conanfile.py
  recipes/doctest/2.x.x/test_package/CMakeLists.txt
  recipes/doctest/2.x.x/test_package/conanfile.py
Due: lint-recipes, lint-test_package

fix linter issues
  recipes/doctest/2.x.x/conanfile.py
  recipes/doctest/2.x.x/test_package/conanfile.py
Due: lint-recipes, lint-test_package

readline: conan v2 modernize
  recipes/readline/all/conanfile.py
  recipes/readline/all/test_package/conanfile.py
  recipes/readline/all/test_v1_package/CMakeLists.txt
  recipes/readline/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

libnl: conan v2 modernize
  recipes/libnl/all/conanfile.py
  recipes/libnl/all/test_package/conanfile.py
  recipes/libnl/all/test_v1_package/CMakeLists.txt
  recipes/libnl/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

cmake: add 3.25.3 + 3.24.4
  recipes/cmake/3.x.x/conandata.yml
  recipes/cmake/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16049) [sentry-native/0.6.0] + remove old versions
  recipes/sentry-native/all/conandata.yml
  recipes/sentry-native/all/conanfile.py
  recipes/sentry-native/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Set -O3 compiler flag
  recipes/x86-simd-sort/all/test_package/CMakeLists.txt
Due: none

libnl: conan v2 modernize
  recipes/libnl/all/conanfile.py
Due: lint-recipes, lint-test_package

bazel-6.1.0
  recipes/bazel/4.x/conandata.yml
  recipes/bazel/4.x/conanfile.py
  recipes/bazel/4.x/test_package/conanfile.py
  recipes/bazel/6.x/conandata.yml
  recipes/bazel/6.x/conanfile.py
  recipes/bazel/6.x/test_package/conanfile.py
  recipes/bazel/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

cmake: add back 3.25.2
  recipes/cmake/3.x.x/conandata.yml
  recipes/cmake/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16081) m4: generate binaries
  recipes/m4/all/conanfile.py
Due: lint-recipes, lint-test_package

bazel-6.1.0-fixingv1
  recipes/bazel/4.x/conanfile.py
  recipes/bazel/4.x/test_v1_package/conanfile.py
  recipes/bazel/6.x/conandata.yml
  recipes/bazel/6.x/conanfile.py
  recipes/bazel/6.x/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

remove patch of libtool
  recipes/wolfssl/all/conanfile.py
Due: lint-recipes, lint-test_package

properly manage libcurl on Windows
  recipes/cfitsio/all/conanfile.py
Due: lint-recipes, lint-test_package

typo
  recipes/cfitsio/all/conanfile.py
Due: lint-recipes, lint-test_package

bazel-6.1.0-fixv2
  recipes/bazel/4.x/conandata.yml
  recipes/bazel/4.x/conanfile.py
  recipes/bazel/6.x/conandata.yml
  recipes/bazel/6.x/conanfile.py
  recipes/bazel/6.x/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libnl: fix fPIC, conan v2 modernize
  recipes/libnl/all/conanfile.py
Due: lint-recipes, lint-test_package

bazel-6.1.0-fixv3
  recipes/bazel/6.x/conanfile.py
Due: lint-recipes, lint-test_package

taocpp-pegtl: conan v2
  recipes/taocpp-pegtl/3.x.x/conanfile.py
  recipes/taocpp-pegtl/3.x.x/test_package/conanfile.py
  recipes/taocpp-pegtl/3.x.x/test_v1_package/CMakeLists.txt
  recipes/taocpp-pegtl/3.x.x/test_v1_package/conanfile.py
  recipes/taocpp-pegtl/3.x.x/test_v1_package/test_package.cpp
Due: lint-recipes, lint-test_package

drop 1.4.16
  recipes/xapian-core/all/conandata.yml
  recipes/xapian-core/all/patches/0003-missing-limits-include.patch
  recipes/xapian-core/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16103) univalue: modernize more for conan v2
  recipes/univalue/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
