Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#22874) aws-crt-cpp: add version 0.24.1
  recipes/aws-crt-cpp/all/conandata.yml
  recipes/aws-crt-cpp/all/conanfile.py
  recipes/aws-crt-cpp/all/patches/0.24.1-disable-sanitizers.patch
  recipes/aws-crt-cpp/all/patches/0.24.1-fix-cast-error.patch
  recipes/aws-crt-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

freeglut: Use the mesa-glu package when not on Apple or Windows
  recipes/freeglut/all/conandata.yml
  recipes/freeglut/all/conanfile.py
  recipes/freeglut/all/patches/3.2.1-0004-Incorporate-the-include-directory-for-glu.h-in-CMake.patch
  recipes/freeglut/all/patches/3.2.2-0003-Incorporate-the-include-directory-for-glu.h-in-CMake.patch
  recipes/freeglut/all/patches/3.4.0-0003-Incorporate-the-include-directory-for-glu.h-in-CMake.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libglvnd: Bump build requirements to support Python 3.12
  recipes/libglvnd/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22898) [bot] Update authorized users list (2024-02-26)
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#22875) frugally-deep: add version 0.15.31
  recipes/frugally-deep/all/conandata.yml
  recipes/frugally-deep/all/conanfile.py
  recipes/frugally-deep/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#22879) simdjson: add version 3.7.0
  recipes/simdjson/all/conandata.yml
  recipes/simdjson/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#22887) cppcommon: make required library transitive_headers
  recipes/cppcommon/all/conanfile.py
Due: lint-recipes, lint-test_package

fast-cpp-csv-parser: add version cci.20240102
  recipes/fast-cpp-csv-parser/all/conandata.yml
  recipes/fast-cpp-csv-parser/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#22808) poco: add transitive_headers on zlib dependency
  recipes/poco/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22860) sdbus-cpp/1.4.0: Bump version and dependencies
  recipes/sdbus-cpp/all/conandata.yml
  recipes/sdbus-cpp/all/conanfile.py
  recipes/sdbus-cpp/all/test_pkgconf/conanfile.py
  recipes/sdbus-cpp/all/test_v1_pkgconf/conanfile.py
  recipes/sdbus-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#22877) daw_json_link: add version 3.23.2
  recipes/daw_json_link/all/conandata.yml
  recipes/daw_json_link/all/conanfile.py
  recipes/daw_json_link/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

aws-sdk-cpp: add version 1.11.179
  recipes/aws-sdk-cpp/all/conandata.yml
  recipes/aws-sdk-cpp/all/conanfile.py
  recipes/aws-sdk-cpp/all/patches/1.11.179-0001-disable-sort-links.patch
  recipes/aws-sdk-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#22881) 7bitconf: add version 1.2.0
  recipes/7bitconf/all/conandata.yml
  recipes/7bitconf/all/conanfile.py
  recipes/7bitconf/all/patches/1.2.0-0001-fix-package-name.patch
  recipes/7bitconf/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#22896) velodyne_decoder: add new recipe
  recipes/velodyne_decoder/all/conandata.yml
  recipes/velodyne_decoder/all/conanfile.py
  recipes/velodyne_decoder/all/patches/3.0.0-001-fix-msvc-flags.patch
  recipes/velodyne_decoder/all/test_package/CMakeLists.txt
  recipes/velodyne_decoder/all/test_package/conanfile.py
  recipes/velodyne_decoder/all/test_package/test_package.cpp
  recipes/velodyne_decoder/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#22902) libglvnd: Bump build requirements to support Python 3.12
  recipes/libglvnd/all/conanfile.py
Due: lint-recipes, lint-test_package

Add a patch for the gcc5 compatibility issue
  recipes/imath/all/conandata.yml
  recipes/imath/all/conanfile.py
  recipes/imath/all/patches/3.1.10-gcc5-backport.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add patch command to the build process
  recipes/imath/all/conanfile.py
Due: lint-recipes, lint-test_package

Add missing function to imports
  recipes/imath/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22888) poco: add version 1.13.2
  recipes/poco/all/conandata.yml
  recipes/poco/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Fix patch path
  recipes/imath/all/conandata.yml
  recipes/imath/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20536) zoe: add recipe
  recipes/zoe/all/conandata.yml
  recipes/zoe/all/conanfile.py
  recipes/zoe/all/patches/3.0-0001-follow-cxx-standards.patch
  recipes/zoe/all/patches/3.0-0002-support-macosx.patch
  recipes/zoe/all/patches/3.0-0003-fix-install-target.patch
  recipes/zoe/all/test_package/CMakeLists.txt
  recipes/zoe/all/test_package/conanfile.py
  recipes/zoe/all/test_package/test_package.cpp
  recipes/zoe/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openjpeg: add version 2.5.1
  recipes/openjpeg/all/conandata.yml
  recipes/openjpeg/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

remove cmake, pkgconfig from upstream, fix pkg_config_name
  recipes/openjpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22900) asio-grpc: use maintained version of libunifex
  recipes/asio-grpc/all/conanfile.py
Due: lint-recipes, lint-test_package

aws-sdk-cpp: fix openssl and curl lookup and port patches
  recipes/aws-sdk-cpp/all/conandata.yml
  recipes/aws-sdk-cpp/all/patches/1.11.179-0002-fix-openssl-and-curl-lookup.patch
  recipes/aws-sdk-cpp/all/patches/1.11.179-0003-improve-pulseaudio-detection.patch
Due: lint-yaml-scheme, check-yaml-scheme

add test package from template
  recipes/libq/all/test_package/CMakeLists.txt
  recipes/libq/all/test_package/conanfile.py
  recipes/libq/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package

aws-sdk-cpp: depend on zlib
  recipes/aws-sdk-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
