Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#19680) zpp_bits: add version 4.4.19
  recipes/zpp_bits/all/conandata.yml
  recipes/zpp_bits/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

quill: update fmt/10.1.1
  recipes/quill/all/conanfile.py
Due: lint-recipes, lint-test_package

Follow fmt recipe
  recipes/snitch/all/conanfile.py
Due: lint-recipes, lint-test_package

Fixed leftover reference to fmt
  recipes/snitch/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19657) imgui: add version 1.89.9/1.89.9-docking
  recipes/imgui/all/conandata.yml
  recipes/imgui/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

add qgeoview
  recipes/qgeoview/all/conandata.yml
  recipes/qgeoview/all/conanfile.py
  recipes/qgeoview/all/test_package/CMakeLists.txt
  recipes/qgeoview/all/test_package/conanfile.py
  recipes/qgeoview/all/test_package/test_package.cpp
  recipes/qgeoview/all/test_v1_package/CMakeLists.txt
  recipes/qgeoview/all/test_v1_package/conanfile.py
  recipes/qgeoview/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update conanfile.py
  recipes/limereport/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19701) quill: update fmt/10.1.1
  recipes/quill/all/conanfile.py
Due: lint-recipes, lint-test_package

make boost transitive_headers
  recipes/mfast/all/conanfile.py
Due: lint-recipes, lint-test_package

use rm_safe
  recipes/wasmedge/all/conanfile.py
Due: lint-recipes, lint-test_package

use version range in crowcpp-crow>=1.0
  recipes/crowcpp-crow/all/conanfile.py
Due: lint-recipes, lint-test_package

add upload_policy="skip"
  recipes/objectbox/all/conanfile.py
Due: lint-recipes, lint-test_package

visit_struct: update boost/1.83.0
  recipes/visit_struct/all/conanfile.py
Due: lint-recipes, lint-test_package

usockets: update boost/1.83.0
  recipes/usockets/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19699) soci: update dependencies
  recipes/soci/all/conanfile.py
Due: lint-recipes, lint-test_package

samurai: add version 0.6.0
  recipes/samurai/all/conandata.yml
  recipes/samurai/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19705) visit_struct: update boost/1.83.0
  recipes/visit_struct/all/conanfile.py
Due: lint-recipes, lint-test_package

restinio: update fmt/10.1.1
  recipes/restinio/all/conanfile.py
Due: lint-recipes, lint-test_package

wasmtime-cpp: update wasmtime/12.0.1
  recipes/wasmtime-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19707) samurai: add version 0.6.0
  recipes/samurai/all/conandata.yml
  recipes/samurai/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19708) restinio: update fmt/10.1.1
  recipes/restinio/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19706) usockets: update boost/1.83.0
  recipes/usockets/all/conanfile.py
Due: lint-recipes, lint-test_package

seadex-genesis: upate fmt/10.1.0
  recipes/seadex-genesis/all/conanfile.py
Due: lint-recipes, lint-test_package

improve patch for 0.9.0
  recipes/watcher/all/conandata.yml
  recipes/watcher/all/conanfile.py
  recipes/watcher/all/patches/0.9.0-include-atomic.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

highfive: update dependencies
  recipes/highfive/all/conanfile.py
Due: lint-recipes, lint-test_package

xtensor: update dependencies
  recipes/xtensor/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19710) seadex-genesis: update fmt/10.1.0
  recipes/seadex-genesis/all/conanfile.py
Due: lint-recipes, lint-test_package
