Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

Update recipes/mpfr/all/test_v1_package/CMakeLists.txt
  recipes/mpfr/all/test_v1_package/CMakeLists.txt
Due: none

(#16637) hazelcast-cpp-client: add version 5.2.0
  recipes/hazelcast-cpp-client/all/conandata.yml
  recipes/hazelcast-cpp-client/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Fix minimal cppstd version
  recipes/rapidfuzz/all/conanfile.py
Due: lint-recipes, lint-test_package

wayland-protocols: fix source references
  recipes/wayland-protocols/all/conandata.yml
  recipes/wayland-protocols/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

sentry-crashpad: Fix wrong license being packaged
  recipes/sentry-crashpad/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16658) OpenSSL 3.x: fixes to support Conan 2.0
  recipes/openssl/3.x.x/conandata.yml
  recipes/openssl/3.x.x/conanfile.py
  recipes/openssl/3.x.x/test_package/CMakeLists.txt
  recipes/openssl/3.x.x/test_package/conanfile.py
  recipes/openssl/3.x.x/test_package/test_package.c
  recipes/openssl/3.x.x/test_v1_package/CMakeLists.txt
  recipes/openssl/3.x.x/test_v1_package/conanfile.py
  recipes/openssl/3.x.x/test_v1_package/digest.c
  recipes/openssl/3.x.x/test_v1_package/digest_legacy.c
  recipes/openssl/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Remove ca_cert.pem
  recipes/libcurl/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16659) [doc] Update supported platforms and configurations (2023-03-23)
  docs/supported_platforms_and_configurations.md
Due: none

(#16663) glib: add version 2.76.1
  recipes/glib/all/conandata.yml
  recipes/glib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16199) Update documentation URLs to use Conan v1 dedicated address
  docs/adding_packages/README.md
  docs/adding_packages/build_and_package.md
  docs/adding_packages/conandata_yml_format.md
  docs/adding_packages/conanfile_attributes.md
  docs/adding_packages/dependencies.md
  docs/adding_packages/folders_and_files.md
  docs/adding_packages/sources_and_patches.md
  docs/adding_packages/test_packages.md
  docs/consuming_recipes.md
  docs/developing_recipes_locally.md
  docs/error_knowledge_base.md
  docs/faqs.md
  docs/linters.md
  docs/v2_linter.md
  docs/v2_migration.md
Due: none

(#16593) docs: clarify what's support with Conan 2.0
  docs/developing_recipes_locally.md
Due: none

(#16476) backward-cpp: expose transitive dependencies
  recipes/backward-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

add more recipes to v2 ready references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16672) readerwriterqueue: fix copying header files
  recipes/readerwriterqueue/all/conanfile.py
Due: lint-recipes, lint-test_package

fixup! wayland-protocols: fix source references
  recipes/wayland-protocols/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16638) Improve and update ArduinoJson
  recipes/arduinojson/all/conandata.yml
  recipes/arduinojson/all/conanfile.py
  recipes/arduinojson/all/test_package/test_package.cpp
  recipes/arduinojson/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add openssl
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

fixup! wayland-protocols: fix source references
  recipes/wayland-protocols/all/conandata.yml
  recipes/wayland-protocols/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fixup! wayland-protocols: fix source references
  recipes/wayland-protocols/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16232) vulkan-loader: modernize more for conan v2
  recipes/vulkan-loader/all/conanfile.py
Due: lint-recipes, lint-test_package

drop gcc < 7
  recipes/openmvg/all/conanfile.py
Due: lint-recipes, lint-test_package

openvc: 4.x bump libwebp
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

(#15648) openjdk: Remove x86_64 architecture restriction
  recipes/openjdk/all/conandata.yml
  recipes/openjdk/all/conanfile.py
  recipes/openjdk/all/test_package/conanfile.py
  recipes/openjdk/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16666) [bot] Update authorized users list (2023-03-23)
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16530) sentry-native: Add option to enable the WER module support of crashpad
  recipes/sentry-native/all/conandata.yml
  recipes/sentry-native/all/conanfile.py
  recipes/sentry-native/all/patches/sentry-native-903c17a.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

apr-util: Upgrade to be conan 2 compatibile
  recipes/apr-util/all/CMakeLists.txt
  recipes/apr-util/all/conandata.yml
  recipes/apr-util/all/conanfile.py
  recipes/apr-util/all/patches/0004-set-min-cmake-version-first.patch
  recipes/apr-util/all/patches/0005-fix-expat-found-test.patch
  recipes/apr-util/all/test_package/CMakeLists.txt
  recipes/apr-util/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Simplify the downloading in 7z
  recipes/7zip/19.00/conandata.yml
  recipes/7zip/19.00/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

log4cxx: Upgrade to be conan 2 compatibile
  recipes/log4cxx/all/conandata.yml
  recipes/log4cxx/all/conanfile.py
  recipes/log4cxx/all/patches/0002-find-apr.patch
  recipes/log4cxx/all/patches/0003-find-apr.patch
  recipes/log4cxx/all/test_package/CMakeLists.txt
  recipes/log4cxx/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

feat: package gurkenlaeufer
  recipes/gurkenlaeufer/all/conandata.yml
  recipes/gurkenlaeufer/all/conanfile.py
  recipes/gurkenlaeufer/all/test_package/CMakeLists.txt
  recipes/gurkenlaeufer/all/test_package/conanfile.py
  recipes/gurkenlaeufer/all/test_package/main.cpp
  recipes/gurkenlaeufer/all/test_package/parsertests.cpp
  recipes/gurkenlaeufer/all/test_v1_package/CMakeLists.txt
  recipes/gurkenlaeufer/all/test_v1_package/conanfile.py
  recipes/gurkenlaeufer/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

asio-1.27.0
  recipes/asio/all/conandata.yml
  recipes/asio/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
