Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

simplify test_package.cpp
  recipes/wt/all/test_package/test_package.cpp
Due: none

wt/>=3.5.0 require C++14
  recipes/wt/all/test_package/CMakeLists.txt
Due: none

Fix merge conflict
  .github/actions/alert-community/action.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix patch_type
  recipes/log4cplus/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

[qxlsx/1.4.5] Use Qt 6.4.2
  recipes/qxlsx/all/conanfile.py
Due: lint-recipes, lint-test_package

fix properties
  recipes/log4cplus/all/conanfile.py
Due: lint-recipes, lint-test_package

(#14930) Glibmm v2 toolchain
  recipes/glibmm/all/conandata.yml
  recipes/glibmm/all/conanfile.py
  recipes/glibmm/all/patches/enable_static_libs_2_75_0.patch
  recipes/glibmm/all/patches/fix_initialization_order_fiasco_2_75_0.patch
  recipes/glibmm/all/test_package/CMakeLists.txt
  recipes/glibmm/all/test_package/conanfile.py
  recipes/glibmm/all/test_v1_package/CMakeLists.txt
  recipes/glibmm/all/test_v1_package/conanfile.py
  recipes/glibmm/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update Qt version to 5.15.8
  recipes/qxlsx/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15588) libgeotiff: download official tarballs + bump proj
  recipes/libgeotiff/all/conandata.yml
  recipes/libgeotiff/all/conanfile.py
  recipes/libgeotiff/all/patches/fix-cmake-1.5.1.patch
  recipes/libgeotiff/all/patches/fix-cmake-1.6.0.patch
  recipes/libgeotiff/all/patches/fix-cmake-1.7.1.patch
  recipes/libgeotiff/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix shared build on MSVC
  recipes/libdwarf/all/patches/0.5.0-0001-fix-DW_API.patch
  recipes/libdwarf/all/patches/0.5.0-0001-fix-cmake.patch
Due: none

fix license
  recipes/libbpf/all/conanfile.py
Due: lint-recipes, lint-test_package

fix topics
  recipes/libbpf/all/conanfile.py
Due: lint-recipes, lint-test_package

conan v2 support
  recipes/xmlsec/all/conanfile.py
  recipes/xmlsec/all/test_package/CMakeLists.txt
  recipes/xmlsec/all/test_package/conanfile.py
  recipes/xmlsec/all/test_v1_package/CMakeLists.txt
  recipes/xmlsec/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

use official tarballs
  recipes/xmlsec/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix runtime environment for test_package
  recipes/paho-mqtt-c/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

fix homepage
  recipes/xmlsec/all/conanfile.py
Due: lint-recipes, lint-test_package

fix mingw clang & modernize more
  recipes/libiconv/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15591) glm: download official tarballs + modernize more
  recipes/glm/all/conandata.yml
  recipes/glm/all/conanfile.py
  recipes/glm/all/test_package/conanfile.py
  recipes/glm/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

more robust fix of openssl libs
  recipes/xmlsec/all/conanfile.py
Due: lint-recipes, lint-test_package

simplify a little bit
  recipes/xmlsec/all/conanfile.py
Due: lint-recipes, lint-test_package

simplify more
  recipes/xmlsec/all/conanfile.py
Due: lint-recipes, lint-test_package

Apply suggestions from code review
  recipes/flac/all/conanfile.py
Due: lint-recipes, lint-test_package

typo
  recipes/xmlsec/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15596) ctre: add version 3.7.2, remove older versions
  recipes/ctre/all/conandata.yml
  recipes/ctre/all/conanfile.py
  recipes/ctre/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix MinGW clang
  recipes/libgettext/all/conanfile.py
Due: lint-recipes, lint-test_package

Add version v10
  recipes/strong_type/all/conandata.yml
  recipes/strong_type/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#15646) objectbox: add version 0.18.1, support conan v2
  recipes/objectbox/all/CMakeLists.txt
  recipes/objectbox/all/conandata.yml
  recipes/objectbox/all/conanfile.py
  recipes/objectbox/all/test_package/CMakeLists.txt
  recipes/objectbox/all/test_package/conanfile.py
  recipes/objectbox/all/test_v1_package/CMakeLists.txt
  recipes/objectbox/all/test_v1_package/conanfile.py
  recipes/objectbox/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/hdf5/all/conanfile.py
  recipes/hdf5/all/conanfile.py
Due: lint-recipes, lint-test_package

Fixup build_modules
  recipes/hdf5/all/conanfile.py
Due: lint-recipes, lint-test_package

Add version 9.2.5
  recipes/vtk/all/conandata.yml
  recipes/vtk/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#15650) re2: add version 20230201, remove older versions
  recipes/re2/all/conandata.yml
  recipes/re2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

[doc] Update supported platforms and configurations
  docs/supported_platforms_and_configurations.md
Due: none

(#15656) scnlib: update fast_float
  recipes/scnlib/all/conanfile.py
  recipes/scnlib/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
