Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

fixes
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

adding Botan 3.0.0 recipe
  recipes/botan/all/conandata.yml
  recipes/botan/all/test_package/CMakeLists.txt
  recipes/botan/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

some more fixes to be ready for 2.0
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove base_path for patches and switch again to `src` for src folder
  recipes/botan/all/conandata.yml
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Remove unused import
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Add min version for apple-clang
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Botan 2.x is not compatible with OpenSSL 3.x
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix msvc build and test
  recipes/botan/all/conanfile.py
  recipes/botan/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Use leading _ for member variable extra_cxxflags
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Try fixing KB-H010 for Conan 1
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Revert back to "sources" name for src folder
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Use Version helper in package_info
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

ci lint fix
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Apply suggestions from code review
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Don't add -fPIC for msvc
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

pin to specific OpenSSL version (1.1.1s)
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove redundant cpp_info.names["pkg_config"]
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix getting env variables
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

add patch sources to patches
  recipes/botan/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

updated to conan 2
  recipes/botan/all/conanfile.py
  recipes/botan/all/test_package/CMakeLists.txt
  recipes/botan/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Add support for tools.build:sysroot
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Further improvements
  recipes/botan/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove some older Botan versions
  recipes/botan/all/conandata.yml
  recipes/botan/all/patches/dll-dir.patch
  recipes/botan/all/patches/fix-unrecognized-linker-flag.patch
  recipes/botan/all/patches/vs2015-install-fix.patch
Due: lint-yaml-scheme, check-yaml-scheme

Set C++ standard in test package according to Botan version
  recipes/botan/all/test_package/CMakeLists.txt
  recipes/botan/all/test_v1_package/CMakeLists.txt
Due: none

(#21825) xkeyboard-config: define package_type
  recipes/xkeyboard-config/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21795) copypp: add version 0.2.0
  recipes/copypp/all/conandata.yml
  recipes/copypp/all/conanfile.py
  recipes/copypp/all/test_package/CMakeLists.txt
  recipes/copypp/all/test_package/conanfile.py
  recipes/copypp/all/test_package/test_package.cpp
  recipes/copypp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21815) taocpp-taopq: add version cci.20231219
  recipes/taocpp-taopq/all/conandata.yml
  recipes/taocpp-taopq/all/conanfile.py
  recipes/taocpp-taopq/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21818) wil: add version 1.0.231216.1
  recipes/wil/all/conandata.yml
  recipes/wil/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21834) commata: add version 0.2.7, remove older versions
  recipes/commata/all/conandata.yml
  recipes/commata/all/conanfile.py
  recipes/commata/all/test_package/CMakeLists.txt
  recipes/commata/all/test_package/test_package.cpp
  recipes/commata/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21852) ittapi: add v3.24.4
  recipes/ittapi/all/conandata.yml
  recipes/ittapi/all/conanfile.py
  recipes/ittapi/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

copypp: fix bug
  recipes/copypp/all/conanfile.py
  recipes/copypp/all/test_package/CMakeLists.txt
  recipes/copypp/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package

Glib 2.79.0
  recipes/glib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update conandata.yml
  recipes/glib/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

copypp: new version 0.3.0 (#21875)
  recipes/copypp/all/conandata.yml
  recipes/copypp/all/conanfile.py
  recipes/copypp/all/test_package/CMakeLists.txt
  recipes/copypp/all/test_package/conanfile.py
  recipes/copypp/all/test_package/test_package.cpp
  recipes/copypp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme
