Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

Add bug fix patch_source
  recipes/cpptrace/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Removed unused import
  recipes/cpptrace/all/conanfile.py
Due: lint-recipes, lint-test_package

openssl: add 3.0.12 & 3.1.4
  recipes/openssl/3.x.x/conandata.yml
  recipes/openssl/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20829) asio: add version 1.28.2
  recipes/asio/all/conandata.yml
  recipes/asio/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20828) cassandra-cpp-driver: add version 2.17.1
  recipes/cassandra-cpp-driver/all/conandata.yml
  recipes/cassandra-cpp-driver/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Patch for cross-compilation issue
  recipes/protobuf/all/conandata.yml
  recipes/protobuf/all/patches/protobuf-3.5.1-upstream-pr4709-remove-js_embed.patch
Due: lint-yaml-scheme, check-yaml-scheme

asio-grpc: add version 2.7.0, update asio
  recipes/asio-grpc/all/conandata.yml
  recipes/asio-grpc/all/conanfile.py
  recipes/asio-grpc/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix interface definition for windows
  recipes/yaml-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

define YAML_CPP_STATIC_DEFINE if shared since 0.8.0 irrespective of os
  recipes/yaml-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

remove pdb files
  recipes/onetbb/all/conanfile.py
Due: lint-recipes, lint-test_package

also provide `yaml-cpp::yaml-cpp` imported target
  recipes/yaml-cpp/all/conanfile.py
  recipes/yaml-cpp/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

fmilibrary does not support armv8 Macos yet
  recipes/fmilibrary/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18863) cryptopp-pem: migrate to Conan v2
  recipes/cryptopp-pem/all/CMakeLists.txt
  recipes/cryptopp-pem/all/conandata.yml
  recipes/cryptopp-pem/all/conanfile.py
  recipes/cryptopp-pem/all/patches/use-cryptopp-include-from-conan.patch
  recipes/cryptopp-pem/all/test_package/CMakeLists.txt
  recipes/cryptopp-pem/all/test_package/conanfile.py
  recipes/cryptopp-pem/all/test_v1_package/CMakeLists.txt
  recipes/cryptopp-pem/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20834) glib: add version 2.78.1
  recipes/glib/all/conandata.yml
  recipes/glib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

import rm
  recipes/onetbb/all/conanfile.py
Due: lint-recipes, lint-test_package

Apply suggestions from code review
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

Make zlib a direct dependency
  recipes/fmilibrary/all/conandata.yml
  recipes/fmilibrary/all/conanfile.py
  recipes/fmilibrary/all/patches/2.4.1-009-link-zlib-in-fmilib.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20721) [google-cloud-cpp] bump requirements and other fixes
  recipes/google-cloud-cpp/2.x/conandata.yml
  recipes/google-cloud-cpp/2.x/conanfile.py
  recipes/google-cloud-cpp/2.x/patches/2.5.0/006-cannot-use-or-with-windows.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20284) cpptrace: Add recipe
  recipes/cpptrace/all/conandata.yml
  recipes/cpptrace/all/conanfile.py
  recipes/cpptrace/all/patches/0.2.1/0001-to_uintptr.patch
  recipes/cpptrace/all/patches/0.2.1/0002-conan-libdwarf.patch
  recipes/cpptrace/all/test_package/CMakeLists.txt
  recipes/cpptrace/all/test_package/conanfile.py
  recipes/cpptrace/all/test_package/test_package.cpp
  recipes/cpptrace/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Fix shared build windows
  recipes/fmilibrary/all/conandata.yml
  recipes/fmilibrary/all/conanfile.py
  recipes/fmilibrary/all/patches/2.4.1-010-install-runtime-to-bin.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

[sail] Update URL
  recipes/sail/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20830) openssl: add 3.0.12 & 3.1.4
  recipes/openssl/3.x.x/conandata.yml
  recipes/openssl/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

add 1.3.261.1 and 1.3.268.0
  recipes/vulkan-headers/all/conandata.yml
  recipes/vulkan-headers/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

remove old versions
  recipes/vulkan-headers/all/conandata.yml
  recipes/vulkan-headers/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#17925) [qt/6.x.x] Fix conan toolchain
  recipes/qt/6.x.x/conanfile.py
  recipes/qt/6.x.x/test_package/conanfile.py
Due: lint-recipes, lint-test_package

add 1.3.261.1 and 1.3.268.0
  recipes/spirv-headers/all/conandata.yml
  recipes/spirv-headers/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

remove old versions
  recipes/spirv-headers/all/conandata.yml
  recipes/spirv-headers/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

robust copy of LICENSE file
  recipes/vulkan-headers/all/conanfile.py
Due: lint-recipes, lint-test_package

add 1.3.268.0
  recipes/spirv-cross/all/conandata.yml
  recipes/spirv-cross/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Fix post package warnings
  recipes/fmilibrary/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
