Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#19175) boost: add version 1.83.0
  recipes/boost/all/conandata.yml
  recipes/boost/all/dependencies/dependencies-1.83.0.yml
  recipes/boost/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Set required_conan_version to 1.60.2
  recipes/arm-gnu-toolchain/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix mismatch between conandata.yml and config.yml
  recipes/arm-gnu-toolchain/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

embag: revert to using a patch
  recipes/embag/all/CMakeLists.txt
  recipes/embag/all/conanfile.py
Due: lint-recipes, lint-test_package

tcp-wrappers: disable cross-building
  recipes/tcp-wrappers/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19179) loguru: fix preprocessor definition values
  recipes/loguru/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove build policy missing
  recipes/arm-gnu-toolchain/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19203) [libsnd] Update to 1.2.2
  recipes/libsndfile/all/conandata.yml
  recipes/libsndfile/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

use streamvbyte, fpzip cci's recipes
  recipes/wavelet_buffer/all/conandata.yml
  recipes/wavelet_buffer/all/conanfile.py
  recipes/wavelet_buffer/all/patches/0.7.1-0002-use-cci-packages.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Boost.Charconv recipe
  recipes/boost.charconv/all/conandata.yml
  recipes/boost.charconv/all/conanfile.py
  recipes/boost.charconv/all/test_package/CMakeLists.txt
  recipes/boost.charconv/all/test_package/conanfile.py
  recipes/boost.charconv/all/test_package/test_package.cpp
  recipes/boost.charconv/all/test_v1_package/CMakeLists.txt
  recipes/boost.charconv/all/test_v1_package/conanfile.py
  recipes/boost.charconv/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix name
  recipes/boost.charconv/all/conanfile.py
Due: lint-recipes, lint-test_package

zlib: add version 1.3
  recipes/zlib/all/conandata.yml
  recipes/zlib/all/patches/1.3/0001-fix-cmake.patch
  recipes/zlib/all/patches/1.3/0002-gzguts-xcode12-compile-fix.patch
  recipes/zlib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19209) libmysqlclient: fix compilation error on RHEL
  recipes/libmysqlclient/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19242) [package] opus/1.4 (Update)
  recipes/opus/all/conandata.yml
  recipes/opus/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add license workaround for 12.3.1
  recipes/arm-gnu-toolchain/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix comment about licenses
  recipes/arm-gnu-toolchain/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19247) [cpuinfo] fix bug when compiling for Android
  recipes/cpuinfo/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19259) restinio: add 0.6.19
  recipes/restinio/all/conandata.yml
  recipes/restinio/all/conanfile.py
  recipes/restinio/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19260) maddy: add version 1.2.1 with several improvements
  recipes/maddy/all/conandata.yml
  recipes/maddy/all/conanfile.py
  recipes/maddy/all/test_package/CMakeLists.txt
  recipes/maddy/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

using glslang as conan-dependency and corrected minor issues
  recipes/vsg/all/conandata.yml
  recipes/vsg/all/conanfile.py
  recipes/vsg/all/patches/0001-glslang-dependency.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

glslang support for 1.0.5
  recipes/vsg/all/conandata.yml
  recipes/vsg/all/patches/0002-glslang-dependency.patch
Due: lint-yaml-scheme, check-yaml-scheme

md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19276) md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix linting issues
  recipes/boost.charconv/all/conanfile.py
Due: lint-recipes, lint-test_package

spdlog: bump fmt dep
  recipes/spdlog/all/conanfile.py
Due: lint-recipes, lint-test_package

gegles-spdlog_setup: bump fmt dep
  recipes/gegles-spdlog_setup/all/conanfile.py
Due: lint-recipes, lint-test_package

lyra: clean up package_info
  recipes/lyra/all/conanfile.py
Due: lint-recipes, lint-test_package

lyra: clean up old versions
  recipes/lyra/all/conandata.yml
  recipes/lyra/all/test_v1_package/CMakeLists.txt
  recipes/lyra/all/test_v1_package/conanfile.py
  recipes/lyra/all/test_v1_package/test_package.cpp
  recipes/lyra/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add picolibc.specs to test_package
  recipes/arm-gnu-toolchain/all/test_package/CMakeLists.txt
Due: none
