Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#21054) emsdk: new versions
  recipes/emsdk/all/conandata.yml
  recipes/emsdk/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Remove 1.1.1, use CMake to build
  recipes/tinyalsa/all/conandata.yml
  recipes/tinyalsa/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Set src_folder
  recipes/tinyalsa/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21065) md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21041) libcap: bump pkgconf
  recipes/libcap/all/test_package/conanfile.py
  recipes/libcap/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#21047) sdbus-cpp: bump pkgconf
  recipes/sdbus-cpp/all/test_pkgconf/conanfile.py
Due: lint-recipes, lint-test_package

(#21069) opencascade: add version 7.7.2
  recipes/opencascade/all/conandata.yml
  recipes/opencascade/all/conanfile.py
  recipes/opencascade/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add msvc min version
  recipes/opene57/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21044) coin-cgl: bump pkgconf
  recipes/coin-cgl/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

onnxruntime: add version 1.16.2
  recipes/onnxruntime/all/conandata.yml
  recipes/onnxruntime/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21063) libmaxminddb: add version 1.8.0
  recipes/libmaxminddb/all/conandata.yml
  recipes/libmaxminddb/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21043) sentry-breakpad: bump pkgconf
  recipes/sentry-breakpad/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#20852) so5extra: add version 1.6.1
  recipes/so5extra/all/conandata.yml
  recipes/so5extra/all/conanfile.py
  recipes/so5extra/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

bump zeromq & libsystemd
  recipes/zyre/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21053) coin-utils: bump pkgconf
  recipes/coin-utils/all/test_package/conanfile.py
  recipes/coin-utils/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Use relative symlink instead of absolute
  recipes/liburing/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove tinyalsa 1.1.1
  recipes/tinyalsa/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add 2.4
  recipes/liburing/all/conandata.yml
  recipes/liburing/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

c-blosc2: add version 2.11.2
  recipes/c-blosc2/all/conandata.yml
  recipes/c-blosc2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21057) arrow: add version 14.0.1
  recipes/arrow/all/conandata.yml
  recipes/arrow/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21072) onnxruntime: add version 1.16.2
  recipes/onnxruntime/all/conandata.yml
  recipes/onnxruntime/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

remove uwebsockets
  recipes/simd/all/conanfile.py
Due: lint-recipes, lint-test_package

luau: add version 0.603
  recipes/luau/all/conandata.yml
  recipes/luau/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21062) uwebsockets: add version 20.48.0
  recipes/uwebsockets/all/conandata.yml
  recipes/uwebsockets/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21056) xsimd: add version 11.2.0
  recipes/xsimd/all/conandata.yml
  recipes/xsimd/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21074) c-blosc2: add version 2.11.2
  recipes/c-blosc2/all/conandata.yml
  recipes/c-blosc2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
