Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

allow shared for macOS
  recipes/libmysqlclient/all/conanfile.py
Due: lint-recipes, lint-test_package

remove lib/plugin folder
  recipes/libmysqlclient/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21159) [cimq] Reduce number of versions supported
  recipes/cimg/all/conandata.yml
  recipes/cimg/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18848) mold: drop 1.3.1, add package_type
  recipes/mold/1.3.1/conandata.yml
  recipes/mold/1.3.1/conanfile.py
  recipes/mold/1.3.1/test_package/conanfile.py
  recipes/mold/all/conanfile.py
  recipes/mold/all/test_package/conanfile.py
  recipes/mold/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#18884) cairomm: migrate to Conan v2
  recipes/cairomm/all/conandata.yml
  recipes/cairomm/all/conanfile.py
  recipes/cairomm/all/patches/enable_static_lib_1_14_3.patch
  recipes/cairomm/all/patches/enable_static_lib_1_16_1.patch
  recipes/cairomm/all/test_package/CMakeLists.txt
  recipes/cairomm/all/test_package/conanfile.py
  recipes/cairomm/all/test_package/test_package.cpp
  recipes/cairomm/all/test_v1_package/CMakeLists.txt
  recipes/cairomm/all/test_v1_package/conanfile.py
  recipes/cairomm/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20287) Bump nmos-cpp's zlib requirement to [>=1.2.11 <2] range
  recipes/nmos-cpp/all/conanfile.py
  recipes/nmos-cpp/all/test_package/conanfile.py
  recipes/nmos-cpp/all/test_package/test_package.cpp
  recipes/nmos-cpp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#19281) libhal: add version 2.0.0, add package_type
  recipes/libhal/all/conandata.yml
  recipes/libhal/all/conanfile.py
  recipes/libhal/all/test_package/CMakeLists.txt
  recipes/libhal/all/test_package/conanfile.py
  recipes/libhal/all/test_package/main.cpp
  recipes/libhal/all/test_package/test_package.cpp
  recipes/libhal/all/test_v1_package/CMakeLists.txt
  recipes/libhal/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20770) mariadb-connector-c: version range for libcurl
  recipes/mariadb-connector-c/all/conanfile.py
Due: lint-recipes, lint-test_package

highfive: update dependencies
  recipes/highfive/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20913) glfw: Add support for Wayland
  recipes/glfw/all/conandata.yml
  recipes/glfw/all/conanfile.py
  recipes/glfw/all/patches/3.3.2-0003-Wayland-Remove-extra-cmake-modules-dependency.patch
  recipes/glfw/all/patches/3.3.3-0001-Wayland-Remove-extra-cmake-modules-dependency.patch
  recipes/glfw/all/patches/3.3.5-0001-Wayland-Remove-extra-cmake-modules-dependency.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20953) mesa-glu: Add recipe
  recipes/mesa-glu/all/conandata.yml
  recipes/mesa-glu/all/conanfile.py
  recipes/mesa-glu/all/test_package/conanfile.py
  recipes/mesa-glu/all/test_package/meson.build
  recipes/mesa-glu/all/test_package/test_package.c
  recipes/mesa-glu/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20969) re-add QuickTest module in package_info
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

(#21160) fast-cdr: add version 2.1.0
  recipes/fast-cdr/all/conandata.yml
  recipes/fast-cdr/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21168) glaze: add version 1.6.0
  recipes/glaze/all/conandata.yml
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21171) iowow: add version 1.4.17
  recipes/iowow/all/conandata.yml
  recipes/iowow/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Create conanfile.py
  recipes/b-multi/conanfile.py
Due: lint-recipes, lint-test_package

Create config,yml
  recipes/b-multi/config,yml
Due: none

Create conanfile.py
  recipes/b-multi/all/conanfile.py
Due: lint-recipes, lint-test_package

Delete recipes/b-multi/conanfile.py
  recipes/b-multi/conanfile.py
Due: lint-recipes, lint-test_package

(#21172) magic_enum: add version 0.9.5
  recipes/magic_enum/all/conandata.yml
  recipes/magic_enum/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Create conandata.yml
  recipes/b-multi/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21169) coin-utils: add v2.11.10
  recipes/coin-utils/all/conandata.yml
  recipes/coin-utils/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

opentdf-client/all: bump deps
  recipes/opentdf-client/all/conanfile.py
Due: lint-recipes, lint-test_package

pagmo2: MSVC shared builds are broken
  recipes/pagmo2/all/conanfile.py
Due: lint-recipes, lint-test_package

coin-cbc/all: bump deps
  recipes/coin-cbc/all/conanfile.py
Due: lint-recipes, lint-test_package
