Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#16643) asio: Add versions 1.26.0 and 1.27.0
  recipes/asio/all/conandata.yml
  recipes/asio/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add test_v1_package
  recipes/wiringpi/all/test_v1_package/CMakeLists.txt
  recipes/wiringpi/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16633) coin-osi: C++17 compatibility (and generate v2 packages)
  recipes/coin-osi/all/conandata.yml
  recipes/coin-osi/all/patches/0.108.6-0001-no-pkg-config-check.patch
  recipes/coin-osi/all/patches/0.108.6-0002-cpp17-compat.patch
Due: lint-yaml-scheme, check-yaml-scheme

(#16626) freeglut: conan v2 support
  recipes/freeglut/all/CMakeLists.txt
  recipes/freeglut/all/conanfile.py
  recipes/freeglut/all/test_package/CMakeLists.txt
  recipes/freeglut/all/test_package_module/CMakeLists.txt
  recipes/freeglut/all/test_package_module/conanfile.py
  recipes/freeglut/all/test_v1_package/CMakeLists.txt
  recipes/freeglut/all/test_v1_package/conanfile.py
  recipes/freeglut/all/test_v1_package_module/CMakeLists.txt
  recipes/freeglut/all/test_v1_package_module/conanfile.py
Due: lint-recipes, lint-test_package

Update conanfile.py
  recipes/cppcheck/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16417) modern-cpp-kafka: add version 2023.03.07
  recipes/modern-cpp-kafka/all/conandata.yml
  recipes/modern-cpp-kafka/all/conanfile.py
  recipes/modern-cpp-kafka/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

naive-tsearch: support conan v2
  recipes/naive-tsearch/all/CMakeLists.txt
  recipes/naive-tsearch/all/conandata.yml
  recipes/naive-tsearch/all/conanfile.py
  recipes/naive-tsearch/all/test_package/CMakeLists.txt
  recipes/naive-tsearch/all/test_package/conanfile.py
  recipes/naive-tsearch/all/test_v1_package/CMakeLists.txt
  recipes/naive-tsearch/all/test_v1_package/conanfile.py
  recipes/naive-tsearch/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add test_type = "explicit"
  recipes/wiringpi/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16374) paho-mqtt-c: bump openssl + modernize more for conan v2
  recipes/paho-mqtt-c/all/conanfile.py
  recipes/paho-mqtt-c/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

inject __SSE2__ for msvc if x86
  recipes/openmvg/all/patches/2.0-0004-no-auto-simd-optimization.patch
Due: none

(#16373) opencl-icd-loader: modernize more for conan v2
  recipes/opencl-icd-loader/all/conanfile.py
Due: lint-recipes, lint-test_package

add more recipes to v2 ready references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16566) giflib 5.2.x: add package_type & fix test package for conan v2
  recipes/giflib/5.2.x/conanfile.py
  recipes/giflib/5.2.x/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16608) wt: fix conan v2 support + bump dependencies
  recipes/wt/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16404) qt5: conan V2 migration
  recipes/qt/5.x.x/conanfile.py
  recipes/qt/5.x.x/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16364) libsvtav1: fix static build on macos llvm-clang
  recipes/libsvtav1/all/conandata.yml
  recipes/libsvtav1/all/patches/llvm-clang-macos.patch
Due: lint-yaml-scheme, check-yaml-scheme

(#16318) mingw-builds: conan v2 migration
  recipes/mingw-builds/all/conanfile.py
Due: lint-recipes, lint-test_package

Updating imagl recipe for conan 2.0
  recipes/imagl/all/CMakeLists.txt
  recipes/imagl/all/conandata.yml
  recipes/imagl/all/conanfile.py
  recipes/imagl/all/test_package/CMakeLists.txt
  recipes/imagl/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add reference to original bug report
  recipes/rapidxml/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update required conan version
  recipes/rapidxml/all/conanfile.py
Due: lint-recipes, lint-test_package

adding src_folder parameter to cmake_layout to please linter
  recipes/imagl/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16315) libvpx: several fixes like relocatable share lib on macOS & proper conan v2 support
  recipes/libvpx/all/conanfile.py
  recipes/libvpx/all/test_package/CMakeLists.txt
  recipes/libvpx/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Add patch descriptions and remove unused imports
  recipes/log4cxx/all/conandata.yml
  recipes/log4cxx/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Back to minimum conan 1.59
  recipes/imagl/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove faulty 0.12.0 version
  recipes/log4cxx/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Remove unused CMakeLists.txt
  recipes/log4cxx/all/CMakeLists.txt
Due: none

(#16309) civetweb: modernize more for conan v2
  recipes/civetweb/all/conanfile.py
  recipes/civetweb/all/test_package/conanfile.py
  recipes/civetweb/all/test_v1_package/CMakeLists.txt
  recipes/civetweb/all/test_v1_package/test_package.cpp
Due: lint-recipes, lint-test_package
