Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

OpenSSL 3.x.x: re-enable special Apple changes; no tool test
  recipes/openssl/3.x.x/conanfile.py
  recipes/openssl/3.x.x/test_package/conanfile.py
Due: lint-recipes, lint-test_package

cpr: add version 1.10.1
  recipes/cpr/all/conandata.yml
  recipes/cpr/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update conanfile.py
  recipes/7zip/19.00/conanfile.py
Due: lint-recipes, lint-test_package

openssl3: add CMake variables to match CMake's find module
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

attempt to fix Apple patch of Makefile
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Support VTK's autoinit with a different approach
  recipes/vtk/all/conanfile.py
  recipes/vtk/all/test_package/CMakeLists.txt
  recipes/vtk/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package

openssl3: test package, WIP
  recipes/openssl/3.x.x/test_package/CMakeLists.txt
  recipes/openssl/3.x.x/test_package/conanfile.py
  recipes/openssl/3.x.x/test_package/digest.c
  recipes/openssl/3.x.x/test_v1_package/CMakeLists.txt
  recipes/openssl/3.x.x/test_v1_package/conanfile.py
  recipes/openssl/3.x.x/test_v1_package/digest.c
  recipes/openssl/3.x.x/test_v1_package/digest_legacy.c
Due: lint-recipes, lint-test_package

openssl3: windows fixes
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Fix pull request issues for essentials 2.1.0
  recipes/essentials/all/conanfile.py
  recipes/essentials/all/test_package/CMakeLists.txt
  recipes/essentials/all/test_package/conanfile.py
  recipes/essentials/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Bump Conan 2 to 2.0.2
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

Rename directory to seadex-essentials
  recipes/seadex-essentials/all/conandata.yml
  recipes/seadex-essentials/all/conanfile.py
  recipes/seadex-essentials/all/test_package/CMakeLists.txt
  recipes/seadex-essentials/all/test_package/conanfile.py
  recipes/seadex-essentials/all/test_package/test_package.cpp
  recipes/seadex-essentials/all/test_v1_package/CMakeLists.txt
  recipes/seadex-essentials/all/test_v1_package/conanfile.py
  recipes/seadex-essentials/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Removed test package dependency
  recipes/seadex-essentials/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Add patch for python wrapping
  recipes/vtk/all/conandata.yml
  recipes/vtk/all/patches/9.2.6-fix-python-wrap-array-reference.patch
Due: lint-yaml-scheme, check-yaml-scheme

Dropped version 9.2.5
  recipes/vtk/all/conandata.yml
  recipes/vtk/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

openssl3: fix apple install names and add new version
  recipes/openssl/3.x.x/conandata.yml
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openssl3: remove unused function
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

openssl3: remove unused method
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

openssl3: remove dead code
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

openssl3: fixes
  recipes/openssl/3.x.x/conanfile.py
  recipes/openssl/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

ceres-solver: conan v2 support + deprecate use_gflags option + drop 1.13.0 (#14855)
  recipes/ceres-solver/all/CMakeLists.txt
  recipes/ceres-solver/all/conandata.yml
  recipes/ceres-solver/all/conanfile.py
  recipes/ceres-solver/all/patches/1.14.0-0001-find-libraries-conan.patch
  recipes/ceres-solver/all/patches/2.0.0-0002-fix-eigen-version.patch
  recipes/ceres-solver/all/patches/2.0.0-0002-fix-mingw-build.patch
  recipes/ceres-solver/all/patches/2.0.1-0001-find-glog-conan.patch
  recipes/ceres-solver/all/patches/2.0.1-0002-find-glags-conan.patch
  recipes/ceres-solver/all/patches/2.1.0-0001-find-libraries-conan.patch
  recipes/ceres-solver/all/patches/2.1.0-0002-fix-mingw-build.patch
  recipes/ceres-solver/all/test_package/CMakeLists.txt
  recipes/ceres-solver/all/test_package/conanfile.py
  recipes/ceres-solver/all/test_v1_package/CMakeLists.txt
  recipes/ceres-solver/all/test_v1_package/conanfile.py
  recipes/ceres-solver/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix typo
  recipes/openssl/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix indentation
  recipes/openssl/3.x.x/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16650) libltc: conan v2 support
  recipes/libltc/all/conanfile.py
  recipes/libltc/all/test_package/CMakeLists.txt
  recipes/libltc/all/test_package/conanfile.py
  recipes/libltc/all/test_v1_package/CMakeLists.txt
  recipes/libltc/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

glib: add version 2.76.1
  recipes/glib/all/conandata.yml
  recipes/glib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16630) [bot] Update authorized users list (2023-03-20)
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16628) libcurl: add version 8.0.0, update dependencies
  recipes/libcurl/all/conandata.yml
  recipes/libcurl/all/conanfile.py
  recipes/libcurl/all/test_package/CMakeLists.txt
  recipes/libcurl/all/test_v1_package/CMakeLists.txt
  recipes/libcurl/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16656) cpr: add version 1.10.1
  recipes/cpr/all/conandata.yml
  recipes/cpr/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16610) libmysqlclient: bump cmake to generate v2 packages
  recipes/libmysqlclient/all/conandata.yml
  recipes/libmysqlclient/all/conanfile.py
  recipes/libmysqlclient/all/patches/0001-find-cmake.patch
  recipes/libmysqlclient/all/patches/0002-dont-install-static-libraries+fix-mysql-config.patch
  recipes/libmysqlclient/all/patches/0003-msvc-install-no-pdb.patch
  recipes/libmysqlclient/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16605) pcapplusplus: compatibility with Conan 2.0
  recipes/pcapplusplus/all/conandata.yml
  recipes/pcapplusplus/all/conanfile.py
  recipes/pcapplusplus/all/patches/0001-Pass-CXXFLAGS-CPPFLAGS-when-compiling-3rd-party-sour.patch
  recipes/pcapplusplus/all/patches/0002-Pass-CXXFLAGS-CPPFLAGS-when-compiling-3rd-party-sour.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16579) lcms: modernize more for conan v2 (and generate v2 packages)
  recipes/lcms/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16578) glib: fix visibility of libgettext (public dependency
  recipes/glib/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
