Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#17789) magic_enum: Bump to 0.9.1
  recipes/magic_enum/all/conandata.yml
  recipes/magic_enum/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

re2: add version 20230602, add with_icu option
  recipes/re2/all/conandata.yml
  recipes/re2/all/conanfile.py
  recipes/re2/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#17770) [bot] Update list of references (prod-v2/ListPackages)
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

PR feedback: use `is_msvc`, specify `package_type`
  recipes/id3v2lib/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17764) openssl: add versions 1.1.1u/3.0.9/3.1.1
  recipes/openssl/1.x.x/conandata.yml
  recipes/openssl/3.x.x/conandata.yml
  recipes/openssl/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

getdns/all: bump deps
  recipes/getdns/all/conanfile.py
Due: lint-recipes, lint-test_package

libnice/all: bump deps
  recipes/libnice/all/conanfile.py
Due: lint-recipes, lint-test_package

pistache/all: bump deps
  recipes/pistache/all/conanfile.py
Due: lint-recipes, lint-test_package

fix v1
  recipes/emio/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

conan -> conans
  recipes/emio/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

cmake package names
  recipes/emio/all/conanfile.py
Due: lint-recipes, lint-test_package

simplify conanfiles as suggested
  recipes/emio/all/conanfile.py
  recipes/emio/all/test_v1_package/CMakeLists.txt
  recipes/emio/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

better imports?
  recipes/emio/all/conanfile.py
  recipes/emio/all/test_package/conanfile.py
  recipes/emio/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

import errors
  recipes/emio/all/conanfile.py
Due: lint-recipes, lint-test_package

test it with apple-clang 14
  recipes/emio/all/conanfile.py
Due: lint-recipes, lint-test_package

conans
  recipes/emio/all/conanfile.py
Due: lint-recipes, lint-test_package

add emio 0.3.0
  recipes/emio/all/conandata.yml
  recipes/emio/all/conanfile.py
  recipes/emio/all/test_package/CMakeLists.txt
  recipes/emio/all/test_package/conanfile.py
  recipes/emio/all/test_package/test_package.cpp
  recipes/emio/all/test_v1_package/CMakeLists.txt
  recipes/emio/all/test_v1_package/conanfile.py
  recipes/emio/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

require clang 14
  recipes/emio/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17794) miniaudio: add version 0.11.17
  recipes/miniaudio/all/conandata.yml
  recipes/miniaudio/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

add system_libs
  recipes/nanomsg/all/conanfile.py
Due: lint-recipes, lint-test_package

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

pixman: generate missing binaries
  recipes/pixman/all/conanfile.py
Due: lint-recipes, lint-test_package

pixman 0.42.2
  recipes/pixman/all/conandata.yml
  recipes/pixman/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix llvm
  recipes/pixman/all/conandata.yml
  recipes/pixman/all/patches/0003-Adjustments-to-build-with-llvm.patch
Due: lint-yaml-scheme, check-yaml-scheme

(#17790) uvw: add version 3.1.0
  recipes/uvw/all/conandata.yml
  recipes/uvw/all/conanfile.py
  recipes/uvw/all/test_package/CMakeLists.txt
  recipes/uvw/all/test_package/test_package.cpp
  recipes/uvw/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

disable tests and demos
  recipes/pixman/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17795) [bot] Update list of references (prod-v2/ListPackages)
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#17788) jasper: remove windows sdk workaround
  recipes/jasper/all/conanfile.py
Due: lint-recipes, lint-test_package

fix(llvm): split configure / validate maybe helps with ci
  recipes/llvm/all/conanfile.py
Due: lint-recipes, lint-test_package

[util-linux-libuuid] Invalidate macos builds
  recipes/util-linux-libuuid/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17785) etl: add version 20.36.0, minor improvements
  recipes/etl/all/conandata.yml
  recipes/etl/all/conanfile.py
  recipes/etl/all/test_package/CMakeLists.txt
  recipes/etl/all/test_package/conanfile.py
  recipes/etl/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

deprecate
  recipes/gfortran/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
