Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

Add user tannerbitz to allow merging its PR (#16316)
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

B2 4.9.4
  recipes/b2/portable/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add missing change.
  recipes/b2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

several fixes & conan v2 improvements
  recipes/libvpx/all/conanfile.py
  recipes/libvpx/all/test_package/CMakeLists.txt
  recipes/libvpx/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

[qt/6.4.2] Remove .dll extension as QSystemLibrary unconditionally adds it
  recipes/qt/6.x.x/conandata.yml
  recipes/qt/6.x.x/patches/1391383.diff
Due: lint-yaml-scheme, check-yaml-scheme

B2: add version 4.9.4 (#16247)
  recipes/b2/config.yml
  recipes/b2/portable/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

mingw-builds: conan v2 migration
  recipes/mingw-builds/all/conanfile.py
Due: lint-recipes, lint-test_package

use f-strings
  recipes/mingw-builds/all/conanfile.py
Due: lint-recipes, lint-test_package

Add grafikrobot to watch Boost. (#16240)
  .github/workflows/alert-community.yml
Due: lint-yaml-scheme, check-yaml-scheme

add conan v1 test package
  recipes/libudev/all/test_v1_package/CMakeLists.txt
  recipes/libudev/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

ada: add recipe
  recipes/ada/all/conandata.yml
  recipes/ada/all/conanfile.py
  recipes/ada/all/test_package/CMakeLists.txt
  recipes/ada/all/test_package/conanfile.py
  recipes/ada/all/test_package/test_package.cpp
  recipes/ada/all/test_v1_package/CMakeLists.txt
  recipes/ada/all/test_v1_package/conanfile.py
  recipes/ada/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/libtool/all/conanfile.py
  recipes/libtool/all/conanfile.py
Due: lint-recipes, lint-test_package

libudev: conanv2 update (#16242)
  recipes/libudev/all/conanfile.py
  recipes/libudev/all/test_package/CMakeLists.txt
  recipes/libudev/all/test_package/conanfile.py
  recipes/libudev/all/test_v1_package/CMakeLists.txt
  recipes/libudev/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Add my own config yml file
  .c3i/c3i_v2_ruben.yml
  .c3i/v2.jenkins
Due: lint-yaml-scheme, check-yaml-scheme

osmanip: add version 4.5.0, fix wrong url of 4.4.0
  recipes/osmanip/all/CMakeLists.txt
  recipes/osmanip/all/conandata.yml
  recipes/osmanip/all/conanfile.py
  recipes/osmanip/all/test_package/CMakeLists.txt
  recipes/osmanip/all/test_v1_package/CMakeLists.txt
  recipes/osmanip/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

update 0.7.1
  recipes/duckdb/all/conandata.yml
  recipes/duckdb/all/conanfile.py
  recipes/duckdb/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

pkgconf: Cross-building is now supported with the new Meson configuration (#16259)
  recipes/pkgconf/all/conanfile.py
Due: lint-recipes, lint-test_package

Why is macos so difficult?
  recipes/bgfx/all/conanfile.py
Due: lint-recipes, lint-test_package

libtool: recipe and test_package minor cleanup (#16268)
  recipes/libtool/all/conanfile.py
  recipes/libtool/all/test_package/conanfile.py
  recipes/libtool/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Update docs/bump_version.md
  docs/bump_version.md
Due: none

[faqs] Can use full_package_mode over my dependencies (#16018)
  docs/faqs.md
Due: none

zstd: don't require CMake 3.18 or later (#16260)
  recipes/zstd/all/conandata.yml
  recipes/zstd/all/conanfile.py
  recipes/zstd/all/patches/1.5.4-decrease-min-cmake-version.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Modernize source_location package
  recipes/source_location/all/conanfile.py
  recipes/source_location/all/test_package/CMakeLists.txt
  recipes/source_location/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

qhull: add option 'qhull:cpp' to build qhullcpp
  recipes/qhull/all/conanfile.py
  recipes/qhull/all/patches/0003-fix-cmake-8.0.x.patch
Due: lint-recipes, lint-test_package

Fix mikelankamp-fpm test_package code
  recipes/mikelankamp-fpm/all/test_package/test_package.cpp
Due: none

catch2: add version 3.3.2
  recipes/catch2/3.x.x/conandata.yml
  recipes/catch2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix typo
  recipes/etl/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Bumped required_conan_version
  recipes/mpfr/all/conanfile.py
Due: lint-recipes, lint-test_package

Adding portaudio recipe.
  recipes/portaudio/all/conandata.yml
  recipes/portaudio/all/conanfile.py
  recipes/portaudio/all/test_package/CMakeLists.txt
  recipes/portaudio/all/test_package/conanfile.py
  recipes/portaudio/all/test_package/test_package.c
  recipes/portaudio/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Simplify CMake and native features usage (#1)
  recipes/loguru/all/CMakeLists.txt
  recipes/loguru/all/conanfile.py
  recipes/loguru/all/test_package/conanfile.py
  recipes/loguru/all/test_package/test_package.cpp
  recipes/loguru/all/test_v1_package/CMakeLists.txt
  recipes/loguru/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Lower case library names
  recipes/archicad-apidevkit/all/conanfile.py
Due: lint-recipes, lint-test_package

wayland-protocols: fix topics attribute
  recipes/wayland-protocols/all/conanfile.py
Due: lint-recipes, lint-test_package
