Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#19723) libavif: bump deps
  recipes/libavif/all/conanfile.py
Due: lint-recipes, lint-test_package

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19720) samurai: update dependencies
  recipes/samurai/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18580) functions-framework-cpp: add version 1.2.0, support conan v2
  recipes/functions-framework-cpp/all/CMakeLists.txt
  recipes/functions-framework-cpp/all/conandata.yml
  recipes/functions-framework-cpp/all/conanfile.py
  recipes/functions-framework-cpp/all/patches/1.0.0-0001-dont-skip-namelink.patch
  recipes/functions-framework-cpp/all/patches/1.0.0-0002-find-nlohmann_json.patch
  recipes/functions-framework-cpp/all/patches/1.2.0-0001-dont-skip-namelink.patch
  recipes/functions-framework-cpp/all/patches/1.2.0-0002-find-nlohmann_json.patch
  recipes/functions-framework-cpp/all/test_package/CMakeLists.txt
  recipes/functions-framework-cpp/all/test_package/conanfile.py
  recipes/functions-framework-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

drop support msvc
  recipes/lazycsv/all/conanfile.py
Due: lint-recipes, lint-test_package

daw_json_link: add version 3.20.1, update dependencies
  recipes/daw_json_link/all/conandata.yml
  recipes/daw_json_link/all/conanfile.py
  recipes/daw_json_link/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

update 0.9.2
  recipes/watcher/all/conandata.yml
  recipes/watcher/all/conanfile.py
  recipes/watcher/all/patches/0.9.0-include-atomic.patch
  recipes/watcher/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix compiler alias
  recipes/wasmedge/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18845) geos: add version 3.12.0
  recipes/geos/all/conandata.yml
  recipes/geos/all/conanfile.py
  recipes/geos/all/patches/3.12.0-0001-fix-cmake.patch
  recipes/geos/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

librttopo/all: bump deps
  recipes/librttopo/all/conanfile.py
Due: lint-recipes, lint-test_package

libspatialite/all: bump deps
  recipes/libspatialite/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18855) corrade: migrate to Conan v2
  recipes/corrade/all/CMakeLists.txt
  recipes/corrade/all/conandata.yml
  recipes/corrade/all/conanfile.py
  recipes/corrade/all/test_package/CMakeLists.txt
  recipes/corrade/all/test_package/conanfile.py
  recipes/corrade/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#19716) hictk: update dependencies
  recipes/hictk/all/conanfile.py
Due: lint-recipes, lint-test_package

add cppcheck 2.12.0
  recipes/cppcheck/all/conandata.yml
  recipes/cppcheck/all/patches/0004-pcre-debuglib-name-2.12.patch
  recipes/cppcheck/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Fix warning aboutmissing `m` and unused import
  recipes/snitch/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19727) [bot] Update list of references (prod-v2/ListPackages)
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

Remove prealpha 0.0.0 version
  recipes/libhal/all/conandata.yml
  recipes/libhal/all/conanfile.py
  recipes/libhal/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#18149) exiv2: add version 0.28.0, add win_unicode option for 0.27.x
  recipes/exiv2/all/conandata.yml
  recipes/exiv2/all/conanfile.py
  recipes/exiv2/all/patches/0001-link-0.28.0.patch
  recipes/exiv2/all/patches/0004-find-expat-0.28.0.patch
  recipes/exiv2/all/test_package/CMakeLists.txt
  recipes/exiv2/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

remove old versions
  recipes/cppcheck/all/conandata.yml
  recipes/cppcheck/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

[openvino] new recipe
  recipes/openvino/all/conandata.yml
  recipes/openvino/all/conanfile.py
  recipes/openvino/all/patches/2023.1.0/0001-cpu-plugin-compilation-c++17.patch
  recipes/openvino/all/patches/2023.1.0/0002-core-compilation-c++17.patch
  recipes/openvino/all/patches/2023.1.0/0003-fixed-gpu-with-onednn-build.patch
  recipes/openvino/all/test_package/CMakeLists.txt
  recipes/openvino/all/test_package/conanfile.py
  recipes/openvino/all/test_package/test_package.cpp
  recipes/openvino/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#19624) libcurl: update dependencies
  recipes/libcurl/all/conanfile.py
Due: lint-recipes, lint-test_package

bump pkgconf
  recipes/libvips/all/conanfile.py
Due: lint-recipes, lint-test_package

Bump xz_utils
  recipes/libarchive/all/conanfile.py
Due: lint-recipes, lint-test_package

Update patches
  recipes/libarchive/all/conandata.yml
  recipes/libarchive/all/patches/0001-3.7.1-zlib-winapi.patch
  recipes/libarchive/all/patches/0003-3.7.1-cmake.patch
  recipes/libarchive/all/patches/0005-3.7.1-try-compile-cmakedeps.patch
  recipes/libarchive/all/patches/0006-3.6.2-fix-msvc-build.patch
  recipes/libarchive/all/patches/0006-3.7.1-fix-msvc-build.patch
Due: lint-yaml-scheme, check-yaml-scheme

sail: remove Windows SDK workaround hack
  recipes/sail/all/conanfile.py
Due: lint-recipes, lint-test_package

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19187) [highs] Enable shared build on Windows
  recipes/highs/all/conanfile.py
  recipes/highs/all/test_v1_package/CMakeLists.txt
  recipes/highs/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

[DO NOT MERGE] atk: touch recipe
  recipes/atk/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19693) ade: 0.1.2c
  recipes/ade/all/conandata.yml
  recipes/ade/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
