Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

Fix version check
  recipes/libsystemd/all/conanfile.py
Due: lint-recipes, lint-test_package

msys2: conditionally prepend pkg_config_path
  recipes/msys2/all/conanfile.py
Due: lint-recipes, lint-test_package

patches
  recipes/glib/all/conandata.yml
  recipes/glib/all/conanfile.py
  recipes/glib/all/patches/remove-distutils-2.77.0.patch
  recipes/glib/all/patches/remove-distutils.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix
  recipes/glib/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

remove old versions
  recipes/stb/all/conandata.yml
  recipes/stb/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libheif: add version 1.18.0
  recipes/libheif/all/conandata.yml
  recipes/libheif/all/conanfile.py
  recipes/libheif/all/patches/0001-cmake_1.18.0.patch
  recipes/libheif/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

dtl: add version 1.21, remove cci version
  recipes/dtl/all/conandata.yml
  recipes/dtl/all/conanfile.py
  recipes/dtl/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libavif: add version 1.1.0
  recipes/libavif/all/conandata.yml
  recipes/libavif/all/conanfile.py
  recipes/libavif/all/patches/1.1.0-0001-disable-developer-only-codepaths.patch
  recipes/libavif/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

simdutf: add version 5.3.0, remove older versions
  recipes/simdutf/all/conandata.yml
  recipes/simdutf/all/conanfile.py
  recipes/simdutf/all/patches/3.2.17-0001-fix-cmake.patch
  recipes/simdutf/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

dav1d: add 1.4.3
  recipes/dav1d/all/conandata.yml
  recipes/dav1d/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

drop support msvc
  recipes/minmea/all/conanfile.py
Due: lint-recipes, lint-test_package

set MSDF_ATLAS_DYNAMIC_RUNTIME
  recipes/msdf-atlas-gen/all/conanfile.py
  recipes/msdf-atlas-gen/all/test_package/atlas_desc.json
  recipes/msdf-atlas-gen/all/test_package/atlas_texture.png
  recipes/msdf-atlas-gen/all/test_package/conanbuild.sh
  recipes/msdf-atlas-gen/all/test_package/conanbuildenv-release-x86_64.sh
  recipes/msdf-atlas-gen/all/test_package/conanrun.sh
  recipes/msdf-atlas-gen/all/test_package/conanrunenv-release-x86_64.sh
  recipes/msdf-atlas-gen/all/test_package/deactivate_conanbuild.sh
  recipes/msdf-atlas-gen/all/test_package/deactivate_conanrun.sh
  recipes/msdf-atlas-gen/all/test_package/deactivate_conanrunenv-release-x86_64.sh
Due: lint-recipes, lint-test_package

remove trailing newlines
  recipes/minmea/all/conanfile.py
Due: lint-recipes, lint-test_package

libinterpolate: Add support for Mac
  recipes/libinterpolate/all/conanfile.py
Due: lint-recipes, lint-test_package

Add C++17 for test package
  recipes/libinterpolate/all/test_package/CMakeLists.txt
Due: none

Move debug declaration
  recipes/ohnet/all/conanfile.py
Due: lint-recipes, lint-test_package

Deprecate opendis6 in favor of libdis6
  recipes/opendis6/all/conanfile.py
Due: lint-recipes, lint-test_package

Add libdis6
  recipes/libdis6/all/conandata.yml
  recipes/libdis6/all/conanfile.py
  recipes/libdis6/all/test_package/CMakeLists.txt
  recipes/libdis6/all/test_package/conanfile.py
  recipes/libdis6/all/test_package/test_package.cpp
  recipes/libdis6/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Refactor helper method
  recipes/ohnet/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix url for download
  recipes/opendis6/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24590) msys2: conditionally prepend pkg_config_path
  recipes/msys2/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix sha
  recipes/opendis6/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Fix f-string
  recipes/ohnet/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/glib/all/conanfile.py
  recipes/glib/all/conanfile.py
Due: lint-recipes, lint-test_package

(#23087) Add libsndio recipe
  recipes/libsndio/all/conandata.yml
  recipes/libsndio/all/conanfile.py
  recipes/libsndio/all/test_package/CMakeLists.txt
  recipes/libsndio/all/test_package/conanfile.py
  recipes/libsndio/all/test_package/test_package.c
  recipes/libsndio/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

use validate_build for ndk rule
  recipes/libfdk_aac/all/conanfile.py
Due: lint-recipes, lint-test_package

Relax dependencies
  recipes/ohpipeline/waf/conanfile.py
Due: lint-recipes, lint-test_package

(#19058) swig: migrate to Conan v2, add v4.1.1
  recipes/swig/all/cmake/conan-official-swig-targets.cmake
  recipes/swig/all/cmake/conan-swig-variables.cmake
  recipes/swig/all/conandata.yml
  recipes/swig/all/conanfile.py
  recipes/swig/all/test_package/CMakeLists.txt
  recipes/swig/all/test_v1_package/CMakeLists.txt
  recipes/swig/all/test_v1_package/conanfile.py
  recipes/swig/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

splunk-opentelemetry-cpp: disable build_jaeger_exporter for now
  recipes/splunk-opentelemetry-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

glib: Bump libselinux from 3.5 to 3.6 to avoid conflicts
  recipes/glib/all/conanfile.py
Due: lint-recipes, lint-test_package

dbus: Bump libselinux from 3.5 to 3.6 to avoid conflicts
  recipes/dbus/1.x.x/conanfile.py
Due: lint-recipes, lint-test_package

qt: add version ranges to `libpng` and `expat`
  recipes/qt/5.x.x/conanfile.py
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

(#24591) glib: support python 3.12
  recipes/glib/all/conandata.yml
  recipes/glib/all/conanfile.py
  recipes/glib/all/patches/remove-distutils-2.77.0.patch
  recipes/glib/all/patches/remove-distutils.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

cairo: Rename meson directory to all per standard conventions
  recipes/cairo/all/conandata.yml
  recipes/cairo/all/conanfile.py
  recipes/cairo/all/patches/binutils-2.34-libbfd-fix.patch
  recipes/cairo/all/patches/cairo-1.17.4-encoding-backport.patch
  recipes/cairo/all/patches/cairo-1.17.4-symbol-lookup-backport.patch
  recipes/cairo/all/patches/cairo-1.17.4-trace-cflags-fix.patch
  recipes/cairo/all/patches/cairo-1.17.4-xlib-xrender-option.patch
  recipes/cairo/all/test_package/CMakeLists.txt
  recipes/cairo/all/test_package/conanfile.py
  recipes/cairo/all/test_package/test_package.c
  recipes/cairo/all/test_v1_package/CMakeLists.txt
  recipes/cairo/all/test_v1_package/conanfile.py
  recipes/cairo/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fontconfig: Rename meson directory to all per standard conventions
  recipes/fontconfig/all/conandata.yml
  recipes/fontconfig/all/conanfile.py
  recipes/fontconfig/all/patches/0001-meson-win32.patch
  recipes/fontconfig/all/test_package/CMakeLists.txt
  recipes/fontconfig/all/test_package/conanfile.py
  recipes/fontconfig/all/test_package/test_package.c
  recipes/fontconfig/all/test_v1_package/CMakeLists.txt
  recipes/fontconfig/all/test_v1_package/conanfile.py
  recipes/fontconfig/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme
