Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

add patches, move patch
  recipes/openscenegraph/all/conandata.yml
  recipes/openscenegraph/all/conanfile.py
  recipes/openscenegraph/all/patches/0001-fix-to_cmake_path-usage.patch
  recipes/openscenegraph/all/patches/0011-remove-deprecated-register.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openscenegraph: make CMake dependency detection more robust
  recipes/openscenegraph/all/CMakeLists.txt
  recipes/openscenegraph/all/conanfile.py
  recipes/openscenegraph/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

openscenegraph: fix v1 incompatibility
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

Apply suggestions from code review
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

fix
  recipes/openscenegraph/all/conandata.yml
  recipes/openscenegraph/all/conanfile.py
  recipes/openscenegraph/all/patches/0007-fix-msvc-with-std-c++17.patch
  recipes/openscenegraph/all/patches/0008-replace-mem-fun-ref.patch
  recipes/openscenegraph/all/patches/0009-replace-auto-ptr-in-plugins.patch
  recipes/openscenegraph/all/patches/0010-replace-ptr-fun-in-obj-plugin.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

wip
  recipes/openscenegraph/all/CMakeLists.txt
  recipes/openscenegraph/all/conanfile.py
  recipes/openscenegraph/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

openscenegraph: re-enable patches
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

fix test
  recipes/openscenegraph/all/test_package/test_package.cpp
Due: none

wip
  recipes/openscenegraph/all/CMakeLists.txt
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

openscenegraph: reproduce the project CMake and pkg-config structures more faithfully, export CMake vars
  recipes/openscenegraph/all/conan-official-osg-variables.cmake
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

openscenegraph: drop test_v1_package
  recipes/openscenegraph/all/test_v1_package/CMakeLists.txt
  recipes/openscenegraph/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

do not convert LIBRARY to LIBRARIES
  recipes/openscenegraph/all/conanfile.py
  recipes/openscenegraph/all/patches/0005-use-JPEG-target-for-plugin.patch
Due: lint-recipes, lint-test_package

minor changes
  recipes/openscenegraph/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix rebase issue
  recipes/openscenegraph/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Disable a check in the test
  recipes/openscenegraph/all/test_package/test_package.cpp
Due: none

Revert "Disable a check in the test"
  recipes/openscenegraph/all/test_package/test_package.cpp
Due: none

test, try to find png/gif/jpeg also on macos
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

Add extra guard to not include png plug-in on macos
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

Don't replace OSG_LIBRARY_STATIC in plugins root folder
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

wip
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

fix freetype plugin
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

Try to fix issues with longpaths...
  recipes/openscenegraph/all/CMakeLists.txt
Due: none

add back short paths to please conan 1 builds
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

Make sure curl plug-in is only enabled if requested
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

wip
  recipes/openscenegraph/all/conanfile.py
  recipes/openscenegraph/all/patches/0005-use-JPEG-target-for-plugin.patch
Due: lint-recipes, lint-test_package

Revert "test, try to find png/gif/jpeg also on macos"
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

Revert "Try to fix issues with longpaths..."
  recipes/openscenegraph/all/CMakeLists.txt
Due: none

fix some warnings
  recipes/openscenegraph/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Refactoring and remove prefix 'v' from msvs_toolset_version
  recipes/cantera/all/conanfile.py
Due: lint-recipes, lint-test_package

pybind11_json: relax version requirements
  recipes/pybind11_json/all/conanfile.py
Due: lint-recipes, lint-test_package

Update CMakeFile for ohPipeline
  recipes/ohpipeline/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

use newer cmake
  recipes/lightgbm/all/conanfile.py
Due: lint-recipes, lint-test_package

convert string
  recipes/opentelemetry-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Add missing m system lib in linux
  recipes/dispenso/all/conanfile.py
Due: lint-recipes, lint-test_package

google-cloud-cpp-v2.23.0
  recipes/google-cloud-cpp/2.x/components_2_23_0.py
  recipes/google-cloud-cpp/2.x/conandata.yml
  recipes/google-cloud-cpp/2.x/conanfile.py
  recipes/google-cloud-cpp/2.x/extract_dependencies.py
  recipes/google-cloud-cpp/2.x/patches/2.12.0/001-use-conan-msvc-runtime.patch
  recipes/google-cloud-cpp/2.x/patches/2.23.0/001-add-find-package-threads.patch
  recipes/google-cloud-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

no securitycenter_protos on windows
  recipes/google-cloud-cpp/2.x/conanfile.py
Due: lint-recipes, lint-test_package

backwards compat compute protos
  recipes/google-cloud-cpp/2.x/conanfile.py
Due: lint-recipes, lint-test_package

d'oh - fix config version
  recipes/google-cloud-cpp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

patch missing include
  recipes/google-cloud-cpp/2.x/conandata.yml
  recipes/google-cloud-cpp/2.x/patches/2.23.0/002-gcs-missing-include.patch
Due: lint-yaml-scheme, check-yaml-scheme
