Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

mariadb-connector-cpp: update conanfile.py
  recipes/mariadb-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

rolllback to imath/3.1.9
  recipes/openvdb/all/conanfile.py
Due: lint-recipes, lint-test_package

vc: add v1.4.5
  recipes/vc/all/conandata.yml
  recipes/vc/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#23397) ffmpeg: cleanup version comparisons, bump openjpeg
  recipes/ffmpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

Added universal build for Apple
  recipes/mysql-concpp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24703) glaze: add version 3.1.7
  recipes/glaze/all/conandata.yml
  recipes/glaze/all/conanfile.py
  recipes/glaze/all/test_package/CMakeLists.txt
  recipes/glaze/all/test_package/conanfile.py
  recipes/glaze/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libfabric: bump to v1.21.0, drop v1.12.1, remove 'auto' options
  recipes/libfabric/all/conandata.yml
  recipes/libfabric/all/conanfile.py
  recipes/libfabric/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

rdma-core: add v52.0, enable all modules
  recipes/rdma-core/all/conandata.yml
  recipes/rdma-core/all/conanfile.py
  recipes/rdma-core/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Fixed conandata file
  recipes/mysql-concpp/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update recipes/glib/all/conanfile.py
  recipes/glib/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24693) lz4: add version 1.10.0
  recipes/lz4/all/conandata.yml
  recipes/lz4/all/conanfile.py
  recipes/lz4/all/patches/0001-cmake-add-shared-DEFINE_SYMBOL.patch
  recipes/lz4/all/patches/0002-cmake-optional-cli.patch
  recipes/lz4/all/patches/0003-cmake-minimum-required-first-1.9.2.patch
  recipes/lz4/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#24665) Update conandata_yml_format.md
  docs/adding_packages/conandata_yml_format.md
Due: none

toml11: add version 4.1.0
  recipes/toml11/all/conandata.yml
  recipes/toml11/all/conanfile.py
  recipes/toml11/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#24696) icu: fix build with Emscripten for 74.2
  recipes/icu/all/conandata.yml
  recipes/icu/all/patches/0002-74.2-fix-emscripten.patch
Due: lint-yaml-scheme, check-yaml-scheme

Minor changes
  recipes/mysql-concpp/all/conanfile.py
  recipes/mysql-concpp/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

[outcome] Add option single_header
  recipes/outcome/all/conanfile.py
Due: lint-recipes, lint-test_package

mariadb-connector-cpp: add patches
  recipes/mariadb-connector-cpp/all/conandata.yml
  recipes/mariadb-connector-cpp/all/conanfile.py
  recipes/mariadb-connector-cpp/all/patches/1.1.4-build-shared.patch
  recipes/mariadb-connector-cpp/all/patches/1.1.4-fix-options.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#24719) thorvg: add version 0.14.4, remove older versions
  recipes/thorvg/all/conandata.yml
  recipes/thorvg/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19082) Add QuickPrivate module
  recipes/qt/5.x.x/conanfile.py
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Use relative path for res folder
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

mariadb-connector-cpp: update conanfile.py
  recipes/mariadb-connector-cpp/all/conanfile.py
  recipes/mariadb-connector-cpp/all/patches/1.1.4-build-shared.patch
Due: lint-recipes, lint-test_package

[status-code] Add version cci.20240614
  recipes/status-code/all/conandata.yml
  recipes/status-code/all/test_package/test_package.cpp
  recipes/status-code/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

rdma-core: fix Conan v1 failure due to path lengths
  recipes/rdma-core/all/conanfile.py
Due: lint-recipes, lint-test_package

opengl-registry: add v20240721
  recipes/opengl-registry/all/conandata.yml
  recipes/opengl-registry/all/test_package/test_package.c
  recipes/opengl-registry/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix libxslt for extensions static library
  recipes/libxslt/all/conanfile.py
Due: lint-recipes, lint-test_package

qhull: use an official release
  recipes/qhull/all/conandata.yml
  recipes/qhull/all/conanfile.py
  recipes/qhull/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

mariadb-connector-cpp: update conanfile.py
  recipes/mariadb-connector-cpp/all/patches/1.1.4-build-shared.patch
  recipes/mariadb-connector-cpp/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Fixing build folder
  recipes/mysql-concpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Fixing build folder again
  recipes/mysql-concpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove changes of dependencies options
  recipes/openusd/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
