Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#25333) libarchive: add version 3.7.6
  recipes/libarchive/all/conandata.yml
  recipes/libarchive/all/conanfile.py
  recipes/libarchive/all/patches/0001-3.7.6-zlib-winapi.patch
  recipes/libarchive/all/patches/0003-3.7.6-cmake.patch
  recipes/libarchive/all/patches/0005-3.7.6-try-compile-cmakedeps.patch
  recipes/libarchive/all/patches/0006-3.7.6-fix-msvc-build.patch
  recipes/libarchive/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#25356) quill: add version 7.2.1
  recipes/quill/all/conandata.yml
  recipes/quill/all/conanfile.py
  recipes/quill/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#25359) sbepp: add version 1.4.1
  recipes/sbepp/all/conandata.yml
  recipes/sbepp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20270) libsndfile: fix missing glibc symbols on newer systems
  recipes/libsndfile/all/conanfile.py
  recipes/libsndfile/all/test_package/CMakeLists.txt
  recipes/libsndfile/all/test_package/conanfile.py
  recipes/libsndfile/all/test_package/test_package.c
  recipes/libsndfile/all/test_package/test_package.cpp
  recipes/libsndfile/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Final improvements for aws-sdk-cpp, sdks are now defined per-version
  recipes/aws-sdk-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Cleanup
  recipes/sfml/all/conanfile.py
Due: lint-recipes, lint-test_package

restinio: bump 3p to `asio/1.30.2`
  recipes/restinio/v0.7/conanfile.py
Due: lint-recipes, lint-test_package

restinio: bump 3p to `expected-lite/0.8.0`
  recipes/restinio/v0.7/conanfile.py
Due: lint-recipes, lint-test_package

restinio: bump 3p to `boost/1.85.0`
  recipes/restinio/v0.7/conanfile.py
Due: lint-recipes, lint-test_package

openjdk license: combine the 2 expression into one
  recipes/openjdk/all/conanfile.py
Due: lint-recipes, lint-test_package

quill: add version 7.2.2
  recipes/quill/all/conandata.yml
  recipes/quill/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

drop support msvc16
  recipes/opendocument.core/all/conandata.yml
  recipes/opendocument.core/all/conanfile.py
  recipes/opendocument.core/all/patches/4.1.1-0001-absolute-namespace.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#25369) [bot] Update list of references (prod-v2/ListPackages)
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

json_struct receipt
  recipes/json_struct/all/conandata.yml
  recipes/json_struct/all/conanfile.py
  recipes/json_struct/all/test_package/CMakeLists.txt
  recipes/json_struct/all/test_package/conanfile.py
  recipes/json_struct/all/test_package/main.cpp
  recipes/json_struct/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#25037) lunasvg: add version 2.4.1
  recipes/lunasvg/all/conandata.yml
  recipes/lunasvg/all/conanfile.py
  recipes/lunasvg/all/patches/2.4.1-0001-fix-cmake.patch
  recipes/lunasvg/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add C++17 to tests
  recipes/sfml/all/test_package/CMakeLists.txt
Due: none

imgui: disable glut backend due missing binaries and being considered legacy
  recipes/imgui/all/conanfile.py
Due: lint-recipes, lint-test_package

imgui: ensure cxx_std_11 is set
  recipes/imgui/all/CMakeLists.txt
Due: none

imgui: make backends available as optional components
  recipes/imgui/all/CMakeLists.txt
  recipes/imgui/all/conanfile.py
  recipes/imgui/all/test_package/CMakeLists.txt
  recipes/imgui/all/test_package/conanfile.py
  recipes/imgui/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package

imgui: sdl2 backend is not available in old versions
  recipes/imgui/all/conanfile.py
Due: lint-recipes, lint-test_package

imgui: bump sdl
  recipes/imgui/all/conanfile.py
Due: lint-recipes, lint-test_package

imgui: add transitive vulkan-headers
  recipes/imgui/all/conanfile.py
Due: lint-recipes, lint-test_package

imgui: move Objective-C++ backends to a separate test
  recipes/imgui/all/test_package/CMakeLists.txt
  recipes/imgui/all/test_package/conanfile.py
  recipes/imgui/all/test_package/test_package.cpp
  recipes/imgui/all/test_package/test_package.mm
Due: lint-recipes, lint-test_package

Back to gcc9
  recipes/sfml/all/conanfile.py
Due: lint-recipes, lint-test_package

imgui: fix required macOS frameworks
  recipes/imgui/all/CMakeLists.txt
  recipes/imgui/all/conanfile.py
Due: lint-recipes, lint-test_package

imgui: rename export header
  recipes/imgui/all/CMakeLists.txt
  recipes/imgui/all/conanfile.py
Due: lint-recipes, lint-test_package

imgui: add enable_metal_cpp option
  recipes/imgui/all/conanfile.py
Due: lint-recipes, lint-test_package

imgui: fix MSVC shared build
  recipes/imgui/all/CMakeLists.txt
Due: none

imgui: bump lunasvg
  recipes/imgui/all/conanfile.py
Due: lint-recipes, lint-test_package

imgui: tidy CMakeLists.txt
  recipes/imgui/all/CMakeLists.txt
Due: none

imgui: temporarily enable lunasvg as well
  recipes/imgui/all/conanfile.py
Due: lint-recipes, lint-test_package

imgui: enable DirectX 9 and 10, Metal C++ bindings
  recipes/imgui/all/conanfile.py
Due: lint-recipes, lint-test_package

imgui: freetype support cannot be built separately
  recipes/imgui/all/CMakeLists.txt
  recipes/imgui/all/conanfile.py
Due: lint-recipes, lint-test_package

(#25327) openvino/2024.4.0 update
  recipes/openvino/all/conandata.yml
  recipes/openvino/all/conanfile.py
  recipes/openvino/all/dependencies/dependencies-2024.4.0.yml
  recipes/openvino/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
