Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

fixup typo
  recipes/libwebsockets/all/conanfile.py
Due: lint-recipes, lint-test_package

libjpeg: ensure DLL name is same as before
  recipes/libjpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

revert migration to f-strings
  recipes/gdal/pre_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

Fix typo.
  recipes/libqasm/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove unused rmdir.
  recipes/libqasm/all/conanfile.py
Due: lint-recipes, lint-test_package

(#23595) gcc: don't use unmaintained binutils
  recipes/gcc/all/conanfile.py
Due: lint-recipes, lint-test_package

leptonica: fix with_{gif|jpeg|png|tiff|openjpeg|webp}=False
  recipes/leptonica/all/conanfile.py
Due: lint-recipes, lint-test_package

Flag packages built with different cxx langauge support as incompatible
  recipes/gtest/all/conanfile.py
Due: lint-recipes, lint-test_package

(#23850) android-ndk: add r26d
  recipes/android-ndk/all/conandata.yml
  recipes/android-ndk/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

simfil: Update version to 0.1.3
  recipes/simfil/all/conandata.yml
  recipes/simfil/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

build all modules as default and add individual tests
  recipes/azure-sdk-for-cpp/all/CMakeLists.txt
  recipes/azure-sdk-for-cpp/all/conanfile.py
  recipes/azure-sdk-for-cpp/all/test_package/CMakeLists.txt
  recipes/azure-sdk-for-cpp/all/test_package/conanfile.py
  recipes/azure-sdk-for-cpp/all/test_package/test_azure-core.cc
  recipes/azure-sdk-for-cpp/all/test_package/test_azure-storage-blobs.cc
  recipes/azure-sdk-for-cpp/all/test_package/test_azure-storage-common.cc
  recipes/azure-sdk-for-cpp/all/test_package/test_azure-storage-files-shares.cc
  recipes/azure-sdk-for-cpp/all/test_package/test_package.cc
Due: lint-recipes, lint-test_package

add new line
  recipes/azure-sdk-for-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Added versions of cuda-api-wrappers: 0.6.9, 0.7.0-b3
  recipes/cuda-api-wrappers/all/conandata.yml
  recipes/cuda-api-wrappers/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

xsimd: add version 13.0.0
  recipes/xsimd/all/conandata.yml
  recipes/xsimd/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

jsoncons: add version 0.175.0
  recipes/jsoncons/all/conandata.yml
  recipes/jsoncons/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update 2.31.0
  recipes/mold/all/conandata.yml
  recipes/mold/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

drop support apple-clang/13 with cppstd=17
  recipes/xsimd/all/conanfile.py
Due: lint-recipes, lint-test_package

cxxgraph: add recipe
  recipes/cxxgraph/all/conandata.yml
  recipes/cxxgraph/all/conanfile.py
  recipes/cxxgraph/all/test_package/CMakeLists.txt
  recipes/cxxgraph/all/test_package/conanfile.py
  recipes/cxxgraph/all/test_package/test_package.cpp
  recipes/cxxgraph/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

link pthread
  recipes/cxxgraph/all/conanfile.py
Due: lint-recipes, lint-test_package

fix type mismatch
  recipes/xsimd/all/conanfile.py
Due: lint-recipes, lint-test_package

add end of line
  recipes/cxxgraph/all/conanfile.py
Due: lint-recipes, lint-test_package

(#23569) boost: add version `1.85.0`
  recipes/boost/all/conandata.yml
  recipes/boost/all/conanfile.py
  recipes/boost/all/dependencies/dependencies-1.85.0.yml
  recipes/boost/all/rebuild-dependencies.py
  recipes/boost/all/test_package/CMakeLists.txt
  recipes/boost/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

bump boost to 1.85.0
  recipes/onnxruntime/all/conanfile.py
Due: lint-recipes, lint-test_package

fix linking problems
  recipes/azure-sdk-for-cpp/all/test_package/CMakeLists.txt
  recipes/azure-sdk-for-cpp/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Adding test_package
  recipes/lielab/all/test_package/CMakeLists.txt
  recipes/lielab/all/test_package/conanfile.py
  recipes/lielab/all/test_package/test_lielab_lt_0_3_0.cpp
Due: lint-recipes, lint-test_package

Changed lielab 0.1.1 to 0.4.0
  recipes/lielab/all/conandata.yml
  recipes/lielab/all/test_package/CMakeLists.txt
  recipes/lielab/all/test_package/test_lielab_lt_0_3_0.cpp
  recipes/lielab/all/test_package/test_package.cpp
Due: lint-yaml-scheme, check-yaml-scheme

Forgot to change config.yml to v0.4.0
  recipes/lielab/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update to 0.5.4
  recipes/cpptrace/all/conandata.yml
  recipes/cpptrace/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Updated hash for Lielab v0.4.0
  recipes/lielab/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Endlines to pass linter
  recipes/lielab/all/test_package/conanfile.py
  recipes/lielab/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package

updat e0.0.21
  recipes/uvwasi/all/conandata.yml
  recipes/uvwasi/all/conanfile.py
  recipes/uvwasi/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

dev-twon-moltenvk-1.2.2-patch-for-xcode-15.3
  recipes/moltenvk/all/conandata.yml
  recipes/moltenvk/all/patches/1.2.2-0001-MVKSmallVector-Make-iterator-const-correct.patch
Due: lint-yaml-scheme, check-yaml-scheme

fix linter warning
  recipes/azure-sdk-for-cpp/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

use boost 1.83
  recipes/onnxruntime/all/conanfile.py
Due: lint-recipes, lint-test_package

update 0.0.21
  recipes/uvwasi/all/conandata.yml
  recipes/uvwasi/all/patches/0.0.19-0001-fix-cmake.patch
  recipes/uvwasi/all/patches/0.0.21-0001-fix-cmake.patch
Due: lint-yaml-scheme, check-yaml-scheme

cli11: add version 2.4.2
  recipes/cli11/all/conandata.yml
  recipes/cli11/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update condition
  recipes/xsimd/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
