Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#18617) qt/5.x.x: bump deps
  recipes/qt/5.x.x/conanfile.py
Due: lint-recipes, lint-test_package

libvips/all: bump deps
  recipes/libvips/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18627) ada: add version 2.5.1
  recipes/ada/all/conandata.yml
  recipes/ada/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libsass: migrate to Conan v2
  recipes/libsass/all/conanfile.py
  recipes/libsass/all/test_package/CMakeLists.txt
  recipes/libsass/all/test_package/conanfile.py
  recipes/libsass/all/test_v1_package/CMakeLists.txt
  recipes/libsass/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Bump opencv requirements
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

(#18614) qt/6.x.x: bump deps
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

(#18630) Bump opencv requirements
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

Fix linter errors in nativefiledialog conanfile.py
  recipes/nativefiledialog/all/conanfile.py
Due: lint-recipes, lint-test_package

remove shared options
  recipes/nvcloth/1.1.6/conanfile.py
Due: lint-recipes, lint-test_package

rm cmake files
  recipes/wavelet_buffer/all/conanfile.py
Due: lint-recipes, lint-test_package

minor changes
  recipes/libntv2/all/conanfile.py
  recipes/libntv2/all/test_package/test_package.c
Due: lint-recipes, lint-test_package

Use CMakeDeps.set_property{} instead of a patch to find apr and apr-util
  recipes/log4cxx/all/conandata.yml
  recipes/log4cxx/all/patches/0001-find-apr.patch
  recipes/log4cxx/all/patches/0002-find-apr.patch
  recipes/log4cxx/all/patches/0004-find-apr.patch
Due: lint-yaml-scheme, check-yaml-scheme

add svgpp
  recipes/svgpp/all/conandata.yml
  recipes/svgpp/all/conanfile.py
  recipes/svgpp/all/test_package/CMakeLists.txt
  recipes/svgpp/all/test_package/conanfile.py
  recipes/svgpp/all/test_package/test_package.cpp
  recipes/svgpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Use CMakeDeps.set_property{} instead of a patch to find apr and apr-util
  recipes/log4cxx/all/conanfile.py
Due: lint-recipes, lint-test_package

drop support msvc 192 on glaze/1.3.3
  recipes/glaze/all/conanfile.py
Due: lint-recipes, lint-test_package

xsd: migrate to Conan v2
  recipes/xsd/all/conandata.yml
  recipes/xsd/all/conanfile.py
  recipes/xsd/all/test_package/conanfile.py
  recipes/xsd/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

isl: migrate to Conan v2
  recipes/isl/all/conanfile.py
  recipes/isl/all/test_package/CMakeLists.txt
  recipes/isl/all/test_package/conanfile.py
  recipes/isl/all/test_v1_package/CMakeLists.txt
  recipes/isl/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Revert "Use CMakeDeps.set_property{} instead of a patch to find apr and apr-util"
  recipes/log4cxx/all/conanfile.py
Due: lint-recipes, lint-test_package

Revert "Use CMakeDeps.set_property{} instead of a patch to find apr and apr-util"
  recipes/log4cxx/all/conandata.yml
  recipes/log4cxx/all/patches/0001-find-apr.patch
  recipes/log4cxx/all/patches/0002-find-apr.patch
  recipes/log4cxx/all/patches/0004-find-apr.patch
Due: lint-yaml-scheme, check-yaml-scheme

add 2023 Jul 19 changelog
  docs/changelog.md
Due: none

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18593) [bot] Update authorized users list (2023-07-17)
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

ccache: set find_mode for zstd
  recipes/ccache/all/conanfile.py
Due: lint-recipes, lint-test_package

feat(qt): improve qt test_package and fix qt libs dependencies
  recipes/qt/5.x.x/conanfile.py
  recipes/qt/5.x.x/test_package/CMakeLists.txt
  recipes/qt/5.x.x/test_package/conanfile.py
  recipes/qt/5.x.x/test_package/static_build.h
  recipes/qt/5.x.x/test_package/target.cmake
  recipes/qt/5.x.x/test_package/test_package-3DAnimation.cpp
  recipes/qt/5.x.x/test_package/test_package-3DCore.cpp
  recipes/qt/5.x.x/test_package/test_package-3DExtras.cpp
  recipes/qt/5.x.x/test_package/test_package-3DInput.cpp
  recipes/qt/5.x.x/test_package/test_package-3DLogic.cpp
  recipes/qt/5.x.x/test_package/test_package-3DRender.cpp
  recipes/qt/5.x.x/test_package/test_package-Charts.cpp
  recipes/qt/5.x.x/test_package/test_package-Concurrent.cpp
  recipes/qt/5.x.x/test_package/test_package-Core.cpp
  recipes/qt/5.x.x/test_package/test_package-Gui.cpp
  recipes/qt/5.x.x/test_package/test_package-Help.cpp
  recipes/qt/5.x.x/test_package/test_package-Multimedia.cpp
  recipes/qt/5.x.x/test_package/test_package-MultimediaWidgets.cpp
  recipes/qt/5.x.x/test_package/test_package-Network.cpp
  recipes/qt/5.x.x/test_package/test_package-NetworkAuth.cpp
  recipes/qt/5.x.x/test_package/test_package-OpenGL.cpp
  recipes/qt/5.x.x/test_package/test_package-Qml.cpp
  recipes/qt/5.x.x/test_package/test_package-Quick.cpp
  recipes/qt/5.x.x/test_package/test_package-QuickControls2.cpp
  recipes/qt/5.x.x/test_package/test_package-QuickTest.cpp
  recipes/qt/5.x.x/test_package/test_package-QuickWidgets.cpp
  recipes/qt/5.x.x/test_package/test_package-Sql.cpp
  recipes/qt/5.x.x/test_package/test_package-Svg.cpp
  recipes/qt/5.x.x/test_package/test_package-Test.cpp
  recipes/qt/5.x.x/test_package/test_package-WebChannel.cpp
  recipes/qt/5.x.x/test_package/test_package-WebSockets.cpp
  recipes/qt/5.x.x/test_package/test_package-WebView.cpp
  recipes/qt/5.x.x/test_package/test_package-Widgets.cpp
  recipes/qt/5.x.x/test_package/test_package-X11Extras.cpp
  recipes/qt/5.x.x/test_package/test_package-Xml.cpp
  recipes/qt/5.x.x/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

aws-libfabric: migrate to Conan v2
  recipes/aws-libfabric/all/conanfile.py
  recipes/aws-libfabric/all/test_package/CMakeLists.txt
  recipes/aws-libfabric/all/test_package/conanfile.py
  recipes/aws-libfabric/all/test_v1_package/CMakeLists.txt
  recipes/aws-libfabric/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

fix: remove nonexistent options
  recipes/libgit2/0.27.x/conanfile.py
  recipes/libgit2/0.28.x/conanfile.py
Due: lint-recipes, lint-test_package

fix: remove unreasonable option
  recipes/libgit2/0.28.x/conanfile.py
  recipes/libgit2/all/conanfile.py
Due: lint-recipes, lint-test_package

pbtools: migrate to Conan v2
  recipes/pbtools/all/CMakeLists.txt
  recipes/pbtools/all/conanfile.py
  recipes/pbtools/all/test_package/CMakeLists.txt
  recipes/pbtools/all/test_package/conanfile.py
  recipes/pbtools/all/test_v1_package/CMakeLists.txt
  recipes/pbtools/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

parg: migrate to Conan v2
  recipes/parg/all/CMakeLists.txt
  recipes/parg/all/conanfile.py
  recipes/parg/all/test_package/CMakeLists.txt
  recipes/parg/all/test_package/conanfile.py
  recipes/parg/all/test_v1_package/CMakeLists.txt
  recipes/parg/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

imguizmo: migrate to Conan v2
  recipes/imguizmo/all/CMakeLists.txt
  recipes/imguizmo/all/conanfile.py
  recipes/imguizmo/all/test_package/CMakeLists.txt
  recipes/imguizmo/all/test_package/conanfile.py
  recipes/imguizmo/all/test_v1_package/CMakeLists.txt
  recipes/imguizmo/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

libipt: migrate to Conan v2
  recipes/libipt/all/CMakeLists.txt
  recipes/libipt/all/conanfile.py
  recipes/libipt/all/test_package/CMakeLists.txt
  recipes/libipt/all/test_package/conanfile.py
  recipes/libipt/all/test_package/test_package.cpp
  recipes/libipt/all/test_v1_package/CMakeLists.txt
  recipes/libipt/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

set shared option
  recipes/nvcloth/1.1.6/conanfile.py
Due: lint-recipes, lint-test_package

directshowbaseclasses: migrate to Conan v2
  recipes/directshowbaseclasses/all/CMakeLists.txt
  recipes/directshowbaseclasses/all/conanfile.py
  recipes/directshowbaseclasses/all/test_package/CMakeLists.txt
  recipes/directshowbaseclasses/all/test_package/conanfile.py
  recipes/directshowbaseclasses/all/test_v1_package/CMakeLists.txt
  recipes/directshowbaseclasses/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package
