Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

Update config.yml
  recipes/aws-c-io/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fixup config.yml
  recipes/aws-c-cal/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add llhttp v9.1.3
  recipes/llhttp/all/conandata.yml
  recipes/llhttp/all/conanfile.py
  recipes/llhttp/all/patches/v9.1.3-cmake_remove_pcfiles.patch
  recipes/llhttp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

libmagic: use the main source
  recipes/libmagic/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

libmagic: need lzlib, which is not available on CCI
  recipes/libmagic/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21017) aws-checksums: update aws-c-common/0.9.6
  recipes/aws-checksums/all/conanfile.py
Due: lint-recipes, lint-test_package

Add `dcmect` submodule
  recipes/dcmtk/all/conanfile.py
Due: lint-recipes, lint-test_package

Add patch for OpenGL detection on Windows
  recipes/mesa-glu/all/patches/9.0.3-0001-Only-add-the-GL-dependency-as-a-requires-when-it-is.patch
Due: none

Update CMake minimum version
  recipes/glew/all/test_package/CMakeLists.txt
Due: none

Remove destination argument to get method
  recipes/glew/all/conanfile.py
Due: lint-recipes, lint-test_package

Bump required_conan_version to 1.53.0 for rm_safe
  recipes/glew/all/conanfile.py
Due: lint-recipes, lint-test_package

Add package type
  recipes/glew/all/conanfile.py
Due: lint-recipes, lint-test_package

Use rm_safe
  recipes/glew/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix options for older package versions
  recipes/fastgltf/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix patch
  recipes/mesa-glu/all/patches/9.0.3-0001-Only-add-the-GL-dependency-as-a-requires-when-it-is.patch
Due: none

freealut: add recipe
  recipes/freealut/all/conandata.yml
  recipes/freealut/all/conanfile.py
  recipes/freealut/all/patches/freealut-1.1.0-conan-build.patch
  recipes/freealut/all/test_package/CMakeLists.txt
  recipes/freealut/all/test_package/conanfile.py
  recipes/freealut/all/test_package/test_package.c
  recipes/freealut/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Drop Windows and macOS support until a Windows Conan package exists
  recipes/mesa-glu/all/conandata.yml
  recipes/mesa-glu/all/conanfile.py
  recipes/mesa-glu/all/patches/9.0.3-0001-Only-add-the-GL-dependency-as-a-requires-when-it-is.patch
  recipes/mesa-glu/all/patches/9.0.3-0002-Patch-GL-includes-for-macOS.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

commata: add version 0.2.6-bug1
  recipes/commata/all/conandata.yml
  recipes/commata/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

wt: add version 4.10.2
  recipes/wt/all/conandata.yml
  recipes/wt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Make fix specific to versions of SFML that need it
  recipes/sfml/all/conanfile.py
Due: lint-recipes, lint-test_package

libdicom: fix test_package
  recipes/libdicom/all/test_package/meson.build
  recipes/libdicom/all/test_package/test_package.c
Due: none

rust: fix test_package on Windows
  recipes/rust/all/conanfile.py
  recipes/rust/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

rust: set Rust env vars
  recipes/rust/all/conanfile.py
Due: lint-recipes, lint-test_package

Removed support for clang-12
  recipes/open62541/all/conanfile.py
Due: lint-recipes, lint-test_package

rust: MSVC requires VCVars generator in test_package
  recipes/rust/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

librsvg: remove AutotoolsDeps
  recipes/librsvg/all/conanfile.py
Due: lint-recipes, lint-test_package

librsvg: pango with Cairo and FreeType is required
  recipes/librsvg/all/conanfile.py
Due: lint-recipes, lint-test_package

add missing mingw patch to 2.4.6.4
  recipes/clhep/all/conandata.yml
  recipes/clhep/all/patches/2.4.1.3-0001-fix-cmake.patch
  recipes/clhep/all/patches/2.4.1.3-0002-mingw-support.patch
  recipes/clhep/all/patches/2.4.1.3-0003-msvc-2015-no-SFINAE.patch
  recipes/clhep/all/patches/2.4.6.4-0001-fix-cmake.patch
  recipes/clhep/all/patches/2.4.6.4-0002-mingw-support.patch
Due: lint-yaml-scheme, check-yaml-scheme

librsvg: disable MSVC entirely
  recipes/librsvg/all/conanfile.py
Due: lint-recipes, lint-test_package

add alembic/1.8.6
  recipes/alembic/all/conandata.yml
  recipes/alembic/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

bump hdf5
  recipes/alembic/all/conanfile.py
Due: lint-recipes, lint-test_package

aws-c-event-stream: update dependencies
  recipes/aws-c-event-stream/all/conanfile.py
Due: lint-recipes, lint-test_package

fix version check for aws-c-io
  recipes/aws-c-http/all/conanfile.py
Due: lint-recipes, lint-test_package

ada: add version 2.7.3
  recipes/ada/all/conandata.yml
  recipes/ada/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

rust: add all available platforms
  recipes/rust/all/conandata.yml
  recipes/rust/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21033) aws-c-event-stream: update dependencies
  recipes/aws-c-event-stream/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21035) ada: add version 2.7.3
  recipes/ada/all/conandata.yml
  recipes/ada/config.yml
Due: lint-yaml-scheme, check-yaml-scheme
