Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

conan v2 support
  recipes/rectpack2d/all/conanfile.py
  recipes/rectpack2d/all/test_package/CMakeLists.txt
  recipes/rectpack2d/all/test_package/conanfile.py
  recipes/rectpack2d/all/test_v1_package/CMakeLists.txt
  recipes/rectpack2d/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

libxml2: Bump to 2.11.2
  recipes/libxml2/all/conandata.yml
  recipes/libxml2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

conan v2 support
  recipes/raylib/all/CMakeLists.txt
  recipes/raylib/all/conandata.yml
  recipes/raylib/all/conanfile.py
  recipes/raylib/all/patches/0001-3.5.0-enable-cmake-build-android.patch
  recipes/raylib/all/patches/0001-4.0.0-enable-cmake-build-android.patch
  recipes/raylib/all/test_package/CMakeLists.txt
  recipes/raylib/all/test_package/conanfile.py
  recipes/raylib/all/test_v1_package/CMakeLists.txt
  recipes/raylib/all/test_v1_package/conanfile.py
  recipes/raylib/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add package_type
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

thrust: bump onetbb dependency version
  recipes/thrust/all/conanfile.py
Due: lint-recipes, lint-test_package

cleanup android patch
  recipes/raylib/all/conandata.yml
  recipes/raylib/all/patches/0001-3.5.0-enable-cmake-build-android.patch
  recipes/raylib/all/patches/3.5.0-0001-enable-cmake-build-android.patch
  recipes/raylib/all/patches/4.0.0-0001-enable-cmake-build-android.patch
Due: lint-yaml-scheme, check-yaml-scheme

patch CMakeLists of 3.5.0
  recipes/raylib/all/conandata.yml
  recipes/raylib/all/patches/3.5.0-0002-cmake-project.patch
Due: lint-yaml-scheme, check-yaml-scheme

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

conan v2 support
  recipes/llhttp/all/CMakeLists.txt
  recipes/llhttp/all/conandata.yml
  recipes/llhttp/all/conanfile.py
  recipes/llhttp/all/test_package/CMakeLists.txt
  recipes/llhttp/all/test_package/conanfile.py
  recipes/llhttp/all/test_v1_package/CMakeLists.txt
  recipes/llhttp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

[doc] Update supported platforms and configurations
  docs/supported_platforms_and_configurations.md
Due: none

taskflow: add version 3.6.0, add package_type
  recipes/taskflow/all/conandata.yml
  recipes/taskflow/all/conanfile.py
  recipes/taskflow/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

require C++14 with frozen
  recipes/lief/all/conanfile.py
Due: lint-recipes, lint-test_package

Add support for version 1.1.0
  recipes/log4cxx/all/conandata.yml
  recipes/log4cxx/all/patches/0004-find-apr.patch
Due: lint-yaml-scheme, check-yaml-scheme

Add version 1.1.0 to CI build
  recipes/log4cxx/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#17419) [doc] Update supported platforms and configurations (2023-05-05)
  docs/supported_platforms_and_configurations.md
Due: none

Update abseil to 20230125.3
  recipes/abseil/all/conandata.yml
  recipes/abseil/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Added missing system lib for foundations on Windows
  recipes/physx/4.x.x/conanfile.py
Due: lint-recipes, lint-test_package

remove fPIC is header only
  recipes/bitserializer/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16678) openvc: 4.x modernize more for conan v2
  recipes/opencv/4.x/conanfile.py
  recipes/opencv/4.x/test_package/CMakeLists.txt
  recipes/opencv/4.x/test_package/conanfile.py
  recipes/opencv/4.x/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#17454) Update abseil to 20230125.3
  recipes/abseil/all/conandata.yml
  recipes/abseil/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

openblas: Improve recipe plus conan v2
  recipes/openblas/all/CMakeLists.txt
  recipes/openblas/all/conandata.yml
  recipes/openblas/all/conanfile.py
  recipes/openblas/all/patches/0.3.10-0001-Fix-libm-linking-and-fortran-detection.patch
  recipes/openblas/all/patches/0.3.12-0001-Fix-libm-linking-and-fortran-detection.patch
  recipes/openblas/all/patches/0.3.13-0001-Fix-libm-linking-and-fortran-detection.patch
  recipes/openblas/all/patches/0.3.15-0001-Fix-libm-linking-and-fortran-detection.patch
  recipes/openblas/all/patches/0.3.17-0001-Fix-libm-linking-and-fortran-detection.patch
  recipes/openblas/all/patches/0.3.20-0001-Fix-libm-linking-and-fortran-detection.patch
  recipes/openblas/all/patches/0.3.23-0001-Fix-Intel-Fortran-detection-and-flag-change-to-fopen.patch
  recipes/openblas/all/test_package/CMakeLists.txt
  recipes/openblas/all/test_package/conanfile.py
  recipes/openblas/all/test_v1_package/CMakeLists.txt
  recipes/openblas/all/test_v1_package/conanfile.py
  recipes/openblas/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openblas: Address PR suggestions
  recipes/openblas/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove output.warning, no longer supported in Conan 2.0
  recipes/wg21-linear_algebra/all/conanfile.py
Due: lint-recipes, lint-test_package

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#17377) docs: using openssl version range with 1.x clients
  docs/adding_packages/dependencies.md
Due: none

(#17178) ginkgo: conan v2 support
  recipes/ginkgo/all/CMakeLists.txt
  recipes/ginkgo/all/conandata.yml
  recipes/ginkgo/all/conanfile.py
  recipes/ginkgo/all/test_package/CMakeLists.txt
  recipes/ginkgo/all/test_package/conanfile.py
  recipes/ginkgo/all/test_v1_package/CMakeLists.txt
  recipes/ginkgo/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Continues to assume complier support
  recipes/wg21-linear_algebra/all/conanfile.py
Due: lint-recipes, lint-test_package

fix package name
  recipes/aggeom-agg/all/conanfile.py
Due: lint-recipes, lint-test_package

libtool: Fix copying config_guess and config_sub
  recipes/libtool/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17456) Remove output.warn, no longer supported in Conan 2.0
  recipes/wg21-linear_algebra/all/conanfile.py
Due: lint-recipes, lint-test_package

readline: remove conan-specific lines from cmake test_package
  recipes/readline/all/test_package/CMakeLists.txt
Due: none

move to cmake
  recipes/libdnet/all/conandata.yml
  recipes/libdnet/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Updated for conan v2 compatibility
  recipes/h5pp/all/conanfile.py
  recipes/h5pp/all/test_package/CMakeLists.txt
  recipes/h5pp/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package
