Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

fix typo
  recipes/speedb/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22189) xerces-c: add v3.2.5, simplify patching
  recipes/xerces-c/all/conandata.yml
  recipes/xerces-c/all/conanfile.py
  recipes/xerces-c/all/patches/0001-remove-test-samples-324.patch
  recipes/xerces-c/all/patches/0001-remove-test-samples.patch
  recipes/xerces-c/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#22196) recipe for `sbepp/1.2.0`
  recipes/sbepp/all/conandata.yml
  recipes/sbepp/all/conanfile.py
  recipes/sbepp/all/test_package/CMakeLists.txt
  recipes/sbepp/all/test_package/conanfile.py
  recipes/sbepp/all/test_v1_package/conanfile.py
  recipes/sbepp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Rename FuncgenConan to FuncGenConan. Remove actual files, and add golden files.
  recipes/func-gen/all/conanfile.py
  recipes/func-gen/all/test_package/cqasm-functions-gen.golden.cpp
  recipes/func-gen/all/test_package/cqasm-functions-gen.golden.hpp
Due: lint-recipes, lint-test_package

Remove libqasm recipe.
  recipes/libqasm/all/conandata.yml
  recipes/libqasm/all/conanfile.py
  recipes/libqasm/all/test_package/CMakeLists.txt
  recipes/libqasm/all/test_package/conanfile.py
  recipes/libqasm/all/test_package/src/example.cpp
  recipes/libqasm/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

gdcm: add 3.0.23
  recipes/gdcm/all/conandata.yml
  recipes/gdcm/all/patches/0002-3.0.23-openjpeg.patch
  recipes/gdcm/all/patches/0004-3.0.23-find-expat.patch
  recipes/gdcm/all/patches/0007-3.0.23-find-json.patch
  recipes/gdcm/all/patches/0008-3.0.23-find-libuuid.patch
  recipes/gdcm/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Remove code to calculate the target
  recipes/libvpx/all/conanfile.py
Due: lint-recipes, lint-test_package

perfetto: Bump version: 41.0
  recipes/perfetto/all/conandata.yml
  recipes/perfetto/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

use official patch for git config
  recipes/libcoro/all/conandata.yml
  recipes/libcoro/all/conanfile.py
  recipes/libcoro/all/patches/0.10-0002-disable-git-config.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/libcoro/all/patches/0.10-0002-disable-git-config.patch
  recipes/libcoro/all/patches/0.10-0002-disable-git-config.patch
Due: none

Require Conan>=2.0.
  recipes/func-gen/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22261) md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

added visibility hidden flag to not patched packages
  recipes/ade/all/conanfile.py
  recipes/bzip2/all/conanfile.py
  recipes/ceres-solver/all/conanfile.py
  recipes/easyexif/all/conanfile.py
  recipes/flann/all/conanfile.py
  recipes/gflags/all/conanfile.py
  recipes/hwloc/all/conanfile.py
  recipes/imath/all/conanfile.py
  recipes/jasper/all/conanfile.py
  recipes/libiconv/all/conanfile.py
  recipes/libjpeg-turbo/all/conanfile.py
  recipes/libpng/all/conanfile.py
  recipes/libtiff/all/conanfile.py
  recipes/libunwind/all/conanfile.py
  recipes/libwebp/all/conanfile.py
  recipes/libx264/all/conanfile.py
  recipes/libx265/all/conanfile.py
  recipes/libzip/all/conanfile.py
  recipes/lz4/all/conanfile.py
  recipes/nasm/all/conanfile.py
  recipes/onetbb/all/conanfile.py
  recipes/openexr/3.x/conanfile.py
  recipes/openh264/all/conanfile.py
  recipes/openssl/1.x.x/conanfile.py
  recipes/proj/all/conanfile.py
  recipes/protobuf/all/conanfile.py
  recipes/quirc/all/conanfile.py
  recipes/sqlite3/all/conanfile.py
  recipes/tinyxml2/all/conanfile.py
  recipes/yaml-cpp/all/conanfile.py
  recipes/yasm/all/conanfile.py
  recipes/zlib/all/conanfile.py
Due: lint-recipes, lint-test_package

Update conanfile.py to conan v2
  recipes/libgit2/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22254) sfml/all: bump deps
  recipes/sfml/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22264) perfetto: Bump version: 41.0
  recipes/perfetto/all/conandata.yml
  recipes/perfetto/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

restinio: bump to `fmt/10.2.0`
  recipes/restinio/v0.7/conanfile.py
Due: lint-recipes, lint-test_package

(#22253) thrift: bump boost
  recipes/thrift/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22268) restinio: bump to `fmt/10.2.0`
  recipes/restinio/v0.7/conanfile.py
Due: lint-recipes, lint-test_package

Initial commit.
  recipes/tree-gen/all/conandata.yml
  recipes/tree-gen/all/conanfile.py
  recipes/tree-gen/all/test_package/CMakeLists.txt
  recipes/tree-gen/all/test_package/conanfile.py
  recipes/tree-gen/all/test_package/directory.cpp
  recipes/tree-gen/all/test_package/directory.hpp
  recipes/tree-gen/all/test_package/directory.py
  recipes/tree-gen/all/test_package/directory.tree
  recipes/tree-gen/all/test_package/src/example.cpp
  recipes/tree-gen/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

This recipe is now in the same state as the func-gen recipe. We build tree-gen, and test the tree-gen executable.
  recipes/tree-gen/all/conanfile.py
  recipes/tree-gen/all/test_package/CMakeLists.txt
  recipes/tree-gen/all/test_package/conanfile.py
  recipes/tree-gen/all/test_package/directory.golden.cpp
  recipes/tree-gen/all/test_package/directory.golden.hpp
  recipes/tree-gen/all/test_package/directory.golden.py
  recipes/tree-gen/all/test_package/src/example.cpp
Due: lint-recipes, lint-test_package

Misc MSVC fixes
  recipes/cpython/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

zlig-nb: add version 2.1.6
  recipes/zlib-ng/all/conandata.yml
  recipes/zlib-ng/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

added visibility hidden to ffmpeg
  recipes/ffmpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22270) zlig-nb: add version 2.1.6
  recipes/zlib-ng/all/conandata.yml
  recipes/zlib-ng/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

zlib-ng: provide better compatibility with zlib
  recipes/zlib-ng/all/conanfile.py
  recipes/zlib-ng/all/test_package/CMakeLists.txt
  recipes/zlib-ng/all/test_package/conanfile.py
  recipes/zlib-ng/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

gdcm: bump zlib-ng to 2.1.6
  recipes/gdcm/all/conanfile.py
Due: lint-recipes, lint-test_package

cryptopp: add patch for CVE-2023-50980
  recipes/cryptopp/all/conandata.yml
  recipes/cryptopp/all/patches/8.9.0-0001-cve-2023-50980.patch
Due: lint-yaml-scheme, check-yaml-scheme

Update conanfile.py
  recipes/samarium/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22186) roaring: add version 2.1.2
  recipes/roaring/all/conandata.yml
  recipes/roaring/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
