Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

Apply patch for .1a version
  recipes/aws-crt-cpp/all/patches/0.17.23-fix-cpp20-windows.patch
Due: none

(#24524) [aws-c-event-stream] Fix test_package memory leak
  recipes/aws-c-event-stream/all/test_package/test_package.c
Due: none

libfabric: add VirtualRunEnv for Conan v1
  recipes/libfabric/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix hash
  recipes/magic_enum/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Simplify recipe, remove msvc support, use version ranges where appropiate
  recipes/openslide/all/conandata.yml
  recipes/openslide/all/conanfile.py
  recipes/openslide/all/patches/0003-fixes-for-msvc.patch
  recipes/openslide/all/test_v1_package/CMakeLists.txt
  recipes/openslide/all/test_v1_package/conanfile.py
  recipes/openslide/all/test_v1_package/test_package.c
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update signature
  recipes/magic_enum/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Bump more version ranges
  recipes/openslide/all/conanfile.py
Due: lint-recipes, lint-test_package

Add coretext usage
  recipes/openslide/all/conanfile.py
Due: lint-recipes, lint-test_package

More versionranges
  recipes/gdk-pixbuf/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24800) add new recipe for libMeshb
  recipes/libmeshb/all/conandata.yml
  recipes/libmeshb/all/conanfile.py
  recipes/libmeshb/all/test_package/CMakeLists.txt
  recipes/libmeshb/all/test_package/conanfile.py
  recipes/libmeshb/all/test_package/test_package.c
  recipes/libmeshb/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#23143) gdk-pixbuf: use libpng version range, bump deps, fix conflicts
  recipes/gdk-pixbuf/all/conanfile.py
Due: lint-recipes, lint-test_package

Downgrade fmt to 10
  recipes/folly/all/conanfile.py
  recipes/folly/all/patches/0001-support-fmt11.patch
Due: lint-recipes, lint-test_package

remove patch from conandata
  recipes/folly/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

openvino: debug is invalid in Conan Center CI
  recipes/openvino/all/conanfile.py
Due: lint-recipes, lint-test_package

itk: revert most version bumps, use version ranges
  recipes/itk/all/conanfile.py
Due: lint-recipes, lint-test_package

itk: fix typo in message
  recipes/itk/all/conanfile.py
Due: lint-recipes, lint-test_package

folly: use a version range for zstd, bump liburing
  recipes/folly/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove version 7.3.0
  recipes/openapi-generator/all/conandata.yml
  recipes/openapi-generator/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Revert "folly: use a version range for zstd, bump liburing"
  recipes/folly/all/conanfile.py
Due: lint-recipes, lint-test_package

tensorflow-lite: Add v2.15.0
  recipes/tensorflow-lite/all/conandata.yml
  recipes/tensorflow-lite/all/conanfile.py
  recipes/tensorflow-lite/all/patches/2.15.0-0001-disable-fetch-content.patch
  recipes/tensorflow-lite/all/patches/2.15.0-0002-windows-mmap.patch
  recipes/tensorflow-lite/all/patches/2.15.0-0003-use-cci-dependencies.patch
  recipes/tensorflow-lite/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

do not enforce cmake prefix path in deps.cmake
  recipes/folly/all/conan_deps.cmake
Due: none

folly: remove a leftover comment in conan_deps.cmake
  recipes/folly/all/conan_deps.cmake
Due: none

Update recipes/battery-embed/all/conanfile.py
  recipes/battery-embed/all/conanfile.py
Due: lint-recipes, lint-test_package

jsonifier: update sha256 of 0.9.97
  recipes/jsonifier/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24995) Magic_enum/0.9.6: Update signature
  recipes/magic_enum/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24526) [aws-crt-cpp] Fix build on Windows with C++20
  recipes/aws-crt-cpp/all/conandata.yml
  recipes/aws-crt-cpp/all/patches/0.17.23-fix-cpp20-windows.patch
Due: lint-yaml-scheme, check-yaml-scheme

itk: fix handling of expat dependency
  recipes/itk/all/conan_cmake_project_include.cmake
  recipes/itk/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove hardcoded CXX_STANDARD (will probably need to set it for apple-clang)
  recipes/tgbot/all/conanfile.py
Due: lint-recipes, lint-test_package

fix: Clang + libstdc++ error
  recipes/boost-ext-ut/all/conanfile.py
Due: lint-recipes, lint-test_package

(#23409) onnxruntime: add 1.17.3 & 1.18.1, remove older versions
  recipes/onnxruntime/all/cmake/onnxruntime_external_deps.cmake
  recipes/onnxruntime/all/conandata.yml
  recipes/onnxruntime/all/conanfile.py
  recipes/onnxruntime/all/patches/1.14.1-0001-cmake-dependencies.patch
  recipes/onnxruntime/all/patches/1.14.1-0002-cmake-dependencies.patch
  recipes/onnxruntime/all/patches/1.15.1-0001-cmake-dependencies.patch
  recipes/onnxruntime/all/patches/1.16.0-0001-cmake-dependencies.patch
  recipes/onnxruntime/all/patches/1.17.3-0001-patch-macos-cpp20-date-compat.patch
  recipes/onnxruntime/all/patches/1.17.3-0002-missing-include.patch
  recipes/onnxruntime/all/patches/1.18.0-0004-abseil-no-string-view.patch
  recipes/onnxruntime/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add a min cppstd
  recipes/tgbot/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21763) tensorflow-lite: Add v2.15.0
  recipes/tensorflow-lite/all/conandata.yml
  recipes/tensorflow-lite/all/conanfile.py
  recipes/tensorflow-lite/all/patches/2.15.0-0001-disable-fetch-content.patch
  recipes/tensorflow-lite/all/patches/2.15.0-0002-windows-mmap.patch
  recipes/tensorflow-lite/all/patches/2.15.0-0003-use-cci-dependencies.patch
  recipes/tensorflow-lite/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#22698) battery-embed: add recipe
  recipes/battery-embed/all/conandata.yml
  recipes/battery-embed/all/conanfile.py
  recipes/battery-embed/all/embed.cmake
  recipes/battery-embed/all/test_package/CMakeLists.txt
  recipes/battery-embed/all/test_package/conanfile.py
  recipes/battery-embed/all/test_package/test_package.cpp
  recipes/battery-embed/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme
