Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

remove package type
  recipes/polylineencoder/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15933) libbacktrace: modernize more for conan v2
  recipes/libbacktrace/all/conanfile.py
  recipes/libbacktrace/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

sdl: link to required Android system libs in static variant
  recipes/sdl/all/conanfile.py
Due: lint-recipes, lint-test_package

drop 0.2.6
  recipes/sentry-native/all/conandata.yml
  recipes/sentry-native/all/conanfile.py
  recipes/sentry-native/all/patches/0.2.6-0001-remove-sentry-handler-dependency.patch
  recipes/sentry-native/all/patches/0.2.6-0002-set-cmake-cxx-standard-14.patch
  recipes/sentry-native/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libsvtav1: fix static build on macos llvm-clang
  recipes/libsvtav1/all/conandata.yml
  recipes/libsvtav1/all/conanfile.py
  recipes/libsvtav1/all/patches/llvm-clang-macos.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

ffmpeg: use ar / nm / ranlib / strip from toolchain
  recipes/ffmpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

fix OSI recipe: missing patches files from recipe
  recipes/open-simulation-interface/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

pkgconf: update recipe for compatibility with Conan 2.0
  recipes/pkgconf/all/conandata.yml
  recipes/pkgconf/all/conanfile.py
  recipes/pkgconf/all/test_package/conanfile.py
  recipes/pkgconf/all/test_package/src/CMakeLists.txt
  recipes/pkgconf/all/test_package/src/configure.ac
  recipes/pkgconf/all/test_package/src/libexample1.pc
  recipes/pkgconf/all/test_package/src/test_package.c
  recipes/pkgconf/all/test_v1_package/CMakeLists.txt
  recipes/pkgconf/all/test_v1_package/conanfile.py
  recipes/pkgconf/all/test_v1_package/configure.ac
  recipes/pkgconf/all/test_v1_package/libexample1.pc
  recipes/pkgconf/all/test_v1_package/test_package.c
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

relocatable onnxifi shared lib on macOS
  recipes/onnx/all/conanfile.py
Due: lint-recipes, lint-test_package

add libdl to system libs of onnxifi
  recipes/onnx/all/conanfile.py
Due: lint-recipes, lint-test_package

modernize more
  recipes/aaplus/all/conanfile.py
Due: lint-recipes, lint-test_package

modernize more
  recipes/ade/all/conanfile.py
  recipes/ade/all/test_package/conanfile.py
  recipes/ade/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

Add initial open-dis-cpp recipe
  recipes/open-dis-cpp/all/conandata.yml
  recipes/open-dis-cpp/all/conanfile.py
  recipes/open-dis-cpp/all/test_package/CMakeLists.txt
  recipes/open-dis-cpp/all/test_package/conanfile.py
  recipes/open-dis-cpp/all/test_package/test_package.cpp
  recipes/open-dis-cpp/all/test_v1_package/CMakeLists.txt
  recipes/open-dis-cpp/all/test_v1_package/conanfile.py
  recipes/open-dis-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Tweak component names
  recipes/open-dis-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Update to 1.0.1 release
  recipes/open-dis-cpp/all/conandata.yml
  recipes/open-dis-cpp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Use latest fork for testing
  recipes/open-dis-cpp/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

temporarily use a fork for testing
  recipes/open-dis-cpp/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Remove unnecessary patch calls
  recipes/open-dis-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Tweak target names
  recipes/open-dis-cpp/all/conanfile.py
  recipes/open-dis-cpp/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

Revert "Remove unnecessary patch calls"
  recipes/open-dis-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Update test_v1_package
  recipes/open-dis-cpp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

modernize more
  recipes/arrow/all/conanfile.py
  recipes/arrow/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#15707) libiconv: fix MinGW clang & modernize more
  recipes/libiconv/all/conanfile.py
Due: lint-recipes, lint-test_package

modernize more
  recipes/asmjit/all/conanfile.py
  recipes/asmjit/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

modernize more
  recipes/aws-crt-cpp/all/conanfile.py
  recipes/aws-crt-cpp/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

(#15727) Add Eric's pr Status page
  docs/community_resources.md
Due: none

modernize more
  recipes/backward-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix double delete and modernize test_package
  recipes/pulseaudio/all/conanfile.py
  recipes/pulseaudio/all/test_package/conanfile.py
  recipes/pulseaudio/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

(#15386) gdal < 3.5 : conan v2 support
  recipes/gdal/pre_3.5.0/conandata.yml
  recipes/gdal/pre_3.5.0/conanfile.py
  recipes/gdal/pre_3.5.0/test_package/CMakeLists.txt
  recipes/gdal/pre_3.5.0/test_package/conanfile.py
  recipes/gdal/pre_3.5.0/test_v1_package/CMakeLists.txt
  recipes/gdal/pre_3.5.0/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

linter: do not accept version attribute
  docs/linters.md
  linter/check_version_attribute.py
  linter/pylintrc_recipe
Due: lint-recipes, lint-test_package

Fix error number
  linter/check_version_attribute.py
  linter/pylintrc_recipe
Due: lint-recipes, lint-test_package

(#15434) paho-mqtt-c: add version 1.3.12, support conan v2
  recipes/paho-mqtt-c/all/CMakeLists.txt
  recipes/paho-mqtt-c/all/conandata.yml
  recipes/paho-mqtt-c/all/conanfile.py
  recipes/paho-mqtt-c/all/patches/0004-fix-cmake-find-openssl.patch
  recipes/paho-mqtt-c/all/test_package/CMakeLists.txt
  recipes/paho-mqtt-c/all/test_package/conanfile.py
  recipes/paho-mqtt-c/all/test_v1_package/CMakeLists.txt
  recipes/paho-mqtt-c/all/test_v1_package/conanfile.py
  recipes/paho-mqtt-c/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

duckdb: add version 0.7.0, fix wrong url of 0.6.1
  recipes/duckdb/all/conandata.yml
  recipes/duckdb/all/conanfile.py
  recipes/duckdb/all/patches/0.7.0-0001-fix-cmake.patch
  recipes/duckdb/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

allow system version
  linter/check_version_attribute.py
  linter/conanv2_transition.py
  linter/pylintrc_recipe
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
