Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#19929) btyacc: conan v2 support
  recipes/btyacc/all/CMakeLists.txt
  recipes/btyacc/all/conanfile.py
  recipes/btyacc/all/test_package/CMakeLists.txt
  recipes/btyacc/all/test_package/conanfile.py
  recipes/btyacc/all/test_v1_package/CMakeLists.txt
  recipes/btyacc/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#19987) pdf-writer: add recipe
  recipes/pdf-writer/all/conandata.yml
  recipes/pdf-writer/all/conanfile.py
  recipes/pdf-writer/all/patches/4.5.12-0001-fix-cmake.patch
  recipes/pdf-writer/all/test_package/CMakeLists.txt
  recipes/pdf-writer/all/test_package/conanfile.py
  recipes/pdf-writer/all/test_package/test_package.cpp
  recipes/pdf-writer/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

remove unused functions
  recipes/cpp-validator/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20317) cub: fix project URL
  recipes/cub/all/conanfile.py
Due: lint-recipes, lint-test_package

onnxruntime: add version 1.16.1
  recipes/onnxruntime/all/conandata.yml
  recipes/onnxruntime/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20321) libsgp4: add v1.0
  recipes/libsgp4/all/conandata.yml
  recipes/libsgp4/all/patches/1.0-fix-cmake-files.patch
  recipes/libsgp4/all/patches/20191207-fix-cmake-files.patch
  recipes/libsgp4/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20351) s2geometry: do not suggest unofficial CMake imported target + cleanup a little bit recipe
  recipes/s2geometry/all/conandata.yml
  recipes/s2geometry/all/conanfile.py
  recipes/s2geometry/all/patches/bump_cmake_cxx_standard.patch
  recipes/s2geometry/all/test_package/CMakeLists.txt
  recipes/s2geometry/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20412) tixi3/all: bump deps, fix test package
  recipes/tixi3/all/conanfile.py
  recipes/tixi3/all/test_package/CMakeLists.txt
  recipes/tixi3/all/test_package/conanfile.py
  recipes/tixi3/all/test_v1_package/CMakeLists.txt
  recipes/tixi3/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#20414) yder: fix macOS build, bump libsystemd
  recipes/yder/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20416) fastnoise2: add recipe
  recipes/fastnoise2/all/conandata.yml
  recipes/fastnoise2/all/conanfile.py
  recipes/fastnoise2/all/test_package/CMakeLists.txt
  recipes/fastnoise2/all/test_package/conanfile.py
  recipes/fastnoise2/all/test_package/test_package.cpp
  recipes/fastnoise2/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

improve error message if is_apple_os()
  recipes/opencolorio/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20426) tcp-wrappers: relocatable shared lib on macOS + handle windows build machine + raise in validate() instead of configure()
  recipes/tcp-wrappers/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20430) twitch-native-ipc: move checks to validate()
  recipes/twitch-native-ipc/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20491) sdbus-cpp/all: bump deps
  recipes/sdbus-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20493) amqp-cpp: fix build with MinGW and remove old versions
  recipes/amqp-cpp/all/conandata.yml
  recipes/amqp-cpp/all/conanfile.py
  recipes/amqp-cpp/all/patches/0001-cmake-openssl-install-directories.patch
  recipes/amqp-cpp/all/patches/4.1.7-0001-cmake-link-openssl.patch
  recipes/amqp-cpp/all/patches/4.1.7-0002-cmake-install-dll-export-msvc.patch
  recipes/amqp-cpp/all/patches/4.1.7-0003-cmake-link-ws2_32.patch
  recipes/amqp-cpp/all/patches/4.3.24-0001-cmake-link-openssl.patch
  recipes/amqp-cpp/all/patches/4.3.24-0001-cmake-openssl-install-directories.patch
  recipes/amqp-cpp/all/patches/4.3.24-0002-cmake-install-dll-export-msvc.patch
  recipes/amqp-cpp/all/patches/4.3.24-0003-cmake-link-ws2_32.patch
  recipes/amqp-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20496) poly2tri: fix MinGW by injecting `_USE_MATH_DEFINES` to avoid `M_PI` not defined
  recipes/poly2tri/all/CMakeLists.txt
  recipes/poly2tri/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20500) sqlite3: add version 3.43.2
  recipes/sqlite3/all/conandata.yml
  recipes/sqlite3/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20501) libnghttp2: add version 1.57.0 (fix CVE-2023-44487)
  recipes/libnghttp2/all/conandata.yml
  recipes/libnghttp2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

librasterlite/all: bump deps
  recipes/librasterlite/all/conanfile.py
Due: lint-recipes, lint-test_package

libspatialite/all: bump deps
  recipes/libspatialite/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20503) md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20506) libdrm: Fix nouveau include directories
  recipes/libdrm/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20509) nmslib: better way to create relocatable shared lib on macOS
  recipes/nmslib/all/conanfile.py
Due: lint-recipes, lint-test_package
