Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#16130) libuuid: modernize more for conan v2
  recipes/libuuid/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16124) libev: modernize more for conan v2
  recipes/libev/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16512) opentdf-client: add version 1.3.10
  recipes/opentdf-client/all/conandata.yml
  recipes/opentdf-client/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16168) libtiff: bump dependencies + add package_type
  recipes/libtiff/all/conanfile.py
Due: lint-recipes, lint-test_package

docs: make sure package type is set
  docs/package_templates/cmake_package/all/conanfile.py
  docs/package_templates/header_only/all/conanfile.py
  docs/package_templates/meson_package/all/conanfile.py
  docs/package_templates/msbuild_package/all/conanfile.py
  docs/package_templates/prebuilt_tool_package/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16462) xtrans: conan V2 compatibility
  recipes/xtrans/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16360) [changelog] Release 2023-03-03
  docs/changelog.md
Due: none

(#16277) libsamplerate: fix `_cmake_new_enough()` for conan v2
  recipes/libsamplerate/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16289) daw_header_libraries: modernize more for conan v2
  recipes/daw_header_libraries/all/conanfile.py
Due: lint-recipes, lint-test_package

bump glib
  recipes/glibmm/all/conanfile.py
Due: lint-recipes, lint-test_package

cross-compatible way set glib shared option
  recipes/glibmm/all/conanfile.py
Due: lint-recipes, lint-test_package

bump glib
  recipes/libverto/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16255) h3: modernize more for conan v2
  recipes/h3/all/conanfile.py
  recipes/h3/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

libcurl: add 7.88.1
  recipes/libcurl/all/conandata.yml
  recipes/libcurl/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libcurl: add 7.88.0
  recipes/libcurl/all/conandata.yml
  recipes/libcurl/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libcurl: update openssl
  recipes/libcurl/all/conanfile.py
Due: lint-recipes, lint-test_package

libcurl: remove unused patches
  recipes/libcurl/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16239) aaf: modernize more for conan v2
  recipes/aaf/all/conanfile.py
Due: lint-recipes, lint-test_package

conan v2 support
  recipes/doctest/2.x.x/conandata.yml
  recipes/doctest/2.x.x/conanfile.py
  recipes/doctest/2.x.x/test_package/CMakeLists.txt
  recipes/doctest/2.x.x/test_package/conanfile.py
  recipes/doctest/2.x.x/test_v1_package/CMakeLists.txt
  recipes/doctest/2.x.x/test_v1_package/conanfile.py
  recipes/doctest/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16194) ffmpeg: don't pass --as when assembler is disabled
  recipes/ffmpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

libassert: fix recipe url
  recipes/libassert/all/conanfile.py
Due: lint-recipes, lint-test_package

bump glib
  recipes/gdk-pixbuf/all/conanfile.py
Due: lint-recipes, lint-test_package

cross-compatible way to set glib shared option
  recipes/gdk-pixbuf/all/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/dbus/1.x.x/conanfile.py
Due: lint-recipes, lint-test_package

(#16188) quill: QUILL_X86ARCH should be optional
  recipes/quill/all/conanfile.py
Due: lint-recipes, lint-test_package

cross-compatible way to set glib shared option
  recipes/harfbuzz/all/conanfile.py
Due: lint-recipes, lint-test_package

bump glib
  recipes/harfbuzz/all/conanfile.py
Due: lint-recipes, lint-test_package

bump glib
  recipes/pulseaudio/all/conanfile.py
Due: lint-recipes, lint-test_package
