Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

Disable macos
  recipes/krb5/all/conanfile.py
Due: lint-recipes, lint-test_package

try to fix msvc
  recipes/krb5/all/conanfile.py
Due: lint-recipes, lint-test_package

try 1.19.2 version
  recipes/krb5/all/conandata.yml
  recipes/krb5/all/conanfile.py
  recipes/krb5/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add ksu fix
  recipes/krb5/all/patches/0001-disable_ksu_root.patch
  recipes/krb5/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update conanfile.py
  recipes/krb5/all/conanfile.py
Due: lint-recipes, lint-test_package

Try to fix lib names
  recipes/krb5/all/conanfile.py
Due: lint-recipes, lint-test_package

try to fix shared build
  recipes/krb5/all/conanfile.py
Due: lint-recipes, lint-test_package

minor fixes
  recipes/krb5/all/conandata.yml
  recipes/krb5/all/patches/1.92.2-0003-disable_ksu_root.patch
  recipes/krb5/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix openssl?
  recipes/krb5/all/conanfile.py
Due: lint-recipes, lint-test_package

bump openssl
  recipes/krb5/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix patches
  recipes/krb5/all/conanfile.py
Due: lint-recipes, lint-test_package

update a bit
  recipes/krb5/all/conanfile.py
Due: lint-recipes, lint-test_package

Minor fixes
  recipes/krb5/all/conandata.yml
  recipes/krb5/all/conanfile.py
  recipes/krb5/all/patches/1.19.2-0003-disable_ksu_root.patch
  recipes/krb5/all/patches/1.19.2-0004-missing_zlib.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

try to fix windows
  recipes/krb5/all/conanfile.py
Due: lint-recipes, lint-test_package

Missing deps
  recipes/krb5/all/patches/1.19.2-0004-missing_zlib.patch
Due: none

disable msvc, remove old patches
  recipes/krb5/all/conanfile.py
  recipes/krb5/all/patches/0001-Use-PKG_CHECK_MODULES-to-system-library-com_err.patch
  recipes/krb5/all/patches/0002-allow-openssl-from-env.patch
  recipes/krb5/all/patches/1.18.2-0001-use-PKG_CHECK_MODULES-for-openssl.patch
  recipes/krb5/all/patches/1.18.2-0002-avoid-conflicting-symbols.patch
Due: lint-recipes, lint-test_package

Add hictk v0.0.9
  recipes/hictk/all/conandata.yml
  recipes/hictk/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

make cmake 3.16
  recipes/idna/all/conanfile.py
Due: lint-recipes, lint-test_package

update 3.3.0
  recipes/stringzilla/all/conandata.yml
  recipes/stringzilla/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update 6.0.134, support clang, msvc
  recipes/simd/all/conandata.yml
  recipes/simd/all/conanfile.py
  recipes/simd/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

unleash-client-cpp: add version 1.3.0, support conan v2
  recipes/unleash-client-cpp/all/CMakeLists.txt
  recipes/unleash-client-cpp/all/conandata.yml
  recipes/unleash-client-cpp/all/conanfile.py
  recipes/unleash-client-cpp/all/test_package/CMakeLists.txt
  recipes/unleash-client-cpp/all/test_package/conanfile.py
  recipes/unleash-client-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

drop support clang with libc++
  recipes/unleash-client-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

fix config validate infra entry (#22870)
  .c3i/config_v1.yml
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

drop support apple-clang with libc++
  recipes/unleash-client-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

update 0.14.1
  recipes/lief/all/conandata.yml
  recipes/lief/all/patches/0.14.1-001_link_to_conan.patch
  recipes/lief/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21764) avoid meson creating pycache files, corrupt the package
  recipes/meson/all/conanfile.py
Due: lint-recipes, lint-test_package

stale workflow: don't remove stale label twice
  .github/workflows/stale.yml
Due: lint-yaml-scheme, check-yaml-scheme

Bases the package file on cmake_package template.
  recipes/libq/all/conandata.yml
  recipes/libq/all/conanfile.py
  recipes/libq/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#22893) hictk: add v0.0.9
  recipes/hictk/all/conandata.yml
  recipes/hictk/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19950) OpenImageIO: conan 2 support, old version cleanup & version 2.4.17.0 & 2.5.6.0 added
  recipes/openimageio/all/CMakeLists.txt
  recipes/openimageio/all/conandata.yml
  recipes/openimageio/all/conanfile.py
  recipes/openimageio/all/patches/2.2.18.0-cmake-targets.patch
  recipes/openimageio/all/patches/2.2.7.0-cmake-targets.patch
  recipes/openimageio/all/patches/2.3.7.2-cmake-targets.patch
  recipes/openimageio/all/patches/2.4.17.0-cmake-targets.patch
  recipes/openimageio/all/patches/2.5.6.0-cmake-targets.patch
  recipes/openimageio/all/test_package/CMakeLists.txt
  recipes/openimageio/all/test_package/conanfile.py
  recipes/openimageio/all/test_v1_package/CMakeLists.txt
  recipes/openimageio/all/test_v1_package/conanfile.py
  recipes/openimageio/all/test_v1_package/test_package.cpp
  recipes/openimageio/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

VTK recipe is now driven by json file with all the dependency info
  recipes/vtk/all/conandata.yml
  recipes/vtk/all/conanfile.py
  recipes/vtk/all/find_all_modules_in_src.sh
  recipes/vtk/all/gather_modules_from_src.py
  recipes/vtk/all/modules-9.2.6.json
  recipes/vtk/all/modules-9.3.0.json
  recipes/vtk/all/patches/9.3.0-allow-GL_TEXTURE_2D_ARRAY.patch
  recipes/vtk/all/patches/9.3.0-fix-kissfft-use-external.patch
  recipes/vtk/all/patches/9.3.0-fix-vtkBoxClipDataSet-intersection-merging.patch
  recipes/vtk/all/patches/9.3.0-fix-vtkCleanPolyData-point-merging.patch
  recipes/vtk/all/patches/9.3.0-fix-vtkCollection-performance.patch
  recipes/vtk/all/patches/9.3.0-fix-vtkHardwarePicker-nearest.patch
  recipes/vtk/all/readme-new-version.md
  recipes/vtk/all/readme-recipe-design.md
  recipes/vtk/all/readme-support-dependency.md
  recipes/vtk/all/readme-vtk-patches.md
  recipes/vtk/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

velodyne_decoder: new recipe
  recipes/velodyne_decoder/all/conandata.yml
  recipes/velodyne_decoder/all/conanfile.py
  recipes/velodyne_decoder/all/test_package/CMakeLists.txt
  recipes/velodyne_decoder/all/test_package/conanfile.py
  recipes/velodyne_decoder/all/test_package/test_package.cpp
  recipes/velodyne_decoder/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#22788) [wayland] Bump required dependencies
  recipes/wayland/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22880) glfw: add version 3.4
  recipes/glfw/all/conandata.yml
  recipes/glfw/config.yml
Due: lint-yaml-scheme, check-yaml-scheme
