Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

geographiclib: fix 1.51 Clang error, disable -Werror
  recipes/geographiclib/all/conandata.yml
  recipes/geographiclib/all/conanfile.py
  recipes/geographiclib/all/patches/0003-fix-rhumb.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

dlib: add version 19.24.2
  recipes/dlib/all/conandata.yml
  recipes/dlib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

dlib: bump sqlite3
  recipes/dlib/all/conanfile.py
Due: lint-recipes, lint-test_package

dlib: v19.24.2 requires C++14
  recipes/dlib/all/conanfile.py
Due: lint-recipes, lint-test_package

Apply suggestions from code review
  recipes/fmilibrary/all/conanfile.py
Due: lint-recipes, lint-test_package

hdf5: add Shlwapi system lib dependency on Windows
  recipes/hdf5/all/conanfile.py
Due: lint-recipes, lint-test_package

hlslpp: add version 3.3.1
  recipes/hlslpp/all/conandata.yml
  recipes/hlslpp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Bump osgearth's zlib requirement to [>=1.2.11 <2] range (#20654)
  recipes/osgearth/all/conanfile.py
Due: lint-recipes, lint-test_package

pango: bump deps
  recipes/pango/all/conanfile.py
Due: lint-recipes, lint-test_package

pango: add 1.50.14
  recipes/pango/all/conandata.yml
  recipes/pango/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

pango: migrate to Conan v2
  recipes/pango/all/conanfile.py
  recipes/pango/all/test_package/CMakeLists.txt
  recipes/pango/all/test_package/conanfile.py
  recipes/pango/all/test_v1_package/CMakeLists.txt
  recipes/pango/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

pango: transitive_libs=True
  recipes/pango/all/conanfile.py
Due: lint-recipes, lint-test_package

pango: downgrade glib for cairo
  recipes/pango/all/conanfile.py
Due: lint-recipes, lint-test_package

Move fmi copy to build and bump expat to 2.5.0
  recipes/fmilibrary/all/conanfile.py
Due: lint-recipes, lint-test_package

thrust: bump onetbb
  recipes/thrust/all/conanfile.py
Due: lint-recipes, lint-test_package

Add some missing #include <cstdint> definitions for newer gcc
  recipes/openexr/2.x/conandata.yml
  recipes/openexr/2.x/conanfile.py
  recipes/openexr/2.x/patches/2.4.0-0001-cstdint-include.patch
  recipes/openexr/2.x/patches/2.5.4-0001-cstdint-include.patch
  recipes/openexr/2.x/patches/2.5.7-0001-cstdint-include.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add missing newline
  recipes/openexr/2.x/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20756) detools: add version 0.53.0, suppport conan v2
  recipes/detools/all/CMakeLists.txt
  recipes/detools/all/conandata.yml
  recipes/detools/all/conanfile.py
  recipes/detools/all/test_package/CMakeLists.txt
  recipes/detools/all/test_package/conanfile.py
  recipes/detools/all/test_package/test_package.c
  recipes/detools/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

hlslpp: add version 3.2.3
  recipes/hlslpp/all/conandata.yml
  recipes/hlslpp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

hlslpp: require GCC 6
  recipes/hlslpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix warning due to missing system dependency to libm.
  recipes/fast-cdr/all/conanfile.py
Due: lint-recipes, lint-test_package

Bump openvdb's zlib requirement to [>=1.2.11 <2] range (#20663)
  recipes/openvdb/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20681) implot: Include source code to support customized imgui builds
  recipes/implot/all/conanfile.py
Due: lint-recipes, lint-test_package

Require new compiler version only for most recent SCIP++ version
  recipes/scippp/all/conanfile.py
Due: lint-recipes, lint-test_package

add jsbsim/1.1.13
  recipes/jsbsim/all/conandata.yml
  recipes/jsbsim/all/conanfile.py
  recipes/jsbsim/all/patches/1.1.13-0001-expat-link.patch
  recipes/jsbsim/all/patches/1.1.13-0002-cmake-install.patch
  recipes/jsbsim/all/test_package/CMakeLists.txt
  recipes/jsbsim/all/test_package/conanfile.py
  recipes/jsbsim/all/test_package/test_package.cpp
  recipes/jsbsim/all/test_v1_package/CMakeLists.txt
  recipes/jsbsim/all/test_v1_package/conanfile.py
  recipes/jsbsim/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

drop support gcc 11 (gcc 10, 12 OK)
  recipes/asio-grpc/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20027) xtensor: add version 0.24.7, remove old versions
  recipes/xtensor/all/conandata.yml
  recipes/xtensor/all/patches/0.21.4-cxx11-abi.patch
  recipes/xtensor/all/patches/0.24.0-cxx11-abi.patch
  recipes/xtensor/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

so5extra: add version 1.6.1
  recipes/so5extra/all/conandata.yml
  recipes/so5extra/all/conanfile.py
  recipes/so5extra/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix compilation error with some compilers
  recipes/jsbsim/all/conandata.yml
  recipes/jsbsim/all/patches/1.1.13-0003-fix-use-t-before-auto-deduction.patch
Due: lint-yaml-scheme, check-yaml-scheme

change patch_type
  recipes/jsbsim/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Added patches, and package-type. Fixed bad Version import
  recipes/elfutils/all/conandata.yml
  recipes/elfutils/all/conanfile.py
  recipes/elfutils/all/patches/0001-enable-static-library-building.patch
  recipes/elfutils/all/patches/0002-disable-werror-flag.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

simdjson: add version 3.6.0
  recipes/simdjson/all/conandata.yml
  recipes/simdjson/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

rapidfuzz: add version 2.2.0
  recipes/rapidfuzz/all/conandata.yml
  recipes/rapidfuzz/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Bump Meson version
  docs/package_templates/meson_package/all/conanfile.py
  docs/package_templates/meson_package/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Use LANGUAGES keyword in CMake project commands
  docs/package_templates/cmake_package/all/test_package/CMakeLists.txt
  docs/package_templates/msbuild_package/all/test_package/CMakeLists.txt
Due: none
