Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

apply patch
  recipes/seq/all/conanfile.py
Due: lint-recipes, lint-test_package

Change to have delete option in configure rather than in validate
  recipes/gdal/post_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

add short_paths
  recipes/seq/all/conanfile.py
Due: lint-recipes, lint-test_package

don't use `and` and `not`
  recipes/seq/all/conanfile.py
Due: lint-recipes, lint-test_package

mysql-connector-cpp: disable bootstrap() in CMakeLists.txt
  recipes/mysql-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Fixing openssl
  recipes/mysql-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Fixing openssl removed duplicate symbols
  recipes/mysql-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

mysql-connector-cpp: replace fragile merge_libraries() with object libs
  recipes/mysql-connector-cpp/all/conandata.yml
  recipes/mysql-connector-cpp/all/patches/9.0.0/0006-replace-merge_libraries-with-object-libs.patch
Due: lint-yaml-scheme, check-yaml-scheme

mysql-connector-cpp: drop target_include_dirs patch
  recipes/mysql-connector-cpp/all/conandata.yml
  recipes/mysql-connector-cpp/all/patches/9.0.0/0004-add-target_include_directories.patch
Due: lint-yaml-scheme, check-yaml-scheme

Fixing openssl removed duplicate symbols 2.0
  recipes/mysql-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Fixing openssl removed duplicate symbols from cmake file 3.0
  recipes/mysql-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

update 7.1.0
  recipes/quill/all/conandata.yml
  recipes/quill/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update 0.0.4
  recipes/plutovg/all/conandata.yml
  recipes/plutovg/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#25142) [expxat] Add expat version 2.6.3
  recipes/expat/all/conandata.yml
  recipes/expat/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#25146) simdutf: add version 5.5.0
  recipes/simdutf/all/conandata.yml
  recipes/simdutf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#25149) plutovg: add version 0.0.4
  recipes/plutovg/all/conandata.yml
  recipes/plutovg/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

mysql-connector-cpp: apply review suggestions
  recipes/mysql-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#25174) s2n: add version 1.5.2
  recipes/s2n/all/conandata.yml
  recipes/s2n/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

wasmer: add version 4.3.7
  recipes/wasmer/all/conandata.yml
  recipes/wasmer/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

cpp20 for native-sentry 0.7.8
  recipes/sentry-native/all/conanfile.py
Due: lint-recipes, lint-test_package

openssl: update Windows workaround for OpenSSL 3.3.2
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Move liss-h to waitlist
  .c3i/authorized_users.yml
  .c3i/waitlist_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

mysql-connector-cpp: drop override-cmake-policy-version.patch
  recipes/mysql-connector-cpp/all/conandata.yml
  recipes/mysql-connector-cpp/all/conanfile.py
  recipes/mysql-connector-cpp/all/patches/9.0.0/0001-override-cmake-policy-version.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

mysql-connector-cpp: add dl to system_libs
  recipes/mysql-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

mysql-connector-cpp: tidy system_libs
  recipes/mysql-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

new recipe for melon/1.0.0-alpha.1
  recipes/melon/all/conandata.yml
  recipes/melon/all/conanfile.py
  recipes/melon/all/test_package/CMakeLists.txt
  recipes/melon/all/test_package/conanfile.py
  recipes/melon/all/test_package/test_package.cpp
  recipes/melon/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add compiler version required for version 0.7.8
  recipes/sentry-native/all/conanfile.py
Due: lint-recipes, lint-test_package

glaze: add version 3.3.3
  recipes/glaze/all/conandata.yml
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fixed url in conanfile.py
  recipes/melon/all/conanfile.py
Due: lint-recipes, lint-test_package

duckdb: add version 1.1.0
  recipes/duckdb/all/conandata.yml
  recipes/duckdb/all/conanfile.py
  recipes/duckdb/all/patches/1.1.0-0001-fix-cmake.patch
  recipes/duckdb/all/patches/1.1.0-0002-msvc-bicobj.patch
  recipes/duckdb/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#25160) cpp-httplib: add version 0.17.3
  recipes/cpp-httplib/all/conandata.yml
  recipes/cpp-httplib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24720) [sentry-native] Add 0.7.8
  recipes/sentry-native/all/conandata.yml
  recipes/sentry-native/all/conanfile.py
  recipes/sentry-native/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

added opus 1.5.1
  recipes/opus/all/conandata.yml
  recipes/opus/all/conanfile.py
  recipes/opus/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
