Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

bencmark: bump version of cmake tool requirement
  recipes/benchmark/all/conanfile.py
Due: lint-recipes, lint-test_package

libxml2: add transitive traits to libiconv dependency
  recipes/libxml2/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15998) c4core: modernize more for conan v2
  recipes/c4core/all/conandata.yml
  recipes/c4core/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add requirements for C++17
  recipes/rapidfuzz/all/conanfile.py
Due: lint-recipes, lint-test_package

gettext: add comments with clarifications
  recipes/gettext/all/conanfile.py
Due: lint-recipes, lint-test_package

gettext: add patch info
  recipes/gettext/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

gettext: fix endline of patch
  recipes/gettext/all/patches/0004-autopoint-relocatable.patch
Due: none

Update recipes/gettext/all/test_package/conanfile.py
  recipes/gettext/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Add patch for MSVC about user literals
  recipes/minisat/all/conandata.yml
  recipes/minisat/all/conanfile.py
  recipes/minisat/all/patches/0001-space-before-user-literal-2.2.0.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#14295) libverto: Update dependencies
  recipes/libverto/all/conanfile.py
  recipes/libverto/all/test_package/CMakeLists.txt
  recipes/libverto/all/test_package/conanfile.py
  recipes/libverto/all/test_v1_package/CMakeLists.txt
  recipes/libverto/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Also pass CC_FOR_BUILD to avoid confusion with GCC
  recipes/isl/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15999) catch2 3.x: modernize more for conan v2
  recipes/catch2/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

xorg-macros: fixes for v2
  recipes/xorg-macros/all/conandata.yml
  recipes/xorg-macros/all/conanfile.py
  recipes/xorg-macros/all/test_package/conanfile.py
  recipes/xorg-macros/all/test_package/src/Makefile.am
  recipes/xorg-macros/all/test_package/src/configure.ac
  recipes/xorg-macros/all/test_v1_package/Makefile.am
  recipes/xorg-macros/all/test_v1_package/conanfile.py
  recipes/xorg-macros/all/test_v1_package/configure.ac
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Bump required_conan_version
  recipes/isl/all/conanfile.py
Due: lint-recipes, lint-test_package

Use FindOpenSSL generated by CMakeDeps
  recipes/cmake/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

use C++14
  recipes/im95able-rea/all/conanfile.py
  recipes/im95able-rea/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

Fix linters
  recipes/xorg-macros/all/conanfile.py
Due: lint-recipes, lint-test_package

Properly copy license
  recipes/xorg-macros/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16001) cnpy: modernize more for conan v2
  recipes/cnpy/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16002) cyclonedds: modernize more for conan v2
  recipes/cyclonedds/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix test
  recipes/xorg-macros/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Update docs/faqs.md
  docs/faqs.md
Due: none

xorg-proto: fixes for conan 2.0
  recipes/xorg-proto/all/conanfile.py
  recipes/xorg-proto/all/test_package/CMakeLists.txt
  recipes/xorg-proto/all/test_package/conanfile.py
  recipes/xorg-proto/all/test_package/src/CMakeLists.txt
  recipes/xorg-proto/all/test_package/src/test_package.c
Due: lint-recipes, lint-test_package

(#16011) [docs] Update changelog 14-February-2023 - 15:32 CET
  docs/changelog.md
Due: none

Fix grammar
  docs/faqs.md
Due: none

Bump required openssl to openssl/1.1.1s
  recipes/folly/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16014) remove unnecessary generator in pistache
  recipes/pistache/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove default_cppstd checks and default to min_cppstd if user doesn't provide compiler.cppstd
  recipes/folly/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16016) [atk] Do not use full-package-id mode for glib
  recipes/atk/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16035) Update ExprTk package to tag 0.0.2
  recipes/exprtk/all/conandata.yml
  recipes/exprtk/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16036) remove MesonDeps from template
  docs/package_templates/meson_package/all/conanfile.py
Due: lint-recipes, lint-test_package
