Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

update to 1.9.8.1
  recipes/glaze/all/conandata.yml
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

revert Visual Studio version check
  recipes/glaze/all/conanfile.py
Due: lint-recipes, lint-test_package

copypp: limit compiler version
  recipes/copypp/all/conanfile.py
Due: lint-recipes, lint-test_package

update ot 1.24.0, remove older versions
  recipes/c-ares/all/conandata.yml
  recipes/c-ares/all/conanfile.py
  recipes/c-ares/all/patches/option-tools.patch
  recipes/c-ares/all/patches/upstream-pr-395-bundle-destination-v14.patch
  recipes/c-ares/all/patches/upstream-pr-395-bundle-destination-v15.patch
  recipes/c-ares/all/patches/upstream-pr-395-bundle-destination-v16-17.patch
  recipes/c-ares/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

sql-parser: add recipe
  recipes/sql-parser/all/conandata.yml
  recipes/sql-parser/all/conanfile.py
  recipes/sql-parser/all/test_package/CMakeLists.txt
  recipes/sql-parser/all/test_package/conanfile.py
  recipes/sql-parser/all/test_package/test_package.cpp
  recipes/sql-parser/all/test_v1_package/CMakeLists.txt
  recipes/sql-parser/all/test_v1_package/conanfile.py
  recipes/sql-parser/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

coz: static build is not supported, mark as shared-library
  recipes/coz/all/conanfile.py
Due: lint-recipes, lint-test_package

flatcc: correct required_conan_version
  recipes/flatcc/all/conanfile.py
Due: lint-recipes, lint-test_package

flatcc: don't print PATH
  recipes/flatcc/all/conanfile.py
Due: lint-recipes, lint-test_package

flatcc: disable cross-building if flatcc_cli cannot be run during the build
  recipes/flatcc/all/conanfile.py
Due: lint-recipes, lint-test_package

remove test_v1_package
  recipes/sql-parser/all/test_v1_package/CMakeLists.txt
  recipes/sql-parser/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

libfabric: macOS does not support `shm`
  recipes/libfabric/all/conanfile.py
Due: lint-recipes, lint-test_package

Add hictk v0.0.4
  recipes/hictk/all/conandata.yml
  recipes/hictk/all/conanfile.py
  recipes/hictk/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

poco: add version 1.13.0
  recipes/poco/all/conandata.yml
  recipes/poco/all/conanfile.py
  recipes/poco/all/patches/1.13.0-0002-mysql-include.patch
  recipes/poco/all/patches/1.13.0.patch
  recipes/poco/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

B2 5.0.0
  recipes/b2/config.yml
  recipes/b2/portable/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21880) B2 5.0.0
  recipes/b2/config.yml
  recipes/b2/portable/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

onnxruntime: bump wil
  recipes/onnxruntime/all/conanfile.py
Due: lint-recipes, lint-test_package

commata: add version 0.2.8
  recipes/commata/all/conandata.yml
  recipes/commata/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

revert expected include fix
  recipes/glaze/all/conanfile.py
Due: lint-recipes, lint-test_package

lunasvg: add version 2.3.9
  recipes/lunasvg/all/conandata.yml
  recipes/lunasvg/all/conanfile.py
  recipes/lunasvg/all/patches/2.3.9-0001-fix-cmake.patch
  recipes/lunasvg/all/test_package/CMakeLists.txt
  recipes/lunasvg/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

xmlsec: add version 1.3.2
  recipes/xmlsec/all/conandata.yml
  recipes/xmlsec/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21882) commata: add version 0.2.8
  recipes/commata/all/conandata.yml
  recipes/commata/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

add condtion to apply patch
  recipes/glaze/all/conanfile.py
Due: lint-recipes, lint-test_package

remove decay for msvc
  recipes/glaze/all/conanfile.py
Due: lint-recipes, lint-test_package

unordered_dense: add version 4.4.0
  recipes/unordered_dense/all/conandata.yml
  recipes/unordered_dense/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

add enable-pedantic for older gcc
  recipes/xmlsec/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21885) unordered_dense: add version 4.4.0
  recipes/unordered_dense/all/conandata.yml
  recipes/unordered_dense/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add cppcheck 2.13
  recipes/cppcheck/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

add entry to config.yml
  recipes/cppcheck/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update conandata.yml
  recipes/cppcheck/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

support gcc 5
  recipes/lunasvg/all/conandata.yml
  recipes/lunasvg/all/conanfile.py
  recipes/lunasvg/all/patches/2.3.9-0002-rename-inner-selector.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

use stdd:decay
  recipes/glaze/all/conanfile.py
Due: lint-recipes, lint-test_package

libavif: add version 1.0.3
  recipes/libavif/all/conandata.yml
  recipes/libavif/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

commata: create patch file for 0.2.7
  recipes/commata/all/conandata.yml
  recipes/commata/all/conanfile.py
  recipes/commata/all/patches/0.2.7-0001-include-optional.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21887) libavif: add version 1.0.3
  recipes/libavif/all/conandata.yml
  recipes/libavif/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

feat: initial CUDA SDK recipe
  recipes/cuda-sdk/all/FindCUDASDK.cmake
  recipes/cuda-sdk/all/conandata.yml
  recipes/cuda-sdk/all/conanfile.py
  recipes/cuda-sdk/all/test_package/CMakeLists.txt
  recipes/cuda-sdk/all/test_package/conanfile.py
  recipes/cuda-sdk/all/test_package/test_package.cu
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme
