Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#24243) blend2d: add version 0.11.1, fix urls of old versions
  recipes/blend2d/all/conandata.yml
  recipes/blend2d/all/conanfile.py
  recipes/blend2d/all/patches/0.0.17-0001-disable-embed-asmjit.patch
  recipes/blend2d/all/patches/0.0.18-0002-fix-gcc12-compilationerror.patch
  recipes/blend2d/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

ccache: add version 4.10
  recipes/ccache/all/conandata.yml
  recipes/ccache/all/conanfile.py
  recipes/ccache/all/patches/4.10-cmake-findfmt.patch
  recipes/ccache/all/patches/4.10-cmake-findhiredis.patch
  recipes/ccache/all/patches/4.10-cmake-findzstd.patch
  recipes/ccache/all/patches/4.10-cmake-msvc-runtime.patch
  recipes/ccache/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

ocilib: add test_package
  recipes/ocilib/all/test_package/CMakeLists.txt
  recipes/ocilib/all/test_package/conanfile.py
  recipes/ocilib/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package

Typo
  recipes/ocilib/all/conanfile.py
Due: lint-recipes, lint-test_package

Cleanup, add missing dl reference
  recipes/ocilib/all/conanfile.py
  recipes/ocilib/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package

Update conanfile.py
  recipes/mariadb-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24259) expected-lite: add version 0.8.0
  recipes/expected-lite/all/conandata.yml
  recipes/expected-lite/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24256) [bot] Update authorized users list (2024-06-07)
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24260) tree-sitter: add version 0.22.6
  recipes/tree-sitter/all/conandata.yml
  recipes/tree-sitter/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Remove lingering patch file
  recipes/libmount/meson/patches/2.40-0001-meson-Only-require-the-crypt-library-when-necessary.patch
Due: none

(#24069) shield: add version 0.6
  recipes/shield/all/conandata.yml
  recipes/shield/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

reflect-cpp: add option for using with msgpack
  recipes/reflect-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

libpqxx: add version 7.9.1
  recipes/libpqxx/all/conandata.yml
  recipes/libpqxx/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

trantor: add version 1.5.19
  recipes/trantor/all/conandata.yml
  recipes/trantor/all/patches/1.5.19-0001-disable-werror.patch
  recipes/trantor/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

glog: add version 0.7.1
  recipes/glog/all/conandata.yml
  recipes/glog/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add test workflow
  .github/workflows/cmaes-test-conan1.yml
  recipes/cmaes/all/profiles/clang-libc++-release
Due: lint-yaml-scheme, check-yaml-scheme

Revert "Add test workflow"
  .github/workflows/cmaes-test-conan1.yml
  recipes/cmaes/all/profiles/clang-libc++-release
Due: lint-yaml-scheme, check-yaml-scheme

(#24261) cmake: add version 3.29.5
  recipes/cmake/binary/conandata.yml
  recipes/cmake/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

minor changes
  README.md
Due: none

reflect: add version 0.11.0
  recipes/reflect-cpp/all/conandata.yml
  recipes/reflect-cpp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

flecs: add 3.2.11
  recipes/flecs/all/conandata.yml
  recipes/flecs/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

add windows system_libs
  recipes/vigra/all/conanfile.py
Due: lint-recipes, lint-test_package

scnlib: add version 3.0.0
  recipes/scnlib/all/conandata.yml
  recipes/scnlib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add -fcoroutines for GCC10 only
  recipes/boost/all/conanfile.py
Due: lint-recipes, lint-test_package

Revert geographiclib to collect_libs
  recipes/geographiclib/all/conanfile.py
Due: lint-recipes, lint-test_package

maintain a single qt 5.15 version
  recipes/qt/5.x.x/conandata.yml
  recipes/qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix
  recipes/qt/5.x.x/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24275) qt5: maintain a single qt 5.15 version
  recipes/qt/5.x.x/conandata.yml
  recipes/qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update conanfile.py
  recipes/qt/5.x.x/conanfile.py
Due: lint-recipes, lint-test_package

fix qt-cmake-private-install.cmake on windows
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

qt: use upstream package folder architecture
  recipes/qt/5.x.x/conanfile.py
  recipes/qt/5.x.x/test_package/conanfile.py
  recipes/qt/5.x.x/test_v1_package/conanfile.py
  recipes/qt/6.x.x/conanfile.py
  recipes/qt/6.x.x/test_package/conanfile.py
  recipes/qt/6.x.x/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

don't expect qmltestrunner in qtdeclarative
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
