Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#16922) cpp-httplib: add version 0.12.2, update openssl
  recipes/cpp-httplib/all/conandata.yml
  recipes/cpp-httplib/all/conanfile.py
  recipes/cpp-httplib/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16933) bzip3: add version 1.3.0
  recipes/bzip3/all/conandata.yml
  recipes/bzip3/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16681) dirent: support conan v2
  recipes/dirent/all/conanfile.py
  recipes/dirent/all/test_package/CMakeLists.txt
  recipes/dirent/all/test_package/conanfile.py
  recipes/dirent/all/test_v1_package/CMakeLists.txt
  recipes/dirent/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16435) editline: conan v2 support
  recipes/editline/all/conanfile.py
  recipes/editline/all/test_package/CMakeLists.txt
  recipes/editline/all/test_package/conanfile.py
  recipes/editline/all/test_v1_package/CMakeLists.txt
  recipes/editline/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16416) Update vincentlaucsb-csv-parser recipe to Conan 2.0
  recipes/vincentlaucsb-csv-parser/all/conanfile.py
  recipes/vincentlaucsb-csv-parser/all/test_package/CMakeLists.txt
  recipes/vincentlaucsb-csv-parser/all/test_package/conanfile.py
  recipes/vincentlaucsb-csv-parser/all/test_package/test_package.cpp
  recipes/vincentlaucsb-csv-parser/all/test_v1_package/CMakeLists.txt
  recipes/vincentlaucsb-csv-parser/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16351) shield: add version 0.4, support conan v2
  recipes/shield/all/conandata.yml
  recipes/shield/all/conanfile.py
  recipes/shield/all/test_package/CMakeLists.txt
  recipes/shield/all/test_package/conanfile.py
  recipes/shield/all/test_package/test_package.cpp
  recipes/shield/all/test_v1_package/CMakeLists.txt
  recipes/shield/all/test_v1_package/conanfile.py
  recipes/shield/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16344) New recipe cgif/0.3.0
  recipes/cgif/all/conandata.yml
  recipes/cgif/all/conanfile.py
  recipes/cgif/all/test_package/CMakeLists.txt
  recipes/cgif/all/test_package/conanfile.py
  recipes/cgif/all/test_package/test_package.c
  recipes/cgif/all/test_v1_package/CMakeLists.txt
  recipes/cgif/all/test_v1_package/conanfile.py
  recipes/cgif/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16299) cubicinterpolation: modernize for conan 2.0
  recipes/cubicinterpolation/all/conandata.yml
  recipes/cubicinterpolation/all/conanfile.py
  recipes/cubicinterpolation/all/patches/patch_conanbuildinfo.diff
  recipes/cubicinterpolation/all/patches/patch_conanbuildinfo.txt
  recipes/cubicinterpolation/all/patches/rm_conan_basic_setup.diff
  recipes/cubicinterpolation/all/test_package/CMakeLists.txt
  recipes/cubicinterpolation/all/test_package/conanfile.py
  recipes/cubicinterpolation/all/test_v1_package/CMakeLists.txt
  recipes/cubicinterpolation/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16205) libxslt: conan v2 support
  recipes/libxslt/all/conandata.yml
  recipes/libxslt/all/conanfile.py
  recipes/libxslt/all/test_package/CMakeLists.txt
  recipes/libxslt/all/test_package/conanfile.py
  recipes/libxslt/all/test_package/libxslt_tutorial.c
  recipes/libxslt/all/test_v1_package/CMakeLists.txt
  recipes/libxslt/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

boost: apply upstream patches to 1.80.0
  recipes/boost/all/conandata.yml
  recipes/boost/all/patches/1.80.0-0005-config-libcpp15.patch
  recipes/boost/all/patches/1.80.0-0006-unordered-msvc-rtcc.patch
Due: lint-yaml-scheme, check-yaml-scheme

(#15601) googleapis: modernize more & bump protobuf
  recipes/googleapis/all/conanfile.py
  recipes/googleapis/all/test_package/CMakeLists.txt
  recipes/googleapis/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

recipe for `sbepp/1.0.0`
  recipes/sbepp/all/cmake/sbeppcTargets.cmake
  recipes/sbepp/all/conandata.yml
  recipes/sbepp/all/conanfile.py
  recipes/sbepp/all/test_package/CMakeLists.txt
  recipes/sbepp/all/test_package/conanfile.py
  recipes/sbepp/all/test_package/test_sbepp.cpp
  recipes/sbepp/all/test_package/test_sbeppc.cpp
  recipes/sbepp/all/test_package/test_schema.xml
  recipes/sbepp/all/test_v1_package/CMakeLists.txt
  recipes/sbepp/all/test_v1_package/conanfile.py
  recipes/sbepp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16931) proj: fix recipe for conan v2
  recipes/proj/all/conanfile.py
Due: lint-recipes, lint-test_package

use `src_folder` to `src` in `cmake_layout` call
  recipes/sbepp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16937) md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

use `test_package` instead of wrong `test_package_with_sbeppc` for `v1` tests
  recipes/sbepp/all/test_v1_package/CMakeLists.txt
  recipes/sbepp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

rmlui: fix #15095
  recipes/rmlui/4.x/conanfile.py
Due: lint-recipes, lint-test_package

(#16788) s2n: conan v2 support
  recipes/s2n/all/CMakeLists.txt
  recipes/s2n/all/conandata.yml
  recipes/s2n/all/conanfile.py
  recipes/s2n/all/test_package/CMakeLists.txt
  recipes/s2n/all/test_package/conanfile.py
  recipes/s2n/all/test_v1_package/CMakeLists.txt
  recipes/s2n/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix errors detected by conan-center hooks
  recipes/sbepp/all/conanfile.py
  recipes/sbepp/all/test_package/CMakeLists.txt
  recipes/sbepp/all/test_package/test_sbepp.cpp
  recipes/sbepp/all/test_package/test_schema.xml
Due: lint-recipes, lint-test_package

remove folder `sbepp` from `_module_path`
  recipes/sbepp/all/cmake/sbeppcTargets.cmake
  recipes/sbepp/all/conanfile.py
Due: lint-recipes, lint-test_package

chore: update comments why patches exists
  recipes/googleapis/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16940) md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16475) taocpp-pegtl: conan v2 support
  recipes/taocpp-pegtl/2.x.x/conanfile.py
  recipes/taocpp-pegtl/2.x.x/test_package/CMakeLists.txt
  recipes/taocpp-pegtl/2.x.x/test_package/conanfile.py
  recipes/taocpp-pegtl/2.x.x/test_v1_package/CMakeLists.txt
  recipes/taocpp-pegtl/2.x.x/test_v1_package/conanfile.py
  recipes/taocpp-pegtl/3.x.x/conanfile.py
  recipes/taocpp-pegtl/3.x.x/test_package/CMakeLists.txt
  recipes/taocpp-pegtl/3.x.x/test_package/conanfile.py
  recipes/taocpp-pegtl/3.x.x/test_v1_package/CMakeLists.txt
  recipes/taocpp-pegtl/3.x.x/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Update conanfile.py
  recipes/wil/all/conanfile.py
Due: lint-recipes, lint-test_package
