Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

Correctly order versions
  recipes/freetype/meson/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

replace temporary version by official 1.3.0
  recipes/libtommath/cmake/conandata.yml
  recipes/libtommath/cmake/conanfile.py
  recipes/libtommath/cmake/patches/0001-enable-building-dlls.patch
  recipes/libtommath/cmake/test_package/test_package.c
  recipes/libtommath/cmake/test_v1_package/CMakeLists.txt
  recipes/libtommath/cmake/test_v1_package/conanfile.py
  recipes/libtommath/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Target compile features cxx_std_11
  recipes/ipaddress/all/test_package/CMakeLists.txt
Due: none

(#21221) openal-soft: add v1.23.1, swith URLs to GitHub, drop old missing versions
  recipes/openal-soft/all/conandata.yml
  recipes/openal-soft/all/conanfile.py
  recipes/openal-soft/all/patches/1.19.1-0001-aligned-alloc.patch
  recipes/openal-soft/all/patches/1.19.1-0002-gcc-10-fnocommon.patch
  recipes/openal-soft/all/patches/1.19.1-0003-fix-windows-sdk.patch
  recipes/openal-soft/all/patches/1.20.1-0001-fix-windows-sdk.patch
  recipes/openal-soft/all/patches/1.21.0-0001-c++14-does-not-have-std-aligned_alloc.patch
  recipes/openal-soft/all/patches/1.21.0-0002-fix-windows-sdk.patch
  recipes/openal-soft/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

remove space
  recipes/sdl/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

diligent-core: migrate to Conan v2
  recipes/diligent-core/all/conanfile.py
  recipes/diligent-core/all/test_package/conanfile.py
  recipes/diligent-core/all/test_v1_package/CMakeLists.txt
  recipes/diligent-core/all/test_v1_package/conanfile.py
  recipes/diligent-core/all/test_v1_package/test_package.cpp
Due: lint-recipes, lint-test_package

libssh: remove cmake_find_package generators
  recipes/libssh/all/conanfile.py
Due: lint-recipes, lint-test_package

OpenEXR version bump to 3.2.4
  recipes/openexr/3.x/conandata.yml
  recipes/openexr/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix: fix linter issues
  recipes/diligent-core/all/CMakeLists.txt
  recipes/diligent-core/all/conan_deps.cmake
  recipes/diligent-core/all/conandata.yml
  recipes/diligent-core/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix: resolve wayland dependency conflict
  recipes/diligent-core/all/conanfile.py
Due: lint-recipes, lint-test_package

Addresses review feedback, adding contextual comments and extending support to FreeBSD
  recipes/libsndio/all/conanfile.py
Due: lint-recipes, lint-test_package

Add OpenImageIO version 2.5.10.1
  recipes/openimageio/all/conandata.yml
  recipes/openimageio/all/patches/2.5.10.1-cmake-targets.patch
  recipes/openimageio/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Adjust whitespace according to review feedback
  recipes/libsndio/all/conanfile.py
Due: lint-recipes, lint-test_package

fix: fix build errors with fPIC and shared options
  recipes/diligent-core/all/conanfile.py
Due: lint-recipes, lint-test_package

Update to mongo-c-driver 1.26.2
  recipes/mongo-c-driver/all/conandata.yml
  recipes/mongo-c-driver/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update 1.4.9
  recipes/s2n/all/conandata.yml
  recipes/s2n/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add 2.0.1
  recipes/libassert/config.yml
  recipes/libassert/v2/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Patch for old gcc
  recipes/libassert/v2/conandata.yml
  recipes/libassert/v2/patches/2.0.1/0001-fix-string_view-detection.patch
Due: lint-yaml-scheme, check-yaml-scheme

Update patch
  recipes/libassert/v2/patches/2.0.1/0001-fix-string_view-detection.patch
Due: none

update 5.2.2
  recipes/simdutf/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

update 5.2.2 (config.yml)
  recipes/simdutf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#23327) cpr: Add android to os using openssl with autossl
  recipes/cpr/all/conanfile.py
Due: lint-recipes, lint-test_package

(#23251) cpr: Fix build with openssl on Windows
  recipes/cpr/all/conanfile.py
Due: lint-recipes, lint-test_package

Refactor according to suggestions from @SpaceIm
  recipes/cpr/all/conanfile.py
Due: lint-recipes, lint-test_package

add libunrar 7.0.7
  recipes/libunrar/all/CMakeLists.txt
  recipes/libunrar/all/conandata.yml
  recipes/libunrar/all/conanfile.py
  recipes/libunrar/all/test_package/CMakeLists.txt
  recipes/libunrar/all/test_package/conanfile.py
  recipes/libunrar/all/test_package/example_basic.cpp
  recipes/libunrar/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

[config] Update conan versions to 2.2.1 and 1.63.0
  .c3i/config_v1.yml
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

vincentlaucsb-csv-parser: add version 2.2.0
  recipes/vincentlaucsb-csv-parser/all/conandata.yml
  recipes/vincentlaucsb-csv-parser/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

openal-soft: restore dangling patch
  recipes/openal-soft/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

[sentry-native] Bump 0.7.2 version
  recipes/sentry-native/all/conandata.yml
  recipes/sentry-native/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update to 3.11.9
  recipes/cpython/all/conandata.yml
  recipes/cpython/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

dd-opentracing-cpp: fix patch
  recipes/dd-opentracing-cpp/all/patches/1.3.0/0001-Find-packages-setup.patch
Due: none

remove outdated workaround
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

fix windows style plugin
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

aerospike-client-c: new recipe
  recipes/aerospike-client-c/all/conandata.yml
  recipes/aerospike-client-c/all/conanfile.py
  recipes/aerospike-client-c/all/patches/0001_remove_internal_lua.patch
  recipes/aerospike-client-c/all/patches/0002_remove_internal_lua_from_submodules.patch
  recipes/aerospike-client-c/all/test_package/CMakeLists.txt
  recipes/aerospike-client-c/all/test_package/conanfile.py
  recipes/aerospike-client-c/all/test_package/main.cpp
  recipes/aerospike-client-c/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix linter errors
  recipes/aerospike-client-c/all/conanfile.py
Due: lint-recipes, lint-test_package

Update .c3i/config_v2.yml
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#23352) [config] Update conan versions to 2.2.2 and 1.63.0
  .c3i/config_v1.yml
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add TODO info
  recipes/libssh/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
