Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

Make requirements more compatible with existing binaries
  recipes/google-cloud-cpp/2.x/conanfile.py
Due: lint-recipes, lint-test_package

(#15518) protobuf: restore 3.17.1 + improve robustness of test_v1_package conanfile.py
  recipes/protobuf/all/conandata.yml
  recipes/protobuf/all/conanfile.py
  recipes/protobuf/all/test_v1_package/conanfile.py
  recipes/protobuf/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Apply learnings from autoconf-archive to get tests to pass with Conan v1.x
  recipes/libtool/all/conanfile.py
  recipes/libtool/all/test_package/conanfile.py
  recipes/libtool/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

NMake only needed with Visual Studio
  recipes/libtool/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

libbacktrace: retrieve automake wrapper scripts using newer user conf
  recipes/libbacktrace/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15595) Add watched recipes for jwillikers
  .github/workflows/alert-community.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#15820) [service] fix alert community workflow
  .github/workflows/alert-community.yml
Due: lint-yaml-scheme, check-yaml-scheme

Fixup deps_cpp_info
  recipes/ffmpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

Libtool needs to be a requirement for tests to see its shared libs
  recipes/libtool/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#15801) [openssl] Update test_package for Conan v2
  recipes/openssl/1.x.x/conanfile.py
  recipes/openssl/1.x.x/test_package/CMakeLists.txt
  recipes/openssl/1.x.x/test_package/conanfile.py
  recipes/openssl/1.x.x/test_v1_package/CMakeLists.txt
  recipes/openssl/1.x.x/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#15815) Add BUILD_TESTING OFF to CMake
  recipes/cmake/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

(#15821) icu: small fixes to support Conan 2.0
  recipes/icu/all/conandata.yml
  recipes/icu/all/conanfile.py
  recipes/icu/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

itlib: add version 1.8.3
  recipes/itlib/all/conandata.yml
  recipes/itlib/all/conanfile.py
  recipes/itlib/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libvpx: don't clear layout libdirs/etc (breaks fix_apple_shared_install_name)
  recipes/libvpx/all/conanfile.py
Due: lint-recipes, lint-test_package

Attempt to fix File-name-too-long error on Windows
  recipes/libx264/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15109) [armadillo] Conan 2.0 recipe migration and add v11.4.3
  recipes/armadillo/all/CMakeLists.txt
  recipes/armadillo/all/conandata.yml
  recipes/armadillo/all/conanfile.py
  recipes/armadillo/all/patches/0002-Guard-dependency-discovery-11.4.x.patch
  recipes/armadillo/all/test_package/CMakeLists.txt
  recipes/armadillo/all/test_package/conanfile.py
  recipes/armadillo/all/test_package/src/example.cpp
  recipes/armadillo/all/test_v1_package/CMakeLists.txt
  recipes/armadillo/all/test_v1_package/conanfile.py
  recipes/armadillo/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15549) log4cplus: add version 2.0.8, support conan v2
  recipes/log4cplus/all/CMakeLists.txt
  recipes/log4cplus/all/conandata.yml
  recipes/log4cplus/all/conanfile.py
  recipes/log4cplus/all/patches/2.0.4-0001-fix-cmake.patch
  recipes/log4cplus/all/patches/2.0.6-0001-fix-cmake.patch
  recipes/log4cplus/all/test_package/CMakeLists.txt
  recipes/log4cplus/all/test_package/conanfile.py
  recipes/log4cplus/all/test_v1_package/CMakeLists.txt
  recipes/log4cplus/all/test_v1_package/conanfile.py
  recipes/log4cplus/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Avoid one bit of the recipe for conan v2
  recipes/libx264/all/conanfile.py
Due: lint-recipes, lint-test_package

Add sqlite3 to build_requirements
  recipes/vtk/all/conanfile.py
Due: lint-recipes, lint-test_package

qt: don't use cmake 3.25.0, due to Ninja dependency cycle bug
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Fix typo
  recipes/libx264/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15693) Boost/1.76.0: Fix missing header (was added in boost/1.77.0)
  recipes/boost/all/conandata.yml
  recipes/boost/all/patches/1.76.0-0001-fix-include-inside-boost-namespace.patch
Due: lint-yaml-scheme, check-yaml-scheme

Fix for apple rpaths
  recipes/libx264/all/conanfile.py
Due: lint-recipes, lint-test_package

Fixes pointed out by linter
  recipes/ffmpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

Include AutotoolsDeps for -libpath in LDFLAGS
  recipes/ffmpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

Attempt to fix compiler, wont get past configure, can't run compiler
  recipes/ffmpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

Bump sdl and vulkan-loader
  recipes/ffmpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

[ffmpeg/5.1] Add version
  recipes/ffmpeg/all/conandata.yml
  recipes/ffmpeg/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Don't patch libx264.c from 5.1
  recipes/ffmpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15824) libbacktrace: retrieve automake wrapper scripts using newer user conf
  recipes/libbacktrace/all/conanfile.py
Due: lint-recipes, lint-test_package
