Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#16407) [bot] Update authorized users list (2023-03-06)
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16119) simdjson: modernize more for conan v2
  recipes/simdjson/all/conanfile.py
  recipes/simdjson/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16195) Document bumping version
  docs/README.md
  docs/bump_version.md
Due: none

(#16136) joltphysics: modernize more for conan v2
  recipes/joltphysics/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16244) sigslot: add version 1.2.2
  recipes/sigslot/all/conandata.yml
  recipes/sigslot/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16135) lerc: modernize more for conan v2
  recipes/lerc/all/conanfile.py
  recipes/lerc/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#15989) duckdb: add version 0.7.1, fix wrong url of 0.6.1
  recipes/duckdb/all/conandata.yml
  recipes/duckdb/all/conanfile.py
  recipes/duckdb/all/patches/0.7.0-0001-fix-cmake.patch
  recipes/duckdb/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16421) grpc proto: fix issues when building with shared=True in Conan 2.0
  recipes/grpc-proto/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16389) Fix CMake variable check in OpenSSL test
  recipes/openssl/1.x.x/test_package/CMakeLists.txt
Due: none

(#16040) out_ptr: modernize more for conan v2
  recipes/out_ptr/all/conanfile.py
  recipes/out_ptr/all/test_package/conanfile.py
  recipes/out_ptr/all/test_v1_package/CMakeLists.txt
  recipes/out_ptr/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16139) libnuma: modernize more for conan v2
  recipes/libnuma/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16497) cryptopp: commit 479d2eb regression (typo in set_property)
  recipes/cryptopp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16140) libtar: modernize more for conan v2
  recipes/libtar/all/conanfile.py
  recipes/libtar/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16044) lodepng: modernize more for conan v2
  recipes/lodepng/all/conanfile.py
  recipes/lodepng/all/test_package/conanfile.py
  recipes/lodepng/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

(#16502) glib 2.76.0
  recipes/glib/all/conandata.yml
  recipes/glib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16424) [linux-syscall-support] Update Conan v2 recipe
  recipes/linux-syscall-support/all/conanfile.py
  recipes/linux-syscall-support/all/test_package/CMakeLists.txt
  recipes/linux-syscall-support/all/test_package/conanfile.py
  recipes/linux-syscall-support/all/test_package/test_package.c
  recipes/linux-syscall-support/all/test_v1_package/CMakeLists.txt
  recipes/linux-syscall-support/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16137) libgcrypt: modernize more for conan v2
  recipes/libgcrypt/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16239) aaf: modernize more for conan v2
  recipes/aaf/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16124) libev: modernize more for conan v2
  recipes/libev/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16184) libfuse: modernize more for conan v2
  recipes/libfuse/2.x.x/conanfile.py
  recipes/libfuse/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16255) h3: modernize more for conan v2
  recipes/h3/all/conanfile.py
  recipes/h3/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16277) libsamplerate: fix `_cmake_new_enough()` for conan v2
  recipes/libsamplerate/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16462) xtrans: conan V2 compatibility
  recipes/xtrans/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16360) [changelog] Release 2023-03-03
  docs/changelog.md
Due: none

(#16289) daw_header_libraries: modernize more for conan v2
  recipes/daw_header_libraries/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16168) libtiff: bump dependencies + add package_type
  recipes/libtiff/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16188) quill: QUILL_X86ARCH should be optional
  recipes/quill/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16512) opentdf-client: add version 1.3.10
  recipes/opentdf-client/all/conandata.yml
  recipes/opentdf-client/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16130) libuuid: modernize more for conan v2
  recipes/libuuid/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16194) ffmpeg: don't pass --as when assembler is disabled
  recipes/ffmpeg/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16515) simdutf: add version 3.2.2
  recipes/simdutf/all/conandata.yml
  recipes/simdutf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16154) wslay: modernize more for conan v2
  recipes/wslay/all/conanfile.py
  recipes/wslay/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

(#16151) libqrencode: modernize more for conan v2
  recipes/libqrencode/all/conanfile.py
  recipes/libqrencode/all/test_package/conanfile.py
  recipes/libqrencode/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

(#16526) B2 4.9.5
  recipes/b2/config.yml
  recipes/b2/portable/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16305) mgs: modernize more for conan v2
  recipes/mgs/all/conandata.yml
  recipes/mgs/all/conanfile.py
  recipes/mgs/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16121) libcds: modernize more for conan v2
  recipes/libcds/all/conanfile.py
  recipes/libcds/all/test_package/conanfile.py
  recipes/libcds/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

(#16522) md4qt: bump version to 2.0.5.
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#16122) libmount: modernize more for conan v2
  recipes/libmount/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16102) libsmacker: modernize more for conan v2
  recipes/libsmacker/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16422) googleapis: fix issues with shared=True in Conan 2.0
  recipes/googleapis/all/conanfile.py
Due: lint-recipes, lint-test_package
