Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#24128) astc-codec: refactor test package
  recipes/astc-codec/all/test_package/atlas_small_4x4.astc
  recipes/astc-codec/all/test_package/conanfile.py
  recipes/astc-codec/all/test_package/test_package.cpp
  recipes/astc-codec/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Fix my typo, Call is a macro that uses err
  recipes/jxrlib/all/test_package/test_package.c
Due: none

sdl_ttf: refactor test package
  recipes/sdl_ttf/all/test_package/OpenSans-Bold.ttf
  recipes/sdl_ttf/all/test_package/conanfile.py
  recipes/sdl_ttf/all/test_package/test_package.c
  recipes/sdl_ttf/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

remove qt 5.15.11
  recipes/qt/5.x.x/conandata.yml
  recipes/qt/5.x.x/patches/5.15.10-fix-macos-cpp-lib-memory-resource.patch
  recipes/qt/5.x.x/qtmodules5.15.11.conf
  recipes/qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

msdfgen: refactor test package
  recipes/msdfgen/all/test_package/OpenSans-Bold.ttf
  recipes/msdfgen/all/test_package/conanfile.py
  recipes/msdfgen/all/test_package/test_package.cpp
  recipes/msdfgen/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/jxrlib/all/test_package/test_package.c
  recipes/jxrlib/all/test_package/test_package.c
Due: none

Update recipes/sdl_ttf/all/test_package/test_package.c
  recipes/sdl_ttf/all/test_package/test_package.c
Due: none

(#24130) imgui: add vresion 1.90.7
  recipes/imgui/all/conandata.yml
  recipes/imgui/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24126) [whisper-cpp] Bump version 1.6.2
  recipes/whisper-cpp/all/conandata.yml
  recipes/whisper-cpp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24132) [symengine] Add version 0.12.0.
  recipes/symengine/all/conandata.yml
  recipes/symengine/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

More simplific
  recipes/jxrlib/all/test_package/test_package.c
Due: none

Remove hardcoded cmake_cxx_standard in CMakeLists
  recipes/whisper-cpp/all/conandata.yml
  recipes/whisper-cpp/all/patches/1.6.2-0001-remove_hardcoded_cxxstd.patch
Due: lint-yaml-scheme, check-yaml-scheme

libliftoff: add version 0.5.0, fix homepage url
  recipes/libliftoff/all/conandata.yml
  recipes/libliftoff/all/conanfile.py
  recipes/libliftoff/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/msdfgen/all/conanfile.py
  recipes/msdfgen/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21085) msdfgen: add 1.11 + package_type + bump deps
  recipes/msdfgen/all/conandata.yml
  recipes/msdfgen/all/conanfile.py
  recipes/msdfgen/all/patches/1.10-0001-fix-cmake.patch
  recipes/msdfgen/all/patches/1.10-0001-honor-msvc-runtime.patch
  recipes/msdfgen/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/sioclient/all/conanfile.py
  recipes/sioclient/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24113) yomm2: add version 1.5.2
  recipes/yomm2/all/conandata.yml
  recipes/yomm2/all/conanfile.py
  recipes/yomm2/all/test_package/test_package.cpp
  recipes/yomm2/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#24133) sdl_ttf: refactor test package
  recipes/sdl_ttf/all/test_package/OpenSans-Bold.ttf
  recipes/sdl_ttf/all/test_package/conanfile.py
  recipes/sdl_ttf/all/test_package/test_package.c
  recipes/sdl_ttf/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#23253) dav1d: add v1.4.1, drop vulnerable versions, deprecate with_avx512
  recipes/dav1d/all/conandata.yml
  recipes/dav1d/all/conanfile.py
  recipes/dav1d/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

audiofile: refactor test package
  recipes/audiofile/all/test_package/conanfile.py
  recipes/audiofile/all/test_package/sine.wav
  recipes/audiofile/all/test_package/test_package.cpp
  recipes/audiofile/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

openfbx: refactor test package
  recipes/openfbx/all/test_package/conanfile.py
  recipes/openfbx/all/test_package/d.fbx
  recipes/openfbx/all/test_package/test_package.cpp
  recipes/openfbx/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#23754) Update openvino/2024.1.0
  recipes/openvino/all/conandata.yml
  recipes/openvino/all/conanfile.py
  recipes/openvino/all/dependencies/dependencies-2023.1.0.yml
  recipes/openvino/all/dependencies/dependencies-2024.1.0.yml
  recipes/openvino/all/patches/2023.1.0/0001-cpu-plugin-compilation-c++17.patch
  recipes/openvino/all/patches/2023.1.0/0002-core-compilation-c++17.patch
  recipes/openvino/all/patches/2023.1.0/0003-fixed-gpu-with-onednn-build.patch
  recipes/openvino/all/patches/2023.1.0/0004-fixed-gpu-plugin-with-clang.patch
  recipes/openvino/all/patches/2023.1.0/0005-dynamic-protobuf.patch
  recipes/openvino/all/patches/2023.1.0/0006-macos-14.patch
  recipes/openvino/all/patches/2023.1.0/0007-compilation-c++23.patch
  recipes/openvino/all/patches/2024.1.0/0001-fix-cxxflags.patch
  recipes/openvino/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

laslib: refactor test package
  recipes/laslib/all/test_package/CMakeLists.txt
  recipes/laslib/all/test_package/test.laz
  recipes/laslib/all/test_package/test_package.cpp
Due: none

[llvm-core] apply review suggestions
  recipes/llvm-core/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24135) whisper-cpp: Remove hardcoded cmake_cxx_standard in CMakeLists
  recipes/whisper-cpp/all/conandata.yml
  recipes/whisper-cpp/all/patches/1.6.2-0001-remove_hardcoded_cxxstd.patch
Due: lint-yaml-scheme, check-yaml-scheme

ktx: refactor test package
  recipes/ktx/all/test_package/conanfile.py
  recipes/ktx/all/test_package/etc1.ktx
  recipes/ktx/all/test_package/test_package.c
  recipes/ktx/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

protobuf wip
  recipes/protobuf/all/conandata.yml
  recipes/protobuf/all/conanfile.py
  recipes/protobuf/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Fix strawberry perl not supporting non x86 archs
  recipes/strawberryperl/all/conanfile.py
Due: lint-recipes, lint-test_package

(#23362) libffi: Add 3.4.6, remove 3.4.2 and 3.4.3
  recipes/libffi/all/conandata.yml
  recipes/libffi/all/conanfile.py
  recipes/libffi/all/patches/0002-3.4.6-fix-libtool-path.patch
  recipes/libffi/all/patches/0004-3.4.6-fix-complex-type-msvc.patch
  recipes/libffi/all/patches/0005-3.4.2-do-not-install-libraries-to-arch-dependent-directories.patch
  recipes/libffi/all/patches/0005-3.4.3-do-not-install-libraries-to-arch-dependent-directories.patch
  recipes/libffi/all/patches/0006-3.4.2-library-no-version-suffix.patch
  recipes/libffi/all/patches/0006-3.4.6-library-no-version-suffix.patch
  recipes/libffi/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

approvaltests.cpp: add 10.13.0
  recipes/approvaltests.cpp/all/conandata.yml
  recipes/approvaltests.cpp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
