Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

mongo-c-driver: add v1.25.3, bump deps, remove old versions
  recipes/mongo-c-driver/all/conandata.yml
  recipes/mongo-c-driver/all/conanfile.py
  recipes/mongo-c-driver/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libcvd: bump to v2.5.1
  recipes/libcvd/all/conandata.yml
  recipes/libcvd/all/conanfile.py
  recipes/libcvd/all/patches/001-fix-missing-header-install.patch
  recipes/libcvd/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Alembic: bump imath to 3.1.10
  recipes/alembic/all/conanfile.py
Due: lint-recipes, lint-test_package

Bump hdf5 to 1.14.3
  recipes/alembic/all/conanfile.py
Due: lint-recipes, lint-test_package

libftp: add recipe
  recipes/libftp/all/conandata.yml
  recipes/libftp/all/conanfile.py
  recipes/libftp/all/test_package/CMakeLists.txt
  recipes/libftp/all/test_package/conanfile.py
  recipes/libftp/all/test_package/test_package.cpp
  recipes/libftp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

rapidcsv: add version 8.82
  recipes/rapidcsv/all/conandata.yml
  recipes/rapidcsv/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libsystemd: Bump xz_utils to 5.6.1 to avoid a conflict with libunwind
  recipes/libsystemd/all/conanfile.py
Due: lint-recipes, lint-test_package

Improved readability and template compliance from package_templates in conanfile.py
  recipes/ipaddress/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22907) libboxes: add recipe for v0.1.1
  recipes/libboxes/all/conandata.yml
  recipes/libboxes/all/conanfile.py
  recipes/libboxes/all/test_package/CMakeLists.txt
  recipes/libboxes/all/test_package/conanfile.py
  recipes/libboxes/all/test_package/src/example.cpp
  recipes/libboxes/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Fix running test package with spaces in path
  recipes/cpython/all/test_package/conanfile.py
  recipes/cpython/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

[avahi] Bump expat and glib
  recipes/avahi/all/conanfile.py
Due: lint-recipes, lint-test_package

toon: new recipe
  recipes/toon/all/conandata.yml
  recipes/toon/all/conanfile.py
  recipes/toon/all/config.hh
  recipes/toon/all/patches/001-bugfixes-backport.patch
  recipes/toon/all/test_package/CMakeLists.txt
  recipes/toon/all/test_package/conanfile.py
  recipes/toon/all/test_package/test_package.cpp
  recipes/toon/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

toon: set openblas:build_lapack=True
  recipes/toon/all/conanfile.py
Due: lint-recipes, lint-test_package

[google-cloud-cpp] try to fix grpc_cpp_plugin on macOS, shared
  recipes/google-cloud-cpp/2.x/conanfile.py
  recipes/google-cloud-cpp/2.x/test_package/conanfile.py
Due: lint-recipes, lint-test_package

toon: require pkgconf for test_package
  recipes/toon/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

[sentry-native] Add version 0.7.1
  recipes/sentry-native/all/conandata.yml
  recipes/sentry-native/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Remove 0.6.4 and 0.6.5
  recipes/sentry-native/all/conandata.yml
  recipes/sentry-native/all/conanfile.py
  recipes/sentry-native/all/patches/0.6.5-0001-fix-for-gcc13.patch
  recipes/sentry-native/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#23268) [bot] Update list of references (prod-v2/ListPackages)
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

support shared build
  recipes/libftp/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/openssh/all/conanfile.py
  recipes/openssh/all/conanfile.py
Due: lint-recipes, lint-test_package

update 0.12.9, update meson
  recipes/thorvg/all/conandata.yml
  recipes/thorvg/all/conanfile.py
  recipes/thorvg/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openssh: Updated with_pam default value
  recipes/openssh/all/conanfile.py
Due: lint-recipes, lint-test_package

bump expat
  recipes/cairo/meson/conanfile.py
Due: lint-recipes, lint-test_package

bump meson
  recipes/cairo/meson/conanfile.py
Due: lint-recipes, lint-test_package

enable C++11 on 1.10.0 and later
  recipes/octomap/all/conanfile.py
  recipes/octomap/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

(#23244) [bot] Update authorized users list (2024-03-25)
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

Skip checking boost math submodules
  recipes/boost/all/conanfile.py
Due: lint-recipes, lint-test_package

(#23136) cpp-channel: add recipe
  recipes/cpp-channel/all/conandata.yml
  recipes/cpp-channel/all/conanfile.py
  recipes/cpp-channel/all/test_package/CMakeLists.txt
  recipes/cpp-channel/all/test_package/conanfile.py
  recipes/cpp-channel/all/test_package/test_package.cpp
  recipes/cpp-channel/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Remove change to disable translations
  recipes/libmount/meson/conanfile.py
Due: lint-recipes, lint-test_package

Add v0.0.11
  recipes/hictk/all/conandata.yml
  recipes/hictk/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Bump deps
  recipes/hictk/all/conanfile.py
Due: lint-recipes, lint-test_package

Add missing define
  recipes/hictk/all/conanfile.py
Due: lint-recipes, lint-test_package

glfw: limit xorg library requirements
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

libecwj2: bump lcms
  recipes/libecwj2/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
