Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

openvdb: the patch is no longer required
  recipes/openvdb/all/conandata.yml
  recipes/openvdb/all/conanfile.py
  recipes/openvdb/all/patches/0001-Find-packages-fixes.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openvdb: use imath instead of openexr for newer versions
  recipes/openvdb/all/conanfile.py
Due: lint-recipes, lint-test_package

openvdb: migrate to Conan v2
  recipes/openvdb/all/CMakeLists.txt
  recipes/openvdb/all/conandata.yml
  recipes/openvdb/all/conanfile.py
  recipes/openvdb/all/test_package/CMakeLists.txt
  recipes/openvdb/all/test_package/conanfile.py
  recipes/openvdb/all/test_v1_package/CMakeLists.txt
  recipes/openvdb/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openvdb: disable options not available in older versions
  recipes/openvdb/all/conanfile.py
Due: lint-recipes, lint-test_package

openvdb: bump versions
  recipes/openvdb/all/conanfile.py
Due: lint-recipes, lint-test_package

openvdb: openexr requires transitive_libs=True
  recipes/openvdb/all/conanfile.py
Due: lint-recipes, lint-test_package

openvdb: bump deps
  recipes/openvdb/all/conanfile.py
Due: lint-recipes, lint-test_package

re2: add version 20231101
  recipes/re2/all/conandata.yml
  recipes/re2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

remove old condition
  recipes/stx/all/conanfile.py
Due: lint-recipes, lint-test_package

require xz_utils/5.4.4
  recipes/ncbi-cxx-toolkit-public/all/dependencies/requirements-27.0.yml
Due: lint-yaml-scheme, check-yaml-scheme

Fix missing system library info
  recipes/openexr/2.x/conanfile.py
Due: lint-recipes, lint-test_package

Use source folder instead of build folder
  recipes/librdkafka/all/conanfile.py
Due: lint-recipes, lint-test_package

libzip: bump deps
  recipes/libzip/all/conanfile.py
Due: lint-recipes, lint-test_package

review fixes
  recipes/userver/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20722) simdutf: add version 4.0.3, remove older versions
  recipes/simdutf/all/conandata.yml
  recipes/simdutf/all/conanfile.py
  recipes/simdutf/all/patches/1.0.1-0001-fix-cmake.patch
  recipes/simdutf/all/patches/1.0.1-0002-remove-static.patch
  recipes/simdutf/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/xkbcommon/all/conanfile.py
  recipes/xkbcommon/all/conanfile.py
Due: lint-recipes, lint-test_package

Revert "Fix missing system library info"
  recipes/openexr/2.x/conanfile.py
Due: lint-recipes, lint-test_package

aws-lambda-cpp: add recipe
  recipes/aws-lambda-cpp/all/conandata.yml
  recipes/aws-lambda-cpp/all/conanfile.py
  recipes/aws-lambda-cpp/all/test_package/CMakeLists.txt
  recipes/aws-lambda-cpp/all/test_package/conanfile.py
  recipes/aws-lambda-cpp/all/test_package/test_package.cpp
  recipes/aws-lambda-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

opentelemetry-cpp: remove pkgconfig dir
  recipes/opentelemetry-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20803) dylib: new recipe
  recipes/dylib/all/conandata.yml
  recipes/dylib/all/conanfile.py
  recipes/dylib/all/test_package/CMakeLists.txt
  recipes/dylib/all/test_package/conanfile.py
  recipes/dylib/all/test_package/test_package.cpp
  recipes/dylib/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

bump clove-unit to v2.4.1
  recipes/clove-unit/all/conandata.yml
  recipes/clove-unit/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20798) openssl 1.x: cleanup recipe after removal of versions < 1.1.1 in #20441
  recipes/openssl/1.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Added is_msvc check
  recipes/elfutils/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20827) drogon: add version 1.9.0, update dependencies
  recipes/drogon/all/conandata.yml
  recipes/drogon/all/conanfile.py
  recipes/drogon/all/patches/1.9.0-0002-find-cci-packages.patch
  recipes/drogon/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

renamed
  recipes/elfutils/all/conandata.yml
  recipes/elfutils/all/patches/0.180-0001-remove-werror-configure-option.patch
  recipes/elfutils/all/patches/0.186-0001-remove-werror-configure-option.patch
  recipes/elfutils/all/patches/0.189-0001-remove-werror-configure-option.patch
Due: lint-yaml-scheme, check-yaml-scheme

merge back into all/
  recipes/libassert/1.x-post-cpptrace/conandata.yml
  recipes/libassert/1.x-post-cpptrace/conanfile.py
  recipes/libassert/1.x-post-cpptrace/test_package/conanfile.py
  recipes/libassert/1.x-post-cpptrace/test_package/test_package.cpp
  recipes/libassert/1.x-post-cpptrace/test_v1_package/conanfile.py
  recipes/libassert/1.x-pre-cpptrace/test_package/CMakeLists.txt
  recipes/libassert/1.x-pre-cpptrace/test_v1_package/CMakeLists.txt
  recipes/libassert/all/conandata.yml
  recipes/libassert/all/conanfile.py
  recipes/libassert/all/patches/1.0/0001-add-cstring-include.patch
  recipes/libassert/all/patches/1.0/0002-cmake-backport.patch
  recipes/libassert/all/patches/1.0/0003-fix-max_line_number_width-miscalculation.patch
  recipes/libassert/all/patches/1.1/0001-fix-max_line_number_width-miscalculation.patch
  recipes/libassert/all/patches/1.1/0002-binary_diagnostics_descriptor-noexcept.patch
  recipes/libassert/all/patches/1.1/0003-cmake-windows.patch
  recipes/libassert/all/patches/1.2.1/0001-cpptrace-dll-copy.patch
  recipes/libassert/all/test_package/CMakeLists.txt
  recipes/libassert/all/test_package/conanfile.py
  recipes/libassert/all/test_package/test_package.cpp
  recipes/libassert/all/test_v1_package/CMakeLists.txt
  recipes/libassert/all/test_v1_package/conanfile.py
  recipes/libassert/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20865) Bump/clove unit/2.4.1
  recipes/clove-unit/all/conandata.yml
  recipes/clove-unit/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Fix version access
  recipes/libassert/all/test_package/conanfile.py
  recipes/libassert/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

V1 fix
  recipes/libassert/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

disable mongo, optional conan tests
  recipes/userver/all/conanfile.py
  recipes/userver/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

qt/5.15.11: Expose QSvgPlugin and QSvgIconPlugin
  recipes/qt/5.x.x/conanfile.py
Due: lint-recipes, lint-test_package

(#17272) elfutils: Revise the recipe to support Conan V2 and add the latest version 0.189
  recipes/elfutils/all/conandata.yml
  recipes/elfutils/all/conanfile.py
  recipes/elfutils/all/patches/0.180-0001-remove-werror-configure-option.patch
  recipes/elfutils/all/patches/0.186-0001-remove-werror-configure-option.patch
  recipes/elfutils/all/patches/0.189-0001-remove-werror-configure-option.patch
  recipes/elfutils/all/patches/0.189-0002-add-enable-static-option-to-configure.patch
  recipes/elfutils/all/test_package/CMakeLists.txt
  recipes/elfutils/all/test_package/conanfile.py
  recipes/elfutils/all/test_v1_package/CMakeLists.txt
  recipes/elfutils/all/test_v1_package/conanfile.py
  recipes/elfutils/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add configuration check for MSVC 2022 with OCIO < 2.0
  recipes/opencolorio/all/conanfile.py
Due: lint-recipes, lint-test_package

bump cairo
  recipes/pango/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
