Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

makefile-project-workspace-creator: migrate to Conan v2
  recipes/makefile-project-workspace-creator/all/conanfile.py
  recipes/makefile-project-workspace-creator/all/test_package/conanfile.py
  recipes/makefile-project-workspace-creator/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

makefile-project-workspace-creator: add explicit perl dependency for v1
  recipes/makefile-project-workspace-creator/all/test_package/conanfile.py
  recipes/makefile-project-workspace-creator/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

makefile-project-workspace-creator: elf.info.clear()
  recipes/makefile-project-workspace-creator/all/conanfile.py
Due: lint-recipes, lint-test_package

add qt 5.12.3 package
  recipes/qt/5.x.x/conandata.yml
  recipes/qt/5.x.x/conanfile.py
  recipes/qt/5.x.x/patches/5.12.3/0000-missing-limits-header.patch
  recipes/qt/5.x.x/qtmodules5.12.3.conf
  recipes/qt/5.x.x/test_package/CMakeLists.txt
  recipes/qt/5.x.x/test_package/conanfile.py
  recipes/qt/5.x.x/test_package/example.qrc
  recipes/qt/5.x.x/test_package/greeter.h
  recipes/qt/5.x.x/test_package/resource.txt
  recipes/qt/5.x.x/test_package/test_package.cpp
  recipes/qt/5.x.x/test_v1_package/CMakeLists.txt
  recipes/qt/5.x.x/test_v1_package/conanfile.py
  recipes/qt/5.x.x/test_v1_package/meson.build
  recipes/qt/5.x.x/test_v1_package/test_package.pro
  recipes/qt/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21448) [docs] Allow boost namespace for non official projects
  docs/faqs.md
Due: none

Simplified code
  recipes/gtlab-logging/all/conanfile.py
Due: lint-recipes, lint-test_package

Removed comments
  recipes/gtlab-logging/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/dacap-clip/all/conanfile.py
  recipes/dacap-clip/all/conanfile.py
Due: lint-recipes, lint-test_package

(#23082) fixed-containers: fix cmake names, require magic_enum
  recipes/fixed-containers/all/conanfile.py
  recipes/fixed-containers/all/test_package/CMakeLists.txt
  recipes/fixed-containers/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package

PCRE2: Add patch to explicitly specify cmake c standard
  recipes/pcre2/all/conandata.yml
  recipes/pcre2/all/patches/0002-fix-cmake-c-std.patch
Due: lint-yaml-scheme, check-yaml-scheme

Apply suggestions from code review
  recipes/runtimeqml/all/conanfile.py
Due: lint-recipes, lint-test_package

Add use_sse option to pcl recipe
  recipes/pcl/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/libffi/all/conandata.yml
  recipes/libffi/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update recipes/libva/all/conanfile.py
  recipes/libva/all/conanfile.py
Due: lint-recipes, lint-test_package

libssh: add recipe
  recipes/libssh/all/conandata.yml
  recipes/libssh/all/conanfile.py
  recipes/libssh/all/patches/0.10.6-0001-fix-cmake.patch
  recipes/libssh/all/test_package/CMakeLists.txt
  recipes/libssh/all/test_package/conanfile.py
  recipes/libssh/all/test_package/test_package.c
  recipes/libssh/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/minhook/all/patches/cci.20240114-0001-increase-cmake-min.patch
  recipes/minhook/all/patches/cci.20240114-0001-increase-cmake-min.patch
Due: none

Update recipes/freetype/meson/conanfile.py
  recipes/freetype/meson/conanfile.py
Due: lint-recipes, lint-test_package

start skeleton data for vigra
  recipes/vigra/all/conandata.yml
  recipes/vigra/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

start on conanfile for vigra
  recipes/vigra/all/conanfile.py
Due: lint-recipes, lint-test_package

backport configure patch from 5.15
  recipes/qt/5.x.x/conandata.yml
  recipes/qt/5.x.x/patches/5.12.3/0001-fix-configure-libs-var.patch
Due: lint-yaml-scheme, check-yaml-scheme

(#23117) libassert: add 2.0.0
  recipes/libassert/all/conandata.yml
  recipes/libassert/all/conanfile.py
  recipes/libassert/all/patches/2.0.0/0001-fix-export-and-include.patch
  recipes/libassert/all/test_package/CMakeLists.txt
  recipes/libassert/all/test_package/conanfile.py
  recipes/libassert/all/test_package/test_package.cpp
  recipes/libassert/all/test_v1_package/CMakeLists.txt
  recipes/libassert/all/test_v1_package/conanfile.py
  recipes/libassert/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

now seems to build locally
  recipes/vigra/all/conandata.yml
  recipes/vigra/all/conanfile.py
  recipes/vigra/all/patches/1.11.2-001-disable_doc_build.patch
  recipes/vigra/all/test_package/CMakeLists.txt
  recipes/vigra/all/test_package/conanfile.py
  recipes/vigra/all/test_package/main.cpp
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix yaml lint error
  recipes/vigra/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

remove trailing line in yaml
  recipes/vigra/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

add option for LEMON
  recipes/vigra/all/conanfile.py
Due: lint-recipes, lint-test_package

Clarify the purpose of char_type vs with_wchar_t etc.
  recipes/log4cxx/all/conanfile.py
Due: lint-recipes, lint-test_package

silence some lint errors
  recipes/vigra/all/conanfile.py
Due: lint-recipes, lint-test_package

fix linter error on cmake
  recipes/vigra/all/test_package/CMakeLists.txt
Due: none

remove override stuff
  recipes/vigra/all/conanfile.py
Due: lint-recipes, lint-test_package

fix url to point to CCI
  recipes/vigra/all/conanfile.py
Due: lint-recipes, lint-test_package

fix test to actually display impex formats
  recipes/vigra/all/test_package/main.cpp
Due: none

Apply reviewer suggested changes
  recipes/log4cxx/all/conanfile.py
Due: lint-recipes, lint-test_package

Bump dependency versions
  recipes/log4cxx/all/conanfile.py
Due: lint-recipes, lint-test_package

cpp-lazy: add version 8.0.0
  recipes/cpp-lazy/all/conandata.yml
  recipes/cpp-lazy/all/test_package/CMakeLists.txt
  recipes/cpp-lazy/all/test_package/conanfile.py
  recipes/cpp-lazy/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

rabbitmq-c: add version 0.14.0
  recipes/rabbitmq-c/all/conandata.yml
  recipes/rabbitmq-c/all/conanfile.py
  recipes/rabbitmq-c/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libsrtp: add version 2.6.0
  recipes/libsrtp/all/conandata.yml
  recipes/libsrtp/all/conanfile.py
  recipes/libsrtp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

firebird: bump to v5.0.0
  recipes/firebird/all/conandata.yml
  recipes/firebird/all/conanfile.py
  recipes/firebird/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
