Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#16577) Cppcheck add 2.10.3
  recipes/cppcheck/all/conandata.yml
  recipes/cppcheck/all/conanfile.py
  recipes/cppcheck/all/test_package/conanfile.py
  recipes/cppcheck/all/test_v1_package/conanfile.py
  recipes/cppcheck/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

utfcpp: add package_type and generate packages
  recipes/utfcpp/all/conanfile.py
Due: lint-recipes, lint-test_package

add comment
  recipes/googleapis/all/conanfile.py
Due: lint-recipes, lint-test_package

Apply suggestions from code review
  recipes/criterion/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16909) meson: add version 1.0.1
  recipes/meson/all/conandata.yml
  recipes/meson/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

chore: fix typo
  recipes/openexr/2.x/conanfile.py
Due: lint-recipes, lint-test_package

sdl: add package_type
  recipes/sdl/all/conanfile.py
Due: lint-recipes, lint-test_package

(#14687) MPFR: partial Conan 2.0 Compatibility
  recipes/mpfr/all/CMakeLists.txt.in
  recipes/mpfr/all/conandata.yml
  recipes/mpfr/all/conanfile.py
  recipes/mpfr/all/patches/4.0.2-0001-configure.ac-fixes.patch
  recipes/mpfr/all/patches/4.0.2-0001-windows-allow-mixed-shared-static.patch
  recipes/mpfr/all/patches/4.1.0-0001-configure.ac-fixes.patch
  recipes/mpfr/all/patches/4.1.0-0001-windows-allow-mixed-shared-static.patch
  recipes/mpfr/all/test_package/CMakeLists.txt
  recipes/mpfr/all/test_package/conanfile.py
  recipes/mpfr/all/test_v1_package/CMakeLists.txt
  recipes/mpfr/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/wil/all/conanfile.py
  recipes/wil/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/wil/all/test_package/CMakeLists.txt
  recipes/wil/all/test_package/CMakeLists.txt
Due: none

Update conan dependency versions
  recipes/vtk/all/conanfile.py
Due: lint-recipes, lint-test_package

proj: bump dependencies
  recipes/proj/all/conanfile.py
Due: lint-recipes, lint-test_package

chore: fix whitespace typo
  recipes/criterion/all/conanfile.py
Due: lint-recipes, lint-test_package

chore: dont pass lang twice to cmake and drop extra call to find package
  recipes/wg21-linear_algebra/all/test_v1_package/CMakeLists.txt
Due: none

netcdf: bump deps
  recipes/netcdf/all/conanfile.py
Due: lint-recipes, lint-test_package

Prevent WARN: apr-util/1.6.1: requirement expat/2.4.1 overridden by log4cxx/0.12.1 to expat/2.5.0
  recipes/log4cxx/all/conanfile.py
Due: lint-recipes, lint-test_package

Update import using conan to replace conans
  recipes/tabulate/all/conanfile.py
Due: lint-recipes, lint-test_package

Update import using conan to replace conans
  recipes/tabulate/all/conanfile.py
  recipes/tabulate/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Provide self for get
  recipes/tabulate/all/conanfile.py
Due: lint-recipes, lint-test_package

Change generator
  recipes/tabulate/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

openvr: Bump deps
  recipes/openvr/all/conanfile.py
Due: lint-recipes, lint-test_package

add cmake generator
  recipes/tabulate/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Copy from other package
  recipes/tabulate/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

cgns: bump deps
  recipes/cgns/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16477) bliss: conan v2 support
  recipes/bliss/all/CMakeLists.txt
  recipes/bliss/all/conandata.yml
  recipes/bliss/all/conanfile.py
  recipes/bliss/all/patches/0001-fix-cmake.patch
  recipes/bliss/all/test_package/CMakeLists.txt
  recipes/bliss/all/test_package/conanfile.py
  recipes/bliss/all/test_v1_package/CMakeLists.txt
  recipes/bliss/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

qt: bump deps
  recipes/qt/5.x.x/conanfile.py
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Downgrade deps to help build on C3I
  recipes/vtk/all/conanfile.py
Due: lint-recipes, lint-test_package

(#16890) libdwarf specify package_type library
  recipes/libdwarf/all/conanfile.py
Due: lint-recipes, lint-test_package

openvr: upgrade for conan v2
  recipes/openvr/all/CMakeLists.txt
  recipes/openvr/all/conandata.yml
  recipes/openvr/all/conanfile.py
  recipes/openvr/all/patches/1.16.8-fix-jsoncpp.patch
  recipes/openvr/all/test_package/CMakeLists.txt
  recipes/openvr/all/test_package/conanfile.py
  recipes/openvr/all/test_v1_package/CMakeLists.txt
  recipes/openvr/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Another attempt to get it to build on C3I
  recipes/vtk/all/conanfile.py
Due: lint-recipes, lint-test_package

Give up, just ask for latest dependencies
  recipes/vtk/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove other generators
  recipes/tabulate/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

I don't know
  recipes/tabulate/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

add comment
  recipes/libxslt/all/conanfile.py
Due: lint-recipes, lint-test_package
