Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

[config] Conan v2: point main repo to the central repository
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

[config] Conan v2: point main repo to the central repository (#16225)
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

[docs] Update changelog 21-2-2023 (#16223)
  docs/changelog.md
Due: none

cmake is added to build_requirements.
  recipes/hazelcast-cpp-client/all/conanfile.py
Due: lint-recipes, lint-test_package

Account for Conan 1.x/2.0 handling package_folder in test_package
  recipes/libtool/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Libtool Conan 2.0 compatibility
  recipes/libtool/all/conandata.yml
  recipes/libtool/all/conanfile.py
  recipes/libtool/all/patches/2.4.6-0001-libtool-relocatable.patch
  recipes/libtool/all/patches/2.4.7-0001-libtool-relocatable.patch
  recipes/libtool/all/test_package/autotools/Makefile.am
  recipes/libtool/all/test_package/autotools/configure.ac
  recipes/libtool/all/test_package/conanfile.py
  recipes/libtool/all/test_package/ltdl/CMakeLists.txt
  recipes/libtool/all/test_package/sis/Makefile.am
  recipes/libtool/all/test_package/sis/configure.ac
  recipes/libtool/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update required_conan_version
  recipes/libtool/all/conanfile.py
Due: lint-recipes, lint-test_package

Fill in test_v1_package test files
  recipes/libtool/all/test_v1_package/autotools/Makefile.am
  recipes/libtool/all/test_v1_package/autotools/configure.ac
  recipes/libtool/all/test_v1_package/autotools/lib.c
  recipes/libtool/all/test_v1_package/autotools/lib.h
  recipes/libtool/all/test_v1_package/autotools/libtestlib.sym
  recipes/libtool/all/test_v1_package/autotools/test_package.c
  recipes/libtool/all/test_v1_package/autotools/testlib_private.h
  recipes/libtool/all/test_v1_package/ltdl/CMakeLists.txt
  recipes/libtool/all/test_v1_package/ltdl/liba.c
  recipes/libtool/all/test_v1_package/ltdl/test_package.c
  recipes/libtool/all/test_v1_package/sis/CMakeLists.txt
  recipes/libtool/all/test_v1_package/sis/Makefile.am
  recipes/libtool/all/test_v1_package/sis/configure.ac
  recipes/libtool/all/test_v1_package/sis/shared.sym
  recipes/libtool/all/test_v1_package/sis/shared_lib.c
  recipes/libtool/all/test_v1_package/sis/static_lib.c
Due: none

Fixed lint and hook issues
  recipes/libtool/all/conandata.yml
  recipes/libtool/all/conanfile.py
  recipes/libtool/all/patches/2.4.6-0001-libtool-relocatable.patch
  recipes/libtool/all/patches/2.4.7-0001-libtool-relocatable.patch
  recipes/libtool/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix cmakelists
  recipes/libtool/all/test_package/ltdl/CMakeLists.txt
Due: none

libtool testpackage: fix paths on windows
  recipes/libtool/all/test_package/conanfile.py
  recipes/libtool/all/test_package/ltdl/CMakeLists.txt
Due: lint-recipes, lint-test_package

libtool test_package: use basic_layout
  recipes/libtool/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Provide realpath implementation for Apple
  recipes/libtool/all/patches/2.4.6-0001-libtool-relocatable.patch
  recipes/libtool/all/patches/2.4.7-0001-libtool-relocatable.patch
  recipes/libtool/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

fixes for windows
  recipes/libtool/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

fixes
  recipes/libtool/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Apply learnings from autoconf-archive to get tests to pass with Conan v1.x
  recipes/libtool/all/conanfile.py
  recipes/libtool/all/test_package/conanfile.py
  recipes/libtool/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Deleted blank line to poke CI
  recipes/libtool/all/conanfile.py
Due: lint-recipes, lint-test_package

NMake only needed with Visual Studio
  recipes/libtool/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

fix patch for 2.4.6
  recipes/libtool/all/patches/2.4.6-0001-libtool-relocatable.patch
Due: none

more windows fixes
  recipes/libtool/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Conan 1.x needs and allows unix_path() in package_info()
  recipes/libtool/all/conanfile.py
Due: lint-recipes, lint-test_package

Restore v1 test CMakeLists.txt to its original state
  recipes/libtool/all/test_v1_package/ltdl/CMakeLists.txt
Due: none

realpath() result should include filename
  recipes/libtool/all/patches/2.4.6-0001-libtool-relocatable.patch
  recipes/libtool/all/patches/2.4.7-0001-libtool-relocatable.patch
Due: none

libtool: touch up
  recipes/libtool/all/conanfile.py
  recipes/libtool/all/patches/2.4.6-0001-libtool-relocatable.patch
  recipes/libtool/all/patches/2.4.7-0001-libtool-relocatable.patch
  recipes/libtool/all/test_package/conanfile.py
  recipes/libtool/all/test_package/ltdl/CMakeLists.txt
  recipes/libtool/all/test_package/ltdl/static_lib.c
  recipes/libtool/all/test_package/sis/CMakeLists.txt
Due: lint-recipes, lint-test_package

Need to use run_environment for Mac dyld resolution
  recipes/libtool/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Libtool needs to be a requirement for tests to see its shared libs
  recipes/libtool/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Add fix_apple_shared_install_name
  recipes/libtool/all/conanfile.py
Due: lint-recipes, lint-test_package

Undefine F77 and FC per https://savannah.gnu.org/patch/?9313#comment1
  recipes/libtool/all/conanfile.py
Due: lint-recipes, lint-test_package

Bumped required_conan_version
  recipes/libtool/all/conanfile.py
Due: lint-recipes, lint-test_package

Fixed lint warnings
  recipes/libtool/all/conanfile.py
  recipes/libtool/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Add autoconf and automake as build_requires for test_v1_package
  recipes/libtool/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Tweaked tool_requires
  recipes/libtool/all/conanfile.py
Due: lint-recipes, lint-test_package

fix bogus conditional
  recipes/libtool/all/conanfile.py
Due: lint-recipes, lint-test_package

Windows fixes
  recipes/libtool/all/conanfile.py
Due: lint-recipes, lint-test_package

Miscellaneous cleanup
  recipes/libtool/all/conanfile.py
  recipes/libtool/all/test_package/ltdl/CMakeLists.txt
Due: lint-recipes, lint-test_package

Port xorg-makedepend to v2 (#16200)
  recipes/xorg-makedepend/all/conanfile.py
  recipes/xorg-makedepend/all/test_package/conanfile.py
  recipes/xorg-makedepend/all/test_v1_package/conanfile.py
  recipes/xorg-makedepend/all/test_v1_package/test_package.c
  recipes/xorg-makedepend/all/test_v1_package/test_package.h
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
