Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#18880) luajit: specify `provides` attribute
  recipes/luajit/all/conanfile.py
Due: lint-recipes, lint-test_package

freexl: add version 2.0.0, add package_type
  recipes/freexl/all/conandata.yml
  recipes/freexl/all/conanfile.py
  recipes/freexl/all/patches/fix-nmake-2.0.0.patch
  recipes/freexl/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#18499) gdal/post_3.5.0: bump deps
  recipes/gdal/post_3.5.0/CMakeLists.txt
  recipes/gdal/post_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

cairo/meson: bump deps
  recipes/cairo/meson/conanfile.py
Due: lint-recipes, lint-test_package

simdjson: add version 3.2.2
  recipes/simdjson/all/conandata.yml
  recipes/simdjson/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

simdutf: add version 3.2.15, remove older versions, remove unused patch
  recipes/simdutf/all/conandata.yml
  recipes/simdutf/all/patches/2.0.6-0002-add-workaround-gcc9.patch
  recipes/simdutf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

pango/all: bump deps
  recipes/pango/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18974) libunwind: add version 1.7.2
  recipes/libunwind/all/conandata.yml
  recipes/libunwind/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19052) cairo/meson: bump deps
  recipes/cairo/meson/conanfile.py
Due: lint-recipes, lint-test_package

gettext: add 0.22
  recipes/gettext/all/conandata.yml
  recipes/gettext/all/patches/0.22-0001-memmove-is-intrinsic-function-on-MSVC.patch
  recipes/gettext/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19053) simdjson: add version 3.2.2
  recipes/simdjson/all/conandata.yml
  recipes/simdjson/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

sdl/all: bump deps
  recipes/sdl/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18973) aws-c-common: add version 0.9.0
  recipes/aws-c-common/all/conandata.yml
  recipes/aws-c-common/all/test_v1_package/CMakeLists.txt
  recipes/aws-c-common/all/test_v1_package/conanfile.py
  recipes/aws-c-common/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

tweetnacl: migrate to Conan v2
  recipes/tweetnacl/all/CMakeLists.txt
  recipes/tweetnacl/all/conandata.yml
  recipes/tweetnacl/all/conanfile.py
  recipes/tweetnacl/all/test_package/CMakeLists.txt
  recipes/tweetnacl/all/test_package/conanfile.py
  recipes/tweetnacl/all/test_v1_package/CMakeLists.txt
  recipes/tweetnacl/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#18972) glib: add version 2.77.1
  recipes/glib/all/conandata.yml
  recipes/glib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

aravis/all: bump deps
  recipes/aravis/all/conanfile.py
Due: lint-recipes, lint-test_package

avahi/all: bump deps
  recipes/avahi/all/conanfile.py
Due: lint-recipes, lint-test_package

gdk-pixbuf/all: bump deps
  recipes/gdk-pixbuf/all/conanfile.py
Due: lint-recipes, lint-test_package

glibmm/all: bump deps
  recipes/glibmm/all/conanfile.py
Due: lint-recipes, lint-test_package

graphene/all: bump deps
  recipes/graphene/all/conanfile.py
Due: lint-recipes, lint-test_package

gstreamer/all: bump deps
  recipes/gstreamer/all/conanfile.py
Due: lint-recipes, lint-test_package

keychain/all: bump deps
  recipes/keychain/all/conanfile.py
Due: lint-recipes, lint-test_package

libnice/all: bump deps
  recipes/libnice/all/conanfile.py
Due: lint-recipes, lint-test_package

libsecret/all: bump deps
  recipes/libsecret/all/conanfile.py
Due: lint-recipes, lint-test_package

libverto/all: bump deps
  recipes/libverto/all/conanfile.py
Due: lint-recipes, lint-test_package

libvips/all: bump deps
  recipes/libvips/all/conanfile.py
Due: lint-recipes, lint-test_package

pulseaudio/all: bump deps
  recipes/pulseaudio/all/conanfile.py
Due: lint-recipes, lint-test_package

qt/6.x.x: bump deps
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

qxmpp/all: bump deps
  recipes/qxmpp/all/conanfile.py
Due: lint-recipes, lint-test_package

lzip: Updated recipe for conan 2.0
  recipes/lzip/all/conandata.yml
  recipes/lzip/all/conanfile.py
  recipes/lzip/all/patches/1.21-0001-any-compiler.patch
  recipes/lzip/all/patches/1.22-0001-any-compiler.patch
  recipes/lzip/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update conandata.yml
  recipes/vsg/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
