Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

libest: transitive_libs=True
  recipes/libest/all/conanfile.py
Due: lint-recipes, lint-test_package

tcsbank-uri-template: drop v1.1.3
  recipes/tcsbank-uri-template/all/conandata.yml
  recipes/tcsbank-uri-template/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

tcsbank-uri-template: migrate to Conan v2
  recipes/tcsbank-uri-template/all/CMakeLists.txt
  recipes/tcsbank-uri-template/all/conanfile.py
  recipes/tcsbank-uri-template/all/test_package/CMakeLists.txt
  recipes/tcsbank-uri-template/all/test_package/conanfile.py
  recipes/tcsbank-uri-template/all/test_package/test_package.cpp
  recipes/tcsbank-uri-template/all/test_v1_package/CMakeLists.txt
  recipes/tcsbank-uri-template/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

tar: migrate to Conan v2
  recipes/tar/all/conanfile.py
  recipes/tar/all/test_package/conanfile.py
  recipes/tar/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

tar: improve availability of compression tools
  recipes/tar/all/conanfile.py
  recipes/tar/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

twitchtv-libsoundtrackutil: transitive_libs=True
  recipes/twitchtv-libsoundtrackutil/all/conanfile.py
Due: lint-recipes, lint-test_package

twitchtv-libsoundtrackutil: migrate to Conan v2
  recipes/twitchtv-libsoundtrackutil/all/CMakeLists.txt
  recipes/twitchtv-libsoundtrackutil/all/conandata.yml
  recipes/twitchtv-libsoundtrackutil/all/conanfile.py
  recipes/twitchtv-libsoundtrackutil/all/patches/cmake-fixes.patch
  recipes/twitchtv-libsoundtrackutil/all/test_package/CMakeLists.txt
  recipes/twitchtv-libsoundtrackutil/all/test_package/conanfile.py
  recipes/twitchtv-libsoundtrackutil/all/test_v1_package/CMakeLists.txt
  recipes/twitchtv-libsoundtrackutil/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix transitive_headers
  recipes/pango/all/conanfile.py
Due: lint-recipes, lint-test_package

bump libxft
  recipes/pango/all/conanfile.py
Due: lint-recipes, lint-test_package

libxft/all: bump deps
  recipes/libxft/all/conanfile.py
Due: lint-recipes, lint-test_package

cleanup openssl 1.x recipe after removal of versions < 1.1.1
  recipes/openssl/1.x.x/conanfile.py
Due: lint-recipes, lint-test_package

(#20797) libxft/all: bump deps
  recipes/libxft/all/conanfile.py
Due: lint-recipes, lint-test_package

libarchive: patch to include getopt.h when required
  recipes/libarchive/all/conandata.yml
  recipes/libarchive/all/patches/0007-3.7.1-include-getopt.patch
Due: lint-yaml-scheme, check-yaml-scheme

iconfontcppheaders: create package
  recipes/iconfontcppheaders/all/CMakeLists.txt
  recipes/iconfontcppheaders/all/conandata.yml
  recipes/iconfontcppheaders/all/conanfile.py
  recipes/iconfontcppheaders/all/test_package/CMakeLists.txt
  recipes/iconfontcppheaders/all/test_package/conanfile.py
  recipes/iconfontcppheaders/all/test_package/test_package.cpp
  recipes/iconfontcppheaders/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

c-ares: add version 1.21.0
  recipes/c-ares/all/conandata.yml
  recipes/c-ares/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

cairo: add version 1.18.0
  recipes/cairo/config.yml
  recipes/cairo/meson/conandata.yml
  recipes/cairo/meson/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

opentelemetry-cpp: add 1.12.0
  recipes/opentelemetry-cpp/all/conandata.yml
  recipes/opentelemetry-cpp/all/conanfile.py
  recipes/opentelemetry-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

drop with_opengl option
  recipes/cairo/meson/conanfile.py
Due: lint-recipes, lint-test_package

itlib: add version 1.10.0, remove older versions
  recipes/itlib/all/conandata.yml
  recipes/itlib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update cmake version, include GNUInstallDirs
  recipes/detools/all/CMakeLists.txt
  recipes/detools/all/test_package/CMakeLists.txt
Due: none

(#20801) c-ares: add version 1.21.0
  recipes/c-ares/all/conandata.yml
  recipes/c-ares/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libnghttp2: add version 1.58.0, remove older versions
  recipes/libnghttp2/all/conandata.yml
  recipes/libnghttp2/all/conanfile.py
  recipes/libnghttp2/all/patches/fix-findJemalloc.cmake
  recipes/libnghttp2/all/patches/fix-findLibevent.cmake
  recipes/libnghttp2/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Code review: removing unused code; adding v1 test package
  recipes/optick/all/conanfile.py
  recipes/optick/all/test_package/CMakeLists.txt
  recipes/optick/all/test_v1_package/CMakeLists.txt
  recipes/optick/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

librdkafka: add version 2.3.0, make libcurl version ranges
  recipes/librdkafka/all/conandata.yml
  recipes/librdkafka/all/conanfile.py
  recipes/librdkafka/all/patches/0002-Change-library-targets-and-result-variables-2-3-0.patch
  recipes/librdkafka/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

samurai: add version 0.8.0, update dependenies
  recipes/samurai/all/conandata.yml
  recipes/samurai/all/conanfile.py
  recipes/samurai/all/test_package/conanfile.py
  recipes/samurai/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

highfive: update xtensor/0.24.6
  recipes/highfive/all/conanfile.py
Due: lint-recipes, lint-test_package

simdjson: add version 3.5.0
  recipes/simdjson/all/conandata.yml
  recipes/simdjson/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update 4.0.3
  recipes/simdutf/all/conandata.yml
  recipes/simdutf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

userspace-rcu: support conan v2
  recipes/userspace-rcu/all/conandata.yml
  recipes/userspace-rcu/all/conanfile.py
  recipes/userspace-rcu/all/test_package/CMakeLists.txt
  recipes/userspace-rcu/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

ERROR: [CONAN CENTER INDEX URL (KB-H027)] The attribute 'url' should point to...
  recipes/optick/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20809) simdjson: add version 3.5.0
  recipes/simdjson/all/conandata.yml
  recipes/simdjson/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#20808) highfive: update xtensor/0.24.6
  recipes/highfive/all/conanfile.py
Due: lint-recipes, lint-test_package

Try to fix windows shared test
  recipes/cpptrace/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

add onetbb/2021.11.0-rc1
  recipes/onetbb/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

mold: add version 2.0.0
  recipes/mold/all/conandata.yml
  recipes/mold/all/conanfile.py
  recipes/mold/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add 2021.11.0-rc1 to config.yml
  recipes/onetbb/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
