Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

fixup line endings
  recipes/openssl/3.x.x/patches/3.2.0-fix-winsock2.patch
Due: none

Add package xmlrpc-epi/0.54.2
  recipes/xmlrpc-epi/all/CMakeLists.txt
  recipes/xmlrpc-epi/all/conandata.yml
  recipes/xmlrpc-epi/all/conanfile.py
  recipes/xmlrpc-epi/all/patches/0001-debian.patch
  recipes/xmlrpc-epi/all/patches/0002-msvc.patch
  recipes/xmlrpc-epi/all/test_package/CMakeLists.txt
  recipes/xmlrpc-epi/all/test_package/conanfile.py
  recipes/xmlrpc-epi/all/test_package/test_package.c
  recipes/xmlrpc-epi/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21408) bit-lite: add package_type
  recipes/bit-lite/all/conanfile.py
Due: lint-recipes, lint-test_package

remove old versions
  recipes/qt/6.x.x/conandata.yml
  recipes/qt/6.x.x/patches/qt6.5.0-pri-helpers-fix.diff
  recipes/qt/6.x.x/qtmodules6.2.4.conf
  recipes/qt/6.x.x/qtmodules6.4.1.conf
  recipes/qt/6.x.x/qtmodules6.5.0.conf
  recipes/qt/6.x.x/qtmodules6.5.1.conf
  recipes/qt/6.x.x/qtmodules6.5.2.conf
Due: lint-yaml-scheme, check-yaml-scheme

zlib-ng: add version 2.1.5
  recipes/zlib-ng/all/conandata.yml
  recipes/zlib-ng/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

also remove from config.yml
  recipes/qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21352) pcl: properly configure pcl_configure.h regarding qhull
  recipes/pcl/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21382) clipper2: add version 1.2.4
  recipes/clipper2/all/conandata.yml
  recipes/clipper2/all/patches/1.2.4-0001-remove-macos-suffix.patch
  recipes/clipper2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21386) base64: modernize more + avoid to build tests and warnings as errors in CMake build + fix cmake target name
  recipes/base64/all/conanfile.py
  recipes/base64/all/patches/0.4.0-0002-cmake.patch
  recipes/base64/all/test_package/CMakeLists.txt
  recipes/base64/all/test_v1_package/CMakeLists.txt
  recipes/base64/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#21390) jsoncons: add version 0.172.0
  recipes/jsoncons/all/conandata.yml
  recipes/jsoncons/all/conanfile.py
  recipes/jsoncons/all/test_package/CMakeLists.txt
  recipes/jsoncons/all/test_v1_package/CMakeLists.txt
  recipes/jsoncons/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21402) cpuinfo: remove shared option if msvc (always static) + allow shared for windows & non-msvc + add cmake_file_name property
  recipes/cpuinfo/all/conanfile.py
Due: lint-recipes, lint-test_package

drop support msvc shared debug build in 0.9.2
  recipes/duckdb/all/conanfile.py
Due: lint-recipes, lint-test_package

include stdlib.h
  recipes/libxml2/all/test_package/test_package.c
Due: none

(#21409) bertrand: add package_type
  recipes/bertrand/all/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/cs_libguarded/all/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/cxxopts/all/conanfile.py
Due: lint-recipes, lint-test_package

bump icu
  recipes/cxxopts/all/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/date/all/conanfile.py
Due: lint-recipes, lint-test_package

add package_type
  recipes/decimal_for_cpp/all/conanfile.py
  recipes/decimal_for_cpp/all/test_package/conanfile.py
  recipes/decimal_for_cpp/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

md4qt: bump version
  recipes/md4qt/all/conandata.yml
  recipes/md4qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

workaround conan-io/conan#14213
  recipes/libvips/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix MSVC build
  recipes/andreasbuhr-cppcoro/all/conanfile.py
Due: lint-recipes, lint-test_package

Deprecate codes
  recipes/sail/all/conanfile.py
Due: lint-recipes, lint-test_package

quill-3.5.0
  recipes/quill/all/conandata.yml
  recipes/quill/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21412) boolean-lite: add package_type
  recipes/boolean-lite/all/conanfile.py
Due: lint-recipes, lint-test_package

Add options description
  recipes/sail/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21413) boolinq: add package_type
  recipes/boolinq/all/conanfile.py
Due: lint-recipes, lint-test_package

Allow boost namespace
  docs/faqs.md
Due: none

Restore with_utils option
  recipes/tinyalsa/all/conanfile.py
  recipes/tinyalsa/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Use options.get_safe
  recipes/sail/all/conanfile.py
Due: lint-recipes, lint-test_package

trantor: add version 1.5.15, remove old versions
  recipes/trantor/all/conandata.yml
  recipes/trantor/all/conanfile.py
  recipes/trantor/all/patches/1.5.15-0001-disable-werror.patch
  recipes/trantor/all/patches/1.5.5-0001-include-cstdint.patch
  recipes/trantor/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme
