Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

b2: add version 4.10.1
  recipes/b2/config.yml
  recipes/b2/portable/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18028) [proj] add version 9.2.1
  recipes/proj/all/conandata.yml
  recipes/proj/all/patches/0001-use-cmake-targets-9.2.1.patch
  recipes/proj/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

librasterlite2/all: bump deps
  recipes/librasterlite2/all/conanfile.py
Due: lint-recipes, lint-test_package

libspatialite/all: bump deps
  recipes/libspatialite/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18484) b2: add version 4.10.1
  recipes/b2/config.yml
  recipes/b2/portable/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18447) [GMP] change the data source
  recipes/gmp/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18485) libspatialite/all: bump deps
  recipes/libspatialite/all/conanfile.py
Due: lint-recipes, lint-test_package

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18401) wt: bump dependencies and remove old versions
  recipes/wt/all/conandata.yml
  recipes/wt/all/conanfile.py
  recipes/wt/all/patches/4.3.1-0001-use-cci-package.patch
  recipes/wt/all/patches/4.3.1-0002-gcc_11.patch
  recipes/wt/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Bump min conan required version
  recipes/aws-c-mqtt/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18441) jxrlib/all: add package_type
  recipes/jxrlib/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18478) Fix/luple license
  recipes/luple/all/conandata.yml
  recipes/luple/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#18423) Onnx Static Initialization Bug
  recipes/onnx/all/conanfile.py
Due: lint-recipes, lint-test_package

- add vvenc 1.8.0
  recipes/vvenc/all/conandata.yml
  recipes/vvenc/all/conanfile.py
  recipes/vvenc/all/test_package/CMakeLists.txt
  recipes/vvenc/all/test_package/conanfile.py
  recipes/vvenc/all/test_package/src/example.c
  recipes/vvenc/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

librasterlite/all: bump deps
  recipes/librasterlite/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18488) librasterlite/all: bump deps
  recipes/librasterlite/all/conanfile.py
Due: lint-recipes, lint-test_package

opencv/4.x: fix disabling dnn
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

protoc requires cpp only
  recipes/protobuf-c/all/conanfile.py
  recipes/protobuf-c/all/patches/1.4.1-cmake-protobuf-target.patch
Due: lint-recipes, lint-test_package

no verbose
  recipes/protobuf-c/all/conanfile.py
Due: lint-recipes, lint-test_package

Bump dlib dependencies
  recipes/dlib/all/conanfile.py
Due: lint-recipes, lint-test_package

Bump min required version
  recipes/dlib/all/conanfile.py
Due: lint-recipes, lint-test_package

Bump dependencies
  recipes/librasterlite2/all/conanfile.py
Due: lint-recipes, lint-test_package

testing with_protoc=False
  recipes/protobuf-c/all/conanfile.py
  recipes/protobuf-c/all/test_package/CMakeLists.txt
  recipes/protobuf-c/all/test_package/conanfile.py
  recipes/protobuf-c/all/test_package/test_package.c
Due: lint-recipes, lint-test_package

add test package simple file
  recipes/protobuf-c/all/test_package/test_package_simple.c
Due: none

(#18486) [bot] Update list of references (prod-v2/ListPackages)
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18493) clickhouse-cpp: respect fPIC option
  recipes/clickhouse-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18472) quill: add version 3.2.0, fix url of 3.1.0
  recipes/quill/all/conandata.yml
  recipes/quill/all/conanfile.py
  recipes/quill/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

mongo-cxx-driver: add version 3.8.0, update mongo-c-driver
  recipes/mongo-cxx-driver/all/conandata.yml
  recipes/mongo-cxx-driver/all/conanfile.py
  recipes/mongo-cxx-driver/all/patches/3.8.0-0001-dirs.patch
  recipes/mongo-cxx-driver/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#18466) [bot] Update authorized users list (2023-07-10)
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme
