Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#24110) bredis: add recipe
  recipes/bredis/all/conandata.yml
  recipes/bredis/all/conanfile.py
  recipes/bredis/all/test_package/CMakeLists.txt
  recipes/bredis/all/test_package/conanfile.py
  recipes/bredis/all/test_package/test_package.cpp
  recipes/bredis/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#24295) drogon: add version 1.9.5, update trantor
  recipes/drogon/all/conandata.yml
  recipes/drogon/all/conanfile.py
  recipes/drogon/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/timsort/all/test_package/CMakeLists.txt
  recipes/timsort/all/test_package/CMakeLists.txt
Due: none

(#24393) simfil: Bump 0.2.1
  recipes/simfil/all/conandata.yml
  recipes/simfil/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

OpenColorIO: Fix validation & package_info
  recipes/opencolorio/all/conanfile.py
Due: lint-recipes, lint-test_package

(#23346) android-ndk: Use clang for `AS` & `LD` as per docs.
  recipes/android-ndk/all/conanfile.py
  recipes/android-ndk/all/test_package/conanfile.py
  recipes/android-ndk/all/test_v1_package/CMakeLists.txt
  recipes/android-ndk/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

[sentry-crashpad] Remove
  recipes/sentry-crashpad/all/conandata.yml
  recipes/sentry-crashpad/all/conanfile.py
  recipes/sentry-crashpad/all/patches/0.6.5-0001-fix-for-gcc13.patch
  recipes/sentry-crashpad/all/test_package/CMakeLists.txt
  recipes/sentry-crashpad/all/test_package/conanfile.py
  recipes/sentry-crashpad/all/test_package/test_package.cpp
  recipes/sentry-crashpad/all/test_v1_package/CMakeLists.txt
  recipes/sentry-crashpad/all/test_v1_package/conanfile.py
  recipes/sentry-crashpad/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

[sentry-breakpad] Remove
  recipes/sentry-breakpad/all/CMakeLists.txt
  recipes/sentry-breakpad/all/conandata.yml
  recipes/sentry-breakpad/all/conanfile.py
  recipes/sentry-breakpad/all/patches/0.4.18-0001-remove-third-pary-lss.patch
  recipes/sentry-breakpad/all/patches/0.4.18-0002-install-breakpad-header.patch
  recipes/sentry-breakpad/all/patches/0.5.4-0001-remove-third-pary-lss.patch
  recipes/sentry-breakpad/all/patches/0.5.4-0002-install-breakpad-header.patch
  recipes/sentry-breakpad/all/patches/0.6.x-0001-remove-third-pary-lss.patch
  recipes/sentry-breakpad/all/patches/0.6.x-0002-install-breakpad-header.patch
  recipes/sentry-breakpad/all/test_package/CMakeLists.txt
  recipes/sentry-breakpad/all/test_package/conanfile.py
  recipes/sentry-breakpad/all/test_package/test_package.cpp
  recipes/sentry-breakpad/all/test_v1_package/CMakeLists.txt
  recipes/sentry-breakpad/all/test_v1_package/conanfile.py
  recipes/sentry-breakpad/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

cpptrace: Add 0.6.2
  recipes/cpptrace/all/conandata.yml
  recipes/cpptrace/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libassert: Bump cpptrace dependency
  recipes/libassert/v2/conanfile.py
Due: lint-recipes, lint-test_package

remove lib/cmake
  recipes/zlib-ng/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove unused import
  recipes/fmilib/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24398) cpptrace: Add 0.6.2
  recipes/cpptrace/all/conandata.yml
  recipes/cpptrace/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Code review feedback implemented
  recipes/mp-units/2.2.0/conanfile.py
Due: lint-recipes, lint-test_package

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

cxxgraph: add version 4.0.0
  recipes/cxxgraph/all/conandata.yml
  recipes/cxxgraph/all/conanfile.py
  recipes/cxxgraph/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

c-blosc2: add version 2.15.0
  recipes/c-blosc2/all/conandata.yml
  recipes/c-blosc2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

`contracts: none` is a valid setting for `freestanding`
  recipes/mp-units/2.2.0/conanfile.py
Due: lint-recipes, lint-test_package

test package requires C++20
  recipes/lielab/all/test_package/CMakeLists.txt
Due: none

cmake: re-add from source builds as `cci.` versions
  recipes/cmake/3.x.x/conandata.yml
  recipes/cmake/3.x.x/test_package/conanfile.py
  recipes/cmake/3.x.x/test_v1_package/conanfile.py
  recipes/cmake/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Cleanup (retrigger ci)
  recipes/tensorflow-lite/all/conanfile.py
Due: lint-recipes, lint-test_package

ocilib: apply conan pipeline reviews
  recipes/ocilib/all/conanfile.py
  recipes/ocilib/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

Simplify recipe
  recipes/qxmpp/all/conanfile.py
  recipes/qxmpp/all/test_package/test_package.cpp
  recipes/qxmpp/all/test_v1_package/CMakeLists.txt
  recipes/qxmpp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/cxxgraph/all/conanfile.py
  recipes/cxxgraph/all/conanfile.py
Due: lint-recipes, lint-test_package

(#24402) c-blosc2: add version 2.15.0
  recipes/c-blosc2/all/conandata.yml
  recipes/c-blosc2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update config.yml
  recipes/cppcheck/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update conandata.yml
  recipes/cppcheck/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#24400) [bot] Update authorized users list (2024-06-20)
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

Safe shared option value
  recipes/qxmpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Accept Qt5
  recipes/qxmpp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18938) makefile-project-workspace-creator: migrate to Conan v2
  recipes/makefile-project-workspace-creator/all/conanfile.py
  recipes/makefile-project-workspace-creator/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package
