Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

cose-c: fix YAML linter error
  recipes/cose-c/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

ctpg: enable MSVC builds
  recipes/ctpg/all/conanfile.py
Due: lint-recipes, lint-test_package

Added 0.15 version
  recipes/implot/all/conandata.yml
  recipes/implot/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

detours: fix test_package on Windows
  recipes/detours/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

directshowbaseclasses: add short_paths = True for v1
  recipes/directshowbaseclasses/all/conanfile.py
Due: lint-recipes, lint-test_package

poco sqlite3 3.42.0
  recipes/poco/all/conanfile.py
Due: lint-recipes, lint-test_package

sqlitecpp sqlite3 3.42.0
  recipes/sqlitecpp/all/conanfile.py
Due: lint-recipes, lint-test_package

libnetfilter_conntrack: migrate to Conan v2
  recipes/libnetfilter_conntrack/all/conanfile.py
  recipes/libnetfilter_conntrack/all/test_package/CMakeLists.txt
  recipes/libnetfilter_conntrack/all/test_package/conanfile.py
  recipes/libnetfilter_conntrack/all/test_package/example.c
  recipes/libnetfilter_conntrack/all/test_v1_package/CMakeLists.txt
  recipes/libnetfilter_conntrack/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

libnetfilter_queue: migrate to Conan v2
  recipes/libnetfilter_queue/all/conanfile.py
  recipes/libnetfilter_queue/all/test_package/CMakeLists.txt
  recipes/libnetfilter_queue/all/test_package/conanfile.py
  recipes/libnetfilter_queue/all/test_package/example.c
  recipes/libnetfilter_queue/all/test_v1_package/CMakeLists.txt
  recipes/libnetfilter_queue/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

[cgal] add cgal/5.5.3
  recipes/cgal/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

liboping: migrate to Conan v2
  recipes/liboping/all/conandata.yml
  recipes/liboping/all/conanfile.py
  recipes/liboping/all/test_package/CMakeLists.txt
  recipes/liboping/all/test_package/conanfile.py
  recipes/liboping/all/test_v1_package/CMakeLists.txt
  recipes/liboping/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fpzip: add recipe
  recipes/fpzip/all/conandata.yml
  recipes/fpzip/all/conanfile.py
  recipes/fpzip/all/test_package/CMakeLists.txt
  recipes/fpzip/all/test_package/conanfile.py
  recipes/fpzip/all/test_package/test_package.c
  recipes/fpzip/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libsixel: migrate to Conan v2
  recipes/libsixel/all/conanfile.py
  recipes/libsixel/all/test_package/CMakeLists.txt
  recipes/libsixel/all/test_package/conanfile.py
  recipes/libsixel/all/test_v1_package/CMakeLists.txt
  recipes/libsixel/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

add foobar option
  recipes/poco/all/conanfile.py
Due: lint-recipes, lint-test_package

fix fastdds binaries
  recipes/fast-dds/all/conanfile.py
Due: lint-recipes, lint-test_package

duktape: fix shared Windows builds
  recipes/duktape/all/conanfile.py
Due: lint-recipes, lint-test_package

duktape: migrate to Conan v2
  recipes/duktape/all/CMakeLists.txt
  recipes/duktape/all/conanfile.py
  recipes/duktape/all/test_package/CMakeLists.txt
  recipes/duktape/all/test_package/conanfile.py
  recipes/duktape/all/test_v1_package/CMakeLists.txt
  recipes/duktape/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

easyloggingpp: migrate to Conan v2
  recipes/easyloggingpp/all/CMakeLists.txt
  recipes/easyloggingpp/all/conanfile.py
  recipes/easyloggingpp/all/test_package/CMakeLists.txt
  recipes/easyloggingpp/all/test_package/conanfile.py
  recipes/easyloggingpp/all/test_package/test_package.cpp
  recipes/easyloggingpp/all/test_v1_package/CMakeLists.txt
  recipes/easyloggingpp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

easylzma: fix copying of DLLs
  recipes/easylzma/all/conanfile.py
Due: lint-recipes, lint-test_package

streamvbyte: add recipe
  recipes/streamvbyte/all/conandata.yml
  recipes/streamvbyte/all/conanfile.py
  recipes/streamvbyte/all/test_package/CMakeLists.txt
  recipes/streamvbyte/all/test_package/conanfile.py
  recipes/streamvbyte/all/test_package/test_package.c
  recipes/streamvbyte/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Make disabling static registration an option
  recipes/onnxruntime/all/conanfile.py
Due: lint-recipes, lint-test_package

Baseline cpptrace recipe
  recipes/cpptrace/all/conandata.yml
  recipes/cpptrace/all/conanfile.py
  recipes/cpptrace/all/test_v0_package/CMakeLists.txt
  recipes/cpptrace/all/test_v0_package/conanfile.py
  recipes/cpptrace/all/test_v0_package/test_package.cpp
  recipes/cpptrace/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Fixed curl package name
  recipes/vsgxchange/all/test_package/CMakeLists.txt
Due: none

fixed case
  recipes/vsgxchange/all/conandata.yml
  recipes/vsgxchange/all/conanfile.py
  recipes/vsgxchange/all/patches/1.0.2-0001-includeMacro.patch
  recipes/vsgxchange/all/test_package/CMakeLists.txt
  recipes/vsgxchange/all/test_package/conanfile.py
  recipes/vsgxchange/all/test_package/test_package.cpp
  recipes/vsgxchange/all/test_v1_package/CMakeLists.txt
  recipes/vsgxchange/all/test_v1_package/conanfile.py
  recipes/vsgxchange/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

vsgXchange recipe
  recipes/vsgXchange/all/conandata.yml
  recipes/vsgXchange/all/conanfile.py
  recipes/vsgXchange/all/patches/1.0.2-0001-includeMacro.patch
  recipes/vsgXchange/all/test_package/CMakeLists.txt
  recipes/vsgXchange/all/test_package/conanfile.py
  recipes/vsgXchange/all/test_package/test_package.cpp
  recipes/vsgXchange/all/test_v1_package/CMakeLists.txt
  recipes/vsgXchange/all/test_v1_package/conanfile.py
  recipes/vsgXchange/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

improved conan v2 compatiblity
  recipes/vsgxchange/all/conanfile.py
  recipes/vsgxchange/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

cpp-httplib: add version 0.13.2
  recipes/cpp-httplib/all/conandata.yml
  recipes/cpp-httplib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

asio: add version 1.28.1
  recipes/asio/all/conandata.yml
  recipes/asio/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libunwind: add version 1.7.2
  recipes/libunwind/all/conandata.yml
  recipes/libunwind/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

aws-c-common: add version 0.9.0
  recipes/aws-c-common/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

cleanup: remove test_v1_package folder
  recipes/aws-c-common/all/test_v1_package/CMakeLists.txt
  recipes/aws-c-common/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

glib: add version 2.77.1
  recipes/glib/all/conandata.yml
  recipes/glib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update required version
  recipes/boost/all/conanfile.py
Due: lint-recipes, lint-test_package

update recipe revision
  recipes/cjson/all/conanfile.py
Due: lint-recipes, lint-test_package

trigger new build
  recipes/cjson/all/conanfile.py
Due: lint-recipes, lint-test_package

tcp-wrappers: migrate to Conan v2
  recipes/tcp-wrappers/all/conandata.yml
  recipes/tcp-wrappers/all/conanfile.py
  recipes/tcp-wrappers/all/test_package/CMakeLists.txt
  recipes/tcp-wrappers/all/test_package/conanfile.py
  recipes/tcp-wrappers/all/test_package/test_package.c
  recipes/tcp-wrappers/all/test_v1_package/CMakeLists.txt
  recipes/tcp-wrappers/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libsafec: migrate to Conan v2
  recipes/libsafec/all/conanfile.py
  recipes/libsafec/all/test_package/CMakeLists.txt
  recipes/libsafec/all/test_package/conanfile.py
  recipes/libsafec/all/test_v1_package/CMakeLists.txt
  recipes/libsafec/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

depot_tools: migrate to Conan v2
  recipes/depot_tools/all/conandata.yml
  recipes/depot_tools/all/conanfile.py
  recipes/depot_tools/all/test_package/conanfile.py
  recipes/depot_tools/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

pupnp: migrate to Conan v2
  recipes/pupnp/all/conanfile.py
  recipes/pupnp/all/test_package/CMakeLists.txt
  recipes/pupnp/all/test_package/conanfile.py
  recipes/pupnp/all/test_v1_package/CMakeLists.txt
  recipes/pupnp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
