Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

[sentry-breakpad/0.6.3] Add version
  recipes/sentry-breakpad/all/conandata.yml
  recipes/sentry-breakpad/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

[sentry-native] Update to 0.6.3
  recipes/sentry-native/all/conandata.yml
  recipes/sentry-native/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

gettext 0.22
  recipes/gettext/all/conandata.yml
  recipes/gettext/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

chaiscript: conan v2 support
  recipes/chaiscript/all/CMakeLists.txt
  recipes/chaiscript/all/conanfile.py
  recipes/chaiscript/all/test_package/CMakeLists.txt
  recipes/chaiscript/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

argtable: fix test_package Conan 2 compatibility
  recipes/argtable3/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

fix target name
  recipes/sqlpp11/all/conanfile.py
  recipes/sqlpp11/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

dbus/1.x.x: bump deps
  recipes/dbus/1.x.x/conanfile.py
Due: lint-recipes, lint-test_package

rtklib: add undefined extern functions
  recipes/rtklib/all/test_package/test_package.cpp
Due: none

Set _ITERATOR_DEBUG_LEVEL only in old highs version
  recipes/highs/all/conanfile.py
Due: lint-recipes, lint-test_package

Added jsoncpp transitive_libs=True param
  recipes/drogon/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17096) cpprestsdk: add package_type + bump boost & openssl + remove package id boost minor mode
  recipes/cpprestsdk/all/conanfile.py
  recipes/cpprestsdk/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

libgettext 0.22
  recipes/libgettext/all/conandata.yml
  recipes/libgettext/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix sub-folder to build
  recipes/libgettext/all/conanfile.py
Due: lint-recipes, lint-test_package

redis-plus-plus: remove version 1.2.1
  recipes/redis-plus-plus/all/conandata.yml
  recipes/redis-plus-plus/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add no_copy_source attribute.
  recipes/rmm/all/conanfile.py
Due: lint-recipes, lint-test_package

redis-plus-plus: fix test_package
  recipes/redis-plus-plus/all/test_package/CMakeLists.txt
Due: none

(#17996) [config] Update conan, add timeout and disable package id computation cache
  .c3i/config_v1.yml
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

check for c++17
  recipes/chaiscript/all/conanfile.py
  recipes/chaiscript/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

add sdl to requirements of test package
  recipes/sdl_mixer/all/test_package/CMakeLists.txt
  recipes/sdl_mixer/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

SDL headers are transitive
  recipes/sdl_mixer/all/conanfile.py
Due: lint-recipes, lint-test_package

bump sdl
  recipes/sdl_mixer/all/conanfile.py
  recipes/sdl_mixer/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#16544) Qt5: fix module defines
  recipes/qt/5.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Refactor: Push 0v.18.8 and use Black formatter
  recipes/usearch/all/conandata.yml
  recipes/usearch/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

spb: disable tests and docs
  recipes/sbp/all/conanfile.py
Due: lint-recipes, lint-test_package

rtklib: remove use_iers_tide_model option
  recipes/rtklib/all/conanfile.py
Due: lint-recipes, lint-test_package

rtklib: simplify defs handling
  recipes/rtklib/all/conanfile.py
Due: lint-recipes, lint-test_package

rtklib: add a comment for the default values
  recipes/rtklib/all/conanfile.py
Due: lint-recipes, lint-test_package

rtklib: remove an unsupported compile flag from Clang
  recipes/rtklib/all/CMakeLists.txt
Due: none

rtklib: add an additional reference for the defaults
  recipes/rtklib/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/chaiscript/all/conanfile.py
  recipes/chaiscript/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/sonic-cpp/all/conanfile.py
  recipes/sonic-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

urdfdom: drop transitive_libs from tinyxml
  recipes/urdfdom/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17809) onnxruntime: add 1.15.1
  recipes/onnxruntime/all/conandata.yml
  recipes/onnxruntime/all/conanfile.py
  recipes/onnxruntime/all/patches/1.15.1-0001-cmake-dependencies.patch
  recipes/onnxruntime/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#16504) Update libssh2 for Conan 2.0
  recipes/libssh2/all/CMakeLists.txt
  recipes/libssh2/all/conandata.yml
  recipes/libssh2/all/conanfile.py
  recipes/libssh2/all/test_package/CMakeLists.txt
  recipes/libssh2/all/test_package/conanfile.py
  recipes/libssh2/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme
