Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

Add more provides
  recipes/mesa/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove the egl_lib_suffix option
  recipes/mesa/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove allow_kcmp option
  recipes/mesa/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove android_stub option
  recipes/mesa/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove android_libbacktrace option
  recipes/mesa/all/conanfile.py
Due: lint-recipes, lint-test_package

Check variables for modules before defining the target
  recipes/freetype/meson/test_package_module/CMakeLists.txt
Due: none

Enable short paths for the test_package_module
  recipes/freetype/meson/test_package_module/conanfile.py
Due: lint-recipes, lint-test_package

util-linux-libuuid: Add 2.40 and switch to Meson
  recipes/util-linux-libuuid/config.yml
  recipes/util-linux-libuuid/meson/conandata.yml
  recipes/util-linux-libuuid/meson/conanfile.py
  recipes/util-linux-libuuid/meson/patches/4ebdd569049ac48a3867a59537cea769fa319e8f.patch
  recipes/util-linux-libuuid/meson/test_package/CMakeLists.txt
  recipes/util-linux-libuuid/meson/test_package/conanfile.py
  recipes/util-linux-libuuid/meson/test_package/test_package.c
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Use a newer version of CMake in test_package_module
  recipes/freetype/meson/test_package/conanfile.py
  recipes/freetype/meson/test_package_module/conanfile.py
Due: lint-recipes, lint-test_package

remove platform option
  recipes/duckdb/all/conanfile.py
Due: lint-recipes, lint-test_package

(#23174) Add tree-gen 1.0.7.
  recipes/tree-gen/all/conandata.yml
  recipes/tree-gen/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

back to previous default values
  recipes/arrow/all/conanfile.py
Due: lint-recipes, lint-test_package

testing: build arrow recipe
  recipes/arrow/all/conanfile.py
Due: lint-recipes, lint-test_package

tesseract: add v5.3.4
  recipes/tesseract/all/conandata.yml
  recipes/tesseract/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libmount: Add version 2.40, use Meson
  recipes/libmount/config.yml
  recipes/libmount/meson/conandata.yml
  recipes/libmount/meson/conanfile.py
  recipes/libmount/meson/patches/0001-meson-Only-build-blkzone-and-blkpr-if-the-required-l.patch
  recipes/libmount/meson/patches/4ebdd569049ac48a3867a59537cea769fa319e8f.patch
  recipes/libmount/meson/test_package/CMakeLists.txt
  recipes/libmount/meson/test_package/conanfile.py
  recipes/libmount/meson/test_package/test_package.c
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Explicitly set the freetype library path for CMake
  recipes/freetype/meson/conanfile.py
Due: lint-recipes, lint-test_package

added opus 1.5.1
  recipes/opus/all/conandata.yml
  recipes/opus/all/conanfile.py
  recipes/opus/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Try setting FREETYPE_LIBRARIES
  recipes/freetype/meson/conanfile.py
Due: lint-recipes, lint-test_package

Revert "Try setting FREETYPE_LIBRARIES"
  recipes/freetype/meson/conanfile.py
Due: lint-recipes, lint-test_package

Revert "Explicitly set the freetype library path for CMake"
  recipes/freetype/meson/conanfile.py
Due: lint-recipes, lint-test_package

(#23176) tsl-robin-map: add version 1.2.2
  recipes/tsl-robin-map/all/conandata.yml
  recipes/tsl-robin-map/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Set if CMAKE_FIND_LIBRARY_SUFFIXES to include ".a" suffixes on Windows
  recipes/freetype/meson/conanfile.py
  recipes/freetype/meson/test_package/CMakeLists.txt
  recipes/freetype/meson/test_package_module/CMakeLists.txt
Due: lint-recipes, lint-test_package

Revert "Set if CMAKE_FIND_LIBRARY_SUFFIXES to include ".a" suffixes on Windows"
  recipes/freetype/meson/conanfile.py
  recipes/freetype/meson/test_package/CMakeLists.txt
  recipes/freetype/meson/test_package_module/CMakeLists.txt
Due: lint-recipes, lint-test_package

[llvm-core] add windows support
  recipes/llvm-core/all/conanfile.py
  recipes/llvm-core/all/patches/11x/0000-cmake-dependencies.patch
Due: lint-recipes, lint-test_package

Rename .a to .lib to workaround CMake versions prior to 3.29
  recipes/freetype/meson/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/mariadb-connector-cpp/all/conanfile.py
  recipes/mariadb-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

[llvm-core] remove pdb files
  recipes/llvm-core/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove lib prefix on Windows as well to allow CMake to find the library
  recipes/freetype/meson/conanfile.py
Due: lint-recipes, lint-test_package

Build version 2.13.0 with Meson as well and remove tool_requires cmake
  recipes/freetype/all/conandata.yml
  recipes/freetype/config.yml
  recipes/freetype/meson/conandata.yml
  recipes/freetype/meson/test_package/conanfile.py
  recipes/freetype/meson/test_package_module/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

solve some comments
  recipes/mariadb-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Rename the patch file
  recipes/freetype/meson/conandata.yml
  recipes/freetype/meson/patches/2.13.0-0001-meson-Use-the-standard-dependency-mechanism-to-find-.patch
Due: lint-yaml-scheme, check-yaml-scheme

Fix build requirements
  recipes/mariadb-connector-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

roaring: add version 3.0.0
  recipes/roaring/all/conandata.yml
  recipes/roaring/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add cpptrace 0.5.1
  recipes/cpptrace/all/conandata.yml
  recipes/cpptrace/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update 0.8.0
  recipes/reflect-cpp/all/conandata.yml
  recipes/reflect-cpp/all/conanfile.py
  recipes/reflect-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openjdk: add version 21.0.2
  recipes/openjdk/all/conandata.yml
  recipes/openjdk/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

glaze: add version 2.3.1
  recipes/glaze/all/conandata.yml
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#22076) openjdk fix JAVA_HOME environment variable
  recipes/openjdk/all/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
