Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

libva: add version 2.21.0
  recipes/libva/all/conandata.yml
  recipes/libva/all/test_package/conanfile.py
  recipes/libva/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#24021) libbsd: Fix check if getentropy needs building
  recipes/libbsd/all/conandata.yml
  recipes/libbsd/all/patches/0002-fix-getentropy-conditional.patch
Due: lint-yaml-scheme, check-yaml-scheme

(#24024) vincentlaucsb-csv-parser: add version 2.2.2
  recipes/vincentlaucsb-csv-parser/all/conandata.yml
  recipes/vincentlaucsb-csv-parser/all/conanfile.py
  recipes/vincentlaucsb-csv-parser/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/zserio/all/conanfile.py
  recipes/zserio/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix indentation
  recipes/zserio/all/conanfile.py
Due: lint-recipes, lint-test_package

Updated openblas from validate to validate_build
  recipes/openblas/all/conanfile.py
Due: lint-recipes, lint-test_package

Minor refactors before merging
  recipes/dd-opentracing-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Add missing m system lib
  recipes/platformfolders/all/conanfile.py
Due: lint-recipes, lint-test_package

[sail] Bump version to 0.9.5
  recipes/sail/all/conandata.yml
  recipes/sail/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18816) dd-opentracing-cpp: migrate to Conan v2
  recipes/dd-opentracing-cpp/all/CMakeLists.txt
  recipes/dd-opentracing-cpp/all/conandata.yml
  recipes/dd-opentracing-cpp/all/conanfile.py
  recipes/dd-opentracing-cpp/all/patches/1.3.0/0001-Find-packages-setup.patch
  recipes/dd-opentracing-cpp/all/patches/1.3.7/0001-Find-packages-setup.patch
  recipes/dd-opentracing-cpp/all/test_package/CMakeLists.txt
  recipes/dd-opentracing-cpp/all/test_package/conanfile.py
  recipes/dd-opentracing-cpp/all/test_v1_package/CMakeLists.txt
  recipes/dd-opentracing-cpp/all/test_v1_package/conanfile.py
  recipes/dd-opentracing-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add missing system lib in windows
  recipes/kealib/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22614) async_simple: add 1.3, reinstate msvc, add compiled version
  recipes/async_simple/all/conandata.yml
  recipes/async_simple/all/conanfile.py
  recipes/async_simple/all/patches/disable-asan-1.0.patch
  recipes/async_simple/all/test_package/CMakeLists.txt
  recipes/async_simple/all/test_package/conanfile.py
  recipes/async_simple/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#23270) platformfolders: add new recipe for platformfolders
  recipes/platformfolders/all/conandata.yml
  recipes/platformfolders/all/conanfile.py
  recipes/platformfolders/all/test_package/CMakeLists.txt
  recipes/platformfolders/all/test_package/conanfile.py
  recipes/platformfolders/all/test_package/test_package.cpp
  recipes/platformfolders/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#24036) libva: add version 2.21.0
  recipes/libva/all/conandata.yml
  recipes/libva/all/test_package/conanfile.py
  recipes/libva/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/openscenegraph/all/conanfile.py
  recipes/openscenegraph/all/conanfile.py
Due: lint-recipes, lint-test_package

glaze: add version 2.6.5
  recipes/glaze/all/conandata.yml
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

behaviortree.cpp: add version 4.6.1
  recipes/behaviortree.cpp/all/conandata.yml
  recipes/behaviortree.cpp/all/conanfile.py
  recipes/behaviortree.cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

samurai: add version 0.13.0
  recipes/samurai/all/conandata.yml
  recipes/samurai/all/conanfile.py
  recipes/samurai/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

objectbox: add version 4.0.0
  recipes/objectbox/all/conandata.yml
  recipes/objectbox/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

poppler: migrate to Conan v2
  recipes/poppler/all/CMakeLists.txt
  recipes/poppler/all/conandata.yml
  recipes/poppler/all/conanfile.py
  recipes/poppler/all/test_package/CMakeLists.txt
  recipes/poppler/all/test_package/conanfile.py
  recipes/poppler/all/test_v1_package/CMakeLists.txt
  recipes/poppler/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

poppler: drop v20
  recipes/poppler/all/conandata.yml
  recipes/poppler/all/patches/20/0001-cmake-use-PROJECT_SOURCE_DIR-fix-CMAKE_MODULE_PATH.patch
  recipes/poppler/all/patches/20/0002-cmake-use_CONAN_PKG-targets.patch
  recipes/poppler/all/patches/20/0003-cmake-disable-tests.patch
  recipes/poppler/all/patches/20/0004-add-POPPLER_DATADIR-environment-variable.patch
  recipes/poppler/all/patches/20/0005-fix-visual-studio-basetsd.h-libjpeg-INT32.patch
  recipes/poppler/all/patches/20/0006-missing-symbol-dll-windows.patch
  recipes/poppler/all/patches/20/0007-cmake-use_conan_qt.patch
  recipes/poppler/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

poppler: add openssl as explicit dependency
  recipes/poppler/all/conanfile.py
Due: lint-recipes, lint-test_package

poppler: add latest version
  recipes/poppler/all/conandata.yml
  recipes/poppler/all/conanfile.py
  recipes/poppler/all/patches/23/0004-add-POPPLER_DATADIR-environment-variable.patch
  recipes/poppler/all/patches/23/0007-cmake-use_conan_qt.patch
  recipes/poppler/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

poppler: drop v21.07.0
  recipes/poppler/all/conandata.yml
  recipes/poppler/all/conanfile.py
  recipes/poppler/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

poppler: migrate
  recipes/poppler/all/conandata.yml
  recipes/poppler/all/conanfile.py
  recipes/poppler/all/patches/21/0001-cmake-use-PROJECT_SOURCE_DIR-fix-CMAKE_MODULE_PATH.patch
  recipes/poppler/all/patches/21/0002-cmake-use_CONAN_PKG-targets.patch
  recipes/poppler/all/patches/21/0007-cmake-use_conan_qt.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

poppler: require CMake 3.16+
  recipes/poppler/all/conanfile.py
Due: lint-recipes, lint-test_package

poppler: fix check_min_cppstd check
  recipes/poppler/all/conanfile.py
Due: lint-recipes, lint-test_package

poppler: fix test_v1_package
  recipes/poppler/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

poppler: workaround for the linking issue with Conan v1
  recipes/poppler/all/conanfile.py
Due: lint-recipes, lint-test_package
