Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

Update config.yml
  recipes/cppcheck/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18324) uvw: add version 3.2.0
  recipes/uvw/all/conandata.yml
  recipes/uvw/all/conanfile.py
  recipes/uvw/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update conandata.yml
  recipes/cppcheck/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

bison: fix building on Windows with Conan 2.0
  recipes/bison/all/conanfile.py
Due: lint-recipes, lint-test_package

bison: fixes
  recipes/bison/all/conanfile.py
Due: lint-recipes, lint-test_package

bump
  recipes/nanoflann/all/conandata.yml
  recipes/nanoflann/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

disable dmake with option
  recipes/cppcheck/all/conandata.yml
  recipes/cppcheck/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Use original repository for downloads
  recipes/tclap/all/conandata.yml
  recipes/tclap/all/conanfile.py
  recipes/tclap/all/test_package/CMakeLists.txt
  recipes/tclap/all/test_package/conanfile.py
  recipes/tclap/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#18331) libtiff/all: bump deps
  recipes/libtiff/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix #15324
  recipes/swig/all/conanfile.py
Due: lint-recipes, lint-test_package

Add required patches fields
  recipes/swig/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Bump dependency to pcre2
  recipes/swig/all/conanfile.py
Due: lint-recipes, lint-test_package

Add sources for swig/4.1.1
  recipes/swig/all/conandata.yml
  recipes/swig/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add license file to package
  recipes/nanort/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18279) libcoro: add version 0.8
  recipes/libcoro/all/conandata.yml
  recipes/libcoro/all/conanfile.py
  recipes/libcoro/all/patches/0.7-0001-allow-shared-lib.patch
  recipes/libcoro/all/patches/0.7-0002-disable-git-config.patch
  recipes/libcoro/all/patches/0.7-0003-fix-dependencies.patch
  recipes/libcoro/all/patches/0.8-0001-allow-shared-lib.patch
  recipes/libcoro/all/patches/0.8-0002-disable-git-config.patch
  recipes/libcoro/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Define as final
  recipes/cyclonedds/all/test_package/test_message.idl
Due: none

Add 1.9.5 to config.yml
  recipes/pkgconf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Ruby: support conan v2 and expose more configuration options for native extension gems. Reboots #12456 and #12208
  recipes/ruby/all/conandata.yml
  recipes/ruby/all/conanfile.py
  recipes/ruby/all/test_package/conanfile.py
  recipes/ruby/all/test_package/test_package.c
  recipes/ruby/all/test_package/test_package.cpp
  recipes/ruby/all/test_v1_package/CMakeLists.txt
  recipes/ruby/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Reuse 1.9.3 patch for 1.9.5
  recipes/pkgconf/all/conandata.yml
  recipes/pkgconf/all/patches/1.9.5-0001-PKG_CONF_PATH-allow-colon+semicolon-separator.patch
Due: lint-yaml-scheme, check-yaml-scheme

(#18244) thelink2012-any: migrate to Conan v2
  recipes/thelink2012-any/all/conanfile.py
  recipes/thelink2012-any/all/test_package/CMakeLists.txt
  recipes/thelink2012-any/all/test_package/conanfile.py
  recipes/thelink2012-any/all/test_v1_package/CMakeLists.txt
  recipes/thelink2012-any/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

bump libwebp version
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

(#18334) nanoflann: add version 1.5.0
  recipes/nanoflann/all/conandata.yml
  recipes/nanoflann/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18241) quaternions: migrate to Conan v2
  recipes/quaternions/all/conanfile.py
  recipes/quaternions/all/test_package/CMakeLists.txt
  recipes/quaternions/all/test_package/conanfile.py
  recipes/quaternions/all/test_v1_package/CMakeLists.txt
  recipes/quaternions/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

imgui: add version 1.89.7, 1.89.7-docking
  recipes/imgui/all/conandata.yml
  recipes/imgui/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18204) p-ranav-glob: migrate to Conan v2
  recipes/p-ranav-glob/all/conanfile.py
  recipes/p-ranav-glob/all/test_package/CMakeLists.txt
  recipes/p-ranav-glob/all/test_package/conanfile.py
  recipes/p-ranav-glob/all/test_v1_package/CMakeLists.txt
  recipes/p-ranav-glob/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#18328) Bump/sdl image/all
  recipes/sdl_image/all/conanfile.py
Due: lint-recipes, lint-test_package

add test v1 package
  recipes/tclap/all/test_v1_package/CMakeLists.txt
  recipes/tclap/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#18197) avir: add package_type
  recipes/avir/all/conanfile.py
  recipes/avir/all/test_package/CMakeLists.txt
  recipes/avir/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

(#18167) access_private: add package_type
  recipes/access_private/all/conanfile.py
  recipes/access_private/all/test_v1_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

(#18154) platform.hashing: add version 0.5.5, support conan v2
  recipes/platform.hashing/all/conandata.yml
  recipes/platform.hashing/all/conanfile.py
  recipes/platform.hashing/all/test_package/CMakeLists.txt
  recipes/platform.hashing/all/test_package/conanfile.py
  recipes/platform.hashing/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme
