Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

glfw: remove vulkan_static option for version 3.4
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix paths
  recipes/pipewire/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/pipewire/all/conanfile.py
  recipes/pipewire/all/conanfile.py
Due: lint-recipes, lint-test_package

Remove glob import
  recipes/pipewire/all/conanfile.py
Due: lint-recipes, lint-test_package

libjxl: add v0.8.2 for GDAL
  recipes/libjxl/all/conandata.yml
  recipes/libjxl/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#23271) hictk: add v0.0.11, bump deps and add missing define
  recipes/hictk/all/conandata.yml
  recipes/hictk/all/conanfile.py
  recipes/hictk/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#22449) boost: fix for ppc compile
  recipes/boost/all/conanfile.py
Due: lint-recipes, lint-test_package

imath: add v3.1.11, drop old versions
  recipes/imath/all/conandata.yml
  recipes/imath/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libxml2: add v2.12.6, drop some unused and vulnerable versions
  recipes/libxml2/all/conandata.yml
  recipes/libxml2/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update recipes/libsrtp/all/conanfile.py
  recipes/libsrtp/all/conanfile.py
Due: lint-recipes, lint-test_package

qt/5: Use libglvnd on FreeBSD and Linux
  recipes/qt/5.x.x/conanfile.py
Due: lint-recipes, lint-test_package

qt/6: Use libglvnd on FreeBSD and Linux
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Don't use ftpmirror.gnu.org, as it might fail
  recipes/autoconf/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

giflib: add version 5.2.2
  recipes/giflib/5.2.x/conandata.yml
  recipes/giflib/5.2.x/patches/5.2.2-0001-msvc-unistd.patch
  recipes/giflib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

glaze: add version 2.3.3
  recipes/glaze/all/conandata.yml
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

cmake: add version `3.29.0`
  recipes/cmake/binary/conandata.yml
  recipes/cmake/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

zstd: add version 1.5.6
  recipes/zstd/all/conandata.yml
  recipes/zstd/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update 3.2
  recipes/wiringpi/all/conandata.yml
  recipes/wiringpi/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

link math lib
  recipes/libftp/all/conanfile.py
Due: lint-recipes, lint-test_package

Split recipe into v1 and v2 folders
  recipes/libassert/all/test_package/CMakeLists.txt
  recipes/libassert/config.yml
  recipes/libassert/v1/conandata.yml
  recipes/libassert/v1/conanfile.py
  recipes/libassert/v1/patches/1.0/0001-add-cstring-include.patch
  recipes/libassert/v1/patches/1.0/0002-cmake-backport.patch
  recipes/libassert/v1/patches/1.0/0003-fix-max_line_number_width-miscalculation.patch
  recipes/libassert/v1/patches/1.1/0001-fix-max_line_number_width-miscalculation.patch
  recipes/libassert/v1/patches/1.1/0002-binary_diagnostics_descriptor-noexcept.patch
  recipes/libassert/v1/patches/1.1/0003-cmake-windows.patch
  recipes/libassert/v1/patches/1.2.1/0001-cpptrace-dll-copy.patch
  recipes/libassert/v1/patches/1.2.2/0001-cpptrace-dll-copy.patch
  recipes/libassert/v1/test_package/CMakeLists.txt
  recipes/libassert/v1/test_package/conanfile.py
  recipes/libassert/v1/test_package/test_package.cpp
  recipes/libassert/v1/test_v1_package/CMakeLists.txt
  recipes/libassert/v1/test_v1_package/conanfile.py
  recipes/libassert/v2/conandata.yml
  recipes/libassert/v2/conanfile.py
  recipes/libassert/v2/patches/2.0.0/0001-fix-export-and-include.patch
  recipes/libassert/v2/test_package/CMakeLists.txt
  recipes/libassert/v2/test_package/conanfile.py
  recipes/libassert/v2/test_package/test_package.cpp
  recipes/libassert/v2/test_v1_package/CMakeLists.txt
  recipes/libassert/v2/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Improved virtual environment setup
  recipes/qwt/all/conanfile.py
Due: lint-recipes, lint-test_package

Switch to fixed version for Qt requirement
  recipes/qwt/all/conanfile.py
Due: lint-recipes, lint-test_package

Added check for Qt version
  recipes/qwt/all/conanfile.py
Due: lint-recipes, lint-test_package

glfw: don't link platform libraries from version 3.4
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

qt 6.6.3
  recipes/qt/6.x.x/conandata.yml
  recipes/qt/6.x.x/qtmodules6.6.3.conf
  recipes/qt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#23284) cmake: add version `3.29.0`
  recipes/cmake/binary/conandata.yml
  recipes/cmake/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add v2.1.1
  recipes/reactiveplusplus/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

fontconfig: add option to use system directories
  recipes/fontconfig/meson/conanfile.py
Due: lint-recipes, lint-test_package

(#23239) Alembic: bump imath to 3.1.10 - Avoid conflict with Openvdb 11.0.0
  recipes/alembic/all/conanfile.py
Due: lint-recipes, lint-test_package

(#23125) sdl: add version 2.30.1
  recipes/sdl/all/conandata.yml
  recipes/sdl/all/conanfile.py
  recipes/sdl/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

RtMidi: Add https & http URLs as alternatives
  recipes/rtmidi/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

add invalid config for windows shared
  recipes/libftp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#23237) rabbitmq-c: add version 0.14.0
  recipes/rabbitmq-c/all/conandata.yml
  recipes/rabbitmq-c/all/conanfile.py
  recipes/rabbitmq-c/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Fix missing GUI requirement on egl/system
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package
