Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

Run python2 version check via subprocess to capture stderr output.
  recipes/qt/5.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Update branch
  recipes/qt/6.x.x/conandata.yml
  recipes/qt/6.x.x/patches/148895_0001-Fix-FTBFS-qt-6.6.0-on-gcc-9.patch
Due: lint-yaml-scheme, check-yaml-scheme

Add patches
  recipes/sentry-native/all/0.4.18-0001-remove-third-pary-lss.patch
  recipes/sentry-native/all/0.4.18-0002-install-breakpad-header.patch
  recipes/sentry-native/all/0.5.4-0001-remove-third-pary-lss.patch
  recipes/sentry-native/all/0.5.4-0002-install-breakpad-header.patch
  recipes/sentry-native/all/0.6.x-0001-remove-third-pary-lss.patch
  recipes/sentry-native/all/0.6.x-0002-install-breakpad-header.patch
  recipes/sentry-native/all/patches/0.6.5-0001-fix-for-gcc13.patch
Due: none

Make wayland-protocols a tool_requires
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix version comparison
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix X11 requirement
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

Wrap self.version with Version
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix required Conan version
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

Add wayland-protocols as build-context activated
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

do not require xorg for non-Linux platforms
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

update required_conan_version due to host_version in build requirements
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

better way to handle CMake variables related to x11 and wayland and fix version comparison related to these options
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

do not add wayland in build requirements if 1 profile as it may lead to conflicts impossible to resolve for consumers
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

gamenetworkingsockets: add VirtualBuildEnv
  recipes/gamenetworkingsockets/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20072) libarchive: add version 3.7.2
  recipes/libarchive/all/conandata.yml
  recipes/libarchive/all/patches/0001-3.7.2-zlib-winapi.patch
  recipes/libarchive/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

move wayland-protocols to build requirements
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

add sofa/20231011
  recipes/sofa/all/conandata.yml
  recipes/sofa/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

certify: bump deps
  recipes/certify/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/certify/all/conanfile.py
  recipes/certify/all/conanfile.py
Due: lint-recipes, lint-test_package

Update config.yml
  recipes/b-multi/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update conanfile.py remove version
  recipes/b-multi/all/conanfile.py
Due: lint-recipes, lint-test_package

perfetto: Bump version: 39.0
  recipes/perfetto/all/conandata.yml
  recipes/perfetto/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Delete recipes/b-multi/config,yml
  recipes/b-multi/config,yml
Due: none

(#19194) Bump opencv/4.8.1
  recipes/opencv/4.x/conandata.yml
  recipes/opencv/4.x/conanfile.py
  recipes/opencv/4.x/patches/4.8.1-0001-find-ade.patch
  recipes/opencv/4.x/patches/4.8.1-0002-mingw-disable-obsensor.patch
  recipes/opencv/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Try to handle win32 dll scenario
  recipes/cyclonedds-cxx/all/cmake/CycloneDDS-CXX_idlcxx.cmake
Due: none

Replace deprecated license ID
  recipes/fltk/all/conanfile.py
Due: lint-recipes, lint-test_package

opencv/4.x: bump deps
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

pcl/all: bump deps
  recipes/pcl/all/conanfile.py
Due: lint-recipes, lint-test_package

Update config.yml add new line
  recipes/b-multi/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19551) Add snitch 1.2.3
  recipes/snitch/all/conandata.yml
  recipes/snitch/all/conanfile.py
  recipes/snitch/all/test_package/100-standalone.cpp
  recipes/snitch/all/test_package/200-standalone-with-shorthand.cpp
  recipes/snitch/all/test_package/CMakeLists.txt
  recipes/snitch/all/test_package/conanfile.py
  recipes/snitch/all/test_v1_package/CMakeLists.txt
  recipes/snitch/all/test_v1_package/conanfile.py
  recipes/snitch/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#20648) freetype: add version 2.13.2
  recipes/freetype/all/conandata.yml
  recipes/freetype/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

lightgbm: enable llvm-openmp
  recipes/lightgbm/all/conanfile.py
Due: lint-recipes, lint-test_package

lightgbm: unvendor Eigen fully
  recipes/lightgbm/all/conanfile.py
Due: lint-recipes, lint-test_package

lightgbm: migrate to Conan v2, add v4.0.0
  recipes/lightgbm/all/CMakeLists.txt
  recipes/lightgbm/all/conandata.yml
  recipes/lightgbm/all/conanfile.py
  recipes/lightgbm/all/patches/0001-fix-includes.patch
  recipes/lightgbm/all/patches/0002-fix-openmp-clang.patch
  recipes/lightgbm/all/patches/0003-fix-openmp-clang.patch
  recipes/lightgbm/all/test_package/CMakeLists.txt
  recipes/lightgbm/all/test_package/conanfile.py
  recipes/lightgbm/all/test_v1_package/CMakeLists.txt
  recipes/lightgbm/all/test_v1_package/conanfile.py
  recipes/lightgbm/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lightgbm: bump version
  recipes/lightgbm/all/conandata.yml
  recipes/lightgbm/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
