Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

xtensor: add version 0.24.3, update xtl
  recipes/xtensor/all/conandata.yml
  recipes/xtensor/all/conanfile.py
  recipes/xtensor/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Added objdump to system_libs
  recipes/msys2/all/conanfile.py
Due: lint-recipes, lint-test_package

libm not on Windows
  recipes/gmp/all/conanfile.py
Due: lint-recipes, lint-test_package

fast_float: add version 3.9.0, remove older versions
  recipes/fast_float/all/conandata.yml
  recipes/fast_float/all/test_v1_package/CMakeLists.txt
  recipes/fast_float/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Make gmp a requirement
  recipes/isl/all/conanfile.py
Due: lint-recipes, lint-test_package

Removed autoconf as a build_requirement
  recipes/automake/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

cppbenchmark: add 1.0.3.0, support conan v2
  recipes/cppbenchmark/all/CMakeLists.txt
  recipes/cppbenchmark/all/conandata.yml
  recipes/cppbenchmark/all/conanfile.py
  recipes/cppbenchmark/all/patches/00001-update-cmakelists.patch
  recipes/cppbenchmark/all/patches/1.0.0.0-0001-fix-cmake.patch
  recipes/cppbenchmark/all/patches/1.0.3.0-0001-fix-cmake.patch
  recipes/cppbenchmark/all/test_package/CMakeLists.txt
  recipes/cppbenchmark/all/test_package/conanfile.py
  recipes/cppbenchmark/all/test_package/test_package.cpp
  recipes/cppbenchmark/all/test_v1_package/CMakeLists.txt
  recipes/cppbenchmark/all/test_v1_package/conanfile.py
  recipes/cppbenchmark/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

flatbuffers: add 23.1.4, update cmake
  recipes/flatbuffers/all/patches/0001-fix-copy-ctor.patch
Due: none

flatbuffers: add 23.1.4, update cmake
  recipes/flatbuffers/all/conandata.yml
  recipes/flatbuffers/all/conanfile.py
  recipes/flatbuffers/all/test_v1_package/CMakeLists.txt
  recipes/flatbuffers/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

check cmake version
  recipes/cppbenchmark/all/conanfile.py
Due: lint-recipes, lint-test_package

hidapi: add version 0.13.1
  recipes/hidapi/all/conandata.yml
  recipes/hidapi/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

itlib: add version 1.8.2, remove older versions
  recipes/itlib/all/conandata.yml
  recipes/itlib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

librdkafka: add version 2.0.2, update libcurl
  recipes/librdkafka/all/conandata.yml
  recipes/librdkafka/all/conanfile.py
  recipes/librdkafka/all/patches/0002-Change-library-targets-and-result-variables-2-0-2.patch
  recipes/librdkafka/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Removed blank line to re-run CI build
  recipes/gmp/all/conanfile.py
Due: lint-recipes, lint-test_package

simdutf: add version 3.1.0, remove older versions
  recipes/simdutf/all/conandata.yml
  recipes/simdutf/all/patches/2.0.2-0001-fix-cmake.patch
  recipes/simdutf/all/patches/2.0.2-0002-add-workaround-gcc9.patch
  recipes/simdutf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update 4.9.1
  recipes/wt/all/conandata.yml
  recipes/wt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Account for path differences with Conan 2.0
  recipes/mpfr/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15271) qt/5.x.x: Add configure_verbose and build_silent options
  recipes/qt/5.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Fix build folder
  recipes/libverto/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix licenses and *.pc
  recipes/libverto/all/conanfile.py
Due: lint-recipes, lint-test_package

Patch to produce static libraries on MinGW
  recipes/libpq/all/conandata.yml
  recipes/libpq/all/conanfile.py
  recipes/libpq/all/patches/10.20/002-mingw-build-static-libraries.patch
  recipes/libpq/all/patches/11.15/002-mingw-build-static-libraries.patch
  recipes/libpq/all/patches/12.10/002-mingw-build-static-libraries.patch
  recipes/libpq/all/patches/13.6/002-mingw-build-static-libraries.patch
  recipes/libpq/all/patches/14.2/002-mingw-build-static-libraries.patch
  recipes/libpq/all/patches/14.5/002-mingw-build-static-libraries.patch
  recipes/libpq/all/patches/9.6.24/002-mingw-build-static-libraries.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Fix lint issues
  recipes/libpq/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Fix missing libpq.dll.a file on non-windows build
  recipes/libpq/all/patches/10.20/002-mingw-build-static-libraries.patch
  recipes/libpq/all/patches/11.15/002-mingw-build-static-libraries.patch
  recipes/libpq/all/patches/12.10/002-mingw-build-static-libraries.patch
  recipes/libpq/all/patches/13.6/002-mingw-build-static-libraries.patch
  recipes/libpq/all/patches/14.2/002-mingw-build-static-libraries.patch
  recipes/libpq/all/patches/14.5/002-mingw-build-static-libraries.patch
  recipes/libpq/all/patches/9.6.24/002-mingw-build-static-libraries.patch
Due: none

zpp_bits: add 4.4.13, remove wrong version
  recipes/zpp_bits/all/conandata.yml
  recipes/zpp_bits/all/conanfile.py
  recipes/zpp_bits/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

wasmtime: add version 5.0.0
  recipes/wasmtime/all/conandata.yml
  recipes/wasmtime/all/conanfile.py
  recipes/wasmtime/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#15234) flex: conan v2 support
  recipes/flex/all/conandata.yml
  recipes/flex/all/conanfile.py
  recipes/flex/all/patches/darwin-newer-versions.patch
  recipes/flex/all/test_package/test_yywrap.c
  recipes/flex/all/test_v1_package/CMakeLists.txt
  recipes/flex/all/test_v1_package/basic_nr.l
  recipes/flex/all/test_v1_package/basic_nr.txt
  recipes/flex/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

qcbor: add version 1.2
  recipes/qcbor/all/conandata.yml
  recipes/qcbor/all/conanfile.py
  recipes/qcbor/all/patches/1.2-0001-fix-cmake.patch
  recipes/qcbor/all/test_v1_package/CMakeLists.txt
  recipes/qcbor/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

revert disable_float option
  recipes/qcbor/all/conanfile.py
Due: lint-recipes, lint-test_package

[doc] Update supported platforms and configurations
  docs/supported_platforms_and_configurations.md
Due: none

[libtool] define DYLD_LIBRARY_PATH for autotools test
  recipes/libtool/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Revert "[cairo] disable autotools build for macos"
  recipes/cairo/all/conanfile.py
Due: lint-recipes, lint-test_package

Revert "Revert update of autotools build to new toolchain"
  recipes/cairo/all/conandata.yml
  recipes/cairo/all/conanfile.py
  recipes/cairo/all/test_package/CMakeLists.txt
  recipes/cairo/all/test_package/conanfile.py
  recipes/cairo/all/test_package/test_package.c
  recipes/cairo/all/test_v1_package/CMakeLists.txt
  recipes/cairo/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

[cairo] bump dependencies
  recipes/cairo/all/conanfile.py
  recipes/cairo/meson/conanfile.py
Due: lint-recipes, lint-test_package

[glibmm] bump glib version
  recipes/glibmm/all/conanfile.py
Due: lint-recipes, lint-test_package

[cairo] disable msvc build where LNK1127 error manifests
  recipes/cairo/all/conanfile.py
Due: lint-recipes, lint-test_package

confu_json: add version 1.0.0, support conan v2
  recipes/confu_json/all/conandata.yml
  recipes/confu_json/all/conanfile.py
  recipes/confu_json/all/test_package/CMakeLists.txt
  recipes/confu_json/all/test_package/conanfile.py
  recipes/confu_json/all/test_package/test_package.cpp
  recipes/confu_json/all/test_v1_package/CMakeLists.txt
  recipes/confu_json/all/test_v1_package/conanfile.py
  recipes/confu_json/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

h3: add version 4.1.0
  recipes/h3/all/conandata.yml
  recipes/h3/all/conanfile.py
  recipes/h3/all/test_package/CMakeLists.txt
  recipes/h3/all/test_package/test_package.c
  recipes/h3/all/test_v1_package/CMakeLists.txt
  recipes/h3/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add end line
  recipes/h3/all/test_package/test_package.c
Due: none

remove pylint
  recipes/h3/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
