Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

compilation fix
  recipes/up-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Add 1.15.1 patch
  recipes/onnxruntime/all/conandata.yml
  recipes/onnxruntime/all/patches/1.15.1-0002-fix-attention-15983.patch
Due: lint-yaml-scheme, check-yaml-scheme

Update recipes/opendis6/all/conanfile.py
  recipes/opendis6/all/conanfile.py
Due: lint-recipes, lint-test_package

fpic
  recipes/up-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix path separator in Windows
  recipes/etcd-cpp-apiv3/all/conanfile.py
Due: lint-recipes, lint-test_package

(#22699) Add cppcheck 2.13.3
  recipes/cppcheck/all/conandata.yml
  recipes/cppcheck/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fixing compilation
  recipes/up-cpp/all/conandata.yml
  recipes/up-cpp/all/conanfile.py
  recipes/up-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

adding license
  recipes/up-cpp/all/conandata.yml
  recipes/up-cpp/all/conanfile.py
  recipes/up-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

adding license
  recipes/up-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

stale: enable cache
  .github/workflows/stale.yml
Due: lint-yaml-scheme, check-yaml-scheme

adding static
  recipes/up-cpp/all/conandata.yml
  recipes/up-cpp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

static
  recipes/up-cpp/all/conandata.yml
  recipes/up-cpp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

deleting fpic
  recipes/up-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/opendis6/all/test_package/CMakeLists.txt
  recipes/opendis6/all/test_package/CMakeLists.txt
Due: none

Revert checksum for c-blosc2
  recipes/c-blosc2/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#22668) [config] Add waitaing list for users in authorized users
  .c3i/authorized_users.yml
  .c3i/config_v1.yml
  .c3i/config_v2.yml
  .c3i/waitlist_users.yml
  docs/faqs.md
Due: lint-yaml-scheme, check-yaml-scheme

openblas: (lint) fix fstring issue (2)
  recipes/openblas/all/conanfile.py
Due: lint-recipes, lint-test_package

openblas: update cross-building check
  recipes/openblas/all/conanfile.py
Due: lint-recipes, lint-test_package

remove glib types
  recipes/libucl/all/conandata.yml
  recipes/libucl/all/patches/0006-0.9.0-remove-glib-types.patch
Due: lint-yaml-scheme, check-yaml-scheme

more topics
  recipes/c-blosc2/all/conanfile.py
Due: lint-recipes, lint-test_package

fix: Build with clang and llvm std lib
  recipes/cantera/all/conanfile.py
Due: lint-recipes, lint-test_package

stringzilla: add version 3.0.0
  recipes/stringzilla/all/conandata.yml
  recipes/stringzilla/all/conanfile.py
  recipes/stringzilla/all/test_package/CMakeLists.txt
  recipes/stringzilla/all/test_package/test_package.cpp
  recipes/stringzilla/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

aws-c-auth: update dependencies
  recipes/aws-c-auth/all/conanfile.py
Due: lint-recipes, lint-test_package

sqlcipher: Add 4.5.6
  recipes/sqlcipher/all/conandata.yml
  recipes/sqlcipher/all/conanfile.py
  recipes/sqlcipher/all/patches/Makefile.in-v4.5.6.patch
  recipes/sqlcipher/all/patches/Makefile.msc-v4.5.6.patch
  recipes/sqlcipher/all/patches/fix_configure-v4.5.6.patch
  recipes/sqlcipher/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Unvendor sqlite, add option to remove entirely
  recipes/tcl/all/conanfile.py
Due: lint-recipes, lint-test_package

Add extra folders to package to fix apple install names
  recipes/tcl/all/conanfile.py
Due: lint-recipes, lint-test_package

Update to 3.12.2 and 3.11.8
  recipes/cpython/all/conandata.yml
  recipes/cpython/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add -Wl,--as-needed
  recipes/tcl/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21239) xkbcommon: put wayland-protocols in build requirements irrespective of one or dual profile + bump dependencies
  recipes/xkbcommon/all/conanfile.py
Due: lint-recipes, lint-test_package

Add changelog 07-February-2024
  docs/changelog.md
Due: none

Fix apple shared install name
  recipes/tk/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19226) pixman: fix static and allow shared MSVC build
  recipes/pixman/all/conandata.yml
  recipes/pixman/all/conanfile.py
  recipes/pixman/all/patches/0003-meson-static-build.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme
