Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#21013) base64: add version 0.5.1
  recipes/base64/all/conandata.yml
  recipes/base64/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Standardize SDL 'requires' to prevent conflicts
  recipes/ffmpeg/all/conanfile.py
  recipes/magnum/all/conanfile.py
  recipes/ogre/1.x/conanfile.py
  recipes/sdl_image/all/conanfile.py
  recipes/sdl_mixer/all/conanfile.py
  recipes/sdl_net/all/conanfile.py
  recipes/sdl_ttf/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21011) cimg: update openexr/3.2.1
  recipes/cimg/all/conanfile.py
Due: lint-recipes, lint-test_package

Upgrade SDL 'requires' in sdl_ttf
  recipes/sdl_ttf/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21009) aws-c-io: add version 0.13.35
  recipes/aws-c-io/all/conandata.yml
  recipes/aws-c-io/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Improve description of patch required for non-CWG 1270 revision compliant compilers.
  recipes/fast-cdr/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

hdf5: add version 1.14.3
  recipes/hdf5/all/conandata.yml
  recipes/hdf5/all/conanfile.py
  recipes/hdf5/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

aws-c-http: add version 0.7.14, update dependencies
  recipes/aws-c-http/all/conandata.yml
  recipes/aws-c-http/all/conanfile.py
  recipes/aws-c-http/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

aws-checksums: update aws-c-common/0.9.6
  recipes/aws-checksums/all/conanfile.py
Due: lint-recipes, lint-test_package

remove replace_in_files
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package

fixed linting
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package

update package hash
  recipes/very-simple-smtps/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

add release 1.0.0 uri
  recipes/very-simple-smtps/all/conandata.yml
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

remove debug output
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package

fix linting errors
  recipes/very-simple-smtps/all/conandata.yml
  recipes/very-simple-smtps/all/conanfile.py
  recipes/very-simple-smtps/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

fix warnings in conan file
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package

Handle PR feedback
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package

set fPic to false
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package

add linker arguments for sanitize
  recipes/very-simple-smtps/all/test_package/meson.build
Due: none

lets try with collect_libs
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package

remove .a library files for shared builds
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package

test package works
  recipes/very-simple-smtps/all/conandata.yml
  recipes/very-simple-smtps/all/conanfile.py
  recipes/very-simple-smtps/all/test_package/conanfile.py
  recipes/very-simple-smtps/all/test_package/meson.build
  recipes/very-simple-smtps/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

updated release hash
  recipes/very-simple-smtps/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

package can only be built on linux
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package

fix library name
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package

allow builds on other platforms
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package

remove macos clang from supported builds
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package

copied tempalte meson package from docs
  recipes/very-simple-smtps/all/conandata.yml
  recipes/very-simple-smtps/all/conanfile.py
  recipes/very-simple-smtps/all/test_package/conanfile.py
  recipes/very-simple-smtps/all/test_package/meson.build
  recipes/very-simple-smtps/all/test_package/test_package.cpp
  recipes/very-simple-smtps/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

create test package
  recipes/very-simple-smtps/all/conandata.yml
  recipes/very-simple-smtps/all/conanfile.py
  recipes/very-simple-smtps/all/test_package/meson.build
  recipes/very-simple-smtps/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

clang cannot build with libc++ and can only be built on linux
  recipes/very-simple-smtps/all/conanfile.py
Due: lint-recipes, lint-test_package

removed missed comments
  recipes/very-simple-smtps/all/conanfile.py
  recipes/very-simple-smtps/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Fix SFML linker error on Linux
  recipes/sfml/all/conanfile.py
Due: lint-recipes, lint-test_package

whisper-cpp: add version 1.4.3
  recipes/whisper-cpp/all/conandata.yml
  recipes/whisper-cpp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libpqxx: remove outdated versions
  recipes/libpqxx/all/conandata.yml
  recipes/libpqxx/all/patches/fix-apple-clang-compilation-7.4.0.patch
  recipes/libpqxx/all/patches/fix-clang-compilation-7.7.0.patch
  recipes/libpqxx/all/patches/fix-install-library-symlink-7.7.2.patch
  recipes/libpqxx/all/patches/fix-missing-limits-include.patch
  recipes/libpqxx/all/patches/fix-not-declared-dumb_stringstream-7.0.1_to_7.0.5.patch
  recipes/libpqxx/all/patches/fix-not-declared-dumb_stringstream-7.0.6_to_7.0.7.patch
  recipes/libpqxx/all/patches/fix-not-declared-dumb_stringstream-7.1.1.patch
  recipes/libpqxx/all/patches/stop-using-strnlen-7.2.1.patch
  recipes/libpqxx/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

bump libpq
  recipes/libpqxx/all/conanfile.py
Due: lint-recipes, lint-test_package

aws-c-io: remove old versions
  recipes/aws-c-io/all/conandata.yml
  recipes/aws-c-io/all/conanfile.py
  recipes/aws-c-io/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

aws-c-cal: remove 0.5.11
  recipes/aws-c-cal/all/conandata.yml
  recipes/aws-c-cal/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
