Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

(#18220) revert: fontconfig: migrate to util-linux-libuuid
  recipes/fontconfig/meson/conanfile.py
Due: lint-recipes, lint-test_package

try fix test
  recipes/libgpiod/all/test_v1_package/CMakeLists.txt
Due: none

cprocessing: migrate to Conan v2
  recipes/cprocessing/all/conanfile.py
  recipes/cprocessing/all/test_package/CMakeLists.txt
  recipes/cprocessing/all/test_package/conanfile.py
  recipes/cprocessing/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package

cprocessing: disable GUI creation in test_package
  recipes/cprocessing/all/test_package/test_package.cpp
Due: none

tiny-dnn: migrate to Conan v2
  recipes/tiny-dnn/all/CMakeLists.txt
  recipes/tiny-dnn/all/conanfile.py
  recipes/tiny-dnn/all/test_package/CMakeLists.txt
  recipes/tiny-dnn/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

type_safe: migrate to Conan v2
  recipes/type_safe/all/conanfile.py
  recipes/type_safe/all/test_package/CMakeLists.txt
  recipes/type_safe/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

pranav-csv2: migrate to Conan v2
  recipes/pranav-csv2/all/conanfile.py
  recipes/pranav-csv2/all/test_package/CMakeLists.txt
  recipes/pranav-csv2/all/test_package/conanfile.py
  recipes/pranav-csv2/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package

di: migrate to Conan v2
  recipes/di/all/conanfile.py
  recipes/di/all/test_package/CMakeLists.txt
  recipes/di/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

si: migrate to Conan v2
  recipes/si/all/CMakeLists.txt
  recipes/si/all/conanfile.py
  recipes/si/all/test_package/CMakeLists.txt
  recipes/si/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

resource_pool: bump boost to v1.79
  recipes/resource_pool/all/conanfile.py
Due: lint-recipes, lint-test_package

zug: migrate to Conan v2
  recipes/zug/all/conanfile.py
  recipes/zug/all/test_package/CMakeLists.txt
  recipes/zug/all/test_package/conanfile.py
  recipes/zug/all/test_package/example.cpp
Due: lint-recipes, lint-test_package

so5extra: migrate to Conan v2
  recipes/so5extra/all/conanfile.py
  recipes/so5extra/all/test_package/CMakeLists.txt
  recipes/so5extra/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

source_location: migrate to Conan v2
  recipes/source_location/all/conanfile.py
  recipes/source_location/all/test_package/CMakeLists.txt
  recipes/source_location/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

pretty-name: migrate to Conan v2
  recipes/pretty-name/all/conanfile.py
  recipes/pretty-name/all/test_package/CMakeLists.txt
  recipes/pretty-name/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

simple-yaml: migrate to Conan v2
  recipes/simple-yaml/all/conanfile.py
  recipes/simple-yaml/all/test_package/CMakeLists.txt
  recipes/simple-yaml/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

troldal-zippy: migrate to Conan v2
  recipes/troldal-zippy/all/conandata.yml
  recipes/troldal-zippy/all/conanfile.py
  recipes/troldal-zippy/all/test_package/CMakeLists.txt
  recipes/troldal-zippy/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libxpm: migrate to Conan v2
  recipes/libxpm/all/CMakeLists.txt
  recipes/libxpm/all/conanfile.py
  recipes/libxpm/all/test_package/CMakeLists.txt
  recipes/libxpm/all/test_package/conanfile.py
  recipes/libxpm/all/test_package/test_package.c
Due: lint-recipes, lint-test_package

xxsds-sdsl-lite: migrate to Conan v2
  recipes/xxsds-sdsl-lite/all/conandata.yml
  recipes/xxsds-sdsl-lite/all/conanfile.py
  recipes/xxsds-sdsl-lite/all/test_package/CMakeLists.txt
  recipes/xxsds-sdsl-lite/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

[doc] Update supported platforms and configurations
  docs/supported_platforms_and_configurations.md
Due: none

simple-websocket-server: migrate to Conan v2
  recipes/simple-websocket-server/all/conanfile.py
  recipes/simple-websocket-server/all/test_package/CMakeLists.txt
  recipes/simple-websocket-server/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

structopt: migrate to Conan v2
  recipes/structopt/all/conandata.yml
  recipes/structopt/all/conanfile.py
  recipes/structopt/all/test_package/CMakeLists.txt
  recipes/structopt/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

ignition-cmake: migrate to Conan v2
  recipes/ignition-cmake/all/CMakeLists.txt
  recipes/ignition-cmake/all/conandata.yml
  recipes/ignition-cmake/all/conanfile.py
  recipes/ignition-cmake/all/test_package/CMakeLists.txt
  recipes/ignition-cmake/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

quill: add version 3.1.0, remove older versions
  recipes/quill/all/conandata.yml
  recipes/quill/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18222) quill: add version 3.1.0, remove older versions
  recipes/quill/all/conandata.yml
  recipes/quill/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

mailio: add version 0.23.0
  recipes/mailio/all/conandata.yml
  recipes/mailio/all/conanfile.py
  recipes/mailio/all/patches/0.23.0-adapt-cmakelists.patch
  recipes/mailio/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

remove pdbs
  recipes/loguru/all/conanfile.py
Due: lint-recipes, lint-test_package

backport fix msvc build patch
  recipes/libarchive/all/conandata.yml
  recipes/libarchive/all/patches/0003-3.4.0-cmake.patch
  recipes/libarchive/all/patches/0003-3.4.3-cmake.patch
  recipes/libarchive/all/patches/0003-3.5.1-cmake.patch
  recipes/libarchive/all/patches/0003-3.5.2-cmake.patch
Due: lint-yaml-scheme, check-yaml-scheme

link boost::backtrace
  recipes/mailio/all/conanfile.py
  recipes/mailio/all/test_package/CMakeLists.txt
  recipes/mailio/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package

Removed _source_subfolder and _build_subfolder methods
  recipes/openblas/all/conanfile.py
Due: lint-recipes, lint-test_package

Removed CMakeLists.txt
  recipes/openblas/all/CMakeLists.txt
Due: none

Fixed issue with shared builds on windows
  recipes/openblas/all/conanfile.py
Due: lint-recipes, lint-test_package

Properly append the system libraries
  recipes/whisper-cpp/all/conanfile.py
  recipes/whisper-cpp/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Use parentheses instead of subscripts
  recipes/whisper-cpp/all/conanfile.py
  recipes/whisper-cpp/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Appeasing the linter gods
  recipes/openblas/all/conanfile.py
Due: lint-recipes, lint-test_package

check boost options
  recipes/mailio/all/conanfile.py
  recipes/mailio/all/test_package/CMakeLists.txt
Due: lint-recipes, lint-test_package

platform.converters: add version 0.2.0, support conan v2
  recipes/platform.converters/all/conandata.yml
  recipes/platform.converters/all/conanfile.py
  recipes/platform.converters/all/test_package/CMakeLists.txt
  recipes/platform.converters/all/test_package/conanfile.py
  recipes/platform.converters/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

zimg: add version 3.0.5
  recipes/zimg/all/conandata.yml
  recipes/zimg/all/conanfile.py
  recipes/zimg/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libuv: add version 1.46.0
  recipes/libuv/all/conandata.yml
  recipes/libuv/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Properly renamed the src_folder field
  recipes/openblas/all/conanfile.py
Due: lint-recipes, lint-test_package
