Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

range libwebsockets to include openssl3
  recipes/libwebsockets/all/conanfile.py
Due: lint-recipes, lint-test_package

fix abuse of Conan attributes in fftw
  recipes/fftw/all/conanfile.py
Due: lint-recipes, lint-test_package

libunwind: add version 1.8.1
  recipes/libunwind/all/conandata.yml
  recipes/libunwind/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

downgrade boost to 1.75.0 for versions < 1.2.2
  recipes/mfast/all/conanfile.py
Due: lint-recipes, lint-test_package

bump deps
  recipes/opencv/2.x/conanfile.py
Due: lint-recipes, lint-test_package

bump deps
  recipes/opencv/3.x/conanfile.py
Due: lint-recipes, lint-test_package

fix conflict
  recipes/opencv/3.x/conanfile.py
Due: lint-recipes, lint-test_package

drop version 3.4.17
  recipes/opencv/3.x/conandata.yml
  recipes/opencv/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

llvm-openmp: fix try_compile() on CXX-only projects
  recipes/llvm-openmp/all/cmake/conan-llvm-openmp-vars.cmake.in
Due: none

Update recipes/catch2/3.x.x/conanfile.py
  recipes/catch2/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

libarchive: add version 3.7.4
  recipes/libarchive/all/conandata.yml
  recipes/libarchive/all/patches/0001-3.7.4-zlib-winapi.patch
  recipes/libarchive/all/patches/0003-3.7.4-cmake.patch
  recipes/libarchive/all/patches/0005-3.7.4-try-compile-cmakedeps.patch
  recipes/libarchive/all/patches/0006-3.7.4-fix-msvc-build.patch
  recipes/libarchive/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

openh264: add version 2.4.1
  recipes/openh264/all/conandata.yml
  recipes/openh264/all/patches/2.4.1-0001-platform-android.mk.patch
  recipes/openh264/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update 3.8.4
  recipes/stringzilla/all/conandata.yml
  recipes/stringzilla/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

lapack: new recipe
  recipes/lapack/all/conandata.yml
  recipes/lapack/all/conanfile.py
  recipes/lapack/all/test_package/CMakeLists.txt
  recipes/lapack/all/test_package/conanfile.py
  recipes/lapack/all/test_package/test_package.c
  recipes/lapack/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

cpp-yyjson: add recipe
  recipes/cpp-yyjson/all/conandata.yml
  recipes/cpp-yyjson/all/conanfile.py
  recipes/cpp-yyjson/all/test_package/CMakeLists.txt
  recipes/cpp-yyjson/all/test_package/conanfile.py
  recipes/cpp-yyjson/all/test_package/test_package.cpp
  recipes/cpp-yyjson/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

drop support older gcc, clang
  recipes/cpp-yyjson/all/conanfile.py
Due: lint-recipes, lint-test_package

drop support older apple-clang, msvc
  recipes/cpp-yyjson/all/conanfile.py
Due: lint-recipes, lint-test_package

add /Zc:preprocessor to msvc compiler flags
  recipes/cpp-yyjson/all/conanfile.py
Due: lint-recipes, lint-test_package

cr: new recipe
  recipes/cr/all/conandata.yml
  recipes/cr/all/conanfile.py
  recipes/cr/all/test_package/CMakeLists.txt
  recipes/cr/all/test_package/conanfile.py
  recipes/cr/all/test_package/test_package.cpp
  recipes/cr/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libgettext - fix configure so it doesnt block on MSVC debug builds
  recipes/libgettext/all/conandata.yml
  recipes/libgettext/all/patches/0004-fix-msvc-configure-debug-abort-dialog.patch
Due: lint-yaml-scheme, check-yaml-scheme

Test that all is well for a v0.5.3 release
  recipes/cpptrace/all/conandata.yml
  recipes/cpptrace/all/patches/0.5.3/0001.patch
  recipes/cpptrace/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

incorporate comment
  recipes/boost/all/dependencies/dependencies-1.85.0.yml
Due: lint-yaml-scheme, check-yaml-scheme

tar: add version 1.35
  recipes/tar/all/conandata.yml
  recipes/tar/all/conanfile.py
  recipes/tar/all/patches/1.35-001-fix-iconv-link.patch
  recipes/tar/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add build dependency on gettext
  recipes/tar/all/conanfile.py
Due: lint-recipes, lint-test_package

Add mbedtls 2.28.8
  recipes/mbedtls/all/conandata.yml
  recipes/mbedtls/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add libtorrent 2.0.10
  recipes/libtorrent/all/conandata.yml
  recipes/libtorrent/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

harfbuzz test package: call simplest function
  recipes/harfbuzz/all/test_package/test_package.c
Due: none

Remove 0.X releases
  recipes/libgit2/0.27.x/conandata.yml
  recipes/libgit2/0.27.x/conanfile.py
  recipes/libgit2/0.27.x/patches/0.27.10-0001-fix-cmake.patch
  recipes/libgit2/0.27.x/test_package/CMakeLists.txt
  recipes/libgit2/0.27.x/test_package/conanfile.py
  recipes/libgit2/0.27.x/test_package/test_package.c
  recipes/libgit2/0.28.x/conandata.yml
  recipes/libgit2/0.28.x/conanfile.py
  recipes/libgit2/0.28.x/patches/0.28.5-0001-fix-cmake.patch
  recipes/libgit2/0.28.x/test_package/CMakeLists.txt
  recipes/libgit2/0.28.x/test_package/conanfile.py
  recipes/libgit2/0.28.x/test_package/test_package.c
  recipes/libgit2/all/conanfile.py
  recipes/libgit2/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

missing endline
  recipes/harfbuzz/all/test_package/test_package.c
Due: none

(#23792) fix abuse of Conan attributes in fftw
  recipes/fftw/all/conanfile.py
Due: lint-recipes, lint-test_package

ohNet: Add 1.36.5344
  recipes/ohnet/all/conandata.yml
  recipes/ohnet/all/patches/0001-makefile-1.36.5344.patch
  recipes/ohnet/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Bump openjdk to 21.0.2
  recipes/openapi-generator/all/conanfile.py
Due: lint-recipes, lint-test_package

is void
  recipes/harfbuzz/all/test_package/test_package.c
Due: none

libsvtav1: add version 2.0.0
  recipes/libsvtav1/all/conandata.yml
  recipes/libsvtav1/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#23737) glaze: add version 2.5.5
  recipes/glaze/all/conandata.yml
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

enumbitmask: add recipe
  recipes/enumbitmask/.gitignore
  recipes/enumbitmask/all/conandata.yml
  recipes/enumbitmask/all/conanfile.py
  recipes/enumbitmask/all/test_package/CMakeLists.txt
  recipes/enumbitmask/all/test_package/conanfile.py
  recipes/enumbitmask/all/test_package/test_package.cpp
  recipes/enumbitmask/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

remove .gitignore
  recipes/enumbitmask/.gitignore
Due: none

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme
