Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

Add breakpad_client library only when building shared
  recipes/sentry-native/all/conanfile.py
Due: lint-recipes, lint-test_package

Update recipes/boost-multi/all/conanfile.py
  recipes/boost-multi/all/conanfile.py
Due: lint-recipes, lint-test_package

Revert "Remove patch installing breakpad headers"
  recipes/sentry-native/all/conandata.yml
  recipes/sentry-native/all/patches/0.4.18-0002-install-breakpad-header.patch
  recipes/sentry-native/all/patches/0.5.4-0002-install-breakpad-header.patch
  recipes/sentry-native/all/patches/0.6.x-0002-install-breakpad-header.patch
Due: lint-yaml-scheme, check-yaml-scheme

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

srt: migrate to Conan v2
  recipes/srt/all/CMakeLists.txt
  recipes/srt/all/conandata.yml
  recipes/srt/all/conanfile.py
  recipes/srt/all/test_package/CMakeLists.txt
  recipes/srt/all/test_package/conanfile.py
  recipes/srt/all/test_v1_package/CMakeLists.txt
  recipes/srt/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

srt: fix test_v1_package
  recipes/srt/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

srt: add version 1.5.3
  recipes/srt/all/conandata.yml
  recipes/srt/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

srt: simplify _has_posix_threads
  recipes/srt/all/conanfile.py
Due: lint-recipes, lint-test_package

srt: fix pthreads4w patching
  recipes/srt/all/conanfile.py
Due: lint-recipes, lint-test_package

Add arduinojson-6.21.4
  recipes/arduinojson/all/conandata.yml
  recipes/arduinojson/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

srt: drop old versions
  recipes/srt/all/conandata.yml
  recipes/srt/all/conanfile.py
  recipes/srt/all/patches/no-delayload-libeay32.patch
  recipes/srt/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openvr: migrate to Conan v2
  recipes/openvr/all/CMakeLists.txt
  recipes/openvr/all/conandata.yml
  recipes/openvr/all/conanfile.py
  recipes/openvr/all/test_package/CMakeLists.txt
  recipes/openvr/all/test_package/conanfile.py
  recipes/openvr/all/test_v1_package/CMakeLists.txt
  recipes/openvr/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openvr: transitive_libs=True
  recipes/openvr/all/conanfile.py
Due: lint-recipes, lint-test_package

drop old versions
  recipes/bitsery/all/conandata.yml
  recipes/bitsery/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

openvr: fix jsoncpp target
  recipes/openvr/all/conanfile.py
Due: lint-recipes, lint-test_package

dependencies: new recipe
  recipes/dependencies/all/conandata.yml
  recipes/dependencies/all/conanfile.py
  recipes/dependencies/all/test_package/conanfile.py
  recipes/dependencies/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

openvr: fix shared install on Windows
  recipes/openvr/all/conanfile.py
Due: lint-recipes, lint-test_package

libidn2: fix MSVC build
  recipes/libidn2/all/conanfile.py
  recipes/libidn2/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#21157) libmysqlclient: allow shared with apple-clang
  recipes/libmysqlclient/all/conanfile.py
Due: lint-recipes, lint-test_package

Try using vendored libffi for mac on <3.9
  recipes/cpython/all/conanfile.py
Due: lint-recipes, lint-test_package

Fix sentry component dependencies
  recipes/sentry-native/all/conanfile.py
Due: lint-recipes, lint-test_package

libidn2: add shared MSVC build support
  recipes/libidn2/all/conanfile.py
Due: lint-recipes, lint-test_package

libidn: fix MSVC build, add shared MSVC build support
  recipes/libidn/all/conanfile.py
  recipes/libidn/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

libidn: fix workaround check
  recipes/libjxl/all/conanfile.py
Due: lint-recipes, lint-test_package

rapidcheck: add version cci.20230815
  recipes/rapidcheck/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

[google-cloud-cpp]: add v2.19.0 version
  recipes/google-cloud-cpp/2.x/components_2_19_0.py
  recipes/google-cloud-cpp/2.x/conandata.yml
  recipes/google-cloud-cpp/2.x/conanfile.py
  recipes/google-cloud-cpp/2.x/extract_dependencies.py
  recipes/google-cloud-cpp/2.x/patches/2.19.0/001-use-conan-msvc-runtime.patch
  recipes/google-cloud-cpp/2.x/patches/2.19.0/002-add-find-package-threads.patch
  recipes/google-cloud-cpp/2.x/test_package/CMakeLists.txt
  recipes/google-cloud-cpp/2.x/test_package/compute.cpp
  recipes/google-cloud-cpp/2.x/test_package/conanfile.py
  recipes/google-cloud-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Bump nlohmann::json version
  recipes/google-cloud-cpp/2.x/conanfile.py
Due: lint-recipes, lint-test_package

Tested locally with Conan v1
  recipes/google-cloud-cpp/2.x/test_package/conanfile.py
  recipes/google-cloud-cpp/2.x/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

Remove 2.5.0
  recipes/google-cloud-cpp/2.x/components_2_5_0.py
  recipes/google-cloud-cpp/2.x/conandata.yml
  recipes/google-cloud-cpp/2.x/conanfile.py
  recipes/google-cloud-cpp/2.x/extract_dependencies.py
  recipes/google-cloud-cpp/2.x/patches/2.5.0/002-interface-library-properties.patch
  recipes/google-cloud-cpp/2.x/patches/2.5.0/003-use-conan-msvc-runtime.patch
  recipes/google-cloud-cpp/2.x/patches/2.5.0/004-remove-duplicate-protos.patch
  recipes/google-cloud-cpp/2.x/patches/2.5.0/005-interface-library-properties.patch
  recipes/google-cloud-cpp/2.x/patches/2.5.0/006-cannot-use-or-with-windows.patch
  recipes/google-cloud-cpp/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#21688) clickhouse-cpp: use correct cityhash version
  recipes/clickhouse-cpp/all/conanfile.py
Due: lint-recipes, lint-test_package

kuba-zip: add version 0.3.0
  recipes/kuba-zip/all/conandata.yml
  recipes/kuba-zip/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

update 1.9.4.1
  recipes/glaze/all/conandata.yml
  recipes/glaze/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

r8brain-free-src: add version 6.5
  recipes/r8brain-free-src/all/conandata.yml
  recipes/r8brain-free-src/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

fixup! rapidcheck: add version cci.20230815
  recipes/rapidcheck/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#17344) cyclonedds-cxx: Add new recipe
  recipes/cyclonedds-cxx/all/cmake/Generate.cmake
  recipes/cyclonedds-cxx/all/conandata.yml
  recipes/cyclonedds-cxx/all/conanfile.py
  recipes/cyclonedds-cxx/all/test_package/CMakeLists.txt
  recipes/cyclonedds-cxx/all/test_package/Message.idl
  recipes/cyclonedds-cxx/all/test_package/conanfile.py
  recipes/cyclonedds-cxx/all/test_package/test_message.cpp
  recipes/cyclonedds-cxx/all/test_package/test_package.cpp
  recipes/cyclonedds-cxx/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

plf_colony: add version 7.39
  recipes/plf_colony/all/conandata.yml
  recipes/plf_colony/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

quickjs: add version 2023-12-09
  recipes/quickjs/all/conandata.yml
  recipes/quickjs/all/conanfile.py
  recipes/quickjs/all/test_package/CMakeLists.txt
  recipes/quickjs/all/test_v1_package/CMakeLists.txt
  recipes/quickjs/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
