Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

keychain/all: bump deps
  recipes/keychain/all/conanfile.py
Due: lint-recipes, lint-test_package

libdrm/all: bump deps
  recipes/libdrm/all/conanfile.py
Due: lint-recipes, lint-test_package

libgpiod/all: bump deps
  recipes/libgpiod/all/conanfile.py
Due: lint-recipes, lint-test_package

libnice/all: bump deps
  recipes/libnice/all/conanfile.py
Due: lint-recipes, lint-test_package

librdkafka/all: bump deps
  recipes/librdkafka/all/conanfile.py
Due: lint-recipes, lint-test_package

libsecret/all: bump deps
  recipes/libsecret/all/conanfile.py
Due: lint-recipes, lint-test_package

libverto/all: bump deps
  recipes/libverto/all/conanfile.py
Due: lint-recipes, lint-test_package

libvips/all: bump deps
  recipes/libvips/all/conanfile.py
Due: lint-recipes, lint-test_package

opentdf-client/all: bump deps
  recipes/opentdf-client/all/conanfile.py
Due: lint-recipes, lint-test_package

pistache/all: bump deps
  recipes/pistache/all/conanfile.py
Due: lint-recipes, lint-test_package

qxmpp/all: bump deps
  recipes/qxmpp/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18945) i2c-tools: migrate to Conan v2
  recipes/i2c-tools/all/conanfile.py
  recipes/i2c-tools/all/test_package/CMakeLists.txt
  recipes/i2c-tools/all/test_v1_package/CMakeLists.txt
  recipes/i2c-tools/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#18666) libproperties: migrate to Conan v2
  recipes/libproperties/all/CMakeLists.txt
  recipes/libproperties/all/conandata.yml
  recipes/libproperties/all/conanfile.py
  recipes/libproperties/all/test_package/CMakeLists.txt
  recipes/libproperties/all/test_package/conanfile.py
  recipes/libproperties/all/test_package/test_package.c
  recipes/libproperties/all/test_v1_package/CMakeLists.txt
  recipes/libproperties/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

glfw: Add support for Wayland
  recipes/glfw/all/conandata.yml
  recipes/glfw/all/conanfile.py
  recipes/glfw/all/patches/3.3.2-0003-Wayland-Remove-extra-cmake-modules-dependency.patch
  recipes/glfw/all/patches/3.3.3-0001-Wayland-Remove-extra-cmake-modules-dependency.patch
  recipes/glfw/all/patches/3.3.5-0001-Wayland-Remove-extra-cmake-modules-dependency.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add patch to use dependencies from Conan
  recipes/glfw/all/conandata.yml
  recipes/glfw/all/patches/3.3.2-0004-Use-dependencies-from-Conan.patch
  recipes/glfw/all/patches/3.3.3-0002-Use-dependencies-from-Conan.patch
Due: lint-yaml-scheme, check-yaml-scheme

Update patch for 3.3.5
  recipes/glfw/all/conandata.yml
  recipes/glfw/all/patches/3.3.5-0002-Use-dependencies-from-Conan.patch
Due: lint-yaml-scheme, check-yaml-scheme

Fix remove of with_x11 option
  recipes/glfw/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18946) scdoc: migrate to Conan v2
  recipes/scdoc/all/conanfile.py
  recipes/scdoc/all/test_package/conanfile.py
  recipes/scdoc/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#20260) openssl: fix build with non-cl like compiler on Windows
  recipes/openssl/1.x.x/conanfile.py
  recipes/openssl/3.x.x/conanfile.py
Due: lint-recipes, lint-test_package

spirv-tools: bump min GCC and Clang for <filesystem> and <charconv>
  recipes/spirv-tools/all/conanfile.py
Due: lint-recipes, lint-test_package

Removed print command.
  recipes/ncbi-cxx-toolkit-public/all/conanfile.py
Due: lint-recipes, lint-test_package

spirv-tools: fix v1.2 compatibility
  recipes/spirv-tools/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18353) tcsbank-uconfig: migrate to Conan v2
  recipes/tcsbank-uconfig/all/conandata.yml
  recipes/tcsbank-uconfig/all/conanfile.py
  recipes/tcsbank-uconfig/all/test_package/CMakeLists.txt
  recipes/tcsbank-uconfig/all/test_package/conanfile.py
  recipes/tcsbank-uconfig/all/test_package/test_package.cpp
  recipes/tcsbank-uconfig/all/test_v1_package/CMakeLists.txt
  recipes/tcsbank-uconfig/all/test_v1_package/conanfile.py
  recipes/tcsbank-uconfig/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libcheck: set subunit link_directories for Conan v1
  recipes/libcheck/all/patches/0003-don-t-check-subunit-dependency.patch
Due: none

libcheck: don't build the irrelevant target
  recipes/libcheck/all/conanfile.py
Due: lint-recipes, lint-test_package

libusb-compat: mark dirent as transitive dep
  recipes/libusb-compat/all/conanfile.py
Due: lint-recipes, lint-test_package

ofeli: disable MSVC on 5.x
  recipes/ofeli/5.x/conanfile.py
Due: lint-recipes, lint-test_package

re2c: correct license
  recipes/re2c/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20315) dlib: add version 19.24.2
  recipes/dlib/all/conandata.yml
  recipes/dlib/all/conanfile.py
  recipes/dlib/all/test_package/CMakeLists.txt
  recipes/dlib/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Added -fsanitize=address compile flag to test_package for clang and debug
  recipes/open62541/all/test_package/CMakeLists.txt
Due: none

.c3i: increase pod size for libigl
  .c3i/config_v1.yml
  .c3i/config_v2.yml
Due: lint-yaml-scheme, check-yaml-scheme

onnxruntime: don't bring link dependency to boost on conanv1
  recipes/onnxruntime/all/conanfile.py
Due: lint-recipes, lint-test_package

scnlib: add version 1.1.3
  recipes/scnlib/all/conandata.yml
  recipes/scnlib/all/patches/1.1.3-0001-install-dll-windows.patch
  recipes/scnlib/all/patches/1.1.3-0002-remove-header-only-target.patch
  recipes/scnlib/all/patches/1.1.3-0003-fix-link-keyword.patch
  recipes/scnlib/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

djinni-support-lib: add -pthread
  recipes/djinni-support-lib/1.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
