Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

A couple additional patches, should fix gcc 5
  recipes/cpptrace/all/patches/0.2.0/0001-fixes.patch
Due: none

add package test
  recipes/gengetopt/all/conandata.yml
  recipes/gengetopt/all/conanfile.py
  recipes/gengetopt/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Disable werror
  recipes/libliftoff/all/conanfile.py
Due: lint-recipes, lint-test_package

honor C++ standard from profile
  recipes/s2geometry/all/patches/bump_cmake_cxx_standard.patch
Due: none

default CMake target defined by conan and few minor recipe cleanup
  recipes/s2geometry/all/conanfile.py
  recipes/s2geometry/all/test_package/CMakeLists.txt
  recipes/s2geometry/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#20259) android-ndk: add r26
  recipes/android-ndk/all/conandata.yml
  recipes/android-ndk/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Allow Meson to check for the required the pkg-config variable
  recipes/hwdata/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

prefer tar.gz tarball
  recipes/s2geometry/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

remove fPIC option
  recipes/xege/all/conanfile.py
Due: lint-recipes, lint-test_package

cleanup test package
  recipes/xege/all/test_package/CMakeLists.txt
  recipes/xege/all/test_package/conanfile.py
  recipes/xege/all/test_package/test_package.cpp
Due: lint-recipes, lint-test_package

(#20316) aws-kvs-pic: add v1.0.1, simplify patching
  recipes/aws-kvs-pic/all/conandata.yml
  recipes/aws-kvs-pic/all/conanfile.py
  recipes/aws-kvs-pic/all/patches/0001-do-not-enforce-fpic.patch
  recipes/aws-kvs-pic/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

start on bump of aravis version
  recipes/aravis/all/conandata.yml
  recipes/aravis/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

util-linux-libuuid/2.39: Remove usr directory from package folder
  recipes/util-linux-libuuid/all/conanfile.py
Due: lint-recipes, lint-test_package

refresh patch for new version
  recipes/aravis/all/conandata.yml
  recipes/aravis/all/patches/0.8.29-gst-shared-lib.patch
Due: lint-yaml-scheme, check-yaml-scheme

apparently you aren't allowed to set the patch strip level via conandata.yml
  recipes/gengetopt/all/conandata.yml
  recipes/gengetopt/all/patches/remove_test_and_docs.patch
Due: lint-yaml-scheme, check-yaml-scheme

(#18868) microprofile: migrate to Conan v2
  recipes/microprofile/all/CMakeLists.txt
  recipes/microprofile/all/conandata.yml
  recipes/microprofile/all/conanfile.py
  recipes/microprofile/all/patches/cmake.patch
  recipes/microprofile/all/test_package/CMakeLists.txt
  recipes/microprofile/all/test_package/conanfile.py
  recipes/microprofile/all/test_v1_package/CMakeLists.txt
  recipes/microprofile/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

small fix
  recipes/xege/all/test_package/conanfile.py
  recipes/xege/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

quieten yaml linter
  recipes/aravis/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#19909) [armadillo] Prevent static builds when use_wrapper=True
  recipes/armadillo/all/conanfile.py
Due: lint-recipes, lint-test_package

(#19983) xkbcommon/all: bump deps
  recipes/xkbcommon/all/conanfile.py
Due: lint-recipes, lint-test_package

Try not to typo this much Rubén plz
  recipes/tomlplusplus/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

add missing version in config.yml
  recipes/aravis/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

add missing homepage attribute
  recipes/gengetopt/all/conanfile.py
Due: lint-recipes, lint-test_package

(#20318) libevdev: Add recipe
  recipes/libevdev/all/conandata.yml
  recipes/libevdev/all/conanfile.py
  recipes/libevdev/all/test_package/conanfile.py
  recipes/libevdev/all/test_package/meson.build
  recipes/libevdev/all/test_package/test_package.c
  recipes/libevdev/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

libwacom: Add recipe
  recipes/libwacom/all/conandata.yml
  recipes/libwacom/all/conanfile.py
  recipes/libwacom/all/test_package/conanfile.py
  recipes/libwacom/all/test_package/meson.build
  recipes/libwacom/all/test_package/test_package.c
  recipes/libwacom/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#19593) libdwarf: add version 0.7.0, fix missing header in v0.5.0
  recipes/libdwarf/all/conandata.yml
  recipes/libdwarf/all/conanfile.py
  recipes/libdwarf/all/patches/0.7.0-0001-fix-cmake.patch
  recipes/libdwarf/all/test_package/test_package.c
  recipes/libdwarf/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Try to use find_package for zlib
  recipes/cpptrace/all/conandata.yml
  recipes/cpptrace/all/conanfile.py
  recipes/cpptrace/all/patches/0.2.0/0002-cmake.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Quick fixes
  recipes/cpptrace/all/conandata.yml
  recipes/cpptrace/all/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Patch should now apply
  recipes/cpptrace/all/conandata.yml
  recipes/cpptrace/all/patches/0.2.0/0001-fixes.patch
  recipes/cpptrace/all/patches/0.2.0/0002-cmake.patch
Due: lint-yaml-scheme, check-yaml-scheme

(#19649) harfbuzz: remove unused versions
  recipes/harfbuzz/all/conandata.yml
  recipes/harfbuzz/all/conanfile.py
  recipes/harfbuzz/all/patches/0000-fix-freetype-lookup-4.4.1.patch
  recipes/harfbuzz/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add VirtualRunEnv generator
  recipes/gengetopt/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

fix runpath in conan v1
  recipes/gengetopt/all/conanfile.py
  recipes/gengetopt/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
