Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

(#17689) upgrade sqlitecpp to version 3.3.0
  recipes/sqlitecpp/all/conandata.yml
  recipes/sqlitecpp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

solve pylint warning
  recipes/xlsxio/all/conanfile.py
Due: lint-recipes, lint-test_package

include dirs should be empty
  recipes/tz/all/conanfile.py
Due: lint-recipes, lint-test_package

libserial: include cstdint for gcc13, add package_type
  recipes/libserial/all/conandata.yml
  recipes/libserial/all/conanfile.py
  recipes/libserial/all/patches/0001-add-cstdint.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#17329) lua: add version 5.4.6, add package_type
  recipes/lua/all/conandata.yml
  recipes/lua/all/conanfile.py
  recipes/lua/all/test_package/CMakeLists.txt
  recipes/lua/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

jemalloc: Make the recipe compatible with Conan 2.x.
  recipes/jemalloc/all/conanfile.py
  recipes/jemalloc/all/test_package/CMakeLists.txt
  recipes/jemalloc/all/test_package/conanfile.py
  recipes/jemalloc/all/test_v1_package/CMakeLists.txt
  recipes/jemalloc/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

jemalloc: Add the patch that adds support for Visual Studio 2019 and 2022.
  recipes/jemalloc/all/conandata.yml
  recipes/jemalloc/all/conanfile.py
  recipes/jemalloc/all/patches/0002-MSVC-support-for-Visual-Studio-2019-and-2022.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

bump version and start migration to conan 2.0
  recipes/extra-cmake-modules/all/conandata.yml
  recipes/extra-cmake-modules/all/conanfile.py
  recipes/extra-cmake-modules/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#17695) [bot] Update list of references (prod-v2/ListPackages)
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

add c++17 if version < 0.3.0
  recipes/samurai/all/test_package/CMakeLists.txt
Due: none

jemalloc: Revise the implementation of `validate()`.
  recipes/jemalloc/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17690) harfbuzz/all: bump deps
  recipes/harfbuzz/all/conanfile.py
Due: lint-recipes, lint-test_package

console_bridge: drop test_v1_package
  recipes/console_bridge/all/test_v1_package/CMakeLists.txt
  recipes/console_bridge/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

apply miklelappo's comment
  recipes/protobuf/all/conanfile.py
Due: lint-recipes, lint-test_package

eastl: remove unnecessary transitive_*=True
  recipes/eastl/all/conanfile.py
Due: lint-recipes, lint-test_package

eastl: drop test_v1_package
  recipes/eastl/all/test_v1_package/CMakeLists.txt
  recipes/eastl/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

libtins: drop test_v1_package
  recipes/libtins/all/test_v1_package/CMakeLists.txt
  recipes/libtins/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

rmm: remove unnecessary transitive_*=True
  recipes/rmm/all/conanfile.py
Due: lint-recipes, lint-test_package

rmm: drop test_v1_package
  recipes/rmm/all/test_v1_package/CMakeLists.txt
  recipes/rmm/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

rmm: remove unused CMakeLists.txt
  recipes/rmm/all/CMakeLists.txt
Due: none

stdgpu: drop test_v1_package
  recipes/stdgpu/all/test_v1_package/CMakeLists.txt
  recipes/stdgpu/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

jemalloc: Define the env variable `CC` if jemalloc is compiled by MSVC.
  recipes/jemalloc/all/conanfile.py
Due: lint-recipes, lint-test_package

thrust: remove unnecessary transitive_*=True
  recipes/thrust/all/conanfile.py
Due: lint-recipes, lint-test_package

thrust: drop test_v1_package
  recipes/thrust/all/test_v1_package/CMakeLists.txt
  recipes/thrust/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

jemalloc: Fix the typo.
  recipes/jemalloc/all/conanfile.py
Due: lint-recipes, lint-test_package

urdfdom: drop test_v1_package
  recipes/urdfdom/all/test_v1_package/CMakeLists.txt
  recipes/urdfdom/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

embag: drop test_v1_package
  recipes/embag/all/test_v1_package/CMakeLists.txt
  recipes/embag/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

tinyxml: add package_type, use rm_safe
  recipes/tinyxml/all/conanfile.py
Due: lint-recipes, lint-test_package

jemalloc: Patch `configure.ac` to add the missing description in `AC_DEFINE`, fixing the autoreconf errors.
  recipes/jemalloc/all/conanfile.py
Due: lint-recipes, lint-test_package

jemalloc: Add `automake` to the build requirements.
  recipes/jemalloc/all/conanfile.py
Due: lint-recipes, lint-test_package

(#17322) restinio: bump dependencies
  recipes/restinio/all/conanfile.py
Due: lint-recipes, lint-test_package

bazel: update to Conan v2, add v6.2.0
  recipes/bazel/all/conandata.yml
  recipes/bazel/all/conanfile.py
  recipes/bazel/all/test_package/conanfile.py
  recipes/bazel/all/test_v1_package/conanfile.py
  recipes/bazel/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add end line
  recipes/samurai/all/test_package/CMakeLists.txt
Due: none

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
