Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: local
  hooks:
    - id: lint-recipes
      name: Recipes lint
      entry: python linter/pre_commit_linting.py -r
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-test_package
      name: test_package lint
      entry: python linter/pre_commit_linting.py -t
      language: python
      additional_dependencies:
        - pylint==2.14
        - conan~=1.0
        - argparse
      pass_filenames: true
      types:
        - python
    - id: lint-yaml-scheme
      name: Yaml lint
      entry: python linter/pre_commit_linting.py -yl
      language: python
      additional_dependencies:
        - yamllint==1.28
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true
    - id: check-yaml-scheme
      name: Yaml scheme check
      entry: python linter/pre_commit_linting.py -ys
      language: python
      additional_dependencies:
        - strictyaml
        - argparse
      pass_filenames: true
      types:
        - yaml
      verbose: true

fix_apple_shared_install_name
  recipes/gdal/post_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

(#18805) cairo/all: bump deps
  recipes/cairo/all/conanfile.py
Due: lint-recipes, lint-test_package

libgpiod: Added version 1.6.4 and 2.0.1
  recipes/libgpiod/all/conandata.yml
  recipes/libgpiod/all/test_package/test_package.c
Due: lint-yaml-scheme, check-yaml-scheme

fltk: migrate to Conan v2
  recipes/fltk/all/CMakeLists.txt
  recipes/fltk/all/conandata.yml
  recipes/fltk/all/conanfile.py
  recipes/fltk/all/test_package/CMakeLists.txt
  recipes/fltk/all/test_package/conanfile.py
  recipes/fltk/all/test_v1_package/CMakeLists.txt
  recipes/fltk/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update config.yml with new versions
  recipes/libgpiod/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

lzip: migrate to Conan v2
  recipes/lzip/all/conandata.yml
  recipes/lzip/all/conanfile.py
  recipes/lzip/all/test_package/conanfile.py
  recipes/lzip/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

WIP
  recipes/libgpiod/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

init
  recipes/nmea/all/CMakeLists.txt
  recipes/nmea/all/conandata.yml
  recipes/nmea/all/conanfile.py
  recipes/nmea/all/test_package/CMakeLists.txt
  recipes/nmea/all/test_package/conanfile.py
  recipes/nmea/all/test_package/test_package.c
  recipes/nmea/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Fixing patches
  recipes/librealsense/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Update conandata for librealsense
  recipes/librealsense/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

Fixed patches
  recipes/librealsense/all/conandata.yml
  recipes/librealsense/all/patches/2.53.1-0003-atlstr-removal.patch
  recipes/librealsense/all/patches/2.53.1-0003-fix-GUID_DEVINTERFACE_USB_DEVICE.patch
Due: lint-yaml-scheme, check-yaml-scheme

Fixing patches
  recipes/librealsense/all/patches/2.53.1-0001-fix-cmake.patch
  recipes/librealsense/all/patches/2.53.1-0002-fix-avx-check.patch
  recipes/librealsense/all/patches/2.53.1-0003-atlstr-removal.patch
  recipes/librealsense/all/patches/2.53.1-0004-fix-GUID_DEVINTERFACE_USB_DEVICE.patch
Due: none

Update config
  recipes/librealsense/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

check max cppstd for versions older than 0.28.0
  recipes/exiv2/all/conanfile.py
Due: lint-recipes, lint-test_package

log4cxx: migrate to Conan v2
  recipes/log4cxx/all/CMakeLists.txt
  recipes/log4cxx/all/conandata.yml
  recipes/log4cxx/all/conanfile.py
  recipes/log4cxx/all/patches/0001-find-apr.patch
  recipes/log4cxx/all/test_package/CMakeLists.txt
  recipes/log4cxx/all/test_package/conanfile.py
  recipes/log4cxx/all/test_v1_package/CMakeLists.txt
  recipes/log4cxx/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

init
  recipes/qarchive/all/conandata.yml
  recipes/qarchive/all/conanfile.py
  recipes/qarchive/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

(#18699) [bot] Update list of references (prod-v2/ListPackages)
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

specify requires
  recipes/qarchive/all/conanfile.py
Due: lint-recipes, lint-test_package

libbasisu: migrate to Conan v2
  recipes/libbasisu/all/CMakeLists.txt
  recipes/libbasisu/all/conandata.yml
  recipes/libbasisu/all/conanfile.py
  recipes/libbasisu/all/test_package/CMakeLists.txt
  recipes/libbasisu/all/test_package/conanfile.py
  recipes/libbasisu/all/test_v1_package/CMakeLists.txt
  recipes/libbasisu/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

linter
  recipes/exiv2/all/conanfile.py
Due: lint-recipes, lint-test_package

xxhash: add version 0.8.2
  recipes/xxhash/all/conandata.yml
  recipes/xxhash/all/conanfile.py
  recipes/xxhash/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Update recipes/nmea/all/conanfile.py
  recipes/nmea/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18153) st_tree: support conan v2
  recipes/st_tree/all/conanfile.py
  recipes/st_tree/all/test_package/CMakeLists.txt
  recipes/st_tree/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

(#18566) docs: Improve license attribute guidelines
  docs/adding_packages/conanfile_attributes.md
  docs/faqs.md
Due: none

Add new references
  .c3i/conan_v2_ready_references.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#18262) glshaderpp: migrate to Conan v2
  recipes/glshaderpp/all/conanfile.py
  recipes/glshaderpp/all/test_package/CMakeLists.txt
  recipes/glshaderpp/all/test_package/conanfile.py
  recipes/glshaderpp/all/test_package/example.cpp
  recipes/glshaderpp/all/test_package/test_package.cpp
  recipes/glshaderpp/all/test_v1_package/CMakeLists.txt
  recipes/glshaderpp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#18272) seqan: migrate to Conan v2
  recipes/seqan/2.x.x/conanfile.py
  recipes/seqan/2.x.x/test_package/CMakeLists.txt
  recipes/seqan/2.x.x/test_package/conanfile.py
  recipes/seqan/2.x.x/test_package/test_package.cpp
  recipes/seqan/2.x.x/test_v1_package/CMakeLists.txt
  recipes/seqan/2.x.x/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

functions-framework-cpp: migrate to Conan v2
  recipes/functions-framework-cpp/all/CMakeLists.txt
  recipes/functions-framework-cpp/all/conandata.yml
  recipes/functions-framework-cpp/all/conanfile.py
  recipes/functions-framework-cpp/all/patches/0001-dont-skip-namelink.patch
  recipes/functions-framework-cpp/all/test_package/CMakeLists.txt
  recipes/functions-framework-cpp/all/test_package/conanfile.py
  recipes/functions-framework-cpp/all/test_v1_package/CMakeLists.txt
  recipes/functions-framework-cpp/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

transitive headers
  recipes/qarchive/all/conanfile.py
Due: lint-recipes, lint-test_package

fix build
  recipes/exiv2/all/conanfile.py
Due: lint-recipes, lint-test_package

(#18637) aws-libfabric: migrate to Conan v2
  recipes/aws-libfabric/all/conanfile.py
  recipes/aws-libfabric/all/test_package/CMakeLists.txt
  recipes/aws-libfabric/all/test_package/conanfile.py
  recipes/aws-libfabric/all/test_v1_package/CMakeLists.txt
  recipes/aws-libfabric/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package

(#18639) xsd: migrate to Conan v2
  recipes/xsd/all/conandata.yml
  recipes/xsd/all/conanfile.py
  recipes/xsd/all/test_package/conanfile.py
  recipes/xsd/all/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme
