Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

control build of cudev through with_cuda option
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

cryptopp: pass output to self.run() as positional argument
  recipes/cryptopp/all/conanfile.py
Due: lint-recipes, lint-test_package

add vulkan support in dnn module
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

(#15230) libalsa: simplify C code in test_package
  recipes/libalsa/all/test_package/test_package.c
Due: none

Add/remove users to Access Request
  .c3i/authorized_users.yml
Due: lint-yaml-scheme, check-yaml-scheme

add with_opencl option
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

autoconf: more relocatability fixes, update recipe
  recipes/autoconf/all/conanfile.py
  recipes/autoconf/all/patches/2.71-0001-relocatable-autoconf.patch
Due: lint-recipes, lint-test_package

Common code style
  recipes/b64/all/conanfile.py
Due: lint-recipes, lint-test_package

fix drogon sqlite target
  recipes/drogon/all/conandata.yml
  recipes/drogon/all/patches/1.8.0-0003-find-package-sqlite.patch
Due: lint-yaml-scheme, check-yaml-scheme

update recipe
  recipes/libverto/all/conanfile.py
Due: lint-recipes, lint-test_package

update generate
  recipes/libverto/all/conanfile.py
Due: lint-recipes, lint-test_package

without msvc
  recipes/libverto/all/conanfile.py
Due: lint-recipes, lint-test_package

fix zeromq link error
  recipes/czmq/all/patches/4.2.0-0001-fix-cmake.patch
  recipes/czmq/all/patches/4.2.1-0001-fix-cmake.patch
Due: none

export all symbols
  recipes/ls-qpack/all/conanfile.py
Due: lint-recipes, lint-test_package

Add Android NDK r19c and r20b
  recipes/android-ndk/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

fix lint errors
  recipes/libjxl/all/conanfile.py
Due: lint-recipes, lint-test_package

(#15179) Autoconf: Remove instances of embedded absolute paths in scripts
  recipes/autoconf/all/conandata.yml
  recipes/autoconf/all/conanfile.py
  recipes/autoconf/all/patches/2.69-0001-autom4te-relocatable.patch
  recipes/autoconf/all/patches/2.69-0002-no-perl-path-in-shebang.patch
  recipes/autoconf/all/patches/2.69-0003-uppercase-autom4te_perllibdir.patch
  recipes/autoconf/all/patches/2.69-0004-no-embedded-m4-paths.patch
  recipes/autoconf/all/patches/2.71-0001-autom4te-relocatable.patch
  recipes/autoconf/all/patches/2.71-0001-relocatable-autoconf.patch
  recipes/autoconf/all/patches/2.71-0003-disable-man-regeneration.patch
  recipes/autoconf/all/patches/2.71-0003-uppercase-autom4te_perllibdir.patch
  recipes/autoconf/all/patches/2.71-0004-no-embedded-m4-paths.patch
  recipes/autoconf/all/patches/2.71-0006-autoconf-no-embedded-trailer_m4-path.patch
  recipes/autoconf/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

gettext more compatible
  recipes/gettext/all/conandata.yml
  recipes/gettext/all/conanfile.py
  recipes/gettext/all/test_package/conanfile.py
  recipes/gettext/all/test_v1_package/conanfile.py
  recipes/gettext/all/test_v1_package/configure.ac
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

Add new versions to config.yml
  recipes/android-ndk/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

reorder imports
  recipes/gettext/all/conanfile.py
Due: lint-recipes, lint-test_package

minor changes
  recipes/gettext/all/conanfile.py
  recipes/gettext/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

fix args
  recipes/gettext/all/conanfile.py
Due: lint-recipes, lint-test_package

(#13234) libsvt1: conan v2 package
  recipes/libsvtav1/all/conandata.yml
  recipes/libsvtav1/all/conanfile.py
  recipes/libsvtav1/all/test_package/CMakeLists.txt
  recipes/libsvtav1/all/test_package/conanfile.py
  recipes/libsvtav1/all/test_package/test_package.cpp
  recipes/libsvtav1/all/test_v1_package/CMakeLists.txt
  recipes/libsvtav1/all/test_v1_package/conanfile.py
  recipes/libsvtav1/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

msgpack-cxx: add version 5.0.0, support conan v2
  recipes/msgpack-cxx/all/conandata.yml
  recipes/msgpack-cxx/all/conanfile.py
  recipes/msgpack-cxx/all/test_package/CMakeLists.txt
  recipes/msgpack-cxx/all/test_package/conanfile.py
  recipes/msgpack-cxx/all/test_v1_package/CMakeLists.txt
  recipes/msgpack-cxx/all/test_v1_package/conanfile.py
  recipes/msgpack-cxx/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

remove VERBOSE
  recipes/msgpack-cxx/all/test_package/CMakeLists.txt
Due: none

msgpack-c: add version 5.0.0, support conan v2
  recipes/msgpack-c/all/CMakeLists.txt
  recipes/msgpack-c/all/conandata.yml
  recipes/msgpack-c/all/conanfile.py
  recipes/msgpack-c/all/test_package/CMakeLists.txt
  recipes/msgpack-c/all/test_package/conanfile.py
  recipes/msgpack-c/all/test_v1_package/CMakeLists.txt
  recipes/msgpack-c/all/test_v1_package/conanfile.py
  recipes/msgpack-c/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

drop support for debug shared build on apple os
  recipes/czmq/all/conanfile.py
Due: lint-recipes, lint-test_package

do not build Android examples
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

fix discovery of zlib static if Android
  recipes/opencv/4.x/conandata.yml
  recipes/opencv/4.x/patches/4.5.2-0001-fix-zlib-static-android.patch
Due: lint-yaml-scheme, check-yaml-scheme

fix install layout for Android
  recipes/opencv/4.x/conandata.yml
  recipes/opencv/4.x/conanfile.py
  recipes/opencv/4.x/patches/4.1.2-0007-android-install-layout.patch
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

better filter to collect extra libs in opencv core
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

remove contrib prefix
  recipes/opencv/4.x/conandata.yml
  recipes/opencv/4.x/conanfile.py
  recipes/opencv/4.x/patches/4.1.2-0005-tracking-no-plot-deps.patch
  recipes/opencv/4.x/patches/4.1.2-0006-hdf.patch
  recipes/opencv/4.x/patches/4.5.0-0001-tracking-no-plot-deps.patch
  recipes/opencv/4.x/patches/4.5.1-0001-tracking-no-plot-deps.patch
  recipes/opencv/4.x/test_package/CMakeLists.txt
  recipes/opencv/4.x/test_package/conanfile.py
  recipes/opencv/4.x/test_package/test_sfm.cpp
  recipes/opencv/4.x/test_v1_package/conanfile.py
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

add deprecation messages
  recipes/opencv/4.x/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
