Repository conan-io/conan-center-index: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

lint-recipes:
  name: Recipes lint
  entry: python linter/pre_commit_linting.py -r
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-test_package:
  name: test_package lint
  entry: python linter/pre_commit_linting.py -t
  language: python
  additional_dependencies:
  - pylint==2.14
  - conan~=1.0
  - argparse
  pass_filenames: true

lint-yaml-scheme:
  name: Yaml lint
  entry: python linter/pre_commit_linting.py -yl
  language: python
  additional_dependencies:
  - yamllint==1.28
  - argparse
  pass_filenames: true
  verbose: true

check-yaml-scheme:
  name: Yaml scheme check
  entry: python linter/pre_commit_linting.py -ys
  language: python
  additional_dependencies:
  - strictyaml
  - argparse
  pass_filenames: true
  verbose: true

gdal: disable pdfium
  recipes/gdal/post_3.5.0/conanfile.py
Due: lint-recipes, lint-test_package

bump libjpeg-turbo & mozjpeg
  recipes/libyuv/all/conanfile.py
Due: lint-recipes, lint-test_package

add condition for hdf5
  recipes/highfive/all/conanfile.py
Due: lint-recipes, lint-test_package

mcap: add version 1.3.0
  recipes/mcap/all/conandata.yml
  recipes/mcap/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

samurai: add version 0.9.0
  recipes/samurai/all/conandata.yml
  recipes/samurai/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

simdutf: add version 4.0.4
  recipes/simdutf/all/conandata.yml
  recipes/simdutf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21211) samurai: add version 0.9.0
  recipes/samurai/all/conandata.yml
  recipes/samurai/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

openssl: add backport patch (make Windows build more robust)
  recipes/openssl/1.x.x/conandata.yml
  recipes/openssl/1.x.x/patches/1.1.1w-Make-Windows-build-more-robust.patch
Due: lint-yaml-scheme, check-yaml-scheme

(#21210) mcap: add version 1.3.0
  recipes/mcap/all/conandata.yml
  recipes/mcap/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21212) simdutf: add version 4.0.4
  recipes/simdutf/all/conandata.yml
  recipes/simdutf/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libgpiod: Added version 2.1
  recipes/libgpiod/all/conandata.yml
  recipes/libgpiod/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

[uncrustify] Add version 0.78.0
  recipes/uncrustify/all/conandata.yml
  recipes/uncrustify/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

shield: add version 0.5
  recipes/shield/all/conandata.yml
  recipes/shield/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21214) [uncrustify] Add version 0.78.0
  recipes/uncrustify/all/conandata.yml
  recipes/uncrustify/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21215) shield: add version 0.5
  recipes/shield/all/conandata.yml
  recipes/shield/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

add patch_source
  recipes/libvpx/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

add libvpx/1.13.1
  recipes/libvpx/all/conandata.yml
  recipes/libvpx/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

add another patch_source
  recipes/libvpx/all/conandata.yml
Due: lint-yaml-scheme, check-yaml-scheme

hictk: update dependencies
  recipes/hictk/all/conanfile.py
Due: lint-recipes, lint-test_package

fix typo in quad precision CMake option
  recipes/fftw/all/conanfile.py
Due: lint-recipes, lint-test_package

(#21216) hictk: update dependencies
  recipes/hictk/all/conanfile.py
Due: lint-recipes, lint-test_package

aws-lambda-cpp: add version 0.2.10
  recipes/aws-lambda-cpp/all/conandata.yml
  recipes/aws-lambda-cpp/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

aws-c-event-stream: add version 0.3.2
  recipes/aws-c-event-stream/all/conandata.yml
  recipes/aws-c-event-stream/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

libavif: add version 1.0.2
  recipes/libavif/all/conandata.yml
  recipes/libavif/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

(#21201) perfetto: Bump version: 39.0
  recipes/perfetto/all/conandata.yml
  recipes/perfetto/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

lightgbm: disable openmp on apple-clang for Conan v1
  recipes/lightgbm/all/conanfile.py
Due: lint-recipes, lint-test_package

gdal: update config.yml
  recipes/gdal/config.yml
Due: lint-yaml-scheme, check-yaml-scheme

pcre2: drop self.tool_requires(self.tested_reference_str)
  recipes/pcre2/all/test_package/conanfile.py
Due: lint-recipes, lint-test_package

tiledb: fix libwebpmux target name
  recipes/tiledb/all/conanfile.py
Due: lint-recipes, lint-test_package

add legacy ceres alias target and define several upstream CMake vars
  recipes/ceres-solver/all/conanfile.py
Due: lint-recipes, lint-test_package

add ceres-solver/2.2.0
  recipes/ceres-solver/all/conandata.yml
  recipes/ceres-solver/all/conanfile.py
  recipes/ceres-solver/all/patches/2.2.0-0001-find-libraries-conan.patch
  recipes/ceres-solver/all/patches/2.2.0-0002-fix-mingw-build.patch
  recipes/ceres-solver/config.yml
Due: lint-recipes, lint-test_package, lint-yaml-scheme, check-yaml-scheme

bump dependencies
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

required winflexbison based on build machine, not host
  recipes/qt/6.x.x/conanfile.py
Due: lint-recipes, lint-test_package

Path conditions:
  lint-recipes: any of: \.py$
  lint-test_package: any of: \.py$
  lint-yaml-scheme: any of: \.(yaml|yml)$
  check-yaml-scheme: any of: \.(yaml|yml)$
